<template>
  <div id="crypto-currency" class="nebeus-dashbord-content dashbord-cold-storage">
    <div class="nebeus-dashbord-content__inner">
      <div v-if="coldStorage">
        <tollbar-pagas>
          <!--<div class="crypto__curency-icon nebeus-data__currency-icon
             nebeus-data__currency-icon&#45;&#45;cold-storage"/>-->
          <div class="crypto__toolbar-item">
            <div class="crypto__curency-icon nebeus-data__currency-icon mr-0"
                 :class="`nebeus-data__currency-icon--${roterPath.slice(0, 3)}`"/>
          </div>
          <div class="crypto__toolbar-item">
            <div class="crypto__curency-name" v-text="$t('Cold storage')"/>
          </div>
        </tollbar-pagas>

        <dashboard-inner-nav :no-translate="true" :nav-menu="navMenu"/>
        <div class="dashbord-crypto__content">
          <div class="dashbord-crypto__content-inner">
            <router-view/>
          </div>
        </div>
      </div>
      <error-indicator v-else/>
    </div>
    <slide-panel-payment/>
  </div>
</template>

<script>

import { mapMutations } from 'vuex';
import DashboardInnerNav from '../crypto-currency/DashboardInnerNav.vue';
import TollbarPagas from '../toollbar-page-dashbods/TollbarPagas.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';

const SlidePanelPayment = () => import(/* webpackChunkName: "slide-panel-payment" */ '../slide-panel/SlidePanelPayment.vue');

export default {
  name: 'ColdStoragePage',
  components: {
    ErrorIndicator, TollbarPagas, DashboardInnerNav, SlidePanelPayment,
  },
  props: ['coldStorage'],
  computed: {
    roterPath() {
      return this.$route.params.coldId;
    },
    navMenu() {
      const nav = {};
      Object.keys(this.coldStorage.data).map((key) => {
        nav[key] = `/cold/${key.toLowerCase()}`;
        return key;
      });
      return nav;
    },
  },
  methods: mapMutations(['setColdStorage']),
  mounted() {
    this.setColdStorage(this.coldStorage);
  },
};
</script>
