.box-error {
  font-size: 1.1rem;
  padding: 2rem 5.5rem;
  margin: 1.1rem 0 1.5rem;
  background: rgba(243, 92, 60, 0.1) url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%23F35C3C'/%3e%3cpath d='M13.6189 16.5735L13.0645 10.9224V8.30957H15.3734V10.9224L14.8266 16.5735H13.6189ZM13.1556 19.4445V17.3102H15.2899V19.4445H13.1556Z' fill='white'/%3e%3c/svg%3e ") 1.3rem 50% / 1.86rem 1.86rem  no-repeat;
  color: $red-light;
  position: relative;
  .close {
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.142 0L0 1.142L14.858 16L16 14.858L1.142 0Z' fill='%23F35C3C'/%3e%3cpath d='M14.858 0L0 14.858L1.142 16L16 1.142L14.858 0Z' fill='%23F35C3C'/%3e%3c/svg%3e ") 50% / contain no-repeat;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    :hover {
      opacity: .9;
    }
  }
}
