.btn-icon {
  display: inline-block;
  &.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
  background-color: transparent;
  border: 1px solid transparent;

  &:not(.btn):hover svg {
    opacity: .75;
  }

  &:focus {
    outline: none;
  }
}

.btn {
  .loaded &,
  &.loaded {
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: calc(100% - .5rem) 50%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30px' height='30px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3ccircle cx='50' cy='50' fill='none' stroke='%23ffffff' stroke-width='5' r='25' stroke-dasharray='117.80972450961724 41.269908169872416' transform='rotate(359.813 50.0008 50.0008)'%3e%3canimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='0.8s' values='0 50 50;360 50 50' keyTimes='0;1'%3e%3c/animateTransform%3e%3c/circle%3e%3c/svg%3e");
  }
  &.btn-hover--default {
    display: inline-block;
    font-weight: 700;
    line-height: 1.35;
    color: $btn-color;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .6rem 1.6rem;
    font-size: 1rem;
    border-radius: .2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    min-width: 6.6rem;
  }

  display: inline-block;
  font-weight: 700;
  line-height: 1.35;
  color: $gray-900;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .6rem 1.6rem;
  font-size: 1rem;
  border-radius: .2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 6.6rem;
  @include media-breakpoint-down(sm) {
    line-height: 1.9;
  }
  &:hover {
    text-decoration: none;
  }

  &:focus, &.focus {
    outline: 0;
  }

  &.disabled, &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
  &--lg {
    min-height: 3.2rem;
  }
  &--hover-grey {
    color: $gray-400;
    &:hover {
      background-color: $gray-200;
    }
  }
  &--full {
    max-width: 100%;
    width: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

a.btn {
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }
}

fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary--hover {
  &:hover, &.active, &.router-link-active  {
    color: $white;
    background-color: $blue-ligth;
    border-color: $blue-ligth;
  }
}

.btn-primary {
  color: $white;
  background-color: $btn-primary-color;
  border-color: $btn-primary-color;

  &:not(.btn--not-hover):hover {
    color: $white;
    background-color: $btn-primary-hover-color;
    border-color: $btn-primary-hover-color;
  }

  &:focus, &.focus {
    outline: none;
  }

  &.disabled, &:disabled {
    color: $white;
    background-color: $btn-primary-disabled-color;
    border-color: $btn-primary-disabled-color;
  }

  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $white;
      background-color: $btn-primary-hover-color;
      border-color: $btn-primary-hover-color;
    }
  }
}

.show > .btn-primary.dropdown-toggle {
  color: $white;
  background-color: $btn-primary-hover-color;
  border-color: $btn-primary-hover-color;
}

.btn-primary:not(:disabled):not(.disabled) {
  &:active:focus, &.active:focus {
    outline: none;
  }
}

.show > .btn-primary.dropdown-toggle:focus {
  outline: none;
}

.btn.btn--roundet {
  border-radius: 1.3rem;
}

a.btn {
  color: $btn-color-link;

  &.btn-primary {
    color: $btn-color-link;
  }
}

.btn {
  &.btn--text {
    padding: 0;
    min-width: auto;

    &:focus {
      box-shadow: none;
      text-decoration: underline;
    }
  }

  &.btn--green {
    color: $green;

    &:not(.btn--not-hover):hover {
      color: $green-light;
    }
  }

  &.btn--grey-light {
    color: $btn-color-link;

    &:not(.btn--not-hover):hover {
      color: $gray-400;
    }
  }

  &.btn--grey-black {
    color: $gray-800;

    &:not(.btn--not-hover):hover {
      color: $btn-grey-black-hover;
    }
  }

  &.btn-submit {
    background-color: $green;
    border-color: $green;
    font-size: 1.33rem;
    min-width: 15.8rem;
    color: $white;
  }
}

.btn--close {
  position: absolute;
  clip: unset;
  font-size: 0;
  color: transparent;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.142 0L0 1.142L14.858 16L16 14.858L1.142 0Z' fill='%236A7287'/%3e%3cpath d='M14.858 0L0 14.858L1.142 16L16 1.142L14.858 0Z' fill='%236A7287'/%3e%3c/svg%3e ") 0 (0 / cover) no-repeat;
  width: 1.05rem;
  height: 1.05rem;
  min-width: 0;
  padding: 0;
}

.btn-edit {
  border: 1px solid $gray-300;
  border-radius: 1rem;
  padding: .66rem .8rem;
  line-height: 1;
  color: $gray-700;

  &:not(.btn--not-hover):hover {
    color: $gray-500;
    border-color: $gray-500;

    .nebeus-icon svg path {
      fill: $gray-800;
    }
  }

  .nebeus-icon {
    margin-right: 1.2rem;
  }
}

.btn.btn-submit {
  &:not(.btn--not-hover):hover {
    background-color: $green-light;
    border-color: $green-light;
  }

  &:not(.disabled):active {
    background-color: $green-light;
    border-color: $green-light;
  }
}

.btn--grey {
  background-color: $gray-100;
  color: $btn-color-link;
}

.btn-menu {
  background: transparent;
  height: 41px;
  width: 41px;
  text-align: center;
  vertical-align: middle;
  display: none;
}

.btn-menu__icon {
  position: relative;

  &::before {
    top: -200%;
  }

  &::after {
    bottom: -200%;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: transform .2s ease-in, top .2s linear .2s;
  }

  display: inline-block;
  vertical-align: middle;
  padding: 0;
  height: 4px;
  width: 2rem;
  background-color: $gray-500;
  border-radius: 1.3rem;

  &::before, &::after {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: 4px;
    width: 2rem;
    background-color: $gray-500;
    border-radius: 1.3rem;
  }
}

.btn-menu.active .btn-menu__icon {
  background-color: transparent !important;

  &::before, &::after {
    transition: top .2s linear, transform .2s ease-in .2s;
    top: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.btn.btn-transparent {
  min-height: 60px;

  &:not(.btn--not-hover):hover, &.active {
    border-bottom: 3px solid $green;
  }
}
