.slide-panel--dashboardSeting {
  max-width: 25rem;
  .dashbord-seting-item:last-child {
    border-bottom: 1px solid #DFE4EC;
  }
}

.dashbord-seting {
  &-heading {
    display: flex;
    align-items: center;
    padding-bottom: 1.33rem;
    color: $gray-800;
    span {
      font-weight: 700;
      padding-left: 2.6rem;
    }
  }
  &-item {
    &:not(:first-child) {
      padding-top: 3rem;
    }
    .btn {
      margin: 2.6rem 0 2rem;
    }
    .dashbord-filter {
      &-item {
        padding: 1rem 1rem 1rem 4.2rem;
        color: $gray-400;
        &.active {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.6504 0.991863C13.4339 0.998314 13.2284 1.0888 13.0775 1.24414L4.50003 9.82162L1.75589 7.07747C1.6791 6.9975 1.58713 6.93364 1.48535 6.88966C1.38358 6.84567 1.27405 6.82243 1.16318 6.8213C1.05232 6.82018 0.94234 6.84118 0.839692 6.88309C0.737044 6.925 0.64379 6.98696 0.565391 7.06536C0.486992 7.14376 0.425024 7.23702 0.383117 7.33966C0.341209 7.44231 0.320204 7.55229 0.321332 7.66316C0.32246 7.77402 0.345698 7.88355 0.389686 7.98532C0.433673 8.0871 0.497526 8.17907 0.577503 8.25586L3.91084 11.5892C4.06712 11.7454 4.27905 11.8332 4.50003 11.8332C4.72101 11.8332 4.93294 11.7454 5.08922 11.5892L14.2559 2.42253C14.3763 2.30547 14.4586 2.15477 14.4919 1.99017C14.5252 1.82557 14.508 1.65475 14.4425 1.5001C14.377 1.34545 14.2664 1.21417 14.1251 1.12348C13.9837 1.03279 13.8183 0.986913 13.6504 0.991863Z' fill='%2306C98C'/%3e%3c/svg%3e ");
          background-position-x: 2.5rem;
        }
      }
    }
  }
}


