.nebeus-form {
  .form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    padding: .9rem 1.3rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3;
    color: rgb(73, 80, 87);
    background: 0;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    background: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::-ms-expand {
      background-color: transparent;
      border: 0;
      opacity: .75;
    }
  }

  .select2-selection.select2-selection--single:focus {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    border-color: #00c084;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 192, 132, 0.25);
  }
  .label-lg {
    font-size: 1.33rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .nebeus-form .form-control {
    transition: none;
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  border-color: #00c084;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 192, 132, 0.25);
}

.nebeus-form {
  position: relative;

  .form-control:focus,
  input:focus {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    /*border-color: #00c084;*/
    outline: 0;
    /*box-shadow: 0 0 0 0.2rem rgba(0, 192, 132, 0.25);*/
  }

  .select2-container--disabled .select2-selection.select2-selection--single {
    color: rgb(102, 118, 149);
    border-color: rgb(102, 118, 149);

    &:focus {
      outline: 0;
      box-shadow: unset;
      color: rgb(102, 118, 149);
      border-color: rgb(102, 118, 149);
    }
  }
}

.select2-search__field {
  min-height: 2.6rem;
  border-radius: 5px;
}

.nebeus-form .form-control {
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::placeholder {
    color: #B6C0CF;
    opacity: 1;
  }
}

.form-search input.form-control {
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #93A0B5;
    opacity: 1;
  }
}

.nebeus-form {
  .form-control {
    &:disabled, &[readonly] {
      background-color: $white;
      opacity: 1;
    }

    &.invalid {
      border-color: rgb(255, 1, 20);
      box-shadow: 0 0 0 0.2rem rgba(255, 1, 20, 0.25);
      color: rgb(255, 1, 20);
    }
  }

  .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.75em;
    margin-bottom: 0.125rem;

    .form-check-input {
      float: left;
      margin-left: -1.75em;
      margin-right: 1.3rem;
    }
  }

  .form-check-input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.125em;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &[type="checkbox"]:not(.nebeus-switch__checkbox) {
      border-radius: 50%;
      background: transparent;
      border: 2px solid #B6C0CF;
      width: 1.6rem;
      height: 1.6rem;
    }

    &[type="radio"] {
      border-radius: 50%;
    }

    &:active {
      -webkit-filter: brightness(90%);
      filter: brightness(90%);
    }

    &:focus {
      outline: 0;
    }

    &[type="checkbox"]:checked:not(.nebeus-switch__checkbox) {
      background-color: rgb(243, 92, 60);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1em;
      border-color: rgb(243, 92, 60);
    }

    &:checked {
      &[type="checkbox"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M4 8.5L6.5 11l6-6'/%3e%3c/svg%3e");
      }

      &[type="radio"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
      }
    }

    &[type="checkbox"]:indeterminate {
      background-color: #0d6efd;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 8h6'/%3e%3c/svg%3e");
      background-size: 1em;
      border-color: #0d6efd;
    }

    &[disabled] {
      pointer-events: none;
      -webkit-filter: none;
      filter: none;
      opacity: .5;

      ~ .form-check-label {
        opacity: .5;
      }
    }
  }
}

.page-template-rest-password-page .nebeus-site-content__inner, .page-template-login-page .nebeus-site-content__inner {
  padding: 6.7rem 0 11.8rem;
}

.nebeus-card__wrap {
  background: rgb(255, 255, 255);
  max-width: 55rem;
  margin: 1rem auto 1.5rem;
}

.nebeus-card__header {
  padding: 2.4rem 6.4rem 0;
}

.nebeus-card__navigation .nebeus-card__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .nebeus-card__navigation-item {
    display: inline-block;
  }
}

.nebeus-card__heading {
  padding: 1.6rem 2.4rem;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.3rem;
}

.nebeus-card__navigation .nebeus-card__navigation-list a {
  padding: 1.6rem 2.4rem;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.3rem;

  &:hover, &.router-link-active {
    background: rgb(242, 244, 249);
  }
}

.nebeus-card__content {
  background: rgb(242, 244, 249);
  padding: 2.3rem 6.5rem;
}

.nebeus-card__subtitle {
  margin: 0 0 2.1rem;
  color: rgb(54, 67, 100);
  font-weight: 400;
}

.form-check-label * {
  color: rgb(54, 67, 100);
  font-weight: 400;
}

.nebeus-form {
  .nebeus-row {
    margin: 0 -.4rem;
  }

  [class*=col]:not([class*=vc]) {
    padding: 0 .4rem;
  }

  .form-group:not(.form-check) {
    margin-bottom: 1.3rem;
  }

  .form-range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    margin: 1rem 0;
    background: #FFF;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #1D9EF9;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #1D9EF9;
      cursor: pointer;
    }
  }


  .form-check {
    padding: .45rem 0 2.3rem 1.75em;
  }

  .v-select {
    .vs__dropdown {
      &-menu {
        min-width: auto;
      }

      &-toggle {
        background: $white;
        border-color: $gray-700;
        border-radius: 0;
        padding: .64rem 1rem;
        max-height: 3.13rem;

        .vs__search {
          margin: 0;
          border: 0;
          color: #B6C0CF;
          font-size: 1.33rem;

          &:focus {
            box-shadow: none;
          }
        }
      }
      &-option {
        padding: .66rem 1rem;
      }
    }

    .vs__selected {
      margin-top: 0;
      font-size: 1.2rem;
    }

    .vs__actions {
      &::before {
        content: "";
        border-style: solid;
        border-color: $gray-800;
        border-width: 0 2px 2px 0;
        padding: 6px;
        transform: rotate(45deg);
        transition: 0.5s ease;
        display: block;
        margin-top: -.5rem;
      }

      svg {
        display: none;
      }
    }

    &.vs--open {
      .vs__actions {
        &::before {
          transform: rotate(-135deg);
          margin-top: 0;
        }
      }
    }

    &.vs--disabled {
      background-color: $gray-100;

      .vs__search,
      .vs__dropdown-toggle {
        background-color: $gray-100;
      }
    }
  }
}

.nebeus-login__form {
  .vs__dropdown-toggle {
    border: 0;
  }

  .form-check-label {
    label {
      display: inline;
      padding-right: .2rem;
      font-weight: 400;
    }
  }
}

.form-check-label {
  margin-top: .35rem;
  display: inline-block;
  max-width: calc(100% - 1.2rem);
  font-size: .9rem;
  font-weight: 400;
  label a {
    color: inherit;
    text-decoration: underline;
  }
}

.form-pwd {
  position: relative;
}

.show-pwd {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 469.333 469.333' xml:space='preserve'%3e%3cg%3e%3cpath d='M234.667,170.667c-35.307,0-64,28.693-64,64s28.693,64,64,64s64-28.693,64-64S269.973,170.667,234.667,170.667z' fill='%23B1B9D0'/%3e%3cpath d='M234.667,74.667C128,74.667,36.907,141.013,0,234.667c36.907,93.653,128,160,234.667,160 c106.773,0,197.76-66.347,234.667-160C432.427,141.013,341.44,74.667,234.667,74.667z M234.667,341.333 c-58.88,0-106.667-47.787-106.667-106.667S175.787,128,234.667,128s106.667,47.787,106.667,106.667 S293.547,341.333,234.667,341.333z' fill='%23B1B9D0'/%3e%3c/g%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease;

  &:hover {
    opacity: .9;
  }

  &.hide-pwd {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 469.44 469.44' xml:space='preserve'%3e%3cg%3e%3cpath d='M231.147,160.373l67.2,67.2l0.32-3.52c0-35.307-28.693-64-64-64L231.147,160.373z' fill='%23B1B9D0'/%3e%3cpath d='M234.667,117.387c58.88,0,106.667,47.787,106.667,106.667c0,13.76-2.773,26.88-7.573,38.933l62.4,62.4 c32.213-26.88,57.6-61.653,73.28-101.333c-37.013-93.653-128-160-234.773-160c-29.867,0-58.453,5.333-85.013,14.933l46.08,45.973 C207.787,120.267,220.907,117.387,234.667,117.387z' fill='%23B1B9D0'/%3e%3cpath d='M21.333,59.253l48.64,48.64l9.707,9.707C44.48,145.12,16.64,181.707,0,224.053c36.907,93.653,128,160,234.667,160 c33.067,0,64.64-6.4,93.547-18.027l9.067,9.067l62.187,62.293l27.2-27.093L48.533,32.053L21.333,59.253z M139.307,177.12 l32.96,32.96c-0.96,4.587-1.6,9.173-1.6,13.973c0,35.307,28.693,64,64,64c4.8,0,9.387-0.64,13.867-1.6l32.96,32.96 c-14.187,7.04-29.973,11.307-46.827,11.307C175.787,330.72,128,282.933,128,224.053C128,207.2,132.267,191.413,139.307,177.12z' fill='%23B1B9D0'/%3e%3c/g%3e%3c/svg%3e ");
  }
}

.nebeus-form {
  a {
    color: rgb(29, 158, 249);
    text-decoration: none;

    &:hover {
      color: rgb(9, 124, 205);
    }
  }

  .nebeus-switch__slider {
    position: relative;
    display: inline-block;
    background: $gray-700;
    padding: .4rem .53rem;
    border-radius: 5.1rem;
  }

  .nebeus-switch {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nebeus-switch__checkbox {
      position: absolute;
      left: -99999px;
    }
  }

  .nebeus-switch__labels {
    color: #fff;
    font-weight: 700;
    transition: .3s ease;
  }

  .nebeus-switch__round {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .53rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    transition: .3s ease;
  }

  .nebeus-switch__checkbox {
    &:not(:checked) + .nebeus-switch__slider .nebeus-switch__on {
      opacity: 0;
      visibility: hidden;
    }

    &:checked + .nebeus-switch__slider {
      .nebeus-switch__off {
        opacity: 0;
        visibility: hidden;
      }

      .nebeus-switch__round {
        transform: translate(2.6rem, -50%);
      }

      background-color: #00c084;
    }
  }
}

.nebeus-history-search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F2F4F9;
  padding: 1.3rem;
  width: 100%;
  color: #364364;
  font-weight: 700;

  &.nebeus-form input {
    width: 100%;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: .8rem;
    min-height: 2rem;
    border: none;

    &::-ms-expand {
      background-color: transparent;
      border: 0;
      opacity: .75;
    }
  }

  .form-group {
    margin-bottom: 0 !important;

    &--keywords {
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
      padding-right: 2.6rem;

      span {
        margin-right: 2rem;
      }

      .form-control {
        width: calc(100% - 7rem);
      }

      @include media-breakpoint-down(lg) {
        max-width: 40%;
        flex: 0 0 40%;
        padding-right: 1rem;
        span {
          margin-right: 1rem;
        }
        .form-control {
          width: calc(100% - 5.67rem);
        }
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 0 1rem;
      }
      @include media-breakpoint-down(mob) {
        span {
          width: 100%;
          margin: 0 0 1rem;
          text-align: center;
          display: block;
        }
        .form-control {
          width: 100%;
        }
      }
    }

    &--data {
      flex: 0 0 calc(50% - 8rem);
      padding-right: 1rem;

      &.no-btn {
        flex: 0 0 50%;
        padding-right: 0;
      }

      & > span {
        &:first-child {
          width: 100%;
          flex: 0 0 4.3rem;
          max-width: 4.3rem;
          @include media-breakpoint-down(mob) {
            max-width: 100%;
            flex: 0 0 100%;
            text-align: center;
            padding-bottom: .5rem;
          }
        }

        &:nth-child(3) {
          width: 100%;
          flex: 0 0 1.3rem;
          max-width: 1.3rem;
          @include media-breakpoint-down(sm) {
            font-size: 0;
            padding-bottom: 1rem;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        flex: 0 0 calc(60% - 8rem);
        &.no-btn {
          flex: 0 0 60%;
        }
      }
      @include media-breakpoint-down(md) {
        flex: 0 0 calc(100% - 8rem);
        &.no-btn {
          flex: 0 0 100%;
        }
      }
      @include media-breakpoint-down(mob) {
        flex: 0 0 100%;
        padding-bottom: 1rem;
        padding-right: 0;
        & + .nebeus-form__action {
          width: 100%;

          .btn {
            width: 100%;
          }
        }
      }
    }

    .data-picker {
      margin: 0;
      max-width: calc(50% - 2.81rem);
      width: 100%;
      flex: 0 0 calc(50% - 2.81rem);

      input {
        width: 100%;
        padding-right: 2.3rem;
        background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3crect width='16' height='16' fill='url(%23pattern0)'/%3e%3cdefs%3e%3cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3e%3cuse xlink:href='%23image0' transform='scale(0.0625)'/%3e%3c/pattern%3e%3cimage id='image0' width='16' height='16' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAHlBMVEUAAAA0NDQpKSkzMzM7Ozs4ODg6Ojo2NjYwMDBAQEAMWpqKAAAACXRSTlMAPx8P719/Ty/1PoqGAAAAU0lEQVQI12NgMJnCAMYMlpEQzDYzcubMmZHTGCxnQgCDZaEgCFQycDKAAScQMs3UnDQTxGCYyTkBwoBKAcUhUiBxTKkJDDApEKMBLCUJtBQMpgEAmJAeWxITkOgAAAAASUVORK5CYII='/%3e%3c/defs%3e%3c/svg%3e ") calc(100% - .66rem) 50% no-repeat;
      }

      @include media-breakpoint-down(mob) {
        margin: 0;
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  .btn.btn-submit {
    font-size: 1rem;
    padding: .6rem;
    line-height: 1;
    min-width: 8rem;
  }
}

.clear-picker {
  width: 30px;
  height: 100%;
  background: $green;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  vertical-align: middle;
  border-radius: 0 5px 5px 0;

  &:after {
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 2rem;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    color: $white;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    content: "\D7";
  }
}

.form-group {
  label {
    display: block;
    width: 100%;
    font-weight: 700;
    padding-bottom: .46rem;
  }
}

.nebeus-payment {
  &__form {
    form {
      position: relative;

      &.start-time {
        .timer-form {
          display: block;
        }

        .start-form {
          display: none;
        }
      }

      &.load {
        width: 100%;
        .nebeus-form__action--info-box {
          background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50px' height='50px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3ccircle cx='50' cy='50' fill='none' stroke='%2300c084' stroke-width='8' r='44' stroke-dasharray='207.34511513692632 71.11503837897544' transform='rotate(11.6827 50 50)'%3e%3canimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;360 50 50' keyTimes='0;1'%3e%3c/animateTransform%3e%3c/circle%3e%3c/svg%3e") 1rem 50% / 2.3rem 2.3rem no-repeat;
        }
      }

      &.paymant-from-first {
        .nebeus-form__action {
          align-items: center;
        }

        .btn {
          min-width: auto;
          height: auto;
          padding: 0.6rem 1rem;
          position: relative;
          @include media-breakpoint-down(md) {
            max-width: calc(50% - 1rem);
            flex: 0 0 calc(50% - 1rem);
          }
          @include media-breakpoint-down(mob) {
            margin-bottom: 1rem;
            line-height: 1.3;
          }
        }

        &.load {
          @include media-breakpoint-down(mob) {
            .btn {
              background-repeat: no-repeat;
              background-size: 35px 35px;
              background-position: calc(100% - .5rem) 50%;
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30px' height='30px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3e%3ccircle cx='50' cy='50' fill='none' stroke='%23ffffff' stroke-width='5' r='25' stroke-dasharray='117.80972450961724 41.269908169872416' transform='rotate(359.813 50.0008 50.0008)'%3e%3canimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='0.8s' values='0 50 50;360 50 50' keyTimes='0;1'%3e%3c/animateTransform%3e%3c/circle%3e%3c/svg%3e");
            }
          }
        }
      }
    }

    & .row {
      margin-right: -1rem;
      margin-left: -1rem;
    }

    & [class*=col] {
      padding: 0 1rem;

      .select2-container {
        &,
        &--user-curency .select2-selection {
          width: 100%;
          height: 3.2rem;
        }
      }
    }

    & .form-control {
      border: 1px solid $gray-700;
      font-size: 1.1rem;
      line-height: 1.1;
    }

    .nebeus-form__action {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1.3rem;
      flex-wrap: wrap;

      &.vertical-get-pin {
        .nebeus-form__action--info-box {
          padding: 1rem 0 0;
          max-width: 100%;
        }

        .btn {
          height: auto;
        }
      }

      .btn {
        height: 3.2rem;
        font-size: 1rem;
        position: relative;

        &:disabled {
          background-color: $gray-500;
          border-color: $gray-500;
        }

        .pinId {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: $gray-500;
          padding: .6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &--info-box {
        padding-left: 6rem;
        position: relative;
        margin-left: auto;
        max-width: calc(100% - 8.3rem);
        @include media-breakpoint-down(md) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @include media-breakpoint-down(mob) {
          max-width: 100%;
          flex: 0 0 100%;
          padding-left: 0;
          padding-top: 1.1rem;
          background: initial !important;
        }

        .timer-form {
          display: none;
        }
      }
    }

    .form {
      &-group {
        position: relative;

        .error-msg {
          position: absolute;
          left: 0;
          bottom: -1.2rem;
        }
      }
    }
  }
}

.form-terms {
  padding-top: 2.65rem;

  a {
    text-decoration: underline;
  }
}

.saved-template-row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  .form-check {
    margin-bottom: 1.3rem;
    padding: .5rem 0 0 2.3rem;
    min-height: 3.13rem;

    &-input {
      margin-left: -2.3rem !important;
    }

    @include media-breakpoint-down(mob) {
      padding-bottom: 1.3rem;
    }
  }

  & > :first-child {
    width: 100%;
    max-width: calc(100% - 11.4rem);
    flex: 0 0 calc(100% - 11.4rem);
    padding-right: .8rem;
  }

  & > :last-child {
    width: 100%;
    max-width: 11.4rem;
    flex: 0 0 11.4rem;
  }

  .form-group {
    @include media-breakpoint-down(mob) {
      max-width: 100%;
      flex: 0 0 100%;
      padding-right: 0;
    }
  }
}

.form-card {
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: 100%;
  }

  &__number {
    max-width: calc(100% - 9.4rem);
    flex: calc(100% - 9.4rem);
    @include media-breakpoint-down(mob) {
      max-width: 100%;
      flex: 100%;
    }
  }

  &__date {
    max-width: 9.4rem;
    flex: 9.4rem;
    padding-left: 1rem;

    .error-msg {
      padding-left: 1rem;
    }

    @include media-breakpoint-down(mob) {
      &, .error-msg {
        padding-left: 0;
      }
    }
  }
}
