.nebeus-main-header {
  padding: .6rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(17, 56, 86, 0.05);
  position: relative;
  z-index: 20;
}

.nebeus-header__action--dashbord .btn {
  margin: 0 .4rem;

  &:focus {
    box-shadow: none !important;
  }

  &:last-child {
    margin-right: 0;
  }
}

.admin-bar .nebeus-dashbord-page .nebeus-main-header--dashbord {
  top: 2.13rem;
}

.nebeus-main-header--dashbord {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;

  .header__logo {
    flex: 0 0 12.5rem;
    max-width: 100%;
  }

  .nebeus-header__action--dashbord {
    flex: 0 0 calc(100% - 12.5rem);
    max-width: 100%;
  }
}

/*-----//--------*/
@media screen and (max-width: 767px) {
  .nebeus-main-header {
    background-color: rgb(6, 107, 198);
  }

  .header__logo {
    max-width: 23%;
    flex: 0 0 23%;
  }

  .nebeus-header__action {
    max-width: 77%;
    flex: 0 0 77%;
  }

  .nebeus-header__action-inner > a {
    padding: 0.4rem;
  }

  .nebeus-main-header--login .nebeus-header__action .btn.btn--roundet {
    border-radius: .2rem;
  }
}

@media screen and (max-width: 360px) {
  .nebeus-header__action-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
