.nebeus-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-icon--fab {
  border-radius: 50%;
  min-width: auto;
  padding: 0;
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  .verify-indicator__icon {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    right: -.3rem;
    top: -.2rem;
    border-radius: 50%;
    &--not_verified {
      background-color: $gray-300;
      background-size: .7rem;
    }
  }
}

.nebeus-data__currency-icon {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #06C98C;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  margin-right: 2.3rem;

  &--savings-accounts {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='20' viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.375 0C19.6489 0 18.25 1.39893 18.25 3.125V16.875C18.25 18.6011 19.6489 20 21.375 20C23.1011 20 24.5 18.6011 24.5 16.875V3.125C24.5 1.39893 23.1011 0 21.375 0ZM12.625 5C10.8989 5 9.5 6.39893 9.5 8.125V16.875C9.5 18.6011 10.8989 20 12.625 20C14.3511 20 15.75 18.6011 15.75 16.875V8.125C15.75 6.39893 14.3511 5 12.625 5ZM3.875 10C2.14893 10 0.75 11.3989 0.75 13.125V16.875C0.75 18.6011 2.14893 20 3.875 20C5.60107 20 7 18.6011 7 16.875V13.125C7 11.3989 5.60107 10 3.875 10Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 50%;
  }

  &--loans {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 0.5C12.6436 0.5 12.2871 0.634278 12.0137 0.907715L8.50781 4.41357C8.10742 4.81396 8.39307 5.5 8.95947 5.5H11.75V8C11.7427 8.45166 11.9795 8.86914 12.3701 9.09619C12.7583 9.32568 13.2417 9.32568 13.6299 9.09619C14.0205 8.86914 14.2573 8.45166 14.25 8V5.5H17.0405C17.6069 5.5 17.8926 4.81396 17.4922 4.41357L13.9863 0.907715C13.7129 0.634278 13.3564 0.5 13 0.5ZM1.75 10.5C1.05908 10.5 0.5 11.0591 0.5 11.75V24.25C0.5 24.9409 1.05908 25.5 1.75 25.5H24.25C24.9409 25.5 25.5 24.9409 25.5 24.25V11.75C25.5 11.0591 24.9409 10.5 24.25 10.5H1.75ZM4.14014 13H21.8599C22.0479 13.5322 22.4678 13.9521 23 14.1401V21.8599C22.4678 22.0479 22.0479 22.4678 21.8599 23H4.14014C3.95215 22.4678 3.53223 22.0479 3 21.8599V14.1401C3.53223 13.9521 3.95215 13.5322 4.14014 13ZM13 14.25C10.9297 14.25 9.25 15.9297 9.25 18C9.25 20.0703 10.9297 21.75 13 21.75C15.0703 21.75 16.75 20.0703 16.75 18C16.75 15.9297 15.0703 14.25 13 14.25ZM6.75 16.75C6.05908 16.75 5.5 17.3091 5.5 18C5.5 18.6909 6.05908 19.25 6.75 19.25C7.44092 19.25 8 18.6909 8 18C8 17.3091 7.44092 16.75 6.75 16.75ZM19.25 16.75C18.5591 16.75 18 17.3091 18 18C18 18.6909 18.5591 19.25 19.25 19.25C19.9409 19.25 20.5 18.6909 20.5 18C20.5 17.3091 19.9409 16.75 19.25 16.75Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 60%;
  }

  &--btc {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='20' viewBox='0 0 15 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.03845 0.576904V2.80767H0.807678V17.3077H3.03845V19.5384H5.26922V17.3077H7.49999V19.5384H9.73076V17.2031C10.027 17.1639 10.3494 17.1465 10.637 17.0985C11.308 16.8763 11.857 16.6323 12.4146 16.2969C12.8591 15.9614 13.2991 15.53 13.6346 14.9723C13.9701 14.4146 14.0877 13.8352 14.0877 13.0553C14.0877 12.1621 13.7305 11.3909 13.286 10.7199C12.7284 10.049 12.0574 9.61762 11.0553 9.39541C11.8352 9.05993 12.3929 8.61987 12.7284 8.17546C13.0638 7.73105 13.286 7.14286 13.286 6.36296C13.286 5.69199 13.1945 5.1343 12.9723 4.68989C12.7501 4.24547 12.4059 3.79671 11.9615 3.5745C11.5171 3.35229 11.064 3.13009 10.393 3.01681C10.1752 2.98195 9.95296 2.9471 9.73076 2.91224V0.576904H7.49999V2.80767H5.26922V0.576904H3.03845ZM4.15383 5.03844H7.39542C7.73091 5.03844 8.04461 5.02973 8.26681 5.14301C8.6023 5.14301 8.84629 5.27372 9.0685 5.387C9.2907 5.50028 9.51291 5.58306 9.62619 5.80527C9.73947 6.02748 9.83532 6.27147 9.83532 6.60695C9.83532 7.27793 9.72204 7.70927 9.27763 7.93147C8.83322 8.26696 8.3801 8.3846 7.70912 8.3846H4.15383V5.03844ZM4.15383 10.6154H8.05768C8.83758 10.6154 9.52162 10.8376 10.0793 11.1731C10.637 11.5085 10.8461 12.1708 10.8461 12.9507C10.8461 13.2862 10.7503 13.7393 10.637 13.9615C10.4148 14.297 10.1621 14.5105 9.93989 14.6238C9.71768 14.7371 9.40398 14.8591 9.0685 14.9723C8.73301 15.0856 8.2886 15.0769 7.95311 15.0769H4.15383V10.6154Z' fill='white'/%3e%3c/svg%3e ");
    background-position-x: 52%;
  }
  &--eth {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='24' viewBox='0 0 16 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.08398 0.625L0.0634766 11.6086L8.00342 15.512L15.8169 11.6052L8.92114 0.625H8.4375H7.08398ZM7.125 3.80713V7.61475L3.7002 9.16821L7.125 3.80713ZM8.875 3.84302L12.2161 9.16308L8.875 7.62842V3.84302ZM7.125 9.53564V13.1296L3.32422 11.26L7.125 9.53564ZM8.875 9.55615L12.5903 11.2617L8.875 13.1194V9.55615ZM0.125 13.3228V15.5273L7.06177 23.2656H8H8.93823L15.875 15.5273V13.3228L8 17.3594L0.125 13.3228ZM4.0813 17.3184L7.125 18.8787V20.7124L4.0813 17.3184ZM11.9187 17.3184L8.875 20.7124V18.8787L11.9187 17.3184Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--nbt {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4327 6.23146V11.765C10.4327 12.0807 10.5509 12.3591 10.7872 12.6C11.0236 12.841 11.3021 12.9614 11.6228 12.9614C11.9436 12.9614 12.2306 12.841 12.4838 12.6C12.737 12.3591 12.8636 12.0807 12.8636 11.765V6.40595C12.8636 4.61127 12.239 3.09497 10.9898 1.85698C9.74056 0.618986 8.22125 0 6.43181 0C4.64238 0 3.12307 0.614832 1.87384 1.84451C0.624606 3.0742 0 4.59466 0 6.40595V11.765C0 12.0807 0.122389 12.3591 0.36717 12.6C0.611952 12.841 0.894713 12.9614 1.21546 12.9614C1.53621 12.9614 1.81897 12.841 2.06375 12.6C2.30853 12.3591 2.43092 12.0807 2.43092 11.765V6.23146C2.43092 5.00178 2.82341 4.00476 3.6084 3.24036C4.39339 2.47596 5.33452 2.09377 6.43181 2.09377C7.52911 2.09377 8.47024 2.47596 9.25523 3.24036C10.0402 4.00476 10.4327 5.00178 10.4327 6.23146ZM7.79325 11.5685V6.03498C7.79325 5.71925 7.67508 5.44091 7.43874 5.19996C7.2024 4.95901 6.92386 4.83853 6.60311 4.83853C6.28236 4.83853 5.99538 4.95901 5.74216 5.19996C5.48894 5.44091 5.36233 5.71925 5.36233 6.03498V11.394C5.36233 13.1887 5.98694 14.705 7.23617 15.943C8.4854 17.181 10.0047 17.8 11.7941 17.8C13.5836 17.8 15.1029 17.1851 16.3521 15.9555C17.6014 14.7258 18.226 13.2053 18.226 11.394V6.03498C18.226 5.71925 18.1036 5.44091 17.8588 5.19996C17.614 4.95901 17.3312 4.83853 17.0105 4.83853C16.6897 4.83853 16.407 4.95901 16.1622 5.19996C15.9174 5.44091 15.795 5.71925 15.795 6.03498V11.5685C15.795 12.7982 15.4025 13.7952 14.6176 14.5596C13.8326 15.324 12.8914 15.7062 11.7941 15.7062C10.6968 15.7062 9.75572 15.324 8.97073 14.5596C8.18574 13.7952 7.79325 12.7982 7.79325 11.5685Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--eur {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.049 15.914C10.967 15.914 10.869 15.931 10.854 15.934C10.266 16.052 9.654 16.111 9.015 16.111C7.635 16.111 6.57 15.691 5.817 14.851C5.107 14.058 4.729 12.933 4.659 11.499H9.129C9.609 11.499 9.999 11.109 9.999 10.629V10.619C9.999 10.139 9.609 9.749 9.129 9.749H4.624V8H9.129C9.609 8 9.999 7.61 9.999 7.13V7.12C9.999 6.64 9.609 6.25 9.129 6.25H4.687C4.785 4.918 5.157 3.862 5.835 3.114C6.575 2.297 7.63 1.889 9.001 1.889C9.571 1.889 10.138 1.943 10.705 2.051C10.76 2.061 10.94 2.1 11.05 2.1C11.575 2.1 12 1.675 12 1.15C12 0.696 11.691 0.318 11.265 0.224L11.223 0.215C10.409 0.0729999 9.652 0 8.978 0C6.947 0 5.335 0.576 4.144 1.727C3.024 2.809 2.414 4.329 2.273 6.25H0.87C0.39 6.25 0 6.64 0 7.12V7.13C0 7.61 0.39 8 0.87 8H2.25V9.75H0.87C0.39 9.75 0 10.14 0 10.62V10.63C0 11.11 0.39 11.5 0.87 11.5H2.255C2.348 13.523 2.951 15.111 4.094 16.238C5.285 17.413 6.917 18 8.99 18C10.2 18 10.709 17.916 11.202 17.805C11.646 17.705 11.999 17.336 11.999 16.865C12 16.34 11.574 15.914 11.049 15.914Z' fill='white'/%3e%3c/svg%3e ");
    background-position-x: 46%;
  }
  &--gbp {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 16H3.854C4.34 15.274 4.588 14.315 4.588 13.112L4.53 10.75H8.13C8.61 10.75 9 10.36 9 9.88V9.87C9 9.39 8.61 9 8.13 9H4.424L4.312 5.279C4.312 4.27 4.584 3.454 5.127 2.832C5.671 2.21 6.381 1.9 7.259 1.9C8.186 1.9 8.915 2.151 9.446 2.652C9.807 2.994 10.099 3.742 10.21 4.096C10.378 4.633 10.745 5 11.34 5C11.996 5 12.528 4.468 12.528 3.812C12.528 3.703 12.48 3.365 12.48 3.365C12.273 2.544 11.861 1.85 11.245 1.282C10.318 0.428 9.06 0 7.472 0C5.801 0 4.453 0.479 3.429 1.438C2.405 2.398 1.894 3.68 1.894 5.284L2.004 9H0.87C0.39 9 0 9.39 0 9.87V9.88C0 10.36 0.39 10.75 0.87 10.75H2.081L2.169 13.124V13.221C2.152 13.995 2.039 14.646 1.831 15.174C1.662 15.6 1.45 15.871 1.2 16H1C0.448 16 0 16.448 0 17C0 17.552 0.448 18 1 18H12C12.552 18 13 17.552 13 17C13 16.448 12.552 16 12 16Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--usd {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.478 13.084C11.13 12.475 10.588 11.94 9.854 11.481C9.119 11.021 8.096 10.6 6.786 10.217C5.476 9.835 4.535 9.41 3.964 8.941C3.392 8.474 3.106 7.845 3.106 7.056C3.106 6.206 3.377 5.542 3.919 5.067C4.46 4.591 5.242 4.354 6.264 4.354C7.243 4.354 8.022 4.675 8.597 5.318C8.867 5.619 9.073 5.969 9.217 6.368C9.288 6.567 9.416 7.027 9.423 7.047C9.624 7.649 9.967 8 10.559 8C11.213 8 11.743 7.586 11.743 6.816C11.743 6.671 11.712 6.518 11.693 6.428C11.513 5.532 11.158 4.783 10.626 4.18C9.822 3.27 8.699 2.725 7.255 2.548L7.25 2.547V1C7.25 0.448 6.802 0 6.25 0C5.698 0 5.25 0.448 5.25 1V2.551C3.858 2.716 2.756 3.19 1.953 3.983C1.132 4.794 0.721 5.832 0.721 7.098C0.721 8.341 1.14 9.366 1.978 10.173C2.816 10.979 4.15 11.634 5.98 12.136C7.295 12.53 8.229 12.97 8.784 13.456C9.337 13.943 9.615 14.541 9.615 15.251C9.615 16.093 9.292 16.757 8.648 17.243C8.003 17.729 7.118 17.972 5.992 17.972C4.841 17.972 3.827 17.683 3.2 17.104C2.778 16.715 2.499 16.214 2.361 15.601C2.356 15.578 2.283 15.343 2.231 15.246C2.035 14.876 1.636 14.627 1.187 14.627C0.532 14.625 0 15.157 0 15.813C0 16.101 0.144 16.509 0.188 16.629C0.413 17.244 0.778 17.803 1.235 18.254C2.118 19.123 3.46 19.624 5 19.771V21C5 21.552 5.447 22 5.999 22C6.551 22 6.999 21.552 6.999 21V19.79L7.024 19.789C8.596 19.642 9.819 19.172 10.691 18.376C11.563 17.581 12 16.531 12 15.227C12 14.409 11.825 13.694 11.478 13.084Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--cold-storage {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='34' viewBox='0 0 28 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.7812 1.04199L2.28125 5.70898C1.19727 6.18945 0.5 7.26465 0.5 8.45117V15.5C0.5 27.2451 10.1592 32.7295 14 33.5C17.8408 32.7295 27.5 27.2451 27.5 15.5V8.45117C27.5 7.26465 26.8027 6.18945 25.7188 5.70898L15.2188 1.04199C14.4424 0.696289 13.5576 0.696289 12.7812 1.04199ZM11.4395 22.5605L7.28516 18.4062C6.69922 17.8203 6.69922 16.8682 7.28516 16.2852C7.86816 15.6992 8.82031 15.6992 9.40625 16.2852L12.5 19.3789L20.1289 11.7529C20.7119 11.167 21.6641 11.167 22.2471 11.7529C22.833 12.3359 22.833 13.2881 22.2471 13.8711L13.5605 22.5605C12.9746 23.1465 12.0254 23.1465 11.4395 22.5605Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.currency-icon {
  path {
    fill: $gray-800;
  }
}
