.nebeus-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  &--horizontal .nebeus-nav-item {
    display: list-item;
    width: 100%;
    overflow-x: hidden;
  }
}

.menu-item {
  a {
    display: inline-block;
    width: 100%;
    padding: .8rem 1.45rem .8rem 4.1rem;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    transition: .3s ease;
    background-repeat: no-repeat;
    background-position: 1.46rem 50%;
    line-height: 1.2rem;

    &:hover {
      background-color: $nav-link-hover-bg;
    }
  }

  &.current-menu-item {
    a {
      background-color: $nav-link-active-bg;
      box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.14);
      color: $nav-link-active-color;
    }

    &.menu-item {
      &--dashboard a {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='23' viewBox='0 0 28 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 0.75C6.41943 0.75 0.25 6.91943 0.25 14.5C0.25 16.917 0.887207 19.2949 2.09082 21.3774C2.31299 21.7632 2.72559 22.0024 3.17236 22.0024L24.8276 22C25.2744 22 25.687 21.7632 25.9092 21.3774C27.1128 19.2949 27.75 16.9194 27.75 14.5C27.75 6.91943 21.5806 0.75 14 0.75ZM18.2969 5.75C18.9878 5.75 19.5469 6.30908 19.5469 7C19.5469 7.69092 18.9878 8.25 18.2969 8.25C17.6084 8.25 17.0469 7.69092 17.0469 7C17.0469 6.30908 17.606 5.75 18.2969 5.75ZM14 4.5C14.6909 4.5 15.25 5.05908 15.25 5.75C15.25 6.44092 14.6909 7 14 7C13.3091 7 12.75 6.44092 12.75 5.75C12.75 5.05908 13.3091 4.5 14 4.5ZM4 14.5C4 13.8091 4.55908 13.25 5.25 13.25C5.94092 13.25 6.5 13.8091 6.5 14.5C6.5 15.1909 5.94092 15.75 5.25 15.75C4.55908 15.75 4 15.1909 4 14.5ZM6.5 20.125C5.80908 20.125 5.25 19.5659 5.25 18.875C5.25 18.1841 5.80908 17.625 6.5 17.625C7.19092 17.625 7.75 18.1841 7.75 18.875C7.75 19.5659 7.19092 20.125 6.5 20.125ZM6.5 11.375C5.80908 11.375 5.25 10.8159 5.25 10.125C5.25 9.43408 5.80908 8.875 6.5 8.875C7.19092 8.875 7.75 9.43408 7.75 10.125C7.75 10.8159 7.19092 11.375 6.5 11.375ZM9.625 8.25C8.93408 8.25 8.375 7.69092 8.375 7C8.375 6.30908 8.93408 5.75 9.625 5.75C10.3159 5.75 10.875 6.30908 10.875 7C10.875 7.69092 10.3159 8.25 9.625 8.25ZM14 17C12.6182 17 11.5 15.8818 11.5 14.5C11.5 13.1182 12.6182 12 14 12C14.4565 12 14.8789 12.1318 15.2476 12.3467L20.4673 9.36572C21.0654 9.02148 21.8296 9.23144 22.1714 9.82959C22.5132 10.4277 22.3057 11.1919 21.7051 11.5361L16.4976 14.5122C16.4927 15.8867 15.377 17 14 17ZM21.5 20.4766C20.8091 20.4766 20.25 19.915 20.25 19.2266C20.25 18.5356 20.8091 17.9766 21.5 17.9766C22.1909 17.9766 22.75 18.5356 22.75 19.2266C22.75 19.915 22.1909 20.4766 21.5 20.4766ZM22.75 15.75C22.0591 15.75 21.5 15.1909 21.5 14.5C21.5 13.8091 22.0591 13.25 22.75 13.25C23.4409 13.25 24 13.8091 24 14.5C24 15.1909 23.4409 15.75 22.75 15.75Z' fill='%2353B1F9'/%3e%3c/svg%3e ");
      }

      &--exchange a {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.3828 0.754881C20.2607 0.767089 20.1387 0.796386 20.0215 0.845214C19.5552 1.03809 19.25 1.49463 19.25 2V4.5H0.5V7H19.25V9.5C19.25 10.0054 19.5552 10.4619 20.0215 10.6548C20.1753 10.7183 20.3389 10.75 20.5 10.75C20.8247 10.75 21.1445 10.623 21.3838 10.3838L25.1338 6.63379C25.6221 6.14551 25.6221 5.35449 25.1338 4.86621L21.3838 1.11621C21.1152 0.847655 20.749 0.720702 20.3828 0.754881ZM5.61719 13.2549C5.25098 13.2207 4.88477 13.3477 4.61621 13.6162L0.866211 17.3662C0.37793 17.8545 0.37793 18.6455 0.866211 19.1338L4.61621 22.8838C4.85547 23.123 5.17529 23.25 5.5 23.25C5.66113 23.25 5.82471 23.2183 5.97852 23.1548C6.44482 22.9619 6.75 22.5054 6.75 22V19.5H25.5V17H6.75V14.5C6.75 13.9946 6.44482 13.5381 5.97852 13.3452C5.86133 13.2964 5.73926 13.2671 5.61719 13.2549Z' fill='%23FF9D03'/%3e%3c/svg%3e ");
      }

      &--cold-storage a {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='28' viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9844 0.70166L2.23438 4.59082C1.33105 4.99121 0.75 5.88721 0.75 6.87598V12.75C0.75 22.5376 8.79932 27.1079 12 27.75C15.2007 27.1079 23.25 22.5376 23.25 12.75V6.87598C23.25 5.88721 22.6689 4.99121 21.7656 4.59082L13.0156 0.70166C12.3687 0.413574 11.6313 0.413574 10.9844 0.70166ZM9.86621 18.6338L6.4043 15.1719C5.91602 14.6836 5.91602 13.8901 6.4043 13.4043C6.89014 12.916 7.68359 12.916 8.17188 13.4043L10.75 15.9824L17.1074 9.62744C17.5933 9.13916 18.3867 9.13916 18.8726 9.62744C19.3608 10.1133 19.3608 10.9067 18.8726 11.3926L11.6338 18.6338C11.1455 19.1221 10.3545 19.1221 9.86621 18.6338Z' fill='%235DCA8C'/%3e%3c/svg%3e ");
      }

      &--savings-accounts a {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='20' viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.375 0C19.6489 0 18.25 1.39893 18.25 3.125V16.875C18.25 18.6011 19.6489 20 21.375 20C23.1011 20 24.5 18.6011 24.5 16.875V3.125C24.5 1.39893 23.1011 0 21.375 0ZM12.625 5C10.8989 5 9.5 6.39893 9.5 8.125V16.875C9.5 18.6011 10.8989 20 12.625 20C14.3511 20 15.75 18.6011 15.75 16.875V8.125C15.75 6.39893 14.3511 5 12.625 5ZM3.875 10C2.14893 10 0.75 11.3989 0.75 13.125V16.875C0.75 18.6011 2.14893 20 3.875 20C5.60107 20 7 18.6011 7 16.875V13.125C7 11.3989 5.60107 10 3.875 10Z' fill='%238C3177'/%3e%3c/svg%3e ");
      }

      &--loans a {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 0.5C12.6436 0.5 12.2871 0.634278 12.0137 0.907715L8.50781 4.41357C8.10742 4.81396 8.39307 5.5 8.95947 5.5H11.75V8C11.7427 8.45166 11.9795 8.86914 12.3701 9.09619C12.7583 9.32568 13.2417 9.32568 13.6299 9.09619C14.0205 8.86914 14.2573 8.45166 14.25 8V5.5H17.0405C17.6069 5.5 17.8926 4.81396 17.4922 4.41357L13.9863 0.907715C13.7129 0.634278 13.3564 0.5 13 0.5ZM1.75 10.5C1.05908 10.5 0.5 11.0591 0.5 11.75V24.25C0.5 24.9409 1.05908 25.5 1.75 25.5H24.25C24.9409 25.5 25.5 24.9409 25.5 24.25V11.75C25.5 11.0591 24.9409 10.5 24.25 10.5H1.75ZM4.14014 13H21.8599C22.0479 13.5322 22.4678 13.9521 23 14.1401V21.8599C22.4678 22.0479 22.0479 22.4678 21.8599 23H4.14014C3.95215 22.4678 3.53223 22.0479 3 21.8599V14.1401C3.53223 13.9521 3.95215 13.5322 4.14014 13ZM13 14.25C10.9297 14.25 9.25 15.9297 9.25 18C9.25 20.0703 10.9297 21.75 13 21.75C15.0703 21.75 16.75 20.0703 16.75 18C16.75 15.9297 15.0703 14.25 13 14.25ZM6.75 16.75C6.05908 16.75 5.5 17.3091 5.5 18C5.5 18.6909 6.05908 19.25 6.75 19.25C7.44092 19.25 8 18.6909 8 18C8 17.3091 7.44092 16.75 6.75 16.75ZM19.25 16.75C18.5591 16.75 18 17.3091 18 18C18 18.6909 18.5591 19.25 19.25 19.25C19.9409 19.25 20.5 18.6909 20.5 18C20.5 17.3091 19.9409 16.75 19.25 16.75Z' fill='%233055D2'/%3e%3c/svg%3e ");
      }
    }
  }

  &--dashboard a {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='23' viewBox='0 0 28 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 0.75C6.41943 0.75 0.25 6.91943 0.25 14.5C0.25 16.917 0.887207 19.2949 2.09082 21.3774C2.31299 21.7632 2.72559 22.0024 3.17236 22.0024L24.8276 22C25.2744 22 25.687 21.7632 25.9092 21.3774C27.1128 19.2949 27.75 16.9194 27.75 14.5C27.75 6.91943 21.5806 0.75 14 0.75ZM18.2969 5.75C18.9878 5.75 19.5469 6.30908 19.5469 7C19.5469 7.69092 18.9878 8.25 18.2969 8.25C17.6084 8.25 17.0469 7.69092 17.0469 7C17.0469 6.30908 17.606 5.75 18.2969 5.75ZM14 4.5C14.6909 4.5 15.25 5.05908 15.25 5.75C15.25 6.44092 14.6909 7 14 7C13.3091 7 12.75 6.44092 12.75 5.75C12.75 5.05908 13.3091 4.5 14 4.5ZM4 14.5C4 13.8091 4.55908 13.25 5.25 13.25C5.94092 13.25 6.5 13.8091 6.5 14.5C6.5 15.1909 5.94092 15.75 5.25 15.75C4.55908 15.75 4 15.1909 4 14.5ZM6.5 20.125C5.80908 20.125 5.25 19.5659 5.25 18.875C5.25 18.1841 5.80908 17.625 6.5 17.625C7.19092 17.625 7.75 18.1841 7.75 18.875C7.75 19.5659 7.19092 20.125 6.5 20.125ZM6.5 11.375C5.80908 11.375 5.25 10.8159 5.25 10.125C5.25 9.43408 5.80908 8.875 6.5 8.875C7.19092 8.875 7.75 9.43408 7.75 10.125C7.75 10.8159 7.19092 11.375 6.5 11.375ZM9.625 8.25C8.93408 8.25 8.375 7.69092 8.375 7C8.375 6.30908 8.93408 5.75 9.625 5.75C10.3159 5.75 10.875 6.30908 10.875 7C10.875 7.69092 10.3159 8.25 9.625 8.25ZM14 17C12.6182 17 11.5 15.8818 11.5 14.5C11.5 13.1182 12.6182 12 14 12C14.4565 12 14.8789 12.1318 15.2476 12.3467L20.4673 9.36572C21.0654 9.02148 21.8296 9.23144 22.1714 9.82959C22.5132 10.4277 22.3057 11.1919 21.7051 11.5361L16.4976 14.5122C16.4927 15.8867 15.377 17 14 17ZM21.5 20.4766C20.8091 20.4766 20.25 19.915 20.25 19.2266C20.25 18.5356 20.8091 17.9766 21.5 17.9766C22.1909 17.9766 22.75 18.5356 22.75 19.2266C22.75 19.915 22.1909 20.4766 21.5 20.4766ZM22.75 15.75C22.0591 15.75 21.5 15.1909 21.5 14.5C21.5 13.8091 22.0591 13.25 22.75 13.25C23.4409 13.25 24 13.8091 24 14.5C24 15.1909 23.4409 15.75 22.75 15.75Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 27px 22px;
  }

  &--exchange a {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.3828 0.754881C20.2607 0.767089 20.1387 0.796386 20.0215 0.845214C19.5552 1.03809 19.25 1.49463 19.25 2V4.5H0.5V7H19.25V9.5C19.25 10.0054 19.5552 10.4619 20.0215 10.6548C20.1753 10.7183 20.3389 10.75 20.5 10.75C20.8247 10.75 21.1445 10.623 21.3838 10.3838L25.1338 6.63379C25.6221 6.14551 25.6221 5.35449 25.1338 4.86621L21.3838 1.11621C21.1152 0.847655 20.749 0.720702 20.3828 0.754881ZM5.61719 13.2549C5.25098 13.2207 4.88477 13.3477 4.61621 13.6162L0.866211 17.3662C0.37793 17.8545 0.37793 18.6455 0.866211 19.1338L4.61621 22.8838C4.85547 23.123 5.17529 23.25 5.5 23.25C5.66113 23.25 5.82471 23.2183 5.97852 23.1548C6.44482 22.9619 6.75 22.5054 6.75 22V19.5H25.5V17H6.75V14.5C6.75 13.9946 6.44482 13.5381 5.97852 13.3452C5.86133 13.2964 5.73926 13.2671 5.61719 13.2549Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 25px 22px;
  }

  &--cold-storage a {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='28' viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9844 0.70166L2.23438 4.59082C1.33105 4.99121 0.75 5.88721 0.75 6.87598V12.75C0.75 22.5376 8.79932 27.1079 12 27.75C15.2007 27.1079 23.25 22.5376 23.25 12.75V6.87598C23.25 5.88721 22.6689 4.99121 21.7656 4.59082L13.0156 0.70166C12.3687 0.413574 11.6313 0.413574 10.9844 0.70166ZM9.86621 18.6338L6.4043 15.1719C5.91602 14.6836 5.91602 13.8901 6.4043 13.4043C6.89014 12.916 7.68359 12.916 8.17188 13.4043L10.75 15.9824L17.1074 9.62744C17.5933 9.13916 18.3867 9.13916 18.8726 9.62744C19.3608 10.1133 19.3608 10.9067 18.8726 11.3926L11.6338 18.6338C11.1455 19.1221 10.3545 19.1221 9.86621 18.6338Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 22px 27px;
  }

  &--savings-accounts a {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='20' viewBox='0 0 25 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.375 0C19.6489 0 18.25 1.39893 18.25 3.125V16.875C18.25 18.6011 19.6489 20 21.375 20C23.1011 20 24.5 18.6011 24.5 16.875V3.125C24.5 1.39893 23.1011 0 21.375 0ZM12.625 5C10.8989 5 9.5 6.39893 9.5 8.125V16.875C9.5 18.6011 10.8989 20 12.625 20C14.3511 20 15.75 18.6011 15.75 16.875V8.125C15.75 6.39893 14.3511 5 12.625 5ZM3.875 10C2.14893 10 0.75 11.3989 0.75 13.125V16.875C0.75 18.6011 2.14893 20 3.875 20C5.60107 20 7 18.6011 7 16.875V13.125C7 11.3989 5.60107 10 3.875 10Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 23px 20px;
  }

  &--loans a {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 0.5C12.6436 0.5 12.2871 0.634278 12.0137 0.907715L8.50781 4.41357C8.10742 4.81396 8.39307 5.5 8.95947 5.5H11.75V8C11.7427 8.45166 11.9795 8.86914 12.3701 9.09619C12.7583 9.32568 13.2417 9.32568 13.6299 9.09619C14.0205 8.86914 14.2573 8.45166 14.25 8V5.5H17.0405C17.6069 5.5 17.8926 4.81396 17.4922 4.41357L13.9863 0.907715C13.7129 0.634278 13.3564 0.5 13 0.5ZM1.75 10.5C1.05908 10.5 0.5 11.0591 0.5 11.75V24.25C0.5 24.9409 1.05908 25.5 1.75 25.5H24.25C24.9409 25.5 25.5 24.9409 25.5 24.25V11.75C25.5 11.0591 24.9409 10.5 24.25 10.5H1.75ZM4.14014 13H21.8599C22.0479 13.5322 22.4678 13.9521 23 14.1401V21.8599C22.4678 22.0479 22.0479 22.4678 21.8599 23H4.14014C3.95215 22.4678 3.53223 22.0479 3 21.8599V14.1401C3.53223 13.9521 3.95215 13.5322 4.14014 13ZM13 14.25C10.9297 14.25 9.25 15.9297 9.25 18C9.25 20.0703 10.9297 21.75 13 21.75C15.0703 21.75 16.75 20.0703 16.75 18C16.75 15.9297 15.0703 14.25 13 14.25ZM6.75 16.75C6.05908 16.75 5.5 17.3091 5.5 18C5.5 18.6909 6.05908 19.25 6.75 19.25C7.44092 19.25 8 18.6909 8 18C8 17.3091 7.44092 16.75 6.75 16.75ZM19.25 16.75C18.5591 16.75 18 17.3091 18 18C18 18.6909 18.5591 19.25 19.25 19.25C19.9409 19.25 20.5 18.6909 20.5 18C20.5 17.3091 19.9409 16.75 19.25 16.75Z' fill='white'/%3e%3c/svg%3e ");
    background-size: 25px 25px;
  }
}

