.main-pagination {
  padding: 0 3.9rem;
  .pagination {
    list-style: none;
    display: flex;
    li {
      display: inline-block;
      margin: 0 .1rem;
      &.active a {
        background: $gray-300;
      }
      & > a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 2.53rem;
        height: 2.4rem;
        padding: .634rem .2rem;
        background: $gray-200;
        color: $gray-400;
        font-weight: 700;
        line-height: 1.15;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      .break-me {
       & > a {
         align-items: flex-end;
       }
      }
      &.next {
        padding-left: 3.3rem;
        & > a::after {
          display: inline-block;
          content: '\27F6';
          margin-left: .5rem;
          font-size: 1rem;
          @include media-breakpoint-down(mob) {
            content: '\00BB';
          }
        }
        @include media-breakpoint-down(mob) {
          padding-left: 1.2rem;
        }
      }
      &.previous {
        & > a::before {
          display: inline-block;
          content: '\27F5';
          margin-right: .5rem;
          font-size: 1rem;
          @include media-breakpoint-down(mob) {
            content: '\00AB';
          }
        }
        &.d-none + li {
          margin-left: 0;
        }
      }
      &.next,
      &.previous {
        &.disabled {
          display: none;
        }
        a {
          padding: .634rem .5rem;
          &::before,
          &::after {
            @include media-breakpoint-down(mob) {
              margin: 0;
            }
          }
          @include media-breakpoint-down(mob) {
            font-size: 0;
          }
        }
      }
    }
    @include media-breakpoint-down(sm-mob) {
      li {
        & > a {
          font-size: .8rem;
        }
        &.next {
          padding-left: 0.1rem;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 0 2rem;
  }
  @include media-breakpoint-down(md) {
    padding: 0.7rem 0 0 0;
  }
}
