.pie {
  background-color: $gray-100;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;

  .pie-inner {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    clip: rect(0, 40px, 40px, 20px);
  }

  .pie-fill {
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    clip: rect(0, 20px, 40px, 0);
    transform: rotate(3deg);
    background-color: $green-light;
  }

  &.pie-50 {
    background-color: $green-light;

    .pie-inner {
      clip: rect(0, 20px, 40px, 0);
    }

    &,
    .pie-inner {
      left: calc(50% - 21px);
    }

    &.pie--red .pie-inner .pie-fill, .pie-inner .pie-fill {
      clip: rect(0, 40px, 40px, 20px);
      background-color: $gray-100;
    }
  }

  &.pie--red .pie-fill, &.pie-50.pie--red {
    background-color: $red-light;
  }
}

.progressPieJS.pie::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: $white;
  border-radius: 50%;
  z-index: 2;
  margin: 0 auto;
}
