.scanner-qr {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0;
  .overlay {
    .btn.btn--close-scan {
      position: absolute;
      right: 0.5rem;
      bottom: 1rem;
      padding: 0;
      margin: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $gray-300;
    }
  }
}
