.nebeus-slide-panel.slide-panel {
  &--exchange{
    max-width: 100%;
    width: 34.5rem;
    .exchange-action {
      &-info {
        margin-bottom: 3.53rem;
        @include media-breakpoint-down(sm) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

