.nebeus-slide-panel {
  position: fixed;
  bottom: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  transition: .5s ease;
  z-index: 15;

  &.active {
    transform: translateX(0);
  }

  &--user-verify,
  &__inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
  }
}

@import 'slide-panel-left';
@import 'slide-panel-right';
@import 'slide-panel-payment';
@import 'slide-panel-exchange';
