.admin-bar .nebeus-slide-panel--right .nebeus-slide-panel--right-content {
  padding-top: 7.86rem;
}

.nebeus-slide-panel--right {
  background-color: #fff;
  right: 0;
  width: 100%;
  max-width: 21.3rem;
  color: #667695;
  transform: translateX(110%);
  box-shadow: 0 9px 12px rgba(17, 56, 86, 0.25);

  .nebeus-slide-panel--right-content {
    padding: 5.74rem 0 4rem;
  }
}

.nebeus-slide-panel__row {
  padding-left: 3rem;
  padding-right: 3rem;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-300;
    margin-bottom: 1.6rem;
  }

  &:last-child {
    margin-top: 4.2rem;
  }
}

.user-settings__action-row {
  padding: .9rem 0;
}

.nebeus-form__user-settings .form-select {
  margin-bottom: 1.6rem;
}

.user-settings__action {
  margin-bottom: 1.9rem;
}

.nebeus-row__heading {
  background: #F9FAFC;
  color: #364364;
  font-weight: 700;
  padding: .834rem 3.2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.3;
  &--withdrawal {
    background: none;
    position: relative;
    .btn--close {
      left: 1.2rem;
      top: 1rem;
    }
    .icon {
      padding-top: 2.33rem;
    }
  }
}

.nebeus-row__user--balanse {
  padding-bottom: 1.86rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  span {
    vertical-align: middle;
  }
}

.nebeus-user-balanse {
  text-align: right;
  font-weight: 700;
  padding-top: 0.15rem;
  display: inline-block;

  > span {
    vertical-align: top;
  }
}

.nebeus-form__user-settings .form-select label {
  display: block;
  font-weight: 700;
  margin-bottom: .45rem;
}

.nebeus-form .select2-container--user-curency {
  .select2-selection {
    display: inline-block;
    width: 8.86rem;
    padding: .86rem .3rem;
    height: auto;
    border: 1px solid $gray-700;
    text-transform: uppercase;
    font-weight: 700;

    .select2-selection__arrow b {
      border: solid #364364;
      border-width: 0 2px 2px 0;
      padding: 5px;
      content: "";
      position: absolute;
      right: 1rem;
      top: calc(50% - .55rem);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.3s linear;
      transition: 0.3s linear;
    }
  }

  &.select2-container--open .select2-selection .select2-selection__arrow b {
    top: calc(50% - .2rem);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.select2-container--user-curency .select2-results__option {
  text-transform: uppercase;
  font-weight: 700;
  color: #667695;
  padding: 0.4rem 1rem;

  &:hover {
    background: #f6f6f6;
  }
}

.default-currency__action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nebeus-row__user--data {
  padding-bottom: .6rem;
}

.nebeus-row__user--data-heading {
  font-weight: 700;
}

.user-info__row {
  display: block;
  padding-bottom: 1.2rem;
}

.nebeus-slide-panel--user-verify {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: #fff;
}

.nebeus-form__user-verify {
  padding-top: 1.7rem;
}

.nebeus-slide-panel--user-verify .nebeus-slide-panel__row {
  border-bottom: 0;
}

.nebeus-form__user-verify {
  .form-control {
    border: 1px solid $gray-700;
  }

  label {
    font-weight: 700;
    color: #364364;
    margin-bottom: .36rem;
    display: block;
  }

  padding-top: 1.7rem;
}

.form-group__action--toggle {
  .btn {
    margin-bottom: 1.6rem;
  }

  &:not(.active) > :last-child {
    display: none;
  }
}

.nebeus-slide-panel--user-verify .nebeus-slide-panel__row:last-child {
  margin-top: 0;
}

.verify-indicator__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verify-indicator {
  padding-bottom: 2.4rem;

  &:last-child {
    padding-bottom: 1.2rem;
  }
}

.verify-indicator__icon {
  width: 1.86rem;
  height: 1.86rem;
  max-width: 1.86rem;
  flex: 0 0 1.86rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &--rejected,
  &--overdue {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%23F35C3C'/%3e%3cpath d='M13.6189 16.5733L13.0645 10.9223V8.30946H15.3734V10.9223L14.8266 16.5733H13.6189ZM13.1556 19.4444V17.3101H15.2899V19.4444H13.1556Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--verified,
  &--complete {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%2300C084'/%3e%3cpath d='M20.3066 9.00033C20.1068 9.00629 19.917 9.08983 19.7777 9.23326L11.8582 17.1528L9.32455 14.6191C9.25365 14.5453 9.16873 14.4863 9.07477 14.4457C8.9808 14.4051 8.87968 14.3836 8.77731 14.3826C8.67495 14.3816 8.57341 14.4009 8.47864 14.4396C8.38386 14.4783 8.29776 14.5355 8.22538 14.6079C8.15299 14.6803 8.09578 14.7664 8.05708 14.8612C8.01839 14.956 7.999 15.0575 8.00004 15.1599C8.00108 15.2622 8.02254 15.3634 8.06315 15.4573C8.10376 15.5513 8.16272 15.6362 8.23656 15.7071L11.3142 18.7847C11.4585 18.929 11.6542 19.01 11.8582 19.01C12.0622 19.01 12.2579 18.929 12.4022 18.7847L20.8657 10.3213C20.9768 10.2132 21.0528 10.074 21.0835 9.92206C21.1143 9.77009 21.0984 9.61238 21.038 9.46958C20.9775 9.32679 20.8754 9.20559 20.7449 9.12185C20.6144 9.03812 20.4616 8.99576 20.3066 9.00033Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--pending,
  &--partially {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%23FF9D03'/%3e%3cpath d='M10.8188 7.09091L14.2734 4.5V9.68182L10.8188 7.09091Z' fill='white'/%3e%3cpath d='M19.4116 19.833C20.6525 18.7404 21.5127 17.2807 21.8672 15.6658C22.2217 14.0509 22.052 12.365 21.3828 10.8531C20.7136 9.34127 19.5797 8.08219 18.1459 7.25884C16.7122 6.43549 15.0532 6.09078 13.4102 6.27478V8.01501C14.6814 7.83143 15.9781 8.05753 17.1122 8.66052C18.2463 9.26351 19.1589 10.212 19.7177 11.3686C20.2764 12.5252 20.4523 13.8296 20.2197 15.0928C19.9872 16.3561 19.3584 17.5124 18.4244 18.3942C18.0911 18.7094 18.1152 19.2008 18.3122 19.5636C18.5324 19.9418 19.0532 20.1474 19.4116 19.8313V19.833ZM17.7283 20.9091L14.2738 23.5V18.3182L17.7283 20.9091Z' fill='white'/%3e%3cpath d='M9.13637 8.167C7.89546 9.25956 7.03526 10.7194 6.68077 12.3342C6.32628 13.9491 6.49596 15.635 7.16517 17.1469C7.83438 18.6587 8.96824 19.9178 10.402 20.7412C11.8358 21.5645 13.4947 21.9092 15.1378 21.7252V19.985C13.8663 20.1688 12.5694 19.9429 11.435 19.3399C10.3007 18.7368 9.38789 17.7882 8.82909 16.6314C8.27029 15.4746 8.09451 14.1699 8.32726 12.9065C8.56001 11.6431 9.18917 10.4867 10.1235 9.60495C10.4569 9.28973 10.4327 8.79918 10.2358 8.43559C10.0156 8.05732 9.49478 7.85177 9.13637 8.16786V8.167Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--not_verified {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.41553 8.23145H3.54785C3.54297 7.96289 3.54053 7.79932 3.54053 7.74072C3.54053 7.13525 3.64062 6.63721 3.84082 6.24658C4.04102 5.85596 4.44141 5.4165 5.04199 4.92822C5.64258 4.43994 6.00146 4.12012 6.11865 3.96875C6.29932 3.72949 6.38965 3.46582 6.38965 3.17773C6.38965 2.77734 6.22852 2.43555 5.90625 2.15234C5.58887 1.86426 5.15918 1.72021 4.61719 1.72021C4.09473 1.72021 3.65771 1.86914 3.30615 2.16699C2.95459 2.46484 2.71289 2.91895 2.58105 3.5293L0.691406 3.29492C0.745117 2.4209 1.11621 1.67871 1.80469 1.06836C2.49805 0.458008 3.40625 0.152832 4.5293 0.152832C5.71094 0.152832 6.65088 0.462891 7.34912 1.08301C8.04736 1.69824 8.39648 2.41602 8.39648 3.23633C8.39648 3.69043 8.26709 4.12012 8.0083 4.52539C7.75439 4.93066 7.20752 5.48242 6.36768 6.18066C5.93311 6.54199 5.66211 6.83252 5.55469 7.05225C5.45215 7.27197 5.40576 7.66504 5.41553 8.23145ZM3.54785 11V8.94189H5.60596V11H3.54785Z' fill='black'/%3e%3c/svg%3e ");
    height: .93rem;
  }
}

.nebeus-slide-panel__row--description > {
  p {
    margin-bottom: 3rem;
  }

  .btn {
    margin-bottom: 2.6rem;
  }
}

.verify-docs {
  a {
    text-decoration: underline;
    color: #1D9EF9;
    font-weight: 400;
  }

  max-width: 12rem;
}

.nebeus-slide-panel__item .nebeus-row__heading .btn--close {
  right: 2rem;
  top: 0;
}

.nebeus-slide-panel--user-operation .nebeus-row__heading {
  position: relative;
  background: #fff;
}

.nebeus-row__user--operation {
  padding: 0 1rem;
}

.operation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.operation-list__item {
  margin: 0;
  padding: .8rem;
  width: 100%;
}

.operation-list__item-inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.8rem;
  margin-left: -.8rem;

  > div {
    width: 100%;
    padding: 0 1rem;
  }
}

.oreration-item__name {
  font-size: 1.1rem;
  color: #364364;
  line-height: 1.2;
  max-width: 45%;
  flex: 0 0 45%;
}

.operation-list__item-inner .operation-item__action {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.operation-item__action {
  max-width: 50%;
  flex: 0 0 50%;
}

.operation-item__action-item {
  position: relative;
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.operation-item__action .btn {
  width: 100%;
  padding: .6rem;
  max-width: 100%;
  min-width: unset;
  font-size: 1rem;
  line-height: 1.2;
  box-shadow: unset !important;
}

.operation-item__action-item:first-child:not(:last-child) {
  margin-right: .5rem;
}

/*------------//-------------*/

@media screen and (max-width: 360px) {
  .nebeus-slide-panel__row {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nebeus-slide-panel--right {
    max-width: 19.5rem;
  }
}
