.admin-bar .nebeus-slide-panel--left .nebeus-slide-panel__inner {
  padding-top: 13.8rem;
}

.nebeus-slide-panel--left {
  background-color: #3867D6;
  left: 0;
  width: 100%;
  max-width: 14.6rem;
  transform: translateX(calc(-100% + 4.1rem));
  cursor: pointer;

  .nebeus-slide-panel__inner {
    padding: 11.7rem 0 2rem;
  }
  &:not(.active) {
    a {
      background-position: calc(100% - 1.3rem) 50%;
      font-size: 0;
    }
  }
}



