.nebeus-slide-panel {
  &--payment {
    left: 0;
    right: 0;
    padding-top: 4rem;
    transform: translateX(120%);
    .admin-bar & {
      padding-top: 6.13rem;
    }
    &.success {
      .payment {
        &-forms-content {
          display: none;
        }
        &-respons {
          display: block;
        }
      }
    }
    &.active-sen-to-card {
      .payment-forms-content {
        display: none;
        &--send-to-card {
          display: block;
        }
      }
    }
  }
  &--payment &__inner {
    background: $white;
    box-shadow: 0px 3px 24px rgba(17, 56, 86, 0.16);
  }

  &__content {
    max-width: 68.4rem;
    padding: 2.9rem 1rem 3rem;
    margin: 0 auto;
  }
  & .payment {
    &-nav .btn {
      color: $gray-400;
      padding: 0;
      &:focus {
        box-shadow: none;
      }
    }
    &-toolbar {
      &__list {
        padding-bottom: 3.2rem;
      }
      &__item {
        padding: 1.2rem 0;
        border-bottom: 1px solid $gray-300;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        .btn-icon {
          min-width: 10rem;
          text-align: right;
          @include media-breakpoint-down(sm) {
            margin-top: -4rem;
            svg {
              width: 90%;
            }
          }
        }
      }
      @include media-breakpoint-down(sm) {
        .currency-info .nebeus-heading-3 {
          font-size: 2.13rem;
        }
      }
    }
    &-forms-content {
      &--send-to-card {
        display: none;
      }
    }
  }
  .payment-respons {
    padding: 5.4rem 0 2.4rem 3.86rem;
    position: relative;
    line-height: 1.8;
    &__heading {
      font-size: 2rem;
      font-weight: 700;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 2rem;
      &-text {
        max-width: 45rem;
        margin-left: -3.86rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        display: flex;
        & .verify-indicator__icon {
          margin-top: .8rem;
          margin-right: 2rem;
        }
      }
      &--invalid {
        display: none;
      }
    }
    &.invalid {
      .payment-respons {
        &__heading {
          &--succses {
            display: none;
          }
          &--invalid {
            display: flex;
          }
        }
      }
    }
    &__body {
      padding-bottom: 4.8rem;
    }
    &__field {
      font-size: 2rem;
      font-weight: 700;
      color: $gray-400;
      padding-bottom: 1.5rem;
      padding-right: 1rem;
    }
    &__footer {
      max-width: 43rem;
      padding-right: 1rem;
    }
    a:not(.btn):not(.btn--text) {
      color: $blue-ligth;
      text-decoration: underline;
      :hover {
        color: darken($blue-ligth, 3%);
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 2.4rem 0 2.4rem 3.86rem;
    }
  }
  .currency-min-withdrawal {
    max-width: 33rem;
  }
  &.activeScaner {
    z-index: 25;
  }
}
