.swaiper-nav {
  &-wrap {
    position: relative;
    padding-right: 9rem;
    margin-bottom: 1.6rem;
    .swaiper-nav {
      .slick-track {
        display: flex;
        .slick-slide {
          display: flex;
          height: auto;
          & > div {
            width: 100%;
          }
        }
      }
    }
    &--not-loop {
      padding-right: 0;
      .slick-slide:last-child .swaiper-nav__item {
        padding-right: 0;
      }
    }
    @include media-breakpoint-down(lg) {
      padding-right: 4rem;
    }
    @include media-breakpoint-down(sm) {
      &,
      &--not-loop {
        padding-left: 1rem;
      }
    }
  }

  &__item {
    height: 100%;
    position: relative;
    padding-right: 2rem;
    &-inner {
      background: $white;
      padding: 1rem 1.6rem;
      height: 100%;
    }
    .swaiper-nav__item-icon {
      display: block;
      width: 1.86rem;
      height: 1.86rem;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin-bottom: 1.73rem;
      &--loans {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='28' viewBox='0 0 14 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.6936 10.2882L7.5686 15.5382C7.24135 15.82 6.7566 15.82 6.4311 15.5382L0.306097 10.2882C0.0278472 10.0503 -0.0736529 9.66525 0.0540971 9.3205C0.181847 8.9775 0.509097 8.75 0.874847 8.75H3.49985V0.875C3.49985 0.39025 3.89185 0 4.37485 0H9.62485C10.1078 0 10.4998 0.39025 10.4998 0.875V8.75H13.1248C13.4906 8.75 13.8178 8.9775 13.9456 9.32225C14.0733 9.66525 13.9718 10.0503 13.6936 10.2882Z' fill='%236495D5'/%3e%3cpath d='M7 28C9.8995 28 12.25 25.6495 12.25 22.75C12.25 19.8505 9.8995 17.5 7 17.5C4.10051 17.5 1.75 19.8505 1.75 22.75C1.75 25.6495 4.10051 28 7 28Z' fill='%23CE525A'/%3e%3c/svg%3e ");
      }
      &--savings-accounts {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.1875 13.0322L23.7493 21.5985C26.082 19.516 27.5625 16.499 27.5625 13.125C27.5625 6.8425 22.47 1.75 16.1875 1.75V13.0322Z' fill='%236495D5'/%3e%3cpath d='M14.4375 13.6937V0C6.71825 0 0.4375 6.28075 0.4375 14C0.4375 21.7192 6.71825 28 14.4375 28C17.948 28 21.252 26.698 23.8368 24.3425L14.4375 13.6937Z' fill='%23455EB4'/%3e%3c/svg%3e ");
      }
      &--exchange {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.6245 17.1458H0.47168L0.47168 19.4242H23.6525L21.596 21.4807L23.207 23.0918L27.9998 18.299L23.207 13.5062L21.596 15.1173L23.6245 17.1458Z' fill='%2378535B'/%3e%3cpath d='M4.79278 0.907793L0 5.70057L4.79278 10.4934L6.40385 8.88228L4.36136 6.83978L27.5281 6.83978V4.56136L4.36136 4.56136L6.40385 2.51892L4.79278 0.907793Z' fill='%2378535B'/%3e%3c/svg%3e ");
      }
      &--cold-storage {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='28' viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.9999 0C9.03712 3.115 4.72337 3.59931 2.32587 3.59931C1.24306 3.59931 0.552246 3.50044 0.552246 3.50044C0.552246 3.50044 0.552246 8.53169 0.552246 15.7504C0.552246 22.9692 11.9999 28 11.9999 28C11.9999 28 23.4475 22.9688 23.4475 15.75C23.4475 8.53125 23.4475 3.5 23.4475 3.5C23.4475 3.5 22.7567 3.59888 21.6739 3.59888C19.2764 3.59931 14.9644 3.115 11.9999 0Z' fill='%23E63A3A'/%3e%3cpath d='M12.0331 11.4984C8.36073 11.4984 6.89729 8.44686 6.83691 8.31736L7.43148 8.03955C7.48529 8.15418 8.78772 10.8422 12.0331 10.8422C15.2898 10.8422 16.5853 8.09993 16.5984 8.07236L17.1947 8.3458C17.1357 8.47399 15.7063 11.4984 12.0331 11.4984Z' fill='white'/%3e%3cpath d='M12.0414 21.1388C7.91402 21.1388 4.55664 17.781 4.55664 13.6545C4.55664 9.52798 7.91445 6.17017 12.0414 6.17017C16.1683 6.17017 19.5257 9.52798 19.5257 13.6545C19.5257 17.781 16.1683 21.1388 12.0414 21.1388ZM12.0414 6.82598C8.27627 6.82598 5.21289 9.88891 5.21289 13.654C5.21289 17.4192 8.27627 20.4821 12.0414 20.4821C15.8065 20.4821 18.8695 17.4192 18.8695 13.654C18.8695 9.88891 15.807 6.82598 12.0414 6.82598Z' fill='white'/%3e%3cpath d='M12.3696 6.4436H11.7134V20.4961H12.3696V6.4436Z' fill='white'/%3e%3cpath d='M19.1908 13.3259H5.03027V13.9822H19.1908V13.3259Z' fill='white'/%3e%3cpath d='M7.43148 18.8309L6.83691 18.5531C6.89729 18.4232 8.36073 15.3721 12.0331 15.3721C15.7063 15.3721 17.1357 18.3961 17.1947 18.5247L16.5988 18.799C16.5463 18.6857 15.2772 16.0283 12.0331 16.0283C8.78772 16.0288 7.48529 18.7168 7.43148 18.8309Z' fill='white'/%3e%3cpath d='M11.6686 20.9467C11.5295 20.8194 8.26709 17.7858 8.26709 13.654C8.26709 9.51615 11.6039 6.59496 11.7461 6.4729L12.1744 6.97034C12.1416 6.9979 8.9229 9.82284 8.9229 13.654C8.9229 17.4918 12.0795 20.4331 12.1114 20.4624L11.6686 20.9467Z' fill='white'/%3e%3cpath d='M12.4149 20.9468L11.9717 20.4629C12.0036 20.4336 15.1602 17.4923 15.1602 13.6545C15.1602 9.82289 11.9419 6.99839 11.9087 6.97083L12.337 6.47339C12.4792 6.59545 15.816 9.51664 15.816 13.6545C15.8164 17.7863 12.554 20.8195 12.4149 20.9468Z' fill='white'/%3e%3c/svg%3e ");
      }
      &--send-to-card {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='21' viewBox='0 0 28 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.9989 3.64485L24.5981 6.30565L27.9989 9.11212V17.313C27.9989 18.8257 26.7538 20.0467 25.2114 20.0467H2.7875C1.24502 20.0467 0 18.8257 0 17.313V9.11212L1.74683 7.10752L0 3.64485V2.73364C0 1.22096 1.24502 0 2.7875 0H25.2114C26.7538 0 27.9989 1.22096 27.9989 2.73364V3.64485Z' fill='%2310BB67'/%3e%3cpath d='M0 3.64478V9.11205H27.9989V3.64478H0Z' fill='%23095C92'/%3e%3cpath d='M10.2201 16.4018C8.68303 16.4018 7.43262 15.1756 7.43262 13.6682C7.43262 12.1608 8.68303 10.9346 10.2201 10.9346C11.7572 10.9346 13.0076 12.1608 13.0076 13.6682C13.0076 15.1756 11.7572 16.4018 10.2201 16.4018Z' fill='%23FE9923'/%3e%3cpath d='M28.0004 3.64485L24.5996 6.30565L28.0004 9.11212V17.313C28.0004 18.8257 26.7554 20.0467 25.2129 20.0467H14.001V0H25.2129C26.7554 0 28.0004 1.22096 28.0004 2.73364V3.64485Z' fill='%2310BB67'/%3e%3cpath d='M28.0004 3.64478H14.001V9.11205H28.0004V3.64478Z' fill='%23095C92'/%3e%3cpath d='M6.50381 16.4018C4.96672 16.4018 3.71631 15.1756 3.71631 13.6682C3.71631 12.1608 4.96672 10.9346 6.50381 10.9346C8.0409 10.9346 9.29131 12.1608 9.29131 13.6682C9.29131 15.1756 8.0409 16.4018 6.50381 16.4018Z' fill='%23FD3018'/%3e%3c/svg%3e ");
      }
      &--top-up-with-card {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='23' viewBox='0 0 28 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.9989 3.64485L24.5981 6.30565L27.9989 9.11212V17.313C27.9989 18.8257 26.7538 20.0467 25.2114 20.0467H2.7875C1.24502 20.0467 0 18.8257 0 17.313V9.11212L1.74683 7.10752L0 3.64485V2.73364C0 1.22096 1.24502 0 2.7875 0H25.2114C26.7538 0 27.9989 1.22096 27.9989 2.73364V3.64485Z' fill='%23CDD7D7'/%3e%3cpath d='M0 3.64478V9.11205H27.9989V3.64478H0Z' fill='%235A5A6E'/%3e%3cpath d='M10.2201 16.4018C8.68303 16.4018 7.43262 15.1756 7.43262 13.6682C7.43262 12.1608 8.68303 10.9346 10.2201 10.9346C11.7572 10.9346 13.0076 12.1608 13.0076 13.6682C13.0076 15.1756 11.7572 16.4018 10.2201 16.4018Z' fill='%23FEDC00'/%3e%3cpath d='M28.0004 3.64485L24.5996 6.30565L28.0004 9.11212V17.313C28.0004 18.8257 26.7554 20.0467 25.2129 20.0467H14.001V0H25.2129C26.7554 0 28.0004 1.22096 28.0004 2.73364V3.64485Z' fill='%23CDD7D7'/%3e%3cpath d='M28.0004 3.64478H14.001V9.11205H28.0004V3.64478Z' fill='%2346465A'/%3e%3cpath d='M6.50381 16.4018C4.96672 16.4018 3.71631 15.1756 3.71631 13.6682C3.71631 12.1608 4.96672 10.9346 6.50381 10.9346C8.0409 10.9346 9.29131 12.1608 9.29131 13.6682C9.29131 15.1756 8.0409 16.4018 6.50381 16.4018Z' fill='%23FF5036'/%3e%3cpath d='M21.8367 22.3401C18.6183 22.3401 16 19.7218 16 16.5034C16 13.285 18.6183 10.6667 21.8367 10.6667C25.055 10.6667 27.6733 13.285 27.6733 16.5034C27.6733 19.7218 25.055 22.3401 21.8367 22.3401Z' fill='%23E62300'/%3e%3cpath d='M24.17 15.8029H22.5358V14.1687C22.5358 13.7818 22.2222 13.4683 21.8354 13.4683C21.4485 13.4683 21.135 13.7818 21.135 14.1687V15.8029H19.5007C19.1138 15.8029 18.8003 16.1165 18.8003 16.5033C18.8003 16.8902 19.1138 17.2037 19.5007 17.2037H21.135V18.838C21.135 19.2249 21.4485 19.5384 21.8354 19.5384C22.2222 19.5384 22.5358 19.2249 22.5358 18.838V17.2037H24.17C24.5569 17.2037 24.8704 16.8902 24.8704 16.5033C24.8704 16.1165 24.5569 15.8029 24.17 15.8029Z' fill='%23CDD7D7'/%3e%3c/svg%3e ");
      }
    }
    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__btn {
    position: absolute;
    width: 3.33rem;
    height: 3.33rem;
    background: $white url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='17' viewBox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.04976 15.6701L10.1998 9.74008V9.68008C10.4211 9.50673 10.6056 9.29088 10.7424 9.04521C10.8792 8.79955 10.9655 8.52903 10.9962 8.24954C11.027 7.97006 11.0015 7.68724 10.9214 7.41772C10.8413 7.1482 10.7082 6.89741 10.5298 6.68008C10.43 6.5603 10.3195 6.44985 10.1998 6.35008V6.29008L4.04976 0.390082C3.80487 0.159443 3.48116 0.0310059 3.14476 0.0310059C2.80836 0.0310059 2.48465 0.159443 2.23976 0.390082L1.33976 1.26008C1.21914 1.36945 1.12204 1.50222 1.05436 1.65031C0.986689 1.7984 0.94986 1.95871 0.946118 2.12149C0.942376 2.28427 0.971799 2.44611 1.0326 2.59715C1.09339 2.7482 1.18429 2.88529 1.29976 3.00008L4.59976 6.18008C6.19976 7.63008 6.67976 8.11008 4.59976 9.88008L1.29976 13.0601C1.07625 13.2865 0.950924 13.5919 0.950924 13.9101C0.950924 14.2283 1.07625 14.5336 1.29976 14.7601L2.19976 15.6301C2.44131 15.878 2.77056 16.021 3.11658 16.0285C3.4626 16.036 3.79772 15.9073 4.04976 15.6701Z' fill='%2306C98C'/%3e%3c/svg%3e ") 50%  no-repeat;
    top: 50%;
    transform: translateY(-50%);
    z-index: 13;
    border-radius: 50%;
    padding: 0;
    min-width: auto;
    min-height: auto;
    &--disabled {
      display: none;
    }
    &-next {
      right: 0;
      @include media-breakpoint-down(sm) {
        right: 1rem;
      }
    }
    &-prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
