<template>
  <div class="nebeus-row__heading nebeus-row__heading--withdrawal">
    <button class="btn btn--close" @click="updateActivePanel(null)" />
    <span v-text="$t(title)" />
    <div class="icon" v-if="nameIcon">
        <span>
          <main-icon :name="nameIcon" />
        </span>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'ColdPanelTolbar',
  components: { MainIcon },
  props: {
    title: {
      type: String,
      required: true,
    },
    nameIcon: {
      type: [Boolean, String],
      default: 'codFormIcon',
    },
  },
  methods: mapMutations(['updateActivePanel']),
};
</script>
