<template>
  <div class="nebeus-slide-panel--cold-paymant
       nebeus-slide-panel--right-content">
    <cold-panel-tolbar title="Withdrawal"/>
    <cold-withdraw-form />
  </div>
</template>

<script>
import ColdPanelTolbar from './ColdPanelTolbar.vue';
import ColdWithdrawForm from '../../forms/ColdWithdrawForm.vue';

export default {
  name: 'ColdWithdraw',
  components: { ColdWithdrawForm, ColdPanelTolbar },
};
</script>
