<template>
  <div class="nebeus-slide-panel--cold-paymant
       nebeus-slide-panel--right-content">
    <cold-panel-tolbar title="Deposit"/>
    <cold-send-form />
  </div>
</template>

<script>
import ColdPanelTolbar from './ColdPanelTolbar.vue';
import ColdSendForm from '../../forms/ColdSendForm.vue';

export default {
  name: 'ColdSend',
  components: { ColdSendForm, ColdPanelTolbar },
};
</script>
