<template>
  <div class="nebeus-slide-panel__item
       nebeus-slide-panel--dashboard-setting nebeus-slide-panel--right-content" v-if="dashboardData && fiatCurrencies">
    <div class="nebeus-slide-panel__row pl-0 pr-0">
      <h5 class="nebeus-row__heading" v-text="$t('Dashboard Setting')" />
    </div>
    <div class="nebeus-slide-panel__row">
      <div class="dashbord-seting-item">
        <div class="dashbord-seting-heading">
          <main-icon name="meuList"/>
          <span v-text="$t('Section')"/>
        </div>
        <ul class="dashbord-filter-list">
          <template>
            <li class="nebeus-action__nav-item dashbord-filter-item text-capitalize"
                v-for="({name, status}, key) in filterSection"
                :key="name"
                @click="changeFilter(key)"
                :class="{active: status}"
                v-text="$t(name)" />
          </template>
        </ul>
      </div>
      <div class="dashbord-seting-item">
        <div class="dashbord-seting-heading">
          <main-icon name="meuListCheck"/>
          <span v-text="$t('Currency')"/>
        </div>
        <ul class="dashbord-filter-list">
          <li class="nebeus-action__nav-item dashbord-filter-item text-capitalize"
              v-for="({code, status, name}, key) in filterCurrency"
              :key="code"
              @click="changeFilter(key, 'filterCurrency')"
              :class="{active: status}">
            {{name}} ({{code}})
          </li>
        </ul>

        <button class="btn btn--hover-grey btn--full" v-text="$t('Reset settings')"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'DashboardSetting',
  components: { MainIcon },
  data: () => ({
    activeDefaultCurr: ['EUR', 'GBP', 'USD'],
    activeFilterSectin: [],
    filterSection: null,
    filterCurrency: null,
    activeFilterCurr: [],
  }),
  computed: {
    ...mapState({
      dashboardData: ({ dashboardPage }) => (dashboardPage.data ? dashboardPage.data : null),
      fiatCurrencies: ({ slidePanel }) => (slidePanel.data ? slidePanel.data.currencies.fiat_currencies : null),
      defaultCurr: ({ dashboardPage }) => dashboardPage.defaultCurr,
    }),
  },
  methods: {
    ...mapMutations(['setDefaultFilterDashbord']),
    formatingFilterData() {
      this.filterSection = Object.keys(this.dashboardData).map((el) => ({
        type: el,
        name: (el.replace('_', ' ')),
        status: true,
      }));
    },
    formatingCurrData() {
      this.filterCurrency = Object.keys(this.dashboardData.fiat_currencies).map((key) => ({
        code: key,
        name: this.fiatCurrencies[key],
        status: this.activeDefaultCurr.includes(key),
      })).sort((a) => (a.status ? -1 : 0));
    },
    setActiveFilterSection() {
      this.activeFilterSectin = this.filterSection.filter((el) => el.status).map(({ type }) => type);
    },
    setActiveFilterCurr() {
      this.activeFilterCurr = this.filterCurrency.filter((el) => el.status).map(({ code }) => code);
    },
    updateDashbordTable() {
      console.log(this.activeFilterSectin, this.activeFilterCurr);
    },
    changeFilter(key, filter = 'filterSection') {
      this[filter][key].status = !this[filter][key].status;
      if (filter === 'filterSection') {
        this.setActiveFilterSection();
      } else {
        this.setActiveFilterCurr();
      }
      this.updateDashbordTable();
    },
  },
  mounted() {
    this.formatingFilterData();
    this.formatingCurrData();
    this.setActiveFilterSection();
    this.setActiveFilterCurr();
  },
};
</script>
