<template>
  <div class="nebeus-slide-panel--right-content">
    <div class="nebeus-row__heading nebeus-row__heading--withdrawal">
      <button class="btn btn--close" @click="updateActivePanel(null)" />
      <span v-text="$t('Exchange')" />
      <div class="icon">
        <span class="nbapi-icon">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.7273 0L17.4545 7.27273H21.8182V16.7273H11.6364V22.5455H23.2727C25.6818 22.5455 27.6364 20.5909 27.6364 18.1818V7.27273H32L24.7273 0ZM8.72727 9.45455C6.31818 9.45455 4.36364 11.4091 4.36364 13.8182V24.7273H0L7.27273 32L14.5455 24.7273H10.1818V15.2727H20.3636V9.45455H8.72727Z"
                  fill="#6A7287"/>
          </svg>
       </span>
      </div>
    </div>
    <div class="nebeus-slide-panel__row mt-0">
      <exchange-form />
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import ExchangeForm from '../../forms/ExchangeForm.vue';

export default {
  name: 'ExchangePanel',
  components: { ExchangeForm },
  methods: mapMutations(['updateActivePanel']),
};
</script>
