<template>
  <div id="operation-user"
       class="nebeus-slide-panel__item nebeus-slide-panel--user-operation
       nebeus-slide-panel--right-content">
    <div class="nebeus-slide-panel__row pl-0 pr-0">
      <div class="nebeus-row__heading">
        <button class="btn btn--close" @click="updateActivePanel(null)" />
        <span v-text="$t('Operations')"/>
      </div>
    </div>

    <div class="nebeus-slide-panel__row nebeus-row__user--operation mt-3">
      <ul class="operation-list">
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name text-uppercase">
              EUR
            </div>
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn btn- operation-add btn--grey btn--lg" v-text="$t('Add')" />
              </div>
              <div class="operation-item__action-item">
                <button class="btn operation-send btn--grey btn--lg btn--lg" v-text="$t('Send')" />
              </div>
            </div>
          </div>
        </li>
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name text-uppercase">
              BTC
            </div>
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn btn- operation-add btn--grey btn--lg" v-text="$t('Add')" />
              </div>
              <div class="operation-item__action-item">
                <button class="btn operation-send btn--grey btn--lg" v-text="$t('Send')" />
              </div>
            </div>
          </div>
        </li>
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name text-uppercase">
              ETH
            </div>
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn btn- operation-add btn--grey btn--lg" v-text="$t('Add')" />
              </div>
              <div class="operation-item__action-item">
                <button class="btn operation-send btn--grey btn--lg" v-text="$t('Send')" />
              </div>
            </div>
          </div>
        </li>
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name text-uppercase">
              NBT
            </div>
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn btn- operation-add btn--grey btn--lg" v-text="$t('Add')" />
              </div>
              <div class="operation-item__action-item">
                <button class="btn operation-send btn--grey btn--lg" v-text="$t('Send')" />
              </div>
            </div>
          </div>
        </li>
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name" v-text="$t('Exchange')" />
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn operation-send btn-submit btn--lg" v-text="$t('Send')" />
              </div>
            </div>
          </div>
        </li>
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name"  v-text="$t('Send to User')" />
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn operation-send btn-submit btn--lg" v-text="$t('Send')"/>
              </div>
            </div>
          </div>
        </li>
        <li class="operation-list__item">
          <div class="operation-list__item-inner">
            <div class="oreration-item__name" v-text="$t('Send to Card')" />
            <div class="operation-item__action">
              <div class="operation-item__action-item">
                <button class="btn operation-send btn-submit btn--lg" v-text="$t('Send')" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'Operation',
  methods: mapMutations(['updateActivePanel']),
};
</script>
