<template>
  <div class="nebeus-slide-panel__item nebeus-slide-panel--transaction-details nebeus-slide-panel--right-content">
    <div class="nebeus-slide-panel__row mt-0 pl-0 pr-0">
      <h5 class="nebeus-row__heading" v-text="$t('Transaction  Details')" />
    </div>

    <div v-if="data" >
      <div class="nebeus-slide-panel__row nebeus-row__user--balanse">
        <span v-text="$t('Amount')" />
        <span class="nebeus-user-balanse"> {{ operationAmount }} {{data.CurrencyCode}}</span>
      </div>

      <div class="nebeus-slide-panel__row nebeus-row__transaction--data pb-2 pt-2">
        <div class="transaction__item user-info__row ">
          <div class="nebeus-row__user--data-heading" v-text="$t('Hash')" />
          <div ref="copyHash" class="pb-2" v-text="data.hash" />
          <button class="btn-icon"  @click="copyText($refs.copyHash)">
           <span class="nebeus-icon nebeus-icon--copy">
              <main-icon name="copy"/>
           </span>
          </button>
        </div>
        <div class="transaction__item user-info__row">
          <div class="nebeus-row__user--data-heading" v-text="$t('Time')"/>
          <div v-text="operationDate" />
        </div>
        <div class="transaction__item user-info__row" v-if="data.confirmations">
          <div class="nebeus-row__user--data-heading" v-text="$t('Confirmations')" />
          <div v-text="data.confirmations" />
        </div>
        <div class="transaction__item user-info__row " v-if="data.payerAddress">
          <div class="nebeus-row__user--data-heading"
               v-text="$t('Recipient / Payer Address')" />
          <div  ref="copyAdress" class="pb-2" v-text="data.payerAddress" />
          <button class="btn-icon" @click="copyText($refs.copyAdress)">
           <span class="nebeus-icon nebeus-icon--copy">
             <main-icon name="copy"/>
           </span>
          </button>
        </div>
      </div>
      <div class="nebeus-slide-panel__row nebeus-row__transaction--data nebeus-row__user--balanse mt-4">
        <div class="nebeus-row__user--data-heading" v-text="$t('Status')"/>
        <div class="text-capitalize" :class="`text-${status}`"
             v-text="status"
        />
      </div>
    </div>
    <div v-if="error" class="box-error">
      {{error}}
      <span class="close" @click="setTransactionDetails({error: null})"/>
    </div>
    <spinner v-if="load"/>

  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import mixin from '@/mixin';
import moment from 'moment';
import numberFormat from '../../../helpers/numberFormat';
import Spinner from '../../spinner/Spinner.vue';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'TransactionDetails',
  components: { MainIcon, Spinner },
  mixins: [mixin],
  computed: {
    ...mapState({
      data: ({ transactionDetails }) => transactionDetails.data,
      load: ({ transactionDetails }) => transactionDetails.load,
      error: ({ transactionDetails }) => transactionDetails.error,
      operationDate: ({ transactionDetails }) => moment(transactionDetails.data.OperationDate).format('YYYY-MM-DD HH:MM'),
    }),
    operationAmount() {
      return numberFormat(this.data.OperationAmount, 6);
    },
    status() {
      let limit;
      switch (this.data.CurrencyCode) {
        case 'BTC':
          limit = 6;
          break;
        case 'ETH':
          limit = 30;
          break;
        default:
          break;
      }

      return this.data.confirmations >= limit ? 'confirmed' : 'in processing';
    },
  },
  methods: mapMutations(['setTransactionDetails']),
};
</script>
