<template>
  <div v-if="dataPanel"
       class="nebeus-slide-panel__item
       nebeus-slide-panel--user-verify
       nebeus-slide-panel--right-content">
    <div class="nebeus-slide-panel--user-verify__inner hidden-scrollbar-y">

      <div class="nebeus-slide-panel__row pl-0 pr-0">
        <h5 class="nebeus-row__heading" v-text="$t('Get verified')"/>
      </div>
      <div class="nebeus-slide-panel__row nebeus-row__user--verify">
        <form @submit.prevent="submitVerify"
          id="user-verify-phone" class="nebeus-form nebeus-form__user-verify">
          <div class="form-group">
          <label for="verify-phone" v-text="$t('Phone number')" />
            <the-mask mask="+##(###)-##-##-###"
                      id="verify-phone"
                      required
                      name="verify_phone"
                      class="form-control"
                      type="text"
                      @input="verifyPhone.error = null"
                      :disabled="dataPanel.isVerifyPhone || verifyPhone.status"
                      v-model="verifyPhone.text" />
            <div class="error-msg error-msg--verify_phone"
                 :class="{'d-block': verifyPhone.error}"
                 v-text="$t(verifyPhone.error)" />
          </div>
          <div class="form-group__action">
            <button v-if="!dataPanel.isVerifyPhone && !verifyPhone.status"
                    type="submit" class="btn btn--text btn--grey-black btn-icon">
              <span class="nebeus-icon nebeus-icon--plus mr-3">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 0H8V13H5V0Z" fill="#6A7287"/>
                    <path d="M0 8V5H13V8H0Z" fill="#6A7287"/>
                </svg>
              </span>
              <span v-text="$t('Get Pin code')" />
            </button>
            <div class="error-msg error-msg--invalid-send"></div>
          </div>
        </form>
        <transition name="fade">
          <form id="user-verify-pin"
                @submit.prevent="submitCode"
                v-if="getPin.status"
                class="nebeus-form nebeus-form__user-verify">
            <div class="form-group">
              <the-mask mask="##-##"
                        id="verify-pin"
                        @input="getPin.error = null"
                        v-model="getPin.text"
                        class="form-control"/>
              <div class="error-msg error-msg--verify_pin" v-text="$t(getPin.error)" />
            </div>
            <div class="nebeus-form__action">
              <button type="submit"
                      class="btn btn-submit"
                      :class="{loaded: loadingPin}"
                      :disabled="loadingPin"
                      v-text="$t('Confirm')" />
            </div>
            <div class="error-msg error-msg--invalid-send"
                 :class="{'d-block': getPin.error}"
                 v-text="$t(getPin.error)" />
          </form>
        </transition>
        <div id="user-verify__success" class="user-verify__success"
            v-if="dataPanel.isVerifyPhone || verifyPhone.status">
          <p class="btn btn--text btn--grey-black text-left font-weight-normal"
             v-text="$t('To change the phone number, please contact Support.')" />
        </div>
      </div>

      <div class="nebeus-slide-panel__row nebeus-slide-panel__row--verify-indicator">

        <div class="verify-indicator verify-indicator--phone">
          <div class="verify-indicator__inner">
            <div class="verify-indicator__label"
                 v-text="$t('Phone number')" />
            <div class="verify-indicator__icon"
                 :class="`verify-indicator__icon--${dataPanel.userVerifies.phone}`"/>
          </div>
        </div>

        <div class="verify-indicator verify-indicator--identity">
          <div class="verify-indicator__inner">
            <div class="verify-indicator__label" v-text="$t('Identity')" />
            <div class="verify-indicator__icon"
                :class="`verify-indicator__icon--${dataPanel.userVerifies.identity}`"/>
          </div>
        </div>

        <div class="verify-indicator verify-indicator--address">
          <div class="verify-indicator__inner">
            <div class="verify-indicator__label"
                 v-text="$t('Address')"  />
            <div class="verify-indicator__icon"
                :class="`verify-indicator__icon--${dataPanel.userVerifies.address}`"/>
          </div>
        </div>

      </div>

      <div class="nebeus-slide-panel__row nebeus-slide-panel__row--description">
        <p v-text="$t('You can send photos or scans of the documents anytime via')" />
        <button type="button" class="btn btn--text btn--grey-light btn-icon jsGetChat">
                        <span class="nebeus-icon nebeus-icon--plus mr-3">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 0C4.448 0 4 0.448 4 1C4 1.552 4.448 2 5 2H18V11C18
                                11.552 18.448 12 19 12C19.552 12 20 11.552
                                20 11V2C20 0.895 19.105 0 18 0H5ZM2 4C0.900001
                                 4 0.00976632 4.9 0.00976632 6L0.00195382
                                 18.584C0.00095382 19.475 1.07899 19.923 1.70899
                                 19.293L4 17H14C15.1 17 16 16.1 16
                                15V6C16 4.9 15.1 4 14 4H2Z"
                                      fill="black"/>
                            </svg>
                        </span>
          <span v-text="$t('Chat')" />
        </button>

        <div class="verify-docs">
          <a href="#" v-text="$t('What documents do we accept')" />
        </div>

      </div>
    </div>

  </div>

</template>

<script>
import { mapState, mapMutations } from 'vuex';
import $ from 'jquery';
import errors from '../../../helpers/errors';

export default {
  name: 'UserVerify',
  data: () => ({
    verifyPhone: {
      text: '',
      error: null,
      status: false,
    },
    getPin: {
      status: false,
      text: '',
      error: null,
    },
    loadingVerify: false,
    loadingPin: false,
  }),
  computed: mapState({
    ajaxUrl: ({ ajaxUrl }) => ajaxUrl,
    dataPanel: ({ slidePanel }) => slidePanel.data,
  }),
  methods: {
    ...mapMutations(['updateDataPanel']),
    submitVerify() {
      if (this.loadingVerify) return;
      const { text } = this.verifyPhone;
      this.verifyPhone.error = null;
      const data = {
        countryCode: '+',
        phone: '',
        nebeusAction: 'getPinCode',
      };
      const trimPhone = text.replace(/[^+0-9]/g, '').split('').map((el, i) => {
        if (i < 2) {
          data.countryCode += el;
        } else {
          data.phone += el;
        }
        return el;
      }).join('');
      if ((trimPhone.length >= 11 && trimPhone.length <= 13)) {
        this.loadingVerify = true;
        $.ajax({
          method: 'POST',
          url: this.ajaxUrl,
          data,
          success: ({ success }) => {
            if (success) {
              this.getPin.status = true;
              return;
            }
            this.verifyPhone.error = errors.errorSend;
          },
          error: (error) => {
            this.verifyPhone.error = errors.errorSend;
            throw new Error(error);
          },
          complete: () => {
            this.loadingVerify = false;
          },
        });
      } else {
        this.verifyPhone.error = errors.minLengthPhone;
      }
    },
    submitCode() {
      if (this.loadingPin) return;
      this.getPin.error = null;
      const { text } = this.getPin;
      if (!(text.replace(/\D/g, '').length < 4)) {
        this.loadingPin = true;
        $.ajax({
          method: 'POST',
          url: this.ajaxUrl,
          data: {
            'pin-code': this.getPin.text,
            nebeusAction: 'verifyPin',
          },
          success: ({ success }) => {
            if (success) {
              this.verifyPhone.status = true;
              this.getPin.status = false;
              this.updateDataPanel({
                ...this.dataPanel,
                isVerifyPhone: true,
                phoneNumber: this.verifyPhone.text,
                userVerifies: {
                  ...this.dataPanel.userVerifies,
                  phone: 'verified',
                },
              });
            }
            this.getPin.error = errors.pinInvalid;
          },
          error: (error) => {
            this.getPin.error = errors.errorSend;
            throw new Error(error);
          },
          complete: () => {
            this.loadingPin = false;
          },
        });
      } else {
        this.getPin.error = errors.minLengthPinCode;
      }
    },
  },
  mounted() {
    this.verifyPhone.text = this.dataPanel.phoneNumber;
  },
};
</script>
