<template>
  <div class="nebeus-slide-panel__item
       nebeus-slide-panel--user-edit nebeus-slide-panel--right-content">
    <div class="nebeus-slide-panel__row pl-0 pr-0">
      <h5 class="nebeus-row__heading" v-text="$t('Your account')" />
    </div>

    <div class="nebeus-slide-panel__row nebeus-row__user--balanse">
                <span class="nebeus-icon pr-4 nebeus-icon--balance">
                   <main-icon name="balance" />
               </span>
      <span class="mr-auto" v-text="$t('Balance')" />
      <span class="nebeus-user-balanse">
              {{(Math.round(dataPanel.amountInDefaultCurrency * 100) / 100) }}
        <span class="symbol">€</span>
      </span>
    </div>

    <div class="nebeus-slide-panel__row nebeus-row__user--settings">
      <div class="nebeus-form nebeus-form__user-settings">
        <div class="form-group form-select">
          <label for="defaultCurrency" v-text="$t('Default currency')" />
          <div class="default-currency__action">
            <v-select name="default_currency"
                      :disabled="true"
                      id="defaultCurrency"
                      :value="dataPanel.defaultCurrencyCode"
                      :options="[{code: dataPanel.defaultCurrencyCode,
                      label: dataPanel.defaultCurrencyCode}]" />
            <button type="button"
                    class="btn btn--grey-light btn--text"
                    disabled
                    v-text="$t('Update')" />
          </div>
        </div>

        <div class="user-settings__action">
          <div class="user-settings__action-row">
            <btn-toggle-slide-panel class="btn btn--text btn--grey-light"
              v-text="$t('Get Verified')"
              name-panel="user-verify" />
          </div>
          <div class="user-settings__action-row">
            <button type="button" class="jsGetChat btn btn--text btn--grey-light"
                    v-text="$t('Create a support ticket')" />
          </div>
        </div>

        <div class="form-group form-swithc">
          <label class="nebeus-switch">
            <input type="checkbox"
                   @change="switchTwoFactor"
                   :checked="secondAuthFactor"
                   :disabled="loadAuth"
                   class="nebeus-switch__checkbox"/>
            <span class="nebeus-switch__slider">
              <span class="nebeus-switch__round"></span>
              <span class="nebeus-switch__labels">
                  <span class="nebeus-switch__on" v-text="$t('ON')" />
                  <span class="nebeus-switch__off" v-text="$t('OFF')" />
              </span>
            </span>
            <span class="nebeus-switch__label"
                v-text="$t('Two factor auth.')" />
          </label>
        </div>
      </div>
    </div>

    <div class="nebeus-slide-panel__row nebeus-row__user--data">
      <div class="user-info__row  nebeus-row__user--data-heading"
           v-text="$t('Personal information')" />
      <div class="nebeus-row__user--data-info">
        <span class="user-info__row user-info__label user-info__name"
              v-text="dataPanel.fullName" />
        <span class="user-info__row  user-info__date">
          <span class="user-info__label">{{$t('Reg. date:')}} </span>
          <span v-text="createDt" />
        </span>
        <span class="user-info__row user-info__id">
            <span class="user-info__label">ID: </span>
            <span v-text="dataPanel.userInfo.WebsitePartnerId"/>
        </span>
      </div>
    </div>

    <div class="nebeus-slide-panel__row nebeus-slide-panel__action">
      <a :href="dataPanel.logoutUrl"
         class="btn btn-icon btn--grey-light btn--text">
        <span class="nebeus-icon pr-4 nebeus-icon--logout">
           <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.26 17L22 12.26L17.26 7.53V10.37H8.73999V14.16H17.26V17Z"
                      fill="#6A7287"/>
                <path d="M15.11 3V5.84H5.84V18.16H15.11V21H3V3H15.11Z" fill="#6A7287"/>
            </svg>
        </span>
        <span v-text="$t('Logout')" />
      </a>
    </div>
  </div>

</template>

<script>
import { mapState } from 'vuex';
import vSelect from 'vue-select';
import moment from 'moment';
import $ from 'jquery';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'UserEdit',
  components: {
    MainIcon,
    vSelect,
  },
  data: () => ({
    secondAuthFactor: false,
    loadAuth: false,
  }),
  computed: {
    ...mapState({
      ajaxUrl: ({ ajaxUrl }) => ajaxUrl,
      dataPanel: ({ slidePanel }) => slidePanel.data,
    }),
    createDt() {
      return moment(this.dataPanel.userInfo.CreateDt).format('DD.MM.YYYY');
    },
  },
  methods: {
    switchTwoFactor() {
      this.loadAuth = true;
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'switch2factor',
        },
        success: ({ secondAuthFactor }) => {
          this.secondAuthFactor = secondAuthFactor;
        },
        complete: () => {
          this.loadAuth = false;
        },
      });
    },
  },
  mounted() {
    this.secondAuthFactor = this.dataPanel.userInfo.secondAuthFactor;
  },
};
</script>
