<template>
  <div>
    <div class="crypto-data__item crypto-data__item--header">
      <div class="crypto-data__heading">
        <div class="crypto-data__heading-icon">
          <button type="button" class="btn-icon">
          <span class="nebeus-icon nebeus-icon--pending">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 0.699951C12.41 0.704779 8.93764 1.98008 6.19795 4.29995L4.19095 2.56295L2.65195 11.041L10.752 8.13395L8.70895 6.39695C10.8823 4.75039 13.5486 3.88707 16.2747 3.94725C19.0007 4.00742 21.6263 4.98755 23.7249 6.72841C25.8235 8.46927 27.2719 10.8686 27.8347 13.5366C28.3974 16.2045 28.0416 18.9844 26.8249 21.4246C25.6083 23.8648 23.6023 25.8219 21.1328 26.978C18.6633 28.1342 15.8755 28.4213 13.2222 27.7929C10.569 27.1645 8.20611 25.6574 6.51753 23.5165C4.82896 21.3756 3.91388 18.7266 3.92095 16V15.046V14.974L3.82195 14.434C3.7076 14.1172 3.49677 13.8442 3.21914 13.6535C2.94152 13.4628 2.61108 13.364 2.27434 13.3709C1.93761 13.3779 1.61153 13.4903 1.34202 13.6923C1.07251 13.8943 0.873127 14.1757 0.771951 14.497H0.779951C0.779951 14.497 0.699951 15.685 0.699951 16C0.699951 19.026 1.59728 21.9841 3.27847 24.5002C4.95965 27.0162 7.34918 28.9773 10.1449 30.1353C12.9406 31.2933 16.0169 31.5963 18.9848 31.006C21.9527 30.4156 24.6789 28.9584 26.8187 26.8187C28.9584 24.6789 30.4156 21.9527 31.006 18.9848C31.5963 16.0169 31.2933 12.9406 30.1353 10.1449C28.9773 7.34918 27.0162 4.95965 24.5002 3.27847C21.9841 1.59728 19.026 0.699951 16 0.699951Z" fill="#C7CDDE" />
              <path d="M16.5771 16.5669C16.5771 16.8056 16.4823 17.0345 16.3135 17.2033C16.1447 17.3721 15.9158 17.4669 15.6771 17.4669C15.4384 17.4669 15.2095 17.3721 15.0407 17.2033C14.8719 17.0345 14.7771 16.8056 14.7771 16.5669V8.0709C14.7771 7.8322 14.8719 7.60329 15.0407 7.4345C15.2095 7.26572 15.4384 7.1709 15.6771 7.1709C15.9158 7.1709 16.1447 7.26572 16.3135 7.4345C16.4823 7.60329 16.5771 7.8322 16.5771 8.0709V16.5669Z" fill="#C7CDDE" />
              <path d="M21.1849 18.043C21.3486 18.1119 21.4882 18.2277 21.5862 18.3758C21.6842 18.5239 21.7362 18.6976 21.7356 18.8752C21.7351 19.0528 21.6821 19.2262 21.5832 19.3737C21.4843 19.5212 21.344 19.6361 21.1799 19.704C20.959 19.7935 20.7116 19.7917 20.4919 19.699L15.3259 17.485C15.1087 17.3918 14.9369 17.2167 14.8476 16.9978C14.7583 16.7789 14.7588 16.5336 14.8489 16.315C14.9405 16.1005 15.1119 15.93 15.3268 15.8393C15.5417 15.7487 15.7834 15.745 16.0009 15.829L21.1849 18.043Z" fill="#C7CDDE" />
            </svg>
          </span>
          </button>
        </div>
        <div class="crypto-data__heading-text" v-text="$t('History')" />
      </div>
      <div class="crypto-data__content">
        <search-panel />
      </div>
    </div>
    <transition name="slide">
      <history-list />
    </transition>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import HistoryList from '../../historyList/HistoryList.vue';
import SearchPanel from '../../historyList/SearchPanel.vue';

export default {
  name: 'ContentHistory',
  components: { SearchPanel, HistoryList },
  methods: mapActions(['getCurrensyHistory']),
  mounted() {
    this.getCurrensyHistory();
  },
};
</script>
