<template>
  <div class="nebeus-dashbord-content dashbord-savings-accounts">
    <div class="nebeus-dashbord-content__inner">
     <div v-if="loanData">
       <tollbar-pagas>
         <div class="crypto__toolbar-item">
          <span class="nebeus-icon nebeus-icon--saving">
            <main-icon name="loan-page-icon" />
          </span>
         </div>
         <div class="crypto__toolbar-item">
           <div class="crypto__curency-name" v-text="$t('Loans')" />
         </div>
       </tollbar-pagas>
       <dashboard-inner-nav :nav-menu="navMenu"/>
       <div class="dashbord-crypto__content dashbord-crypto__content-loan">
         <div class="dashbord-crypto__content-inner">
           <router-view />
           <slide-panel-payment :is-tollbar="false" />
         </div>
       </div>
     </div>
      <error-indicator v-else/>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import DashboardInnerNav from '../crypto-currency/DashboardInnerNav.vue';
import MainIcon from '../icon/MainIcon.vue';
import SlidePanelPayment from '../slide-panel/SlidePanelPayment.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';

export default {
  name: 'LoanPage',
  components: {
    ErrorIndicator, SlidePanelPayment, MainIcon, DashboardInnerNav,
  },
  props: ['loanDataProps'],
  data: () => ({
    navMenu: {
      Overwiev: '/loan/overwiev/',
      History: '/loan/history/',
    },
  }),
  computed: mapState(['loanData']),
  methods: mapMutations(['setLoanData']),
  mounted() {
    this.setLoanData(this.loanDataProps);
  },
};
</script>
