<template>
  <div>
    <div class="dashbord-crypto__content-inner">
      <div class="dashbord-crypto__content-toolbar dashbord-crypto__content-toolbar--full">
        <div class="crypto-toolbar__item">
          <div class="crypto-toolbar__item-info">
            <div class="crypto-toolbar__item-name" v-text="$t('My loans')" />
            <div class="crypto-toolbar__numb">
              {{formatAmountUp(myVal, myValCurrency)}}
              <span class="crypto-toolbar__symbol"> <font-icon :name="myValCurrency"/> </span>
            </div>
            <div v-text="$t('The total amount of active loans.')"/>
            <div class="crypto-toolbar__date">
              {{$t('Next repayment date')}}
              <span class="next-date" v-text="repaymentDate" />

              <div>{{$t('Amount')}}: <span class="text-green"> {{formatAmountUp(repaymentAmount, repaymentCurrency)}} {{repaymentCurrency}}</span></div>
            </div>
          </div>
        </div>
        <div class="crypto-toolbar__item">

          <div class="collateral-loan__info loan-bg--green collateral-loan__info-active">
            <div class="crypto-toolbar__item-name" v-text="$t('Collateral Loan')" />
            <div class="collateral-loan__wrap">
              <div class="collateral-loan__text">
                <div class="loan-text__deck" v-text="$t('Amoun to value')"/>
                <div class="loan-text__numb">{{loanFirst.AmountToValue}}%</div>
              </div>
              <div class="collateral-loan__text">
                <div class="loan-text__deck" v-text="$t('Interest rate')"/>
                <div class="loan-text__numb">{{loanFirst.InterestRate}}%</div>
              </div>
            </div>
            <div v-text="loanFirst.Description" />
            <button @click="setPanelPaymant('loan');setDataInterestRatea(loanFirst.InterestRate)"
                    class="btn btn-submit"
                    v-text="$t('Apply a Loan')" />
          </div>

        </div>
        <div class="crypto-toolbar__item">
          <div class="collateral-loan__info  loan-bg--grey">
            <div class="crypto-toolbar__item-name" v-text="$t('Collateral Loan')" />
            <div class="collateral-loan__wrap">
              <div class="collateral-loan__text">
                <div class="loan-text__deck" v-text="$t('Amoun to value')"/>
                <div class="loan-text__numb">{{loanSecond.AmountToValue}}%</div>
              </div>
              <div class="collateral-loan__text">
                <div class="loan-text__deck" v-text="$t('Interest rate')"/>
                <div class="loan-text__numb">{{loanSecond.InterestRate}}%</div>
              </div>
            </div>
            <div v-text="loanSecond.Description" />
            <button @click="setPanelPaymant('loan');setDataInterestRatea(loanSecond.InterestRate)"
                    class="btn btn-submit"
                    v-text="$t('Apply a Loan')" />
          </div>

        </div>
      </div>

    </div>

    <data-list :heading-name-computed="{startBalance: 'Balance', paymant: 'Next payment'}"
      :lists-items="getLoanDate('Active').splice(0, 2)">
      <template #itemStatus="{item}">
            <span :class="`text-${formaterClass(item.status)}`">
              {{item.status}}
            </span>
      </template>
      <template #payment="{item}">
        {{formatAmountUp(item.paymant.Amount, item.paymant.CurrencyCode)}} {{item.paymant.CurrencyCode}}
      </template>
    </data-list>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';
import mixin from '@/mixin';
import formatDate from '../../helpers/formatDate';
import DataList from '../user-data-list/DataList.vue';
import FontIcon from '../icon/FontIcon.vue';

export default {
  name: 'LoanOverwiev',
  components: { DataList, FontIcon },
  mixins: [mixin],
  computed: {
    ...mapState({
      myVal: ({ loanData }) => loanData.myVal,
      myValCurrency: ({ loanData }) => loanData.myValCurrency,
      repaymentDate: ({ loanData }) => formatDate(loanData.repaymentDate),
      repaymentAmount: ({ loanData }) => loanData.repaymentAmount,
      repaymentCurrency: ({ loanData }) => loanData.repaymentCurrency,
      loanFirst: ({ loanData }) => loanData.loanFirst,
      loanSecond: ({ loanData }) => loanData.loanSecond,
    }),
    ...mapGetters(['getLoanDate', 'formatAmountUp']),
  },
  methods: mapMutations(['setPanelPaymant', 'setDataInterestRatea']),
};
</script>
