<template>
  <div>
    <div class="crypto-data__item">
      <div class="crypto-data__heading">
        <div class="crypto-data__heading-icon">
           <span class="nbapi-icon">
              <main-icon name="acc-active" />
           </span>
        </div>
        <div class="crypto-data__heading-text">
          <div v-text="$t('Active Loans')" />
        </div>

      </div>
      <div class="crypto-data__content">
        <div class="crypto-data__content-subtitle"
             v-text="$t('Transferring to a cold wallet occurs instantly.')"/>
        <data-list
          :heading-name-computed="headingTable"
          :lists-items="getLoanDate('Active')">
          <template #itemStatus="{item}">
            <span :class="`text-${formaterClass(item.status)}`">
              {{item.status}}
            </span>
          </template>
          <template #payment="{item}">
            {{formatPaymant(item.paymant.Amount, item.paymant.CurrencyCode)}}
          </template>
          <template #balance="{item}">
            <span  :class="`text-${formaterClass(item.status)}`">
              {{formatPaymant(item.balance, item.currCode)}}
            </span>
            <div class="verify-indicator__icon"
                :class="`verify-indicator__icon--${formaterClass(item.status)}`"
              />
          </template>
        </data-list>
      </div>
    </div>

    <div class="crypto-data__item">
      <div class="crypto-data__heading">
        <div class="crypto-data__heading-icon">
           <span class="nbapi-icon">
             <main-icon name="acc-complete" />
           </span>
        </div>
        <div class="crypto-data__heading-text">
          <div v-text="$t('Completed Loans')" />
        </div>

      </div>
      <div class="crypto-data__content">
        <div class="crypto-data__content-subtitle"
             v-text="$t('Transferring to a cold wallet occurs instantly.')"/>
        <data-list
          :heading-name-computed="headingTable"
          :lists-items="getLoanDate('Completed')">
          <template #itemStatus="{item}">
            <span :class="`text-${formaterClass(item.status)}`">
              {{item.status}}
            </span>
          </template>
          <template #payment="{item}">
            {{formatPaymant(item.paymant.Amount, item.paymant.CurrencyCode)}}
          </template>
          <template #balance="{item}">
            <span  :class="`text-${formaterClass(item.status)}`">
              {{formatPaymant(item.balance, item.currCode)}}
            </span>
            <div class="verify-indicator__icon"
                 :class="`verify-indicator__icon--${formaterClass(item.status)}`"
            />
          </template>
        </data-list>
      </div>
    </div>

  </div>

</template>

<script>
import { mapGetters } from 'vuex';
import mixin from '@/mixin';
import MainIcon from '../icon/MainIcon.vue';
import DataList from '../user-data-list/DataList.vue';

export default {
  name: 'LoanHistory',
  components: { DataList, MainIcon },
  mixins: [mixin],
  data: () => ({
    headingTable: {
      status: 'Loan type',
      startBalance: 'Balance',
      paymant: 'Next payment',
    },
  }),
  computed: {
    ...mapGetters(['getLoanDate', 'formatAmount', 'isCrypto']),
  },
  methods: {
    formatPaymant(amount, currCode) {
      return `${this.formatAmount(amount, this.isCrypto(currCode))} ${currCode}`;
    },
  },
};
</script>
