<template>
  <div class="crypto-data__item crypto-data__item--header"
      :class="{'dashbord-crypto__content-toolbar': windowSize>=768}">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
          <span class="nbapi-icon">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 18C0 27.9411 8.05888 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0C8.05888 0 0 8.05888 0 18Z"
                      fill="#5DCA8C"></path>
                <circle cx="18" cy="18" r="18" fill="#C7CDDE"></circle>
                <path d="M17.9368 6C14.9477 6 12.2139 7.11496 10.1087 8.93438L8.63444 7.46016C8.08124 6.90696 7.13679 7.29651 7.13679 8.07891V11.993C7.13679 12.659 7.67662 13.2 8.34382 13.2H12.2579C13.0403 13.2 13.4322 12.2555 12.879 11.7023L11.8055 10.6289C13.4695 9.24075 15.6009 8.4 17.9368 8.4C22.879 8.4 26.946 12.1407 27.4782 16.9336C27.4957 17.0903 27.5439 17.242 27.62 17.3801C27.6962 17.5181 27.7988 17.6398 27.922 17.7382C28.0452 17.8366 28.1865 17.9098 28.338 17.9536C28.4895 17.9973 28.6481 18.0108 28.8048 17.9933C28.9615 17.9757 29.1132 17.9275 29.2512 17.8513C29.3893 17.7751 29.5109 17.6725 29.6093 17.5493C29.7077 17.4261 29.7808 17.2847 29.8245 17.1332C29.8683 16.9817 29.8817 16.8231 29.8641 16.6664C29.1987 10.6737 24.0922 6 17.9368 6ZM17.5383 9.58828C17.0967 9.58468 16.7368 9.94121 16.7368 10.3828V12H15.5368C14.8744 12 14.3368 12.5376 14.3368 13.2V22.8C14.3368 23.4624 14.8744 24 15.5368 24H16.7368V25.6172C16.7368 26.0504 17.0841 26.4045 17.5173 26.4117H17.5196C17.9636 26.4201 18.3282 26.0612 18.3282 25.6172L18.3258 23.9484L18.4055 23.993C19.5539 23.9738 20.4419 23.6876 21.0587 23.1164C21.6947 22.526 22.0149 21.4701 22.0149 20.3109C22.0161 20.0205 21.9858 19.735 21.9258 19.4602C21.8646 19.1842 21.7684 18.929 21.6376 18.6938C21.5068 18.4586 21.3332 18.2515 21.1196 18.0727C20.906 17.8963 20.6463 17.7642 20.3415 17.6766C20.6043 17.5614 20.8293 17.4135 21.0165 17.2359C21.2061 17.0595 21.3604 16.8626 21.4852 16.643C21.6076 16.4234 21.7007 16.1895 21.7571 15.9375C21.8159 15.6855 21.8438 15.4224 21.8438 15.15C21.8438 14.592 21.7084 14.2315 21.5368 13.8211C21.3628 13.4107 21.112 13.0716 20.7844 12.7992C20.4568 12.5292 20.0572 12.3277 19.5844 12.1969C19.216 12.0949 18.8003 12.0439 18.3587 12.0211H18.3282L18.3258 10.3828C18.3258 9.94721 17.9739 9.59188 17.5383 9.58828ZM16.7344 13.8867H16.7368H18.0282C18.5202 13.8867 18.875 14.0031 19.0946 14.2383C19.3142 14.4735 19.4227 14.8643 19.4227 15.4055C19.4227 15.8867 19.3051 16.2493 19.0735 16.4977C18.8407 16.7473 18.4848 16.8727 18.0024 16.8727H16.7344V13.8867ZM7.1696 17.9836C7.00194 17.9879 6.83703 18.0272 6.68551 18.0991C6.534 18.1711 6.39924 18.2739 6.28993 18.4011C6.18061 18.5283 6.09918 18.677 6.05087 18.8376C6.00256 18.9982 5.98844 19.1672 6.00944 19.3336C6.67486 25.3263 11.7814 30 17.9368 30C20.9181 30 23.6454 28.8907 25.7485 27.0797L27.204 28.5352C27.7704 29.1016 28.7368 28.7015 28.7368 27.9023V24.0117C28.7368 23.3433 28.1935 22.8 27.5251 22.8H23.6344C22.8352 22.8 22.4364 23.7653 23.0016 24.3305L24.0469 25.3758C22.3868 26.7586 20.266 27.6 17.9368 27.6C12.9946 27.6 8.92756 23.8593 8.39538 19.0664C8.36582 18.7644 8.22294 18.4848 7.99551 18.2839C7.76807 18.083 7.47296 17.9757 7.1696 17.9836ZM16.7368 18.6281H18.3727C18.8215 18.6281 19.1418 18.7759 19.329 19.0711C19.5186 19.3663 19.6126 19.7693 19.6126 20.2781C19.6114 20.5013 19.5868 20.7062 19.5376 20.8922C19.4884 21.0782 19.4111 21.2393 19.3055 21.3797C19.1975 21.5177 19.0622 21.6287 18.8954 21.7055C18.7274 21.7811 18.5259 21.8203 18.2907 21.8203H16.7368V18.6281Z"
                      fill="white"></path>
              </svg>
          </span>
      </div>
      <div class="crypto-data__heading-text">
        <div v-text="$t('Instant Exchange')"/>
      </div>

    </div>
    <div class="crypto-data__content">
      <div class="text-greey"  v-text="$t('Withdrawing funds for security reasons takes up to 24 hours.')" />
      <div class="crypto-data__content-action">
        <button class="btn btn-submit not-index"
          data-index="exchange"
          @click="updateActivePanel('exchange')"
          v-text="$t('Exchange')" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'ExchangeTollbar',
  computed: mapState(['windowSize']),
  methods: mapMutations(['updateActivePanel']),
};
</script>
s
