<template>
  <div class="crypto__toolbar">
    <div class="crypto__toolbar-list">
      <div class="crypto__toolbar-item">
        <a href="/" class="btn-icon">
          <span class="nebeus-icon nebeus-icon--prev">
            <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.062 1.332C11.3433 1.0508 11.7248 0.892822 12.1225 0.892822C12.5203 0.892822 12.9017 1.0508 13.183 1.332L15.304 3.453C15.4434 3.5923 15.554 3.7577 15.6294 3.93975C15.7049 4.12181 15.7437 4.31694 15.7437 4.514C15.7437 4.71107 15.7049 4.9062 15.6294 5.08825C15.554 5.2703 15.4434 5.4357 15.304 5.575L4.69801 16.18C4.55871 16.3194 4.3933 16.43 4.21125 16.5054C4.0292 16.5809 3.83407 16.6197 3.63701 16.6197C3.43994 16.6197 3.24481 16.5809 3.06276 16.5054C2.88071 16.43 2.71531 16.3194 2.57601 16.18L1.51601 15.12C1.23738 14.8414 1.01635 14.5107 0.865557 14.1467C0.714761 13.7827 0.637146 13.3925 0.637146 12.9985C0.637146 12.6045 0.714761 12.2143 0.865557 11.8503C1.01635 11.4863 1.23738 11.1556 1.51601 10.877L11.062 1.331V1.332Z"
                    fill="#6A7287" />
              <path d="M1.51599 15.1201C0.95358 14.5575 0.637634 13.7946 0.637634 12.9991C0.637634 12.2036 0.95358 11.4407 1.51599 10.8781L2.57599 9.8181C2.71529 9.67871 2.8807 9.56813 3.06275 9.49269C3.2448 9.41725 3.43993 9.37842 3.63699 9.37842C3.83406 9.37842 4.02919 9.41725 4.21124 9.49269C4.39329 9.56813 4.55869 9.67871 4.69799 9.8181L15.304 20.4241C15.5852 20.7054 15.7432 21.0869 15.7432 21.4846C15.7432 21.8823 15.5852 22.2638 15.304 22.5451L13.183 24.6671C12.9017 24.9483 12.5202 25.1063 12.1225 25.1063C11.7247 25.1063 11.3433 24.9483 11.062 24.6671L1.51599 15.1211V15.1201Z"
                    fill="#6A7287"/>
            </svg>
          </span>
        </a>
      </div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TollbarPagas',
};
</script>

<style scoped>

</style>
