<template>
  <div class="nebeus-form__action"
      :class="defaultClass">
    <button type="submit"
            :disabled="!!pinId && timer"
            :class="btnAddClass"
            class="btn btn-submit">
      {{$t('Get Pin code')}}
      <span v-if="pinId && timer" class="pinId">ID: {{pinId}}</span>
    </button>
    <div class="nebeus-form__action--info-box">
      <div class="nebeus-form__action--info-box-text">
        <span v-if="!timer" class="start-form" v-text="$t('Click the button to receive a PIN code to confirm the transaction')"/>
        <span v-else v-text="$t('Re-sending the PIN code is possible after {timer} sec', {timer})"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ActionPaymantForm',
  data: () => ({
    timer: null,
  }),
  props: {
    defaultClass: {
      type: String,
      default: 'col-lg-6 mb-0',
    },
    btnAddClass: {
      type: String,
      default: '',
    },
  },
  computed: mapState({
    pinId: ({ formGetPin: { res } }) => res,
  }),
  methods: {
    activeTimer() {
      this.timer = 60;
      const currentTime = setInterval(() => {
        this.timer -= 1;
        if (this.timer === 0) {
          clearInterval(currentTime);
          this.timer = null;
          this.$emit('resetTimer');
        }
      }, 1000);
    },
  },
  watch: {
    pinId(val) {
      if (val) {
        this.activeTimer();
      }
    },
  },
};
</script>
