<template>
  <div class="payment-respons">
    <div class="payment-respons__inner">
      <div class="payment-respons__heading">
        <div class="payment-respons__heading-text payment-respons__heading--succses">
          <div class="verify-indicator__icon verify-indicator__icon--verified" />
          {{$t(switchText)}}
        </div>
        <div>
          <a href="/" class="btn btn--grey" v-text="$t('Dashboard')" />
        </div>
      </div>
      <div class="payment-respons__body">
        <div class="payment-respons__field">
          {{switchDetails}}
        </div>
      </div>
      <div class="payment-respons__footer">
        {{ $t('The execution time of the operation depends on the blockchain network. To check the operation, use the') }}
        <a href="#">{{$t('operations tracker.')}}</a>
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'ContentRespons',
  computed: {
    ...mapGetters(['formatAmountUp']),
    ...mapState({
      currCurrency: ({ cryptoCurrency }) => (cryptoCurrency ? cryptoCurrency.currCurrency : null),
      coldStorageCurrCode: ({ coldStorageCurrCode }) => (coldStorageCurrCode || null),
      exchangeInfoOperation: ({ exchangeInfoOperation }) => (exchangeInfoOperation || null),
      withdrawAmount: ({ withdrawAmount }) => withdrawAmount,
      paymatSuccsesText: ({ paymatSuccsesText }) => paymatSuccsesText,
      savingAccData: ({ savingAccData }) => (savingAccData || null),
      loanData: ({ loanData }) => (loanData || null),
    }),
    currencyCode() {
      if (this.currCurrency) {
        return this.currCurrency.CurrencyCode;
      } if (this.coldStorageCurrCode) {
        return this.coldStorageCurrCode;
      }
      return '';
    },
    withdrawAmountFormat() {
      return this.formatAmountUp(this.withdrawAmount, this.currencyCode);
    },
    switchText() {
      if (this.paymatSuccsesText) {
        return this.paymatSuccsesText;
      }
      switch (true) {
        case !!this.currCurrency:
          return 'Your payment has been successfully accepted!';
        case !!this.coldStorageCurrCode:
          return 'Your transfer to Cold Storage  has been done!';
        case !!this.exchangeInfoOperation:
          return 'Your exchange has been successfully completed!';
        case !!this.savingAccData:
          return 'Your Deposit has been successfully created!';
        case !!this.loanData:
          return 'Your loan has been successfully created!';
        default:
          return '';
      }
    },
    switchDetails() {
      switch (true) {
        case !!this.currCurrency || !!this.coldStorageCurrCode:
          return `${this.$t('Amount')} : ${this.withdrawAmountFormat} ${this.currencyCode}`;
        case !!this.exchangeInfoOperation:
          return this.exchangeInfoOperation;
        case !!this.savingAccData:
          return 'Interest on your account will be compounded continuously and credited monthly.';
        case !!this.loanData:
          return `${this.$t('The funds were deposited to your {curr} Wallet.', { curr: 'EUR' })}`;
        default:
          return '';
      }
    },
  },
};
</script>
