<template>
  <button @click="updateActivePanel({active: namePanel, direction})">
    <slot />
  </button>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'BtnToggleSlidePanel',
  props: {
    namePanel: {
      type: String,
      required: true,
    },
    direction: {
      type: Boolean,
      default: true,
    },
  },
  methods: mapMutations(['updateActivePanel']),
};
</script>
