<template>
  <ul class="loan-app__details">
    <li>
      <div class="loan-app__details-desk" v-text="$t('Annual Percentage Yield')"/>
      <div class="loan-app__details-numb"> {{loanSingleData.paymant}} %</div>
    </li>
    <li>
      <div class="loan-app__details-desk" v-text="$t('Total Interest Earned')"/>
      <div class="loan-app__details-numb"> {{formatAmountUp(totalInterest, loanSingleData.currCode)}} {{loanSingleData.currCode}} </div>
    </li>
    <li>
      <div class="loan-app__details-desk" v-text="$t('Create Date')"/>
      <div class="loan-app__details-numb" v-text="dateCreate" />
    </li>
    <li>
      <div class="loan-app__details-desk" v-text="$t('End Date')"/>
      <div class="loan-app__details-numb" v-text="dataEnd" />
    </li>
  </ul>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import moment from 'moment';
import formatDate from '../../../helpers/formatDate';

export default {
  name: 'ListDetailsSavingAcc',
  computed: {
    ...mapState(['loanSingleData']),
    ...mapGetters(['formatAmountUp']),
    monthsDiff() {
      return moment(this.loanSingleData.dateClose).diff(moment(this.loanSingleData.dateCreate), 'months');
    },
    monthsInterest() {
      return (this.loanSingleData.balance / 100) * (this.loanSingleData.paymant / 12);
    },
    totalInterest() {
      return this.monthsInterest * this.monthsDiff;
    },
    dataEnd() {
      return formatDate(this.loanSingleData.dateClose);
    },
    dateCreate() {
      return formatDate(this.loanSingleData.dateCreate);
    },
  },
};
</script>
