<template>
  <ul class="loan-app__details">
    <li>
      <div class="loan-app__details-desk" v-text="$t('Interest rate')"/>
      <div class="loan-app__details-numb"> {{percentAnnual}} %</div>
    </li>
    <li>
      <div class="loan-app__details-desk" v-text="$t('Pledge amount')"/>
      <div class="loan-app__details-numb">
        {{formatAmountUp(loanSingleData.guarantyAmount, loanSingleData.guarantyCurrencyCode)}}
        {{loanSingleData.guarantyCurrencyCode}}
      </div>
    </li>
    <li>
      <div class="loan-app__details-desk" v-text="$t('Create Date')"/>
      <div class="loan-app__details-numb" v-text="dateCreate" />
    </li>
    <li>
      <div class="loan-app__details-desk" v-text="$t('End Date')"/>
      <div class="loan-app__details-numb" v-text="dataEnd" />
    </li>
  </ul>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import formatDate from '../../../helpers/formatDate';

export default {
  name: 'ListDetailsLoan',
  computed: {
    ...mapState(['loanSingleData']),
    ...mapGetters(['formatAmountUp']),
    dataEnd() {
      return formatDate(this.loanSingleData.dateClose);
    },
    dateCreate() {
      return formatDate(this.loanSingleData.dateCreate);
    },
    percentAnnual() {
      return this.loanSingleData.template ? this.loanSingleData.template.PercentAnnual : 18;
    },
  },
};
</script>
