<template>
  <div class="loan-table">
      <ul>
        <li class="loan-table__header" v-if="!isMobile">
          <div v-for="val in headingName" :key="val" v-text="$t(val)" />
        </li>
        <li v-for="item in listsItemsPagination"  v-if="item" :key="item.id">
          <div class="loan-table__type">
            <slot name="itemStatus"
                  :isMobile="isMobile"
                  :item="item">
              {{item.status}}
              <div v-if="isMobile">
                <div v-text="$t(item.status)" />
                <div class="verify-indicator__icon rejected" :class="`verify-indicator__icon--${item.status.toLowerCase()}`" />
              </div>
            </slot>
          </div>
          <div class="loan-table__date-create">
            <slot name="dateCreate" :item="item">
              <span v-if="isMobile"  v-text="$t(headingName.createDate)" />
              {{editDate(item.dateCreate)}}
            </slot>
          </div>
          <div class="loan-table__date-close">
            <slot name="dateClose" :item="item">
              <span v-if="isMobile" v-text="$t(headingName.closeDate)" />
              {{editDate(item.dateClose)}}
            </slot>
          </div>
          <div class="loan-table__payment">
            <span  v-if="isMobile" v-text="$t(headingName.paymant)" />
            <slot name="payment" :item="item">
              {{item.paymant}}
            </slot>
          </div>
          <div class="loan-table__balance">
            <slot name="balance" :item="item">
              <span v-if="isMobile" v-text="$t(headingName.startBalance)" />
              {{formatAmount(item.balance, isCrypto(item.currCode))}} {{item.currCode}}
            </slot>
          </div>
          <div class="loan-table__details">
            <button class="btn btn--grey"
                    @click="onClickShadule(item)"
                    v-text="$t('Schedule')"/>
          </div>
        </li>
      </ul>
      <div class="main-pagination p-0">
        <paginate
          v-if="pageCount > 1"
          break-view-class="break-me"
          :page-count="pageCount"
          :margin-pages="1"
          v-model="page"
          prev-class="previous"
          next-class="next"
          container-class="pagination"
        />
      </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import Paginate from 'vuejs-paginate';
import formatDate from '../../helpers/formatDate';

export default {
  name: 'DataList',
  components: {
    Paginate,
  },
  props: {
    headingNameComputed: {
      type: Object,
      default: () => ({}),
    },
    listsItems: {
      type: Array,
    },
  },
  data: () => ({
    headingNameDefault: {
      status: 'Status',
      createDate: 'Create Date',
      closeDate: 'Close Date',
      paymant: 'APY',
      startBalance: 'Starting Balance',
      details: 'Details',
    },
    page: 1,
    pageSize: 5,
  }),
  computed: {
    ...mapState(['windowSize', 'loanData']),
    ...mapGetters(['formatAmount', 'isCrypto']),
    headingName() {
      return { ...this.headingNameDefault, ...this.headingNameComputed };
    },
    listsItemsPagination() {
      return this.listsItems.slice((this.page - 1) * this.pageSize, this.page * this.pageSize);
    },
    pageCount() {
      return Math.ceil(this.listsItems.length / this.pageSize);
    },
    isMobile() {
      return this.windowSize < 768;
    },
  },
  methods: {
    ...mapMutations(['setPanelPaymant', 'setLoanSingleData']),
    editDate(data) {
      return formatDate(data);
    },
    onClickShadule(item) {
      this.setPanelPaymant('single-loan');
      this.setLoanSingleData(item);
    },
  },
};
</script>
