<template>
  <ul>
    <li class="loan-table__header" v-if="!isMobile" >
      <div v-for="val in headingName"
           :key="val"
           v-if="val"
           v-text="$t(val)" />
    </li>
    <li v-for="item in listsItems"  v-if="item" :key="item.month">
      <div class="loan-table__month alignment-center" v-if="headingName.month">
        <slot name="itemMonth"
              :editDate="editDate"
              :item="item"
              :isMobile="isMobile"
              :headingName="headingName">
          <span v-if="isMobile" v-text="$t(headingName.month)" />
          <span class="loan-table__month-item" v-text="editDate(item.month)" />
          <div class="loan-table__shedule-status  alignment-center">
            <div class="verify-indicator__icon" :class="`verify-indicator__icon--${formaterClass(item.status)}`" />
            <span class="text-capitalize"
                  :class="`text-${formaterClass(item.status)}`"
                  v-text="$t(item.status)"/>
          </div>
        </slot>
      </div>
      <div class="loan-table__month-interest" v-if="headingName.monthInterest">
        <slot name="monthInterest" :item="item">
          <span v-if="isMobile" v-text="$t(headingName.monthInterest)" />
          {{formatAmountUp(item.monthInterest, item.currCode)}} {{item.currCode}}
        </slot>
      </div>
      <div class="loan-table__total-interest"  v-if="headingName.totalInterest">
        <slot name="totalInterest" :item="item">
          <span v-if="isMobile" v-text="$t(headingName.totalInterest)" />
          {{formatAmountUp(item.totalInterest, item.currCode)}} {{item.currCode}}
        </slot>
      </div>
      <div class="loan-table__balance"  v-if="headingName.balance">
        <slot name="balance" :item="item">
          <span v-if="isMobile" v-text="$t(headingName.balance)" />
           {{formatAmountUp(item.balance, item.currCode)}} <font-icon class="ml-1 w-auto" :name="item.currCode"/>
        </slot>
      </div>
    </li>
  </ul>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import formatDate from '../../helpers/formatDate';
import FontIcon from '../icon/FontIcon.vue';

export default {
  name: 'UserDataListShedule',
  components: { FontIcon },
  props: {
    headingNameProps: {
      type: Object,
      default: () => ({}),
    },
    listsItems: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    headingNameDefault: {
      month: 'Month',
      monthInterest: 'Month Interest',
      totalInterest: 'Total Interest',
      balance: 'Balance',
    },
  }),
  computed: {
    ...mapState(['windowSize']),
    ...mapGetters(['formatAmountUp']),
    isMobile() {
      return this.windowSize < 768;
    },
    headingName() {
      return { ...this.headingNameDefault, ...this.headingNameProps };
    },
  },
  methods: {
    editDate(data) {
      return formatDate(data);
    },
    formaterClass(str) {
      return str.replace(/\s+/g, '-').toLowerCase();
    },
  },
};
</script>
