<template>
  <div>
    <div class="crypto-data__item">
      <div class="crypto-data__heading">
        <div class="crypto-data__heading-icon">
           <span class="nbapi-icon">
              <main-icon name="acc-active" />
           </span>
        </div>
        <div class="crypto-data__heading-text">
          <div v-text="$t('Active')" />
        </div>

      </div>
      <div class="crypto-data__content">
        <div class="crypto-data__content-subtitle"
             v-text="$t('Transferring to a cold wallet occurs instantly.')"/>
        <data-list :lists-items="getSevaAccDeposit('Active')">
          <template #itemStatus="{item}">
            {{item.status}}
          </template>
          <template #payment="{item}">
            {{item.paymant}} %
          </template>
        </data-list>
      </div>
    </div>

    <div class="crypto-data__item">
      <div class="crypto-data__heading">
        <div class="crypto-data__heading-icon">
           <span class="nbapi-icon">
             <main-icon name="acc-complete" />
           </span>
        </div>
        <div class="crypto-data__heading-text">
          <div v-text="$t('Completed ')" />
        </div>

      </div>
      <div class="crypto-data__content">
        <div class="crypto-data__content-subtitle"
             v-text="$t('Transferring to a cold wallet occurs instantly.')"/>
        <data-list :lists-items="getSevaAccDeposit('Completed')">
          <template #itemStatus="{item}">
            {{item.status}}
          </template>
          <template #payment="{item}">
            {{item.paymant}} %
          </template>
        </data-list>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DataList from '../user-data-list/DataList.vue';
import MainIcon from '../icon/MainIcon.vue';

export default {
  name: 'SaveContentHistory',
  components: { MainIcon, DataList },
  computed: mapGetters(['getSevaAccDeposit']),
};
</script>
