<template>
  <div>
    <div class="dashbord-crypto__content-inner">
      <div class="dashbord-crypto__content-toolbar dashbord-crypto__content-toolbar--full">
        <div class="crypto-toolbar__item">
          <div class="collateral-loan__info">
            <div class="crypto-toolbar__item-name" v-text="$t('My Value')"/>
            <div class="crypto-toolbar__numb">
              {{formatAmountUp(myVal, myValCurrency)}}
              <span class="crypto-toolbar__symbol"><font-icon :name="myValCurrency"/></span>
            </div>
            <div v-text="$t('The total value of active accounts')"></div>
            <div class="crypto-toolbar__date">
              {{$t('Next repayment date')}} {{repaymentDate}}
              <div>{{$t('Amount')}}:
                <span class="text-purple">{{ formatAmountUp(repaymentAmount, repaymentCurrency) }} {{repaymentCurrency}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="crypto-toolbar__item">

          <div class="collateral-loan__info loan-bg--green">
            <div class="crypto-toolbar__item-name">
              {{$t('Savings account')}} 1
            </div>
            <div class="collateral-loan__wrap">
              <div class="collateral-loan__text">
                <div class="crypto-toolbar__numb">{{savingAccFirst.rate}}%</div>
              </div>
              <div class="collateral-loan__text">
                <div class="loan-text__deck" v-text="$t('Interest rate')" />
              </div>
            </div>
            <div v-text="savingAccFirst.title" />
            <button type="submit"
                    @click="setPanelPaymant('save-acc');setDataInterestRatea(savingAccFirst.rate)"
                    class="btn btn-submit"
                    v-text="$t('Open account')"/>

          </div>

        </div>
        <div class="crypto-toolbar__item">

          <div class="collateral-loan__info loan-bg--grey">
            <div class="crypto-toolbar__item-name">
              {{$t('Savings account')}} 2
            </div>
            <div class="collateral-loan__wrap">
              <div class="collateral-loan__text">
                <div class="crypto-toolbar__numb">{{savingAccSecond.rate}}%</div>
              </div>
              <div class="collateral-loan__text">
                <div class="loan-text__deck" v-text="$t('Interest rate')" />
              </div>
            </div>
            <div v-text="savingAccSecond.title" />
            <!--<div v-text="$t('Amount from {val1} {carr1} or {val2} {carr2}', {val1: 0.5, carr1: 'BTC', val2: 32, carr2: 'ETH',})" />-->
            <button type="submit" class="btn btn-submit"
                    @click="setPanelPaymant('save-acc');setDataInterestRatea(savingAccSecond.rate)"
                    v-text="$t('Open account')"/>

          </div>

        </div>
      </div>

    </div>

    <data-list :lists-items="getSevaAccDeposit('Active').splice(0, 2)">
      <template #itemStatus="{item}">
        {{item.status}}
      </template>
      <template #payment="{item}">
        {{item.paymant}} %
      </template>
    </data-list>

  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex';
import DataList from '../user-data-list/DataList.vue';
import formatDate from '../../helpers/formatDate';
import FontIcon from '../icon/FontIcon.vue';

export default {
  name: 'SaveContentOverwiev',
  components: { FontIcon, DataList },
  computed: {
    ...mapState({
      myVal: ({ savingAccData }) => savingAccData.myVal,
      myValCurrency: ({ savingAccData }) => savingAccData.myValCurrency,
      repaymentDate: ({ savingAccData }) => formatDate(savingAccData.repaymentDate),
      repaymentAmount: ({ savingAccData }) => savingAccData.repaymentAmount,
      repaymentCurrency: ({ savingAccData }) => savingAccData.repaymentCurrency,
      savingAccFirst: ({ savingAccData }) => savingAccData.savingAccFirst,
      savingAccSecond: ({ savingAccData }) => savingAccData.savingAccSecond,
    }),
    ...mapGetters(['getSevaAccDeposit', 'formatAmountUp']),
  },
  methods: mapMutations(['setPanelPaymant', 'setDataInterestRatea']),
};
</script>
