<template>
  <div class="nebeus-dashbord-content dashbord-savings-accounts">
    <div class="nebeus-dashbord-content__inner">
      <div v-if="savingAccData">
        <tollbar-pagas>
          <div class="crypto__toolbar-item">
          <span class="nebeus-icon nebeus-icon--saving">
            <main-icon name="saving-acc-logo" />
          </span>
          </div>
          <div class="crypto__toolbar-item">
            <div class="crypto__curency-name" v-text="$t('Savings accounts')" />
          </div>
        </tollbar-pagas>
        <dashboard-inner-nav :nav-menu="navMenu"/>
        <div class="dashbord-crypto__content dashbord-crypto__content-loan">
          <div class="dashbord-crypto__content-inner">
            <router-view />
            <slide-panel-payment :is-tollbar="false" />
          </div>
        </div>
      </div>
      <error-indicator v-else/>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import DashboardInnerNav from '../crypto-currency/DashboardInnerNav.vue';
import SlidePanelPayment from '../slide-panel/SlidePanelPayment.vue';
import MainIcon from '../icon/MainIcon.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';

export default {
  name: 'SavingsAccountsPage',
  components: {
    ErrorIndicator, MainIcon, SlidePanelPayment, DashboardInnerNav,
  },
  props: ['savingAccDataProps'],
  data: () => ({
    navMenu: {
      Overwiev: '/save/overwiev/',
      History: '/save/history/',
    },
  }),
  computed: mapState(['savingAccData']),
  methods: mapMutations(['setSavingAccData']),
  mounted() {
    this.setSavingAccData(this.savingAccDataProps);
  },
};
</script>
