<template>
  <div>
    <dashboard-date-tollbar @seacrh="onFilter"
      :filterData="Object.keys(dashboardData)" />
    <slot v-if="dashboardData" />
    <error-indicator title="We are currently updating our platform. We will be back soon." subtitle="" v-else />
  </div>
</template>

<script>
import $ from 'jquery';
import DashboardDateTollbar from './DashboardDateTollbar.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';

const replaceSpace = function (str) {
  return str.replace(/\s/g, '');
};

export default {
  name: 'DashboardDateTable',
  components: { ErrorIndicator, DashboardDateTollbar },
  props: {
    dashboardData: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    filter: null,
  }),
  methods: {
    onFilter({ s, activeFilter }) {
      const search = replaceSpace(s);
      const table = this.$slots.default[0].elm;
      const arrResult = [];
      const searchRow = $(table).find('.nebeus-table__row:not(.notResaltJs)');
      const notResult = $(table).find('.nebeus-table__row.notResaltJs');
      const activeFilterItem = `[data-search_filter="${activeFilter}"`;

      searchRow.hide();
      $(activeFilterItem).each(function () {
        $(this).show();
      });

      const searchVal = new RegExp(search, 'gi');
      const searchBox = activeFilter ? $(table).find(`.nebeus-table__row:not(.notResaltJs)[data-search_filter=${activeFilter}]`) : searchRow;
      notResult.hide();
      if (!search.trim().length) {
        searchBox.show();
        return;
      }
      searchBox.each(function () {
        const result = replaceSpace($(this).text());
        if (result.search(searchVal) >= 0) {
          $(this).show();
          arrResult.push($(this));
        } else {
          $(this).hide();
        }
      });

      if (!arrResult.length) {
        notResult.show();
      }
    },
  },
};
</script>
