<template>
  <div class="nebeus-toolbar">
    <div class="nebeus-toolbar__inner">
      <form action="" id="search-crypto" class="nebeus-form-search__form">
        <div class="nebeus-form-search__form-inner">
          <div class="nebeus-form-search__curency bg-gree-400"
               :class="{active: sectionFilter}">
            <div class="search__curency-filter-text text-capitalize"
                 v-text="$t('Currency')" />
            <!--<div class="search__curency-filter-text text-capitalize"
              v-text="sectionFilter ? sectionFilter.split('_')[0] : $t('Currency')" />
            <button class="btn btn&#45;&#45;close" @click="sectionFilter = null;setSearch()" />-->
          </div>
          <div class="form-group form-search">
            <label class="p-0">
              <span class="nebeus-icon nebeus-icon--search">
                  <main-icon name="search" />
              </span>
              <input type="text" @input="setSearch" v-model.trim="s" :placeholder="$t('Search')" class="form-control" />
            </label>
          </div>
          <div class="nebeus-toolbar__action">
            <div class="nebeus-action__nav">
              <button type="button" class="btn btn--grey nebeus-action__nav-button btn-icon bg-gree-400 ">
                 <span class="nebeus-icon nebeus-icon--settings">
                    <main-icon name="btnSetting" />
                 </span>
              </button>
              <div class="nebeus-action__nav-wrap">
                <ul class="nebeus-action__nav-list" v-if="dashboardData">
                  <li class="nebeus-action__nav-item text-capitalize"
                      v-for="({name, status}, i) in sectionFilter"
                      :key="name"
                      :class="{active: status }"
                      @click="changeFilter(i); setSearch()"
                      v-text="$t(name)" />
                </ul>
              </div>
            </div>
            <div class="nebeus-action__nav">
              <button type="button"
                      @click="updateActivePanel('dashboardSeting')"
                      class="btn btn--grey nebeus-action__nav-button btn-icon bg-gree-400 not-index">
                 <span class="nebeus-icon nebeus-icon--nav">
                    <main-icon name="menuDot" />
                 </span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import MainIcon from '../icon/MainIcon.vue';

export default {
  name: 'DashboardDateTollbar',
  components: { MainIcon },
  data: () => ({
    sectionFilter: [],
    s: '',
  }),
  computed: {
    ...mapState({
      dashboardData: ({ dashboardPage }) => (dashboardPage.data ? dashboardPage.data : null),
      defaultCurr: ({ dashboardPage }) => (dashboardPage.defaultCurr ? dashboardPage.defaultCurr : null),
    }),
    activeFilter() {
      return this.sectionFilter.filter((el) => el.status).map((item) => item.type);
    },
  },
  methods: {
    ...mapMutations(['setFilterDashbord', 'updateActivePanel']),
    formatingFilterData() {
      this.sectionFilter = Object.keys(this.dashboardData).map((el) => ({
        type: el,
        name: (el.replace('_', ' ')),
        status: false,
      }));
    },
    changeFilter(key) {
      this.sectionFilter[key].status = !this.sectionFilter[key].status;
    },
    setSearch() {
      let filterCurr = this.defaultCurr;
      if (this.activeFilter.length) {
        filterCurr = filterCurr.filter(({ type }) => this.activeFilter.includes(type));
      }
      if (this.s.length) {
        const serchString = (str) => str.replace(/\s*/g, '').toLowerCase().includes(this.s);
        filterCurr = filterCurr.filter(({ CurrencyCode, currName, Amount }) => serchString(CurrencyCode) || serchString(currName) || serchString(String(Amount)));
      }
      this.setFilterDashbord(filterCurr);
    },
  },
  watch: {
    dashboardData(val) {
      if (val) {
        this.formatingFilterData();
      }
    },
  },
};
</script>
