<template>
  <div class="nebeus-table__row-wrap"  v-if="items.length">
    <div class="nebeus-table__row" v-for="item in items" :key="item.Id">

      <div class="nebeus-table__col nebeus-data__currency">

        <div class="nebeus-data__currency-icon nebeus-data__currency-icon--"
            :class="`nebeus-data__currency-icon--${item.CurrencyCode.toLowerCase()}`"
        />

        <div class="nebeus-data__currency-name" v-text="item.currName || currName" />
      </div>

      <div class="nebeus-table__col nebeus-data__content">
        <slot name="content" :item="item">
          <div class="nebeus-data__content-item" v-if="item.balanceBC && Object.keys(item.balanceBC).length -1 > 0">
            <span class="nebeus-data__counter" v-text="Object.keys(item.balanceBC).length - 1"/>
            <span class="nebeus-data__item-name" v-text="$t('Active Receive')"/>
            <span class="nebeus-data__item-name font-weight-bold text-greey" v-text="item.balanceBC['summ']" />
          </div>
        </slot>
      </div>

      <div class="nebeus-table__col nebeus-data__action">

        <div class="nebeus-data__cost">
          <div class="nebeus-data__price" v-text="formatAmountUp(item.Amount, item.CurrencyCode)"/>
          <div class="nebeus-data__symbol" v-text="item.CurrencyCode"/>
        </div>

        <div class="nebeus-data__nav mb-sm-n2 p-0">
          <span class="nebeus-icon nebeus-icon--nav">
            <main-icon name="menuDot"/>
          </span>
        </div>

      </div>
        <slot name="link" :item="item">
          <a class="nebeus-table__row-link" :href="`/currency/?id=${item.Id}/#overwiev`"/>
        </slot>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MainIcon from '../icon/MainIcon.vue';

export default {
  name: 'DashboardDateTableItems',
  components: { MainIcon },
  props: {
    items: {
      type: [Array],
      default: () => ([]),
    },
    currName: {
      type: [String, Boolean],
      default: false,
    },
  },
  computed: mapGetters(['formatAmountUp']),
};
</script>
