<template>
  <div class="nebeus-dashbord-content">
    <div class="nebeus-dashbord-content__inner">
      <dashboard-date-tollbar/>
      <div class="nebeus-data__table">
        <div class="nebeus-table__inner"  v-if="dashboardData.curr && currencies">
          <dashboard-date-table-items :items="filterCurrNotVault" />
          <dashboard-date-table-items class="mt-1" :items="filterCurrVault">
            <template #link="{item}">
              <a class="nebeus-table__row-link" :href="`/cold-storage/#/cold/${item.CurrencyCode.toLowerCase()}`"/>
            </template>
          </dashboard-date-table-items>
          <div class="nebeus-table__row-wrap">
            <div class="nebeus-table__row" v-if="!filterCurr.length">
              <div class="not-resalt__heading" v-text="$t('No results found')" />
            </div>
          </div>
          <div class="nebeus-table__row-wrap ">
            <dashboard-date-table-items class="mt-1"
                                       :curr-name="$t('Loan')"
                                       :items="this.dashboardData.closestLoan">
              <template #content="{item}">
                <div class="nebeus-data__cost">
                  {{$t('Next repayment')}}:  <strong class="pl-1">{{item.date}}</strong>
                </div>
              </template>
              <template #link>
                <a class="nebeus-table__row-link" href="/loans/#/loan/overwiev"/>
              </template>
            </dashboard-date-table-items>
          </div>
          <div class="nebeus-table__row-wrap mt-1">
            <dashboard-date-table-items :curr-name="$t('Savings accounts')"
                                       :items="this.dashboardData.closestSvAcc">
              <template #content="{item}">
                <div class="nebeus-data__cost">
                  {{$t('Next income')}}:  <strong class="pl-1">{{item.date}}</strong>
                </div>
              </template>
              <template #link>
                <a class="nebeus-table__row-link" href="/savings-accounts/#/save/overwiev/"/>
              </template>
            </dashboard-date-table-items>
          </div>
        </div>
        <error-indicator v-if="!dashboardData.curr" title="We are currently updating our platform. We will be back soon." subtitle="" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import DashboardDateTollbar from './DashboardDateTollbar.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';
import DashboardDateTableItems from './DashboardDateTableItems.vue';

export default {
  name: 'DashboardDateTable',
  components: { DashboardDateTableItems, ErrorIndicator, DashboardDateTollbar },
  props: {
    dashboardData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapState({
      currencies: ({ slidePanel }) => (slidePanel.data ? slidePanel.data.currencies : null),
      filterCurr: ({ dashboardPage }) => dashboardPage.filterCurr,
    }),
    filterCurrNotVault() {
      return this.filterCurr.filter((el) => el.type !== 'vault');
    },
    filterCurrVault() {
      return this.filterCurr.filter((el) => el.type === 'vault');
    },
  },
  methods: {
    ...mapMutations(['setDashboardPage']),
    formatCurr(obj) {
      const arr = [];
      Object.keys(obj).map((key) => {
        Object.values(obj[key]).map((el) => {
          arr.push({
            ...el,
            type: key,
            currName: key === 'vault' ? `Vault ${el.CurrencyCode}` : el.CurrencyCode,
          });
          return el;
        });
        return key;
      });
      this.setDashboardPage({ data: obj, filterCurr: arr });
    },
  },
  mounted() {
    if (this.dashboardData && this.dashboardData.curr) {
      this.formatCurr(this.dashboardData.curr);
    }
  },
};
</script>
