<template>
  <div>
    <div v-if="exchangeData">
      <div class="chart-exchange-wrap dashbord-crypto__content-toolbar" v-show="windowSize < 768">
        <spinner v-show="timerId"/>
        <div v-show="roterId === 'btc' && !timerId">
          <slot  name="chart-btc-mob"/>
        </div>
        <div v-show="roterId === 'eth' && !timerId">
          <slot  name="chart-eth-mob"/>
        </div>
      </div>
      <slide-panel-payment/>
      <exchange-tollbar />
      <div class="chart-exchange-wrap" v-show="windowSize >= 768">
        <spinner v-show="timerId"/>
        <div v-show="roterId === 'btc' && !timerId">
          <slot  name="chart-btc"/>
        </div>
        <div v-show="roterId === 'eth' && !timerId">
          <slot  name="chart-eth"/>
        </div>
      </div>
      <slide-panel-payment/>
    </div>
    <error-indicator v-else/>
  </div>
</template>

<script>

import { mapMutations, mapState } from 'vuex';
import ExchangeTollbar from './content/ExchangeTollbar.vue';
import Spinner from '../spinner/Spinner.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';

const SlidePanelPayment = () => import(/* webpackChunkName: "slide-panel-payment" */ '../slide-panel/SlidePanelPayment.vue');

export default {
  name: 'ExchangePage',
  components: {
    ErrorIndicator, Spinner, ExchangeTollbar, SlidePanelPayment,
  },
  props: ['exchangeData'],
  data: () => ({
    timerId: null,
  }),
  computed: {
    ...mapState(['windowSize']),
    roterId() {
      return this.$route.params.exchangeId;
    },
  },
  methods: {
    ...mapMutations(['setExchangeData']),
    updateTimer() {
      if (this.timerId) clearTimeout(this.timerId);
      this.timerId = setTimeout(() => {
        this.timerId = null;
      }, 500);
    },
  },
  mounted() {
    this.setExchangeData(this.exchangeData);
  },
  watch: {
    roterId() {
      this.updateTimer();
    },
  },
};
</script>
