.nebeus-slide-panel {
  &--cold-paymant {
     & > div + .nebeus-slide-panel__row {
      margin-top: 0;
    }
    .btn-submit {
      min-width: auto;
      width: 100%;
    }
  }
}

.dashbord-cold-storage {
  .crypto-data{
    &__heading {
      padding-bottom: 0;
    }
    &__content {
      padding-bottom: 0;
    }
  }
}

.nebeus-payment__form {
  &--cold-send {
    .form-group__action {
      padding: 3.65rem 0 4.3rem;
      @include media-breakpoint-down(sm) {
        padding: 2rem 0 2.5rem;
      }
    }
  }
  &--cold-withdraw {
    &-pin {
      padding: 2rem .75rem 0;
      .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}
