.crypto__toolbar .btn {
  min-width: auto;
}

.crypto-data:not(.active) {
  display: none;
}

.crypto__toolbar-list, .crypto__curency-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.crypto__curency-icon {
  width: 4rem;
  height: 4rem;
  margin-right: 1.4rem;
  @include media-breakpoint-down(md) {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}

.crypto__toolbar-list {
  & > :first-child {
    padding-right: 1.73rem;
    @include media-breakpoint-down(md) {
      padding-right: 1rem;
    }
  }

 & > :last-child {
    margin-left: 1.6rem;
  }
  .crypto__toolbar-action {
    padding-left: 4.7rem;
    @include media-breakpoint-down(md) {
      padding-left: 1rem;
    }
  }
}

.crypto__curency-name {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1;
}

.crypto__toolbar {
  position: relative;
  padding-bottom: 1.73rem;
  .crypto__curency-icon {
    background-size: 38%;
  }
}

.crypto__toolbar-action {
  max-width: 24rem;
}

.nebeus-edit-name__form {
  display: flex;
  flex-wrap: wrap;

  .form-group {
    width: 100%;
    flex: 0 0 calc(100% - 9.86rem);
    margin-bottom: 0;
  }

  .nebeus-form__action {
    padding-left: 1.9rem;
    flex: 0 0 9.86rem;
    max-width: 9.86rem;
    width: 100%;
  }

  .btn.btn-submit {
    line-height: 1.1;
    font-size: 1rem;
    width: 100%;
  }

  .form-control {
    min-height: 100%;
    padding: 0 1rem;
    border-radius: 3px;
  }
}

.dashbord-crypto-currency {
  .nebeus-dashbord-content__inner {
    position: relative;
    @include media-breakpoint-down(sm) {
      padding-top: 2rem;
    }
    & > .crypto__toolbar {
     @include media-breakpoint-down(md) {
       padding: 0 1.33rem 1.5rem;
     }
    }
  }
  &__nav-list {
    list-style: none;
    display: flex;
  }
}

.dashbord-crypto-currency__nav-item {
  a {
    display: inline-block;
    text-decoration: none;
    color: #364364;
    font-weight: 700;
    padding: 1rem 1.6rem;

    &:hover:not(.router-link-active) {
      background-color: $gray-100;
    }
  }

  .router-link-active {
    background-color: #fff;
  }
}

.dashbord-crypto__content {
  background: #fff;
  padding: 2rem 1.6rem 3.2rem;
}

.crypto-toolbar__item:not(:last-child) .crypto-toolbar__item-inner {
  padding-right: 1rem;
  padding-right: 2.4rem;
}

.crypto-current__value {
  color: #00C084;
  line-height: 1.15;

  .crypto-numb {
    font-size: 48px;
    font-weight: 700;
  }
}

.crypto-toolbar__item-name {
  padding-bottom: .6rem;
}

.crypto-toolbar__item-inner {
  display: flex;
  align-items: center;
  color: #364364;
}

.crypto-toolbar__item-info {
  padding-left: 1rem;
  margin-top: -5px;
}

.crypto-toolbar__item-val {
  font-weight: 700;
}

.crypto-default__value {
  padding-left: 1.6rem;
}

.dashbord-crypto__content-toolbar {
  align-items: center;
  padding-bottom: 2.46rem;
  margin: 0 .2rem 2.1rem;
  border-bottom: 1px solid $gray-300;
  &--exchange {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .crypto-toolbar__item {
      &:not(:last-child) .crypto-toolbar__item-inner {
        padding-right: 5.7rem;
      }
      &-info {
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

.crypto-data__heading {
  font-size: 1.1rem;
  line-height: 1.15;
  font-weight: 700;
  display: flex;

  align-items: center;
  padding-bottom: 1.33rem;
}

.crypto-data__heading-icon {
  margin-right: 1.6rem;
}

.crypto-data__item--header .crypto-data__content {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-wrap: nowrap;
}

.crypto-data {
  &__pending-symbol {
    min-width: 2.65rem;
    text-align: right;
  }
  &__content {
    padding-bottom: 2.26rem;
    @include media-breakpoint-down(sm) {
      padding-bottom: 1.2rem;
    }
    &-wallet-name {
      font-size: 1.33rem;
    }
    &-number-wallet {
      @include media-breakpoint-down(lg) {
        padding-left: 2rem;
      }
      @include media-breakpoint-down(md) {
        padding-left: 4rem;
        width: 100%;
      }
    }
    &-link {
      max-width: 45rem;
      margin-left: auto;
      width: 100%;
    }
  }
}

#crypto-overwiev .crypto-data__item:not(:last-child) .crypto-data__content {
  border-bottom: 1px solid $gray-700;
  margin-bottom: 3.2rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
  }
}

.crypto-data__content-adrees {
  margin-left: 3.6rem;
  padding-right: 1.5rem;
  flex-grow: 1;
  &-info {
    max-width: 26rem;
  }
}

.crypto-data__content-action {
  margin-left: auto;
  max-width: 15.2rem;
  width: 100%;

  .btn {
    width: 100%;
    font-size: 1rem;
    min-width: auto;
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.crypto-data__item--pending {
  padding-top: 3.4rem;
  margin: 0 4rem;
  border-top: 1px solid $gray-300;
}

.crypto-data__content-pending{
  &-row {
    display: flex;
    padding: .25rem 2.7rem;
    color: $gray-700;
    font-weight: 500;
    > div {
      padding: 0 1.33rem 1rem;
      width: 100%;
    }

    &:last-child > div {
      padding-bottom: 0;
    }
    position: relative;
  }
  &-date {
    max-width: 8rem;
    @include media-breakpoint-down(mob) {
      max-width: 6rem;
    }
  }
  &-value {
    max-width: 10rem;
    padding: 0 .5rem;
  }
  &-status {
    @include media-breakpoint-down(sm) {
      max-width: 6rem;
    }
  }
}
.crypto-data__content-pending-status {
  display: flex;
  flex-wrap: wrap;
  .crypto-data__pending-status {
    font-weight: 400;
    color: $orange;
    padding-left: .9rem;
    @include media-breakpoint-down(sm) {
      padding: 0!important;
    }
  }
  @include media-breakpoint-down(md) {
    span:first-child {
      display: none;
    }
  }
}

.history {
  &-list {
    padding: 0 4rem 1.33rem;
    list-style: none;
    &__item {
      display: flex;
      align-items: center;
      color: $gray-700;
      padding-bottom: 1.33rem;
      &:not(:last-child) {
        border-bottom: 0;
      }
    }

    &__col {
      &-data {
        padding-right: 1.6rem;
        max-width: 10.6rem;
        @include media-breakpoint-down(md) {
          padding-right: 1rem;
        }
      }
      &-amount {
        text-align: right;
        padding-right: 1rem;
        @include media-breakpoint-down(md) {
          padding-right: 1rem;
        }
        :first-child {
          padding-right: .6rem;
          width: 7.3rem;
          display: inline-block;
          vertical-align: top;
          @include media-breakpoint-down(sm) {
            width: 100%;
            padding-right: 0;
          }
        }
      }
      &-recipient {
        width: auto;
        padding-right: 1.45rem;
      }
      &-download {
        padding-right: 1.6rem;
      }
    }
    @include media-breakpoint-down(md) {
      padding: 0 1rem 1rem;
    }
  }
  &--details {
    margin-left: 2px;
    color: $gray-500;
    text-decoration: underline;
  }
}

@include media-breakpoint-down(lg) {
  .crypto-data__item--header .crypto-data__content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .crypto-data__content-adrees {
    margin-left: 1.6rem;
  }
  .history-list {
    padding: 0 2rem 1rem;
  }
}

@include media-breakpoint-down(md) {

  .crypto-data__item--header .crypto-data__content {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  .crypto-data__content-action {
    margin: 2rem auto;
  }
  .crypto-data__item--pending {
    margin: 0 1rem;
    padding-top: 1.5rem;
  }
  .crypto-data__content-pending-row {
    padding: .25rem 1.5rem;
  }

  .crypto-default__value {
    padding-left: 0;
  }

  .dashbord-crypto__content-toolbar {
    flex-wrap: wrap;

    .crypto-toolbar {
      &__item.col-auto {
        &:first-of-type {
          width: 100%;
          .crypto-toolbar__item-inner {
            flex-wrap: wrap;
            .crypto-toolbar__item-col {
              width: 100%;
            }
          }
        }
        margin-top: 1rem;
        width: 50%;

        .crypto-toolbar__item-inner {
          flex-wrap: wrap;

          .crypto-toolbar__item-col .pie,
          .crypto-toolbar__item-info {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .history-list {
    padding: 0 0 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .crypto-data__item--header .crypto-data__content {
    margin-left: 0;
    margin-right: 0;
  }
  .crypto-data__item--pending {
    margin: 0;

    .crypto-data__content-pending-row {
      padding: .25rem 0;
      margin: 0 -.5rem;
       div {
        padding: 0 .5rem .5rem;
      }
    }
  }
  .crypto-data__content-adrees {
    width: 50%;
  }
  .dashbord-crypto__content-toolbar .crypto-toolbar__item.col-auto {
    padding-right: 0;
    padding-left: 0;

    .crypto-toolbar__item-inner {
      flex-wrap: nowrap;
      padding-right: 0;
    }
  }
  .dashbord-crypto__content-toolbar .crypto-toolbar__item.col-auto .crypto-toolbar__item.col-auto:first-of-type .crypto-toolbar__item-inner {
    flex-wrap: wrap;
  }
  .history-list {
    padding: 0;
    margin: 0 -1.6rem;
    .history-list__col-left {
      padding-right: 0.5rem;
      margin-right: auto;
    }
  }

  .crypto__toolbar {
    &-list {
      flex-wrap: wrap;
      justify-content: center;

      .crypto__toolbar-item:first-of-type {
        position: absolute;
        left: 1rem;
        top: 2.2rem;
      }

      .crypto__toolbar-item:last-of-type {
        width: 100%;
        margin: 1rem auto;
        text-align: center;

        .crypto__toolbar-action {
          max-width: 100%;
        }
      }

      .crypto__curency-heading {
        flex-wrap: wrap;

        .crypto__curency-name {
          width: 100%;
          text-align: center;
        }

        .crypto__curency-icon {
          margin: 0 auto 1.3rem;
          width: 8rem;
          height: 8rem;
          background-size: 45px 64px;
          background-position: 52% 50%;
        }
      }
    }
  }
}

@include media-breakpoint-down(mob) {
  .crypto-data__content {
    &-action {
      max-width: 100%;
    }
    &-pending-status {
      margin-left: auto;
    }
  }
}

@include media-breakpoint-down(sm-mob) {
  .dashbord-crypto__content-toolbar .crypto-toolbar__item.col-auto {
    .crypto-toolbar__item {
      &-inner {
        flex-wrap: wrap;
        padding-right: 0;
        & > :first-child {
          margin: 0 auto;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .dashbord-crypto__content {
    padding: 1.5rem 1rem 2rem;
  }
  .qr-code-wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .crypto-data__content-adrees {
    width: 100%;
  }

  .history-list {
    margin: 0 -1rem;
  }
}

.history-list {
  overflow: hidden;
  &--details {
    margin-left: 2px;
    color: $gray-500;
    text-decoration: underline;
  }
  .crypto-data__item--pending & {
    .history-list__item {
      align-items: center;
    }
    .status-waiting {
      &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='30' viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 24.188C19.0771 24.188 23.1929 20.0744 23.1929 15C23.1929 9.9256 19.0771 5.812 14 5.812C8.92288 5.812 4.80707 9.9256 4.80707 15C4.80707 20.0744 8.92288 24.188 14 24.188Z' fill='%23328270'/%3e%3cpath d='M14 22.125C17.9372 22.125 21.1289 18.935 21.1289 15C21.1289 11.065 17.9372 7.875 14 7.875C10.0629 7.875 6.87122 11.065 6.87122 15C6.87122 18.935 10.0629 22.125 14 22.125Z' fill='%23DAD7DC'/%3e%3cpath d='M27.9495 15.0281C27.8056 13.5784 27.3795 12.1849 26.7134 10.9524C26.0503 9.71692 25.1528 8.64233 24.103 7.79326C23.056 6.94708 21.8594 6.32663 20.6205 5.96841C19.3816 5.60454 18.0976 5.5058 16.8643 5.644V7.90047L12.9134 3.95165L16.8643 0V2.25929C18.535 2.40032 20.1549 2.87141 21.5942 3.62166C23.0363 4.37191 24.2977 5.39575 25.3024 6.5974C26.3043 7.80179 27.0493 9.18103 27.4952 10.628C27.9439 12.0721 28.0878 13.5784 27.9495 15.0281Z' fill='%23FEED32'/%3e%3cpath d='M0.0504995 14.9719C0.194412 16.4216 0.620552 17.8151 1.28658 19.0476C1.94977 20.2831 2.84719 21.3577 3.89702 22.2067C4.94401 23.0529 6.14058 23.6734 7.37948 24.0316C8.61839 24.3955 9.90244 24.4942 11.1357 24.356V22.0995L15.0866 26.0484L11.1357 30V27.7407C9.46502 27.5997 7.84513 27.1286 6.40585 26.3783C4.96377 25.6281 3.7023 24.6042 2.69763 23.4026C1.69577 22.1982 0.950749 20.819 0.504853 19.372C0.0561317 17.9279 -0.087798 16.4216 0.0504995 14.9719V14.9719Z' fill='%23E6E7E8'/%3e%3cpath d='M14 8.43289C13.754 8.43289 13.5546 8.63221 13.5546 8.87813C13.5546 9.12399 13.754 9.3233 14 9.3233C14.2461 9.3233 14.4455 9.12399 14.4455 8.87813C14.4455 8.63221 14.2461 8.43289 14 8.43289Z' fill='%234388B9'/%3e%3cpath d='M14 20.6767C13.754 20.6767 13.5546 20.876 13.5546 21.1219C13.5546 21.3678 13.754 21.5671 14 21.5671C14.2461 21.5671 14.4455 21.3678 14.4455 21.1219C14.4455 20.876 14.2461 20.6767 14 20.6767Z' fill='%234388B9'/%3e%3cpath d='M20.1251 14.5548C19.8791 14.5548 19.6797 14.7541 19.6797 15C19.6797 15.2459 19.8791 15.4452 20.1251 15.4452C20.3712 15.4452 20.5706 15.2459 20.5706 15C20.5706 14.7541 20.3712 14.5548 20.1251 14.5548Z' fill='%234388B9'/%3e%3cpath d='M7.87484 14.5548C7.62882 14.5548 7.42938 14.7541 7.42938 15C7.42938 15.2459 7.62882 15.4452 7.87484 15.4452C8.12086 15.4452 8.32031 15.2459 8.32031 15C8.32031 14.7541 8.12086 14.5548 7.87484 14.5548V14.5548Z' fill='%234388B9'/%3e%3cpath d='M14 14.3225C13.8504 14.3225 13.7291 14.2014 13.7291 14.0517V10.8397C13.7291 10.69 13.8504 10.5689 14 10.5689C14.1496 10.5689 14.2709 10.69 14.2709 10.8397V14.0517C14.2709 14.2014 14.1496 14.3225 14 14.3225Z' fill='%23293B44'/%3e%3cpath d='M13.1243 15.2988H10.1725C10.0229 15.2988 9.90161 15.1777 9.90161 15.028C9.90161 14.8784 10.0229 14.7572 10.1725 14.7572H13.1243C13.2739 14.7572 13.3952 14.8784 13.3952 15.028C13.3952 15.1777 13.2739 15.2988 13.1243 15.2988Z' fill='%23293B44'/%3e%3cpath d='M14 16.3544C13.2527 16.3544 12.6448 15.7468 12.6448 15C12.6448 14.2532 13.2527 13.6456 14 13.6456C14.7473 13.6456 15.3551 14.2532 15.3551 15C15.3551 15.7468 14.7473 16.3544 14 16.3544ZM14 14.4579C13.7009 14.4579 13.4576 14.7012 13.4576 15C13.4576 15.2988 13.7009 15.5421 14 15.5421C14.2991 15.5421 14.5424 15.2988 14.5424 15C14.5424 14.7012 14.2991 14.4579 14 14.4579Z' fill='%23328270'/%3e%3c/svg%3e ") 50% / contain no-repeat;
      }
    }
  }
  .history-data__item & {
    .history-list {
      &__item {
        &--details {
          transition: .3s easy;
          margin-right: -4.1rem;
          .history--details {
            margin: -1rem -1.6rem -1rem 1rem;
            width: 100%;
            max-width: 4.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .nebeus-icon {
              transform: rotate(90deg);
            }
            @include media-breakpoint-down(xs) {
              margin-right: -1rem;
            }
          }
        }
        &.active-item {
          &::before {
            display: none;
          }
          margin-right: 0;
          .history {
            &--details {
              background: $gray-200;
            }
          }
        }
        &--mobile {
          &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.history-list__item {
            &--income::before  {
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.0586 0C6.81445 0 0 6.69727 0 14.9414C0 23.1855 6.81445 30 15.0586 30C23.3027 30 30 23.1855 30 14.9414C30 6.69727 23.3027 0 15.0586 0Z' fill='%2332D736'/%3e%3cpath d='M30 14.9414C30 23.1855 23.3027 30 15.0586 30V0C23.3027 0 30 6.69727 30 14.9414Z' fill='%2310BB67'/%3e%3cpath d='M23.7603 11.0566L15.0591 19.7754L14.4439 20.3906C13.7407 21.0761 12.6333 21.0761 11.9478 20.3906L6.24072 14.7831C5.55518 14.0976 5.55518 12.9902 6.24072 12.3047C6.89111 11.6543 8.06891 11.6543 8.7193 12.3047L13.1958 16.6464L15.0591 14.7831L21.2817 8.57812C21.9321 7.92773 23.1099 7.92773 23.7603 8.57812C24.4283 9.24609 24.4633 10.371 23.7603 11.0566Z' fill='%23E1E4FB'/%3e%3cpath d='M23.7598 11.0566L15.0586 19.7754V14.7832L21.2812 8.57813C21.9316 7.92773 23.1094 7.92773 23.7598 8.57813C24.4278 9.2461 24.4628 10.371 23.7598 11.0566Z' fill='%23C5C9F7'/%3e%3c/svg%3e ");
            }
            &--outcome::before  {
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z' fill='%23FFD93B'/%3e%3cpath d='M15.0005 24.6411C10.6139 24.6411 6.79171 21.6702 5.70609 17.4177C5.62078 17.083 5.82234 16.7427 6.15703 16.6574C6.48984 16.5702 6.83109 16.7736 6.9164 17.1083C7.8614 20.8077 11.1848 23.3915 14.9995 23.3915C18.8142 23.3915 22.1386 20.8077 23.0826 17.1083C23.167 16.7736 23.5073 16.5702 23.843 16.6574C24.1776 16.7427 24.3792 17.083 24.2939 17.4177C23.2092 21.6702 19.387 24.6411 15.0005 24.6411Z' fill='%233E4347'/%3e%3cpath d='M30.0008 15C30.0008 23.2875 23.2836 30 15.0008 30C10.2852 30 6.07578 27.825 3.32422 24.4172C5.89766 26.4985 9.17422 27.7407 12.7414 27.7407C21.0242 27.7407 27.7414 21.0282 27.7414 12.7407C27.7414 9.17349 26.4992 5.89692 24.418 3.32349C27.8211 6.07505 30.0008 10.2844 30.0008 15Z' fill='%23F4C534'/%3e%3cpath d='M10.1562 15.6405C11.4257 15.6405 12.4549 14.4174 12.4549 12.9086C12.4549 11.3999 11.4257 10.1768 10.1562 10.1768C8.88661 10.1768 7.85742 11.3999 7.85742 12.9086C7.85742 14.4174 8.88661 15.6405 10.1562 15.6405Z' fill='%233E4347'/%3e%3cpath d='M11.1921 12.3208C11.013 12.4614 10.7186 12.392 10.5302 12.1633C10.3418 11.9345 10.3324 11.628 10.5115 11.4873C10.6896 11.3402 10.9849 11.4095 11.1724 11.6383C11.3618 11.8736 11.3636 12.1745 11.1921 12.3208Z' fill='%235A5F63'/%3e%3cpath d='M19.8466 15.6405C21.1162 15.6405 22.1454 14.4174 22.1454 12.9086C22.1454 11.3999 21.1162 10.1768 19.8466 10.1768C18.577 10.1768 17.5479 11.3999 17.5479 12.9086C17.5479 14.4174 18.577 15.6405 19.8466 15.6405Z' fill='%233E4347'/%3e%3cpath d='M20.8825 12.3208C20.7034 12.4614 20.4091 12.392 20.2206 12.1633C20.0322 11.9345 20.0228 11.628 20.2019 11.4873C20.38 11.3402 20.6744 11.4095 20.8628 11.6383C21.0522 11.8736 21.0541 12.1745 20.8825 12.3208Z' fill='%235A5F63'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='30' height='30' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
            }
            &--commission-payment::before  {
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 29.5264H31.2629V33H0V29.5264Z' fill='%23B71C1C'/%3e%3cpath d='M24.2744 13.5045C24.3422 13.0567 24.2744 13.5045 24.2744 13.0398C24.2744 12.575 24.2744 13.0398 24.2065 12.592L28.3756 9.68146C28.6606 9.47793 28.742 9.11496 28.5622 8.81983L25.8314 4.20638C25.6652 3.91126 25.2955 3.8027 24.98 3.93161L20.7702 5.77021C20.0375 5.21388 20.4004 5.66165 19.5219 5.31904L19.0334 0.586858C18.9961 0.254418 18.7077 0 18.3617 0H12.8968C12.5542 0 12.2659 0.254418 12.2285 0.586858L11.7231 5.44455C10.8411 5.78717 11.5501 5.37671 10.8174 5.93643L6.27854 3.93161C5.96646 3.8027 5.60009 3.91126 5.43048 4.20299L2.69633 8.81983C2.51994 9.11496 2.60135 9.47793 2.8863 9.68146L6.6924 12.3037C6.62455 12.7481 6.69918 13.2128 6.76703 13.6606L2.8863 16.371C2.60135 16.5745 2.51994 16.9375 2.69633 17.2292L5.43048 21.846C5.60009 22.1412 5.96646 22.2497 6.27854 22.1208L10.7088 20.1872C11.4415 20.747 10.8411 20.3365 11.7231 20.6791L12.2285 25.4656C12.2659 25.8014 12.5542 26.0524 12.9002 26.0524H18.3651C18.7077 26.0524 18.9961 25.8014 19.0334 25.4656L19.5049 20.825C20.3835 20.4824 19.8373 20.73 20.5701 20.1737L24.98 22.1208C25.2955 22.2497 25.6618 22.1412 25.8314 21.846L28.5622 17.2326C28.742 16.9375 28.6572 16.5745 28.3756 16.371L24.2744 13.5045Z' fill='%23F44336'/%3e%3cpath d='M15.6326 3.47388C10.3577 3.47388 6.08008 7.75149 6.08008 13.0264C6.08008 18.3014 10.3577 22.579 15.6326 22.579C20.9076 22.579 25.1852 18.3014 25.1852 13.0264C25.1852 7.75149 20.9076 3.47388 15.6326 3.47388Z' fill='%23F44336'/%3e%3cpath d='M11.29 12.1575H19.9742L15.6321 6.94702L11.29 12.1575Z' fill='%23FFEBEE'/%3e%3cpath d='M13.8955 10.4209H17.3692V18.2366H13.8955V10.4209Z' fill='%23FFEBEE'/%3e%3c/svg%3e ");
            }
            &--details:not(.active-item) {
              /*margin-right: -1.4rem;
              @include media-breakpoint-down(xs) {
                margin-right: -.8rem;
              }*/
              .history--details {
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm){
    li {
      border-top: 1px solid $gray-200;
      &:last-child {
        border-bottom: 1px solid $gray-200;
      }
    }
  }
  &__item--mobile {
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem 1.6rem;
    .history {
      &-list {
        &__col {
          &-amount {
            padding-right: 0;
            color: $gray-800;
          }
        }
      }
      &-item {
        padding-bottom: .8rem;
        &__recipient {
          font-size: 1rem;
          padding-bottom: .5rem;
          font-weight: 700;
          color: $gray-800;
          & > span {
            width: 9.5rem;
            display: inline-block;
            @include media-breakpoint-down(xs) {
              width: 9rem;
            }
          }
          .nebeus-icon svg {
            width: 1rem;
            height: 1rem;
          }
          .link-text {
            padding-right: 0.5rem;
          }
        }
        &__ammount {
          padding-bottom: .8rem;
        }
      }
    }
    /*&.active {
      padding-left: 0;
      padding-right: .5rem;
      .history {
        &--details {
          display: flex;
        }
      }
    }*/

    @include media-breakpoint-down(xs) {
      padding: 1rem;
    }
  }
}
