#zohohc-asap-web-helper-main:not(.active) {
  display: none;
}

.nebeus-dashbord-page {
  background-color: rgb(242, 244, 249);
  padding: 4rem 3rem 4rem 4rem;
  min-height: 100vh;
}

.nebeus-dashbord-content__inner {
  padding: 1.6rem 0 2rem;
}


.nebeus-dashbord-page .nebeus-site-content {
  padding-left: 4.4rem;
  @include media-breakpoint-down(lg) {
    padding-left: 3rem;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-bottom: 4rem;
  }
}


.nebeus-form-search__curency {
  max-width: 100%;
  flex: 0 0 10rem;

  .btn--close {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.07rem;
    height: 1.07rem;
  }

  &:not(.active) .btn--close {
    display: none;
  }

  padding: .86rem 1.6rem;
  font-size: 1.2rem;
  line-height: 1.2;
  position: relative;
}

.form-search {
  position: relative;
  flex: 0 0 calc(100% - 16.8rem);
  max-width: 100%;
  padding-left: .4rem;
  padding-right: .4rem;

  .nebeus-icon {
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
  }

  input.form-control {
    padding: .9rem 3.6rem;
    border: 1px solid #F9FAFC;
    background: #F9FAFC;
    font-size: 1.2rem;
    line-height: 1.1;
    width: 100%;
  }
}

.nebeus-form-search__form {
  max-width: 100%;
}

.nebeus-form-search__form-inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.nebeus-toolbar__action {
  flex: 0 0 6.8rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nebeus-action__nav-button {
  width: 3.2rem;
  height: 3.2rem;
  padding: .8rem;
  min-width: auto;
  border-radius: 0;
}

.nebeus-form-search__curency {
  .select2-selection {
    width: 100%;
    border-color: #F9FAFC;
    padding: .9rem 1.1rem;
    background: #F9FAFC;
    font-size: 1.2rem;
    border-radius: 0;
    height: 100%;
  }

  .select2-container {
    width: 100%;

    .select2-selection .select2-selection__rendered {
      height: 100%;
    }
  }

  .select2-selection {
    .select2-selection__arrow {
      display: none;
    }

    .select2-selection__rendered {
      .select2-selection__clear {
        font-size: 2.2rem;
        font-weight: 200;
        position: absolute;
        right: 1.1rem;
        top: 50%;
        transform: translateY(-50%);
      }

      .select2-selection__placeholder {
        color: #6A7287;
      }
    }
  }
}

.select2-container--curency {
  .select2-dropdown {
    border-radius: 0;
    border-color: #F9FAFC;
    background: #F9FAFC;

    .select2-results__option {
      font-size: 1.1rem;
      padding: .6rem 1.6rem;
      color: #364364;
    }
  }

  &.select2-container--focus .select2-selection {
    outline: none;
  }

  .select2-dropdown .select2-results__option:hover {
    background: #dbdbdd;
  }
}

.btn-menu:focus, .btn.btn-transparent:focus, .nebeus-action__nav .btn:focus, .form-search input.form-control:focus, .select2-container--curency.select2-container--focus {
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  border-color: #00c084;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 192, 132, 0.25);
}

.nebeus-toolbar--bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 14;
  background: #fff;

  .nebeus-toolbar__action {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-transparent {
    width: 11.6rem;
  }
}

.nebeus-action__nav {
  position: relative;
}

.nebeus-action__nav-wrap {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  width: 17rem;
}

.nebeus-action__nav-list {
  margin-top: .4rem;
  list-style: none;
  padding: 1.2rem 0 2.9rem;
  background: #fff;
  box-shadow: 0px 2px 12px rgba(17, 56, 86, 0.09);
}

.nebeus-action__nav {
  &.active .nebeus-action__nav-wrap, &:hover .nebeus-action__nav-wrap {
    display: block;
  }
}

.nebeus-action__nav-item {
  cursor: pointer;
  padding: 1rem 3.2rem;
  display: inline-block;
  text-decoration: none;
  color: #000;
  width: 100%;

  &.active {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.17 0L5.59 10.58L1.41 6.41L0 7.82L5.59 13.41L17.59 1.41L16.17 0Z' fill='%23069DFA'/%3e%3c/svg%3e ");
    background-position: 15px 50%;
    background-repeat: no-repeat;
    background-color: $gray-50;
  }
}

/*.nebeus-action__nav-item:hover {
    background-color: #FAFAFA;
}*/

.nebeus-data__cost {
  display: flex;
  flex-wrap: wrap;
}

@include media-breakpoint-down(md) {
  .nebeus-main-header {
    .btn--operation {
      display: none;
    }

    .btn--balance {
      background-color: transparent;
    }

    .btn--user-data {
      min-width: 0;
      width: 2.6rem;
      height: 2.6rem;
      padding: 0;

      .nebeus-icon--user {
        padding: 0 !important;
      }

      span.user-name {
        display: none;
      }
    }
  }

  .btn-menu {
    display: inline-block;
  }
}

@include media-breakpoint-down(sm) {
  .admin-bar .nebeus-dashbord-page .nebeus-main-header--dashbord {
    top: 3rem;
  }

  .nebeus-dashbord-page {
    padding-left: 0;
    padding-right: 0;
  }

  .nebeus-main-header--dashbord {
    .header__logo {
      flex: 0 0 3rem;
    }

    .nebeus-header__action--dashbord {
      flex: 0 0 calc(100% - 3rem);
    }

    background-color: rgb(255, 255, 255);
  }

  .nebeus-slide-panel--left {
    transform: translateX(-110%);
  }

  .nebeus-dashbord-content__inner {
    padding: 3.2rem 0;
  }

  .nebeus-form-search__curency {
    flex: 0 0 100%;
    margin-bottom: .4rem;
  }

  .form-search {
    flex: 0 0 calc(100% - 6.8rem);
    padding-left: 0;
  }

  .nebeus-form-search__form-inner {
    padding: 0 1.73rem;
  }

  .nebeus-data__table {
    padding-top: 1.2rem;
  }

  .form-search {
    input.form-control {
      padding: .9rem 1rem .9rem 2.2rem;
    }

    .nebeus-icon {
      left: .6rem;
    }
  }
}

@include media-breakpoint-down(mob) {
  .nebeus-header__action--dashbord {
    .btn--balance {
      padding-left: 0;
    }
  }

  .nebeus-main-header--dashbord {
    [class*=col] {
      padding: 0 .4rem;
    }

    .nebeus-row {
      margin: 0 -.4rem;
      flex-wrap: wrap;
    }

    .nebeus-header__inner {
      padding: 0 .4rem;
    }
  }

  .nebeus-toolbar--bottom .nebeus-toolbar__action .btn {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: auto;
    padding: .9rem 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .nebeus-main-header--dashbord {
    .btn--balance {
      font-size: .8rem;
      padding-right: 0;
    }

    .btn--user-data {
      min-height: 0;
      width: 2rem;
      height: 2rem;
      padding: 0;

      .nebeus-icon svg {
        width: .8rem;
        height: .8rem;
      }
    }
  }

  .btn-menu {
    width: 2rem;
    height: 2rem;
  }
}

/* -------------------------------------------------------------------------- */

/*	Dashbord Data
/* -------------------------------------------------------------------------- */

.nebeus-data__table {
  padding: 2.7rem 0 1.5rem;
}

.nebeus-table__row {
  display: flex;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(17, 56, 86, 0.1);
  background: #fff;
  padding: 1.5rem 1.4rem 1.5rem 2.8rem;
  align-items: center;
  position: relative;
  &:hover {
    cursor: pointer;
    transition: .22s ease-in-out;
    background-color: #f9fafc;
  }
  &-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}

.nebeus-data__nav {
  &-wrap {
    display: none;
  }
  & > a {
    display: inline-block;
    padding: 0 .5rem 0 1rem;
  }
}

.nebeus-data__currency {
  display: flex;
  align-items: center;
}

.nebeus-table__row.notResaltJs, .nebeus-data__currency-name {
  font-size: 1.3rem;
  line-height: 1.1;
}

.nebeus-data__icon--edit {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.7812 0.333374C10.2995 0.333374 9.8151 0.51827 9.44792 0.885457L8.66667 1.66671L11.3333 4.33337L12.1146 3.55212C12.8516 2.81514 12.8516 1.62244 12.1146 0.885457C11.7474 0.51827 11.263 0.333374 10.7812 0.333374ZM7.66667 2.66671L0 10.3334V13H2.66667L10.3333 5.33337L7.66667 2.66671Z' fill='%2394A0B6'/%3e%3c/svg%3e ") 50% 50% no-repeat;
  width: .86rem;
  height: .86rem;
  display: inline-block;
  margin-right: 1.2rem;
}

.nebeus-data__content {
  margin-left: auto;
  color: #FF9D03;
}

.nebeus-data__edit, .nebeus-data__content {
  margin-right: 1.6rem;
  font-size: 1.1rem;
  line-height: 1.2;
  padding-right: 1.73rem;
  border-right: 1px solid $gray-300;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
}

.nebeus-data__edit {
  color: #94A0B6;
}

.nebeus-data__action {
  display: flex;
  align-items: center;
  max-width: 14rem;
  width: 100%;
  justify-content: flex-end;
  color: #94A0B6;
  font-size: 1.3rem;
  line-height: 1.2;
  .nebeus-data {
    &__cost {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-right: 1rem;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-right: .5rem;
    max-width: 12rem;
  }
}

.nebeus-data__symbol {
  margin-left: .45rem;
  text-transform: uppercase;
}

.nebeus-form__user-verify .nebeus-form__action .btn-submit {
  min-width: 100%;
}

/*------------//----------*/

@include media-breakpoint-down(md) {
  .nebeus-data__content-item {
    .nebeus-data__item-name {
      display: none;
    }

    &::before {
      content: '';
      display: inline-block;
      width: .93rem;
      height: 1.06rem;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='15.25' x2='14.7692' y2='15.25' stroke='%23FF9D03' stroke-width='1.5'/%3e%3cpath d='M6.85541 12.5303C7.14831 12.8232 7.62318 12.8232 7.91607 12.5303L12.689 7.75736C12.9819 7.46447 12.9819 6.98959 12.689 6.6967C12.3961 6.40381 11.9213 6.40381 11.6284 6.6967L7.38574 10.9393L3.1431 6.6967C2.85021 6.40381 2.37533 6.40381 2.08244 6.6967C1.78955 6.98959 1.78955 7.46447 2.08244 7.75736L6.85541 12.5303ZM6.63574 0L6.63574 12H8.13574V0L6.63574 0Z' fill='%23FF9D03'/%3e%3c/svg%3e ") 50% 50% no-repeat;
    }
  }

  .nebeus-table__col.nebeus-data__edit {
    display: none;
  }

  .nebeus-data__content {
    margin-left: 0;
    margin-right: auto;
    border: none;
  }

  .nebeus-data__currency-name {
    display: none;
  }

  .nebeus-data__currency-icon {
    margin-right: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .nebeus-table__row {
    padding: .93rem 1.7rem;
  }
}
