.icon-exchange {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 50%;
    background-size: .6rem;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 5;
  }
}

.icon-exchange {
  &--btc::before {
    background-color: $orang-300;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.499878 9.99902V-0.000976562H4.59938C5.80438 -0.000976562 6.71638 0.231524 7.33938 0.696523C7.96238 1.16152 8.27288 1.84302 8.27288 2.73952C8.27288 3.22952 8.14788 3.66152 7.89988 4.03452C7.64988 4.40752 7.30238 4.68102 6.85688 4.85502C7.36488 4.98402 7.76488 5.24152 8.05788 5.63252C8.35138 6.02052 8.49988 6.49502 8.49988 7.05952C8.49988 8.02052 8.19538 8.74902 7.58588 9.24302C6.97638 9.73702 6.10938 9.98902 4.98238 9.99902H0.499878ZM2.49988 3.99902H4.68138C5.71288 3.98152 6.23038 3.58702 6.23038 2.77652C6.23038 2.32352 6.09938 1.99702 5.83788 1.79802C5.57638 1.59902 5.16388 1.49902 4.59938 1.49902H2.49988V3.99902ZM2.49988 5.49902V8.49902H4.92188C5.40238 8.49902 6.49988 8.26452 6.49988 7.19452C6.49988 6.12452 5.94138 5.51252 4.99988 5.49902H2.49988Z' fill='%23FFF8E1'/%3e%3c/svg%3e ");
  }
  &--eth::before{
    background-color: $blue-700;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.45358 0.5L0.5 6.68541L4.97135 8.88355L9.37149 6.68348L5.48817 0.5H5.21581H4.45358ZM4.47668 2.29201V4.43625L2.54801 5.31108L4.47668 2.29201ZM5.46218 2.31222L7.34369 5.3082L5.46218 4.44395V2.31222ZM4.47668 5.518V7.54195L2.33628 6.48907L4.47668 5.518ZM5.46218 5.52955L7.55446 6.49004L5.46218 7.53618V5.52955ZM0.534647 7.6507V8.89221L4.44107 13.25H4.96943H5.49779L9.40421 8.89221V7.6507L4.96943 9.92391L0.534647 7.6507ZM2.76262 9.90082L4.47668 10.7795V11.8122L2.76262 9.90082ZM7.17623 9.90082L5.46218 11.8122V10.7795L7.17623 9.90082Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--eur::before{
    background-color: $blue-700;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.049 15.914C10.967 15.914 10.869 15.931 10.854 15.934C10.266 16.052 9.654 16.111 9.015 16.111C7.635 16.111 6.57 15.691 5.817 14.851C5.107 14.058 4.729 12.933 4.659 11.499H9.129C9.609 11.499 9.999 11.109 9.999 10.629V10.619C9.999 10.139 9.609 9.749 9.129 9.749H4.624V8H9.129C9.609 8 9.999 7.61 9.999 7.13V7.12C9.999 6.64 9.609 6.25 9.129 6.25H4.687C4.785 4.918 5.157 3.862 5.835 3.114C6.575 2.297 7.63 1.889 9.001 1.889C9.571 1.889 10.138 1.943 10.705 2.051C10.76 2.061 10.94 2.1 11.05 2.1C11.575 2.1 12 1.675 12 1.15C12 0.696 11.691 0.318 11.265 0.224L11.223 0.215C10.409 0.0729999 9.652 0 8.978 0C6.947 0 5.335 0.576 4.144 1.727C3.024 2.809 2.414 4.329 2.273 6.25H0.87C0.39 6.25 0 6.64 0 7.12V7.13C0 7.61 0.39 8 0.87 8H2.25V9.75H0.87C0.39 9.75 0 10.14 0 10.62V10.63C0 11.11 0.39 11.5 0.87 11.5H2.255C2.348 13.523 2.951 15.111 4.094 16.238C5.285 17.413 6.917 18 8.99 18C10.2 18 10.709 17.916 11.202 17.805C11.646 17.705 11.999 17.336 11.999 16.865C12 16.34 11.574 15.914 11.049 15.914Z' fill='white'/%3e%3c/svg%3e ");
  }
  &--nbtk::before{
    background-color: $orang-300;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4327 6.23146V11.765C10.4327 12.0807 10.5509 12.3591 10.7872 12.6C11.0236 12.841 11.3021 12.9614 11.6228 12.9614C11.9436 12.9614 12.2306 12.841 12.4838 12.6C12.737 12.3591 12.8636 12.0807 12.8636 11.765V6.40595C12.8636 4.61127 12.239 3.09497 10.9898 1.85698C9.74056 0.618986 8.22125 0 6.43181 0C4.64238 0 3.12307 0.614832 1.87384 1.84451C0.624606 3.0742 0 4.59466 0 6.40595V11.765C0 12.0807 0.122389 12.3591 0.36717 12.6C0.611952 12.841 0.894713 12.9614 1.21546 12.9614C1.53621 12.9614 1.81897 12.841 2.06375 12.6C2.30853 12.3591 2.43092 12.0807 2.43092 11.765V6.23146C2.43092 5.00178 2.82341 4.00476 3.6084 3.24036C4.39339 2.47596 5.33452 2.09377 6.43181 2.09377C7.52911 2.09377 8.47024 2.47596 9.25523 3.24036C10.0402 4.00476 10.4327 5.00178 10.4327 6.23146ZM7.79325 11.5685V6.03498C7.79325 5.71925 7.67508 5.44091 7.43874 5.19996C7.2024 4.95901 6.92386 4.83853 6.60311 4.83853C6.28236 4.83853 5.99538 4.95901 5.74216 5.19996C5.48894 5.44091 5.36233 5.71925 5.36233 6.03498V11.394C5.36233 13.1887 5.98694 14.705 7.23617 15.943C8.4854 17.181 10.0047 17.8 11.7941 17.8C13.5836 17.8 15.1029 17.1851 16.3521 15.9555C17.6014 14.7258 18.226 13.2053 18.226 11.394V6.03498C18.226 5.71925 18.1036 5.44091 17.8588 5.19996C17.614 4.95901 17.3312 4.83853 17.0105 4.83853C16.6897 4.83853 16.407 4.95901 16.1622 5.19996C15.9174 5.44091 15.795 5.71925 15.795 6.03498V11.5685C15.795 12.7982 15.4025 13.7952 14.6176 14.5596C13.8326 15.324 12.8914 15.7062 11.7941 15.7062C10.6968 15.7062 9.75572 15.324 8.97073 14.5596C8.18574 13.7952 7.79325 12.7982 7.79325 11.5685Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.dashbord-crypto {
  &-exchange {
    .dashbord-crypto-currency__nav-item {
      a {
        padding-left: 4.26rem;
        position: relative;
      }
      & .icon-exchange {
        position: absolute;
        left: 1.6rem;
        top: 50%;
      }
    }
  }
}

.crypto-toolbar__item-val {
  &--exchange {
    font-size: 2.13rem;
    .cryptoboxes .mcw-info-theme {
      background: transparent;
      box-shadow: none;
      border: 0;
      color: $gray-800!important;
      & > .mcw-list-row {
        & > :first-child {
          display: none;
        }
        .mcw-list {
          &-column {
            padding: 0;
            .mcw-list {
              &-price {
                padding: 0;
              }
              &-change {
                font-size: 1.36rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.dashbord-crypto__content {
  &-toolbar--exchange {
    .crypto-data__content {
      padding-bottom: 1.2rem;
    }
  }
}

.chart-exchange-wrap {
  padding: 1rem 4rem;
  .cryptoboxes > div {
    border: 0!important;
  }
  @include media-breakpoint-down(sm){
    padding: 0 0 2rem;
    .cryptoboxes {
      margin: 0 -1.8rem;
    }
  }
  @include media-breakpoint-down(xs) {
    .cryptoboxes {
      margin: 0 -1.2rem;
    }
  }
}

.nebeus-payment__form--exchange {
  .v-select {
    .vs__selected {
      font-size: 1.1rem;
      font-weight: 700;
      padding: 0 0 0 1.2rem;
    }
    .vs__actions{
      padding: 0;
      width: 1rem;
      &::before {
        margin-top: -.6rem;
      }
    }
    .vs__dropdown {
      &-menu {
        min-width: 8.66rem;
      }
      &-option {
        padding: .66rem 1.33rem;
        .icon-exchange {
          padding-left: 1.5rem;
          &::before {
            left: -1rem;
          }
        }
      }
    }
    &.icon-exchange {
      &::before {
        left: .5rem;
      }
    }
  }
}
