.loan {
  &-table {
    & > ul:not(.pagination) > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      color: $gray-800;
      font-weight: 400;
      border-bottom: 1px solid $gray-200;
      padding: 0.7rem 0;
      &.loan-table__header {
        font-weight: 700;
      }

      > div {
        width: 16.66666666%;
        padding-right: .5rem;

        &:last-child {
          max-width: 8.8rem;
          padding: 0;
          > .btn {
            padding: 0.47rem 1rem;
            @include media-breakpoint-down(md) {
              padding: 0.47rem 0.6rem;
            }
          }
        }
      }
    }

    .btc-label--right {
      float: right
    }

    &__icon {
      display: flex;
      align-items: center;

      & > div {
        width: 3.2rem;
      }
    }

    &__balance {
      /* text-align: right;
       padding-right: 1rem;*/
    }
  }
}

.dashbord-crypto__content-loan {
  .crypto-toolbar {
    &__numb {
      font-weight: 700;
      font-size: 3rem;
      line-height: 1.2;
      padding-bottom: 1rem;
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }

    &__symbol {
      color: $gray-500;
    }

    &__item {
      &-name {
        font-weight: 700;
        padding-bottom: 1.33rem;
      }
    }

    &__date {
      padding-top: 1.5rem;
      line-height: 1.6;

      [class*="text-"] {
        font-weight: 700;
      }
    }

    &__loan-text {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .loan-bg {
    &--grey {
      background: $gray-100;
    }

    &--green {
      background: $green-100;
    }
  }

  .collateral-loan {
    position: relative;

    &__info {
      height: 100%;
      padding: 1.5rem;
      position: relative;

      &-active::after {
        content: '';
        position: absolute;
        top: -10px;
        right: 0;
        width: 24px;
        height: 24px;
        background: $yellow;
        border-radius: 50%;
      }

      .btn-submit {
        font-size: 1rem;
        padding: .6rem .86rem;
        min-width: auto;
        line-height: 1.1;
        margin-top: 1.5rem;
      }
    }

    &__text {
      display: flex;
      line-height: 1.6;

      .loan-text__numb {
        font-weight: 700;
      }

      .loan-text__deck {
        min-width: 8.1rem;
      }
    }

    &__wrap {
      .crypto-toolbar__numb {
        padding-bottom: 0;
      }

      padding-bottom: .7rem;
    }

  }

  .dashbord-crypto__content-toolbar {
    border-bottom: none;

    &--full {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;

      .crypto-toolbar__item {
        width: 100%;
        max-width: 33.333333%;

        &:first-child {
          & > div {
            padding-left: 0;
          }
        }

        &:not(:first-child) {
          padding-left: 3.6rem;
        }

        @include media-breakpoint-down(lg) {
          max-width: 50%;
          &:first-child {
            max-width: 100%;
            padding: 0;
          }
          &:nth-child(2) {
            padding-left: 0;
            padding-right: 1rem;
          }
          &:last-child {
            padding-left: 1rem;
          }
          @include media-breakpoint-down(sm) {
            max-width: 100%;
            &:not(:first-child) {
              padding: 0 0 1rem;
            }
          }
        }
      }
    }
  }

  .crypto-data__content {
    margin-left: 4rem;
    &-subtitle {
      padding-bottom: 1.6rem;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  .single-date-loan {
    &__shedule {
      @include media-breakpoint-down(sm) {
        .crypto-data__heading {
          border-bottom: 0;
        }
      }
    }
  }

  .loan-table__balance {
    position: relative;

    .verify-indicator__icon {
      position: absolute;
      left: calc(90% - 1.86rem / 2);
      top: 50%;
      transform: translateY(-50%);

      &.text-red {
        font-weight: 700;
      }

      @include media-breakpoint-down(md) {
        width: 1rem;
        height: 1rem;
        left: calc(100% - 1rem / 2);
      }
    }
  }

  .loan-form {
    background: $gray-50;
    margin-top: 2.5rem;

    &__conditions {
      padding: 2.2rem 3.1rem 1.4rem 3.1rem;
    }

    &__header {
      padding: 2.2rem 3.1rem 11px 3.1rem;
      border-bottom: 1px solid $gray-300;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & &__header-link {
        float: right;
        color: $blue-ligth;
      }
    }

    &__action {
      margin-top: 1.2rem;
    }

    .currency-form {
      font-weight: 700;
      font-size: 5.3rem;
      color: $gray-700;
    }

    &-app {
      padding: 3.8rem 3.4rem .7rem 3.4rem;

      .row {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }

      .nebeus-form [class*=col]:not([class*=vc]) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 2rem;
        @include media-breakpoint-down(sm) {
          margin-bottom: 1rem;
        }
      }

      &__wrapp {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: 700;
      }

      &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .monthly {
          max-width: 60%;
        }
      }

      &__input {
        display: flex;
        flex-wrap: wrap;

        input {
          width: 100%;
          height: 48px;
          margin-top: 7px;
        }
      }

      &__input,
      &__select {
        display: flex;
        flex-wrap: wrap;
        margin-right: 3rem;
        font-weight: 700;
      }

      &__select label {
        text-align: right;
        width: 100%;
      }

      &__input label,
      &__select select {
        width: 100%;
      }

      &__range {
        width: 100%;
        margin-right: 3rem;
        font-size: 1.3rem;

        label span {
          font-weight: 700;
        }

        label,
        input {
          width: 100%;
        }

        input {
          margin-top: 1.8rem;
        }
      }

      &__range label,
      &__acceptance label,
      &__input .btc-label--right {
        font-weight: 400;
      }

      .loan-form-app__wrapp:nth-child(2) {
        padding: 3.8rem 0 5.2rem;
      }

      &__btn,
      &__btn input.btn {
        width: 100%;
        font-size: 1rem;
      }

      &__acceptance {
        position: relative;
        padding-left: 35px;

        &,
        & a {
          color: $gray-800;
          font-size: 12px;
        }

        input {
          &:not(checked) {
            position: absolute;
            opacity: 0;

            & + label:before {
              content: '';
              position: absolute;
              display: block;
              width: 16px;
              height: 16px;
              border: 1px solid $gray-300;
              left: 0;
            }

            & + label:after {
              content: '';
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288.941 288.941'%3E%3Cpath d='M285.377 46.368c-4.74-4.704-12.439-4.704-17.179 0L96.309 217.114 20.734 142.61c-4.74-4.704-12.439-4.704-17.179 0s-4.74 12.319 0 17.011l84.2 82.997c4.692 4.644 12.499 4.644 17.191 0l180.43-179.239a11.93 11.93 0 00.001-17.011c-4.74-4.704 4.752 4.692 0 0z'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              -webkit-background-size: contain;
              -moz-background-size: contain;
              background-size: contain;
              position: absolute;
              top: 2px;
              left: 3px;
              opacity: 0;
              width: 12px;
              height: 100%;
              -webkit-transition: all .2s;
              -o-transition: all .2s;
              -moz-transition: all .2s;
              transition: all .2s;
            }
          }

          &:checked + label:after {
            opacity: 1;
          }
        }
      }

      .nebeus-form__action {
        align-items: baseline;
      }
    }
  }

  .monthly {
    &-label {
      font-weight: 700;
    }

    &-number {
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 700;

      &-big {
        font-size: 3.2rem;
      }
    }
  }

  .loan-app {
    &__content {
      border-bottom: 1px solid $gray-300;
      display: flex;
      flex-wrap: wrap;

      &--verticl-space {
        align-items: center;
        justify-content: space-between;
        padding: 2.2rem 0 2.9rem;
      }

      &-title {
        font-weight: 700;
        font-size: 1.5rem;
        padding-bottom: 7px;
      }

      &-numb {
        font-weight: 700;
        font-size: 2.1rem;
        @include media-breakpoint-down(sm) {
          font-size: 1.6rem;
        }
        width: 100%;
        max-width: 30%;
        text-align: right;
      }

      &-info {
        font-size: 1.6rem;
        font-weight: 700;
        margin-right: auto;
        width: 100%;
        max-width: 70%;
        @include media-breakpoint-down(sm) {
          font-size: 1.2rem;
          &--big {
            max-width: 100%;
            & + div {
              text-align: left;
              max-width: 100%;
            }
          }
        }
      }

      &-deck {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $gray-300;
      padding: 1.2rem 0;

      &-img {
        flex-grow: 1;
        text-align: right;
      }

      &-title {
        padding-right: 1rem;
      }

      &-indicator {
        padding: 7px 2rem;
        border-radius: 100px;
        margin: 0 1rem;
        word-break: normal;
        @include media-breakpoint-down(sm) {
          padding: 7px 1.2rem;
        }
        &.text-active {
          background: $green;
          color: $white;
        }

        &.text-completed {
          background: $gray-50;
          color: $gray-800;
        }

        &.text-overdue {
          color: $white;
        }
      }
    }
  }

  .loan-app__header .loan-app__header-title,
  .loan-form__header .loan-form__header-title {
    font-weight: 700;
    font-size: 3.1rem;
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1.5rem;
    }
  }

  .interest-rate {
    text-align: right;
    max-width: 40%;
    width: 100%;
    @include media-breakpoint-down(mob) {
      max-width: 100%;
      text-align: left;
      padding-bottom: .5rem;
      order: -1;
    }
  }
}

.loan-app {

  .crypto-data {
    &__heading {
      padding: 3.1rem 0 1rem 0;
      border-bottom: 1px solid $gray-300;
      flex-wrap: wrap;

      &-info-loan {
        margin-left: auto;
        font-weight: 400;

        .radial-progress {
          &-container {
            top: 0;
            left: -5px;
          }
        }

        & > :first-child {
          padding-right: 1rem;
        }

        @include media-breakpoint-down(mob) {
          width: 100%;
          margin-top: 1rem;
        }
      }

    }

    &__content {
      .loan-table {
        margin-top: 2.33rem;

        &--shedule {
          ul:not(.pagination) > li > div {
            width: 20%;

            &:first-child {
              width: 35%;
            }

            &:nth-child(2) {
              width: 25%;
              @include media-breakpoint-down(sm) {
                width: 100%;
              }
            }

            &:last-child {
              text-align: right;
              padding-right: 1rem;
              @include media-breakpoint-down(sm) {
                text-align: left;
              }
            }
          }

          .loan-table {
            &__shedule-status {
              padding-left: 6rem;
              @include media-breakpoint-down(md) {
                padding-left: 4rem;
              }
              @include media-breakpoint-down(sm) {
                margin-left: auto;
                padding-left: 0;
              }
              .verify-indicator__icon {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }

  }

  &__details {
    color: $gray-500;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;

    li {
      display: flex;
      padding: .8rem 0;

      .loan-app__details-desk {
        width: 12rem;
        font-size: 1rem;
        margin-right: 3.46rem;
        @include media-breakpoint-down(sm) {
          margin-right: 1.2rem;
          width: 48%;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .loan-table {
    &__details {
      width: 147px;

      .btn {
        padding: 0.6rem 0.6rem;
      }
    }

  }
  .dashbord-crypto__content-loan {
    .monthly-number {
      font-size: 2.2rem;
      margin-top: 0.5rem !important;
      @include media-breakpoint-down(mob) {
        font-size: 1.5rem;
      }
    }

    .monthly-number-big {
      font-size: 2.5rem;
    }

    .loan-form {
      .currency-form {
        font-size: 4.3rem;
      }
    }

    .nebeus-opean-acc__form {
      .col-md-6 {
        width: 100%;
      }
    }

  }
}

@include media-breakpoint-down(sm) {
  .loan-table {

    &__month {
      &-item {
        width: 55%!important;
        order: 3;
        padding-top: .5rem;
      }
    }

    ul:not(.pagination) > li {
      flex-wrap: wrap;
      margin: 0 -1.6rem;
      padding: 0.7rem 1.6rem;
      border-bottom: 4px solid #f2f4f9;

      > div {
        width: 100%;
        display: flex;
        margin: 0.8rem 0;

        > span {
          width: 40%;
          margin-right: .5rem;
        }
      }

      div.loan-table__details {
        max-width: 100%;

        .btn {
          width: 100%;
          padding: 0.2rem 0.6rem;
        }
      }

      div.loan-table__type {
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          align-items: center;
          font-size: 1rem;

          .verify-indicator__icon {
            width: 1.6rem;
            height: 1.6rem;
            max-width: 1.6rem;
            margin-left: 1rem;
          }
        }
      }

      div.loan-table__balance {
        font-weight: 700;
        font-size: 1.4rem;

        span {
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  }
  .dashbord-crypto__content-loan {
    padding: 2rem 1.6rem 0;

    .dashbord-crypto__content-toolbar--full {

      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .loan-form {
      .currency-form {
        font-size: 3.3rem;
      }

      .loan-form-app,
      .loan-form__header,
      .loan-form__conditions {
        padding: 2.2rem 1.5rem 1.4rem 1.5rem;
      }

      .loan-form__action {
        .form-check {
          padding-bottom: 0;
        }

        .form-check-label {
          max-width: calc(100% - 4.2rem);
        }
      }


      .loan-form__header {
        flex-wrap: wrap;

      }
    }
    .form-card__date {
      max-width: 100%;
    }
  }
  .loan-app .crypto-data__content {
  .loan-table--shedule {
    ul:not(.pagination) li > div:first-of-type,
    ul:not(.pagination) li > div {
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  }
}
