@media screen and (max-width: 767px) {
  .nebeus-card__navigation .nebeus-card__navigation-list a {
    padding: 1.6rem 1.81rem;
  }

  #sign-in.active .btn-submit {
    margin-bottom: 1.6rem;
  }

  #sign-up .form-group.form-check {
    display: flex;
    flex-wrap: nowrap;
  }

  .nebeus-form .form-check-input[type="checkbox"]:not(.nebeus-switch__checkbox) {
    min-width: 2.15rem;
    min-height: 2.15rem;
  }
}

@media screen and (max-width: 360px) {
  .nebeus-login__form.active .btn-submit {
    min-width: 14.3rem;
  }

  .nebeus-card__navigation .nebeus-card__navigation-list a {
    padding: 1.477rem;
  }
}
