@media screen and (max-width: 1200px) {
  .page-template-rest-password-page .nebeus-site-content__inner, .page-template-login-page .nebeus-site-content__inner {
    padding: 2.7rem 0 2.7rem;
  }
}

@media screen and (max-width: 992px) {
  .nebeus-card__wrap {
    margin: 1rem 1.1rem 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .page-template-rest-password-page .nebeus-site-content__inner, .page-template-login-page .nebeus-site-content__inner {
    padding: 1.5rem 0;
  }

  body {
    &.page-template-rest-password-page, &.page-template-login-page {
      background: rgb(255, 255, 255);
    }
  }

  .nebeus-reset-password__form {
    .nebeus-form__action {
      display: block;
      padding-bottom: 2.6rem;
    }

    .btn-submit {
      margin-bottom: 2.53rem;
      display: block;
    }
  }

  .page-template-rest-password-page .nebeus-site-content__inner, .page-template-login-page .nebeus-site-content__inner {
    padding: 0;
  }

  .nebeus-card__wrap {
    margin: 0 1.1rem;
  }

  .nebeus-card__header {
    padding: 2.4rem 0 0;
  }

  #nebeus-ressetPassword .nebeus-card__header {
    padding: 2.4rem 1.73rem 0;
  }

  .nebeus-card__heading {
    padding: 1.6rem 1.4rem;
  }

  .nebeus-card__content {
    padding: 2.4rem 1.73rem;
  }

  .nebeus-reset-password__form .form-control {
    min-width: 15.8rem;
  }
}

@media screen and (max-width: 576px) {
  .nebeus-reset-password__form {
    .form-control, .btn-submit {
      width: 100%;
    }
  }
}

@media screen and (max-width: 360px) {
  .nebeus-reset-password__form {
    .form-control, .btn-submit {
      min-width: 14.3rem;
      padding: .9rem 1rem;
    }
  }

  .nebeus-card__heading {
    padding: 1.6rem 0.4rem;
  }

  .nebeus-data__content {
    padding-right: .4rem;
  }

  .nebeus-table__row {
    padding: .8rem 1rem;
  }

  .nebeus-data__action {
    font-size: 1rem;
    min-width: max-content;
  }
}
