.nebeus-thank {
  margin: 160px 0 50px;

  .container {
    padding: 0 3.8rem;
  }
}

.nebeus-heading.nebeus-thank__heading {
  position: relative;
  padding-bottom: 3.3rem;
}

.nebeus-thank__heading .nebeus-h2 {
  max-width: 40rem;
  font-size: 2rem;
  line-height: 1.8;
}

.nebeus-thank__icon {
  position: absolute;
  left: -3.8rem;
  top: .75rem;
}

.nebeus-thank__description {
  p {
    line-height: 2;
  }

  max-width: 42rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .nebeus-thank {
    margin: 2.7rem 0 2.7rem;
  }
}

@media screen and (max-width: 767px) {
  .nebeus-thank {
    margin: 2.4rem 0 50px;
  }

  .nebeus-thank__heading .nebeus-h2 {
    line-height: 1.2;
    font-size: 1.8rem;
  }

  .nebeus-heading.nebeus-thank__heading {
    padding-bottom: 1rem;
  }

  .nebeus-thank .container {
    padding: 0 1rem 0 3rem;
  }

  .nebeus-thank__icon {
    left: -1.8rem;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .nebeus-thank__description {
    margin-bottom: 1rem;

    p {
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 360px) {
  .nebeus-thank__heading .nebeus-h2 {
    font-size: 1.4rem;
  }
}
