@mixin font-face($font-family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/#{$file-name}.eot'), format('embedded-opentype'),
    url('../fonts/#{$file-name}.woff') format('woff'),
    url('../fonts/#{$file-name}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}


@include font-face(Arial, Arial-ItalicMT, 400, italic);
@include font-face(Arial Narrow, ArialNarrow-Bold, 700);
@include font-face(Arial, Arial-BoldItalicMT, 700, italic);
@include font-face(Arial Narrow, ArialNarrow);
@include font-face(Arial Narrow, ArialNarrow-Italic, 400, italic);
@include font-face(Arial, ArialMT);
@include font-face(Arial, Arial-BoldMT, 700);
@include font-face(Arial, Arial-Black, 900);
@include font-face(Arial Narrow, ArialNarrow-BoldItalic, 900, italic);
