.elementor-column {
  min-height: 0!important;
}

.qr-code-wrap {
  background: #fff;
}

.copy-field {
  border: 0;
  padding: 0;
  font-size: 1.2rem;
  max-width: none;
  width: 100%;
  color: $gray-800;

  &:focus {
    outline: none;
  }
}

.bg-gree-400 {
  background-color: $gray-100;
}

.text-greey {
  color: $gray-700;
}

.text-red {
  color: $red-light;
}

.text-purple {
  color: $purple;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.error-msg {
  padding-top: .5rem;
  font-size: .85rem;
  color: $red;
}

.show-md {
  display: none !important;
}

.hidden-scrollbar-y {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

@include media-breakpoint-down(sm){
  .hide-md {
    display: none !important;
  }

  .show-md {
    display: block !important;
  }
}

.no-scroll {
  overflow: hidden!important;
}

.nebeus-heading {
  &-1,
  &-2,
  &-3 {
    font-weight: 700;
    line-height: 1.15;
  }
  &-1 {
    font-size: 3.2rem;
  }
  &-2 {
    font-size: 2.13rem;
  }
  &-3 {
    font-size: 1.6rem;
  }
}

.text {
  &-waiting, &-in {
    color: $orange!important;
  }
  &-confirmed {
    color: $green!important;
  }
  &-complete {
    color: $green;
  }
  &-error {
    color: $red-light!important;
  }
  &-deleted {
    color: $gray-600!important;
  }
}

.field-card {
  .card-inner{
    position: relative;
  }
  &--is-brand .form-control {
    padding-right: 3.6rem!important;
  }
}

.card-brand {
  position: absolute;
  width: 2.4rem;
  height: 1.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &--unknown {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='19' viewBox='0 0 29 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M28 7V1H22' stroke='%23BDC7D5' stroke-width='2'/%3e%3cpath d='M1 7V1H7' stroke='%23BDC7D5' stroke-width='2'/%3e%3cpath d='M28 12V18H22' stroke='%23BDC7D5' stroke-width='2'/%3e%3cpath d='M1 12V18H7' stroke='%23BDC7D5' stroke-width='2'/%3e%3cpath d='M4.5 8.5H24.525' stroke='%23BDC7D5'/%3e%3c/svg%3e ");
  }
  &--maestro {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='512' height='354' viewBox='0 0 512 354' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M512 323.282C512 339.998 498.45 353.549 481.735 353.549H30.265C13.55 353.549 0 339.996 0 323.282V30.7171C0 14.0011 13.55 0.45105 30.265 0.45105H481.734C498.45 0.45105 511.999 14.0021 511.999 30.7171L512 323.282Z' fill='%23E7E8E3'/%3e%3cpath opacity='0.15' d='M21.517 323.282V30.7171C21.517 14.0011 35.069 0.45105 51.784 0.45105H30.264C13.55 0.45105 0 14.0031 0 30.7171V323.282C0 339.998 13.55 353.549 30.265 353.549H51.785C35.07 353.549 21.517 339.996 21.517 323.282Z' fill='%23202121'/%3e%3cpath d='M224.719 140.191C224.719 113.709 236.917 90.082 256 74.61C241.496 62.851 223.019 55.797 202.893 55.797C156.284 55.797 118.5 93.58 118.5 140.191C118.5 186.799 156.284 224.581 202.893 224.581C223.019 224.581 241.496 217.532 256 205.774C236.917 190.296 224.719 166.67 224.719 140.191Z' fill='%23EA001B'/%3e%3cpath d='M309.109 55.796C288.983 55.796 270.504 62.849 256 74.609C275.084 90.08 287.282 113.708 287.282 140.19C287.282 166.669 275.084 190.296 256 205.772C270.504 217.53 288.983 224.579 309.109 224.579C355.718 224.579 393.5 186.797 393.5 140.189C393.5 93.581 355.718 55.796 309.109 55.796Z' fill='%230099DF'/%3e%3cpath d='M287.282 140.191C287.282 113.709 275.084 90.082 256 74.61C236.917 90.081 224.719 113.709 224.719 140.191C224.719 166.67 236.917 190.297 256 205.773C275.084 190.296 287.282 166.67 287.282 140.191Z' fill='%236C6BBD'/%3e%3cpath d='M126.107 261.626C119.773 261.626 113.702 264.988 109.722 270.665C105.598 264.908 99.67 261.626 93.346 261.626C89.553 261.626 85.363 263.368 81.759 266.429L80.042 263.253C79.946 263.074 79.757 262.961 79.553 262.961H69.1C68.794 262.961 68.543 263.21 68.543 263.518V311.522C68.543 311.829 68.793 312.079 69.1 312.079H82.03C82.338 312.079 82.587 311.83 82.587 311.522V283.971C84.026 278.485 87.52 275.212 91.945 275.212C97.435 275.212 101.732 280.692 101.732 287.687V311.522C101.732 311.829 101.982 312.079 102.289 312.079H114.359C114.667 312.079 114.916 311.83 114.916 311.522V286.926C115.119 281.293 118.877 275.212 124.598 275.212C130.088 275.212 134.385 280.691 134.385 287.687V311.522C134.385 311.829 134.635 312.079 134.942 312.079H147.012C147.32 312.079 147.569 311.83 147.569 311.522V287.687C147.567 273.317 137.942 261.626 126.107 261.626Z' fill='%2334495E'/%3e%3cpath d='M206.383 262.963H196.039C195.783 262.963 195.556 263.14 195.498 263.392L194.629 267.076C190.222 263.483 184.712 261.516 179.012 261.516C165.099 261.516 153.779 273.157 153.779 287.467C153.779 301.776 165.099 313.418 179.012 313.418C184.616 313.418 190.036 311.515 194.405 308.038V311.525C194.405 311.832 194.655 312.082 194.962 312.082H206.384C206.692 312.082 206.941 311.833 206.941 311.525V263.521C206.939 263.212 206.691 262.963 206.383 262.963ZM180.737 299.941C177.651 299.941 174.807 298.69 172.533 296.343C170.329 293.849 169.116 290.697 169.116 287.466C169.116 284.176 170.359 280.945 172.516 278.608C174.808 276.242 177.65 274.991 180.738 274.991C183.817 274.991 186.695 276.272 188.851 278.608C191.043 280.873 192.249 284.018 192.249 287.466C192.249 290.857 191.07 293.924 188.842 296.334C186.693 298.66 183.815 299.941 180.737 299.941Z' fill='%2334495E'/%3e%3cpath d='M239.14 261.292C225.227 261.292 213.905 272.983 213.905 287.354C213.905 301.726 225.227 313.417 239.14 313.417C246.573 313.417 253.525 310.095 258.214 304.3C258.312 304.18 258.355 304.024 258.333 303.87C258.311 303.716 258.226 303.58 258.098 303.492L247.969 296.475C247.745 296.32 247.443 296.35 247.251 296.546C245.162 298.704 242.404 299.941 239.677 299.941C236.666 299.941 233.943 298.658 231.797 296.229C230.864 295.181 230.107 293.946 229.497 292.477H263.384C263.649 292.477 263.875 292.292 263.929 292.034C264.235 290.564 264.37 289.12 264.37 287.355C264.371 272.983 253.053 261.292 239.14 261.292ZM229.252 282.899C229.891 281.167 230.765 279.61 231.789 278.376C233.969 276.016 236.698 274.769 239.678 274.769C242.606 274.769 245.439 276.08 247.454 278.371C248.59 279.638 249.473 281.191 250.03 282.9L229.252 282.899Z' fill='%2334495E'/%3e%3cpath d='M294.387 282.485C293.329 282.113 292.282 281.788 291.289 281.479C286.939 280.128 284.493 279.252 284.841 276.954C285.126 274.703 286.531 273.514 288.901 273.514C291.716 273.514 295.586 275.226 299.797 278.335C299.923 278.426 300.08 278.462 300.234 278.434C300.386 278.404 300.521 278.313 300.601 278.179L306.851 268.045C307.012 267.785 306.931 267.443 306.673 267.28C300.412 263.373 295.997 261.514 287.843 261.514C278.127 261.514 270.799 268.025 270.799 276.66C270.799 286.429 277.599 289.383 286.488 292.226C290.356 293.475 292.89 294.517 292.89 297.487C292.89 299.732 291.207 301.072 288.386 301.072C285.467 301.072 280.664 299.426 276.738 294.788C276.636 294.668 276.488 294.597 276.33 294.591C276.184 294.601 276.022 294.65 275.91 294.762L267.291 303.784C267.084 304 267.086 304.341 267.293 304.555C272.819 310.267 280.806 313.413 289.784 313.413C299.208 313.413 307.474 306.126 307.474 297.819C307.474 290.612 302.695 285.019 294.387 282.485Z' fill='%2334495E'/%3e%3cpath d='M347.433 262.963H337.213V245.699C337.213 245.392 336.965 245.142 336.656 245.142H322.971C322.665 245.142 322.414 245.391 322.414 245.699V262.963H313.27C312.964 262.963 312.713 263.212 312.713 263.52V276.552C312.713 276.859 312.963 277.109 313.27 277.109H322.414V311.525C322.414 311.832 322.664 312.082 322.971 312.082H336.656C336.964 312.082 337.213 311.833 337.213 311.525V277.109H347.433C347.741 277.109 347.99 276.86 347.99 276.552V263.52C347.99 263.212 347.741 262.963 347.433 262.963Z' fill='%2334495E'/%3e%3cpath d='M392.017 263.106C389.522 262.21 386.737 261.738 383.961 261.738C377.354 261.738 371.756 263.952 368.417 267.846L366.811 263.332C366.733 263.11 366.524 262.962 366.287 262.962H355.834C355.528 262.962 355.277 263.211 355.277 263.519V311.523C355.277 311.83 355.527 312.08 355.834 312.08H369.304C369.612 312.08 369.861 311.831 369.861 311.523L369.852 285.114C370.883 279.464 375.668 275.364 381.231 275.364C382.944 275.364 384.657 275.746 386.32 276.499C386.455 276.562 386.609 276.564 386.751 276.511C386.89 276.456 387.004 276.348 387.062 276.21L392.342 263.847C392.401 263.706 392.401 263.546 392.34 263.406C392.279 263.268 392.161 263.158 392.017 263.106Z' fill='%2334495E'/%3e%3cpath d='M420.167 261.516C405.72 261.516 393.963 273.157 393.963 287.467C393.963 301.776 405.72 313.418 420.167 313.418C434.922 313.418 446.478 302.019 446.478 287.467C446.478 273.157 434.676 261.516 420.167 261.516ZM420.274 300.052C417.209 300.052 414.298 298.741 412.27 296.435C409.941 294.029 408.762 291.011 408.762 287.466C408.762 283.991 410.005 280.849 412.297 278.581C414.275 276.229 417.184 274.88 420.275 274.88C423.44 274.88 426.203 276.132 428.488 278.6C430.616 280.904 431.788 284.014 431.788 287.355C431.788 290.808 430.614 294.039 428.497 296.435C426.172 298.835 423.406 300.052 420.274 300.052Z' fill='%2334495E'/%3e%3c/svg%3e ");
  }
  &--mastercard {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='34' height='24' viewBox='0 0 34 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M33.625 20.7083C33.625 22.4571 32.2071 23.875 30.4583 23.875H3.54167C1.79287 23.875 0.375 22.4571 0.375 20.7083V3.29167C0.375 1.54287 1.79287 0.125 3.54167 0.125H30.4583C32.2071 0.125 33.625 1.54287 33.625 3.29167V20.7083Z' fill='%233F51B5'/%3e%3cpath d='M21.7497 4.0835C19.65 4.0835 17.6364 4.91757 16.1517 6.40223C14.6671 7.8869 13.833 9.90053 13.833 12.0002C13.833 14.0998 14.6671 16.1134 16.1517 17.5981C17.6364 19.0828 19.65 19.9168 21.7497 19.9168C23.8493 19.9168 25.8629 19.0828 27.3476 17.5981C28.8323 16.1134 29.6663 14.0998 29.6663 12.0002C29.6663 9.90053 28.8323 7.8869 27.3476 6.40223C25.8629 4.91757 23.8493 4.0835 21.7497 4.0835Z' fill='%23FFC107'/%3e%3cpath d='M15.4281 16.7502C15.0607 16.2617 14.7449 15.7337 14.4971 15.1668H18.7127C18.9328 14.6633 19.1054 14.1345 19.217 13.5835H13.9936C13.8891 13.0721 13.8337 12.5432 13.8337 12.0002H19.3753C19.3753 11.4571 19.3199 10.9282 19.2162 10.4168H13.9928C14.1052 9.86583 14.277 9.337 14.4971 8.8335H18.7127C18.4649 8.26666 18.1498 7.73862 17.7817 7.25016H15.4281C15.774 6.791 16.1643 6.36191 16.6005 5.98745C15.2167 4.80312 13.4228 4.0835 11.4587 4.0835C7.08628 4.0835 3.54199 7.62779 3.54199 12.0002C3.54199 16.3725 7.08628 19.9168 11.4587 19.9168C14.0466 19.9168 16.3369 18.67 17.7809 16.7502H15.4281Z' fill='%23FF3D00'/%3e%3c/svg%3e ");
  }
  &--visa {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='512' height='354' viewBox='0 0 512 354' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M512 323.281C512 339.997 498.45 353.548 481.735 353.548H30.265C13.55 353.549 0 339.997 0 323.281V30.717C0 14.001 13.55 0.450989 30.265 0.450989H481.735C498.451 0.450989 512 14.002 512 30.717V323.281Z' fill='white'/%3e%3cpath d='M113.64 179.035L101.618 121.364C99.563 113.411 93.583 111.045 86.111 110.732H30.993L30.502 113.367C73.431 123.774 101.836 148.88 113.64 179.035Z' fill='%23F79F1A'/%3e%3cpath d='M241.354 111.892H205.741L183.499 242.419H219.053L241.354 111.892Z' fill='%23059BBF'/%3e%3cpath d='M135.345 242.288L191.355 111.981H153.664L118.821 201.009L115.102 187.567C108.272 171.396 88.752 148.121 65.836 133.469L97.686 242.332L135.345 242.288Z' fill='%23059BBF'/%3e%3cpath d='M342.931 199.75C343.063 184.931 333.548 173.628 313.044 164.292C300.583 158.262 292.988 154.241 293.079 148.122C293.079 142.716 299.511 136.909 313.447 136.909C325.108 136.73 333.504 139.276 340.071 141.912L343.289 143.387L348.115 115.11C341.056 112.473 330.021 109.659 316.22 109.659C281.063 109.659 256.316 127.35 256.092 152.723C255.868 171.486 273.784 181.939 287.273 188.192C301.12 194.566 305.766 198.645 305.677 204.363C305.588 213.106 294.642 217.093 284.413 217.093C270.163 217.093 262.613 215.128 250.904 210.25L246.354 208.16L241.356 237.409C249.659 241.038 265.024 244.21 280.974 244.342C318.361 244.342 342.663 226.876 342.931 199.75Z' fill='%23059BBF'/%3e%3cpath d='M385.233 222.855C389.298 222.855 425.615 222.9 430.799 222.9C431.871 227.445 435.132 242.465 435.132 242.465H468.143L439.33 112.027H411.858C403.325 112.027 396.984 114.35 393.23 122.836L340.385 242.465H377.777C377.774 242.465 383.848 226.386 385.233 222.855ZM409.622 159.645C409.446 160.002 412.572 152.096 414.359 147.182L416.77 158.438C416.77 158.438 423.562 189.62 424.99 196.142H395.462C398.411 188.638 409.622 159.645 409.622 159.645Z' fill='%23059BBF'/%3e%3cpath d='M481.735 0.450989H30.265C13.55 0.450989 0 14.001 0 30.717V62.129H512V30.717C512 14.001 498.451 0.450989 481.735 0.450989Z' fill='%23059BBF'/%3e%3cpath d='M481.735 353.549H30.265C13.55 353.549 0 339.998 0 323.283V291.871H512V323.283C512 339.998 498.451 353.549 481.735 353.549Z' fill='%23F79F1A'/%3e%3cpath opacity='0.15' d='M21.517 323.281V30.717C21.517 14.001 35.068 0.450989 51.784 0.450989H30.264C13.55 0.450989 0 14.001 0 30.717V323.282C0 339.998 13.55 353.549 30.265 353.549H51.785C35.069 353.549 21.517 339.997 21.517 323.281Z' fill='%23202121'/%3e%3c/svg%3e ");
  }
  &--amex {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='512' height='380' viewBox='0 0 512 380' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M488.727 0.494019H256H23.273C10.42 0.494019 0 10.914 0 23.767V356.233C0 369.086 10.42 379.506 23.273 379.506H256H488.727C501.58 379.506 512 369.086 512 356.233V23.767C512 10.914 501.58 0.494019 488.727 0.494019Z' fill='%235286F9'/%3e%3cpath d='M331.017 164.711C336.039 164.711 339.826 160.61 339.826 155.174C339.826 149.914 336.04 145.949 331.017 145.949H293.95C288.631 145.949 284.621 149.736 284.621 154.758V225.56C284.621 230.557 288.719 234.472 293.95 234.472H331.017C336.039 234.472 339.826 230.461 339.826 225.143C339.826 219.852 335.957 215.708 331.017 215.708H303.904V199.279H314.045C319.067 199.279 322.854 195.403 322.854 190.262C322.854 185.03 318.985 180.933 314.045 180.933H303.904V164.712H331.017V164.711Z' fill='white'/%3e%3cpath d='M134.372 198.318H142.969L138.69 184.065L134.372 198.318Z' fill='%23679D5F'/%3e%3cpath d='M170.468 222.804L148.765 151.96C147.421 147.928 143.476 145.324 138.713 145.324C133.931 145.324 130.012 147.972 128.721 152.098L107.031 222.572C106.583 223.807 106.583 224.895 106.583 225.351C106.583 230.985 111.857 234.471 116.745 234.471C120.933 234.471 124.399 231.95 125.427 228.178L128.865 216.666H148.459L151.924 228.271C151.944 228.336 151.964 228.401 151.986 228.466C153.207 232.115 156.54 234.47 160.476 234.47C165.486 234.47 170.846 230.763 170.846 225.245C170.846 224.629 170.764 224.115 170.674 223.701C170.628 223.397 170.56 223.098 170.468 222.804ZM134.372 198.318L138.688 184.063L142.969 198.318H134.372Z' fill='white'/%3e%3cpath d='M404.25 220.414L387.833 190.141L403.882 160.214C404.832 158.538 405.314 156.773 405.314 154.965C405.314 149.792 400.805 145.74 395.048 145.74C389.674 145.74 387.137 150.494 386.009 152.609L376.515 170.743L366.981 152.539C365.898 150.505 363.36 145.742 357.981 145.742C352.223 145.742 347.715 149.795 347.715 154.967C347.715 156.753 348.182 158.492 349.104 160.14L365.1 190.143L348.772 220.429C348.741 220.486 348.711 220.544 348.682 220.601C347.961 222.044 347.611 223.495 347.611 225.038C347.611 230.721 353.021 234.682 357.877 234.682C363.276 234.682 365.645 229.942 366.592 228.045L376.515 209.272L386.373 227.921C387.385 229.944 389.755 234.683 395.153 234.683C400.009 234.683 405.419 230.722 405.419 225.039C405.419 223.491 405.065 222.035 404.342 220.591C404.311 220.528 404.28 220.471 404.25 220.414Z' fill='white'/%3e%3cpath d='M240.539 145.947C236.03 145.947 232.321 148.684 229.511 154.088L217.113 178.02L204.71 154.079C203.664 152.068 200.481 145.948 193.685 145.948C188.098 145.948 184.044 149.959 184.044 155.487V225.56C184.044 230.64 188.188 234.472 193.685 234.472C199.092 234.472 203.328 230.558 203.328 225.56V192.097L208.825 202.657C211.362 207.42 215.04 208.132 217.006 208.132C220.419 208.132 223.44 206.138 225.307 202.64L230.899 192.065V225.562C230.899 230.559 235.135 234.474 240.542 234.474C246.039 234.474 250.185 230.642 250.185 225.562V155.489C250.182 149.869 246.216 145.947 240.539 145.947Z' fill='white'/%3e%3c/svg%3e ");  }
  &--discover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='512' height='354' viewBox='0 0 512 354' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M512 323.282C512 339.998 498.45 353.549 481.735 353.549H30.265C13.55 353.549 0 339.996 0 323.282V30.7171C0 14.0011 13.55 0.45105 30.265 0.45105H481.734C498.45 0.45105 511.999 14.0021 511.999 30.7171L512 323.282Z' fill='%2334495E'/%3e%3cpath opacity='0.15' d='M21.517 323.282V30.7171C21.517 14.0011 35.069 0.45105 51.784 0.45105H30.264C13.55 0.45105 0 14.0031 0 30.7171V323.282C0 339.998 13.55 353.549 30.265 353.549H51.785C35.07 353.549 21.517 339.996 21.517 323.282Z' fill='%23202121'/%3e%3cpath d='M309.389 176.801C309.43 167.165 305.817 157.515 298.546 150.243C291.259 142.956 281.585 139.346 271.929 139.404C271.883 139.404 271.838 139.401 271.79 139.401C250.822 139.401 234.19 156.029 234.19 177.003C234.19 197.77 251.027 214.602 271.79 214.602C292.764 214.602 309.394 197.971 309.394 177.003C309.394 176.934 309.389 176.869 309.389 176.801Z' fill='%23F26E21'/%3e%3cpath d='M227.198 192.909C221.578 198.535 216.391 200.733 210.804 200.852C197.193 200.73 187.186 190.65 187.186 176.279C187.186 169.045 189.925 163.116 194.264 158.051C198.333 154.188 203.575 151.692 209.603 151.692C216.11 151.692 221.174 153.861 226.955 159.646V143.015C221.175 140.124 216.109 138.677 209.603 138.677C200.411 139.334 191.744 143.048 185.096 148.88C183.18 150.604 181.344 152.507 179.787 154.685C174.931 160.979 171.996 168.686 171.996 177.005C171.996 197.972 188.633 213.88 209.602 213.88C209.704 213.88 209.805 213.871 209.904 213.87C210.045 213.872 210.184 213.88 210.324 213.88C216.108 213.88 221.174 212.437 227.681 209.544L227.198 192.909C226.954 193.153 227.44 193.38 227.198 193.611V192.909Z' fill='%23E7E8E3'/%3e%3cpath d='M356.863 149.033L340.487 189.295L321.685 141.566H306.502L336.148 214.601H344.102L375.196 141.566H360.013L356.863 149.033Z' fill='%23E7E8E3'/%3e%3cpath d='M380.983 173.384V212.435H420.033H420.753V200.861H408.461H395.445V187.848V181.342H420.033V169.045H395.445V153.861H420.753V141.566H380.983V173.384Z' fill='%23E7E8E3'/%3e%3cpath d='M54.135 141.566H33.884V212.435H54.134C64.979 212.435 72.932 209.54 79.44 204.478C87.393 197.97 92.457 187.849 92.457 177.004C92.458 156.028 77.27 141.566 54.135 141.566ZM70.765 195.08C66.426 198.694 60.641 200.861 51.963 200.861H47.624V153.86H51.239C59.917 153.86 65.702 155.306 70.042 159.643C75.103 163.979 77.997 170.491 77.997 177.001C78.72 183.509 75.828 190.737 70.765 195.08Z' fill='%23E7E8E3'/%3e%3cpath d='M112.709 141.56H98.97V212.427H112.709V141.56Z' fill='%23E7E8E3'/%3e%3cpath d='M147.415 169.045C138.739 166.153 136.567 163.982 136.567 160.368C136.567 156.029 140.906 152.414 146.691 152.414C151.03 152.414 154.645 153.861 158.261 158.2L165.494 148.8C159.707 143.736 152.479 140.847 144.524 140.847C132.228 140.847 122.104 149.525 122.104 161.091C122.104 171.217 126.447 175.555 139.461 180.617C145.246 182.783 147.416 183.509 148.865 184.955C151.752 186.399 153.201 189.294 153.201 192.183C153.201 197.969 148.865 202.309 142.353 202.309C135.839 202.309 130.059 198.694 127.166 192.908L118.488 201.586C124.999 210.986 132.953 215.324 143.077 215.324C157.538 215.324 167.657 205.924 167.657 192.183C167.659 179.893 163.324 174.831 147.415 169.045Z' fill='%23E7E8E3'/%3e%3cpath d='M459.804 182.783C470.647 180.617 476.434 173.383 476.434 162.539C476.434 149.525 467.032 141.566 451.126 141.566H430.154V212.435H443.893V184.23H446.065L465.584 212.435H482.218L459.804 182.783ZM448.23 174.105H443.894V152.414H448.23C456.908 152.414 461.972 156.028 461.972 163.264C461.972 170.492 456.909 174.105 448.23 174.105Z' fill='%23E7E8E3'/%3e%3c/svg%3e ");
  }
  &--dinersclub {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='330' height='246' viewBox='0 0 330 246' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M315 0.856995H15C6.716 0.856995 0 7.57299 0 15.857V230.143C0 238.427 6.716 245.143 15 245.143H315C323.284 245.143 330 238.427 330 230.143V15.857C330 7.57299 323.284 0.856995 315 0.856995ZM300 215.143H30V30.857H300V215.143Z' fill='black'/%3e%3cpath d='M148.84 189.494L178.524 189.493L178.853 189.494C178.854 189.494 178.854 189.494 178.856 189.494C196.267 189.494 213.767 182.453 226.869 170.178C240.416 157.487 247.876 140.921 247.876 123.534C247.876 104.848 240.371 87.647 226.743 75.1C213.908 63.284 196.361 56.506 178.544 56.506H149.097C110.916 56.506 82.124 85.322 82.124 123.534C82.124 159.904 112.053 189.494 148.84 189.494ZM202.47 122.887C202.47 152.225 178.614 176.094 149.29 176.094C119.954 176.094 96.087 152.225 96.087 122.887C96.087 93.549 119.954 69.68 149.29 69.68C178.613 69.681 202.47 93.549 202.47 122.887Z' fill='black'/%3e%3cpath d='M185.546 122.887C185.517 107.453 175.872 94.262 162.259 89.024V156.721C175.872 151.491 185.517 138.329 185.546 122.887Z' fill='black'/%3e%3cpath d='M113.04 122.887C113.067 138.328 122.686 151.491 136.304 156.721V89.024C122.686 94.291 113.067 107.453 113.04 122.887Z' fill='black'/%3e%3c/svg%3e ");
  }
  &--jcb {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='512' height='313' viewBox='0 0 512 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M512 286.17C512 300.988 498.45 313 481.735 313H30.265C13.55 313 0 300.986 0 286.17V26.829C0 12.0113 13.55 0 30.265 0H481.734C498.45 0 511.999 12.0121 511.999 26.829L512 286.17Z' fill='%23E7E8E3'/%3e%3cpath opacity='0.15' d='M21.6063 286.172V26.8291C21.6063 12.0113 35.2146 0 51.999 0H30.3897C13.6063 0 0 12.0131 0 26.8291V286.17C0 300.988 13.6063 313 30.3907 313H52C35.2156 313.002 21.6063 300.988 21.6063 286.172Z' fill='%23202121'/%3e%3cpath d='M196.44 57H142.672C116.55 57 99 72.4825 99 95.525V164.437C99 164.47 99.004 164.505 99.011 164.538C101.072 173.179 111.339 179.693 122.891 179.693C135.645 179.693 145.261 171.788 145.261 161.304V126.89H178.13V160.855C178.13 180.223 149.865 189.366 130.769 189.445C119.473 189.404 108.404 186.343 100.398 181.046C100.231 180.935 100.003 180.916 99.8147 181C99.8147 181 99.8127 181 99.8107 181.001C99.6534 180.931 99.466 180.93 99.3076 181C99.1203 181.084 99.001 181.253 99.001 181.44V257.508C99.001 257.779 99.2495 258 99.5592 258H154.85C174.343 258 197 241.758 197 220.818V57.4924C196.998 57.2192 196.75 57 196.44 57Z' fill='%230F549D'/%3e%3cpath d='M304.442 57H250.903C224.235 57 207.003 71.947 207.003 95.0808V134.009C207.003 134.2 207.128 134.374 207.324 134.455C207.522 134.535 207.753 134.509 207.922 134.387C212.595 130.968 220.129 126.892 229.487 126.892H287.055V136.082C273.077 133.397 260.148 132.173 253.961 132.173C239.311 132.173 227.393 142.632 227.393 155.487L227.397 155.629L227.393 155.934C227.393 168.789 239.311 179.247 253.961 179.247C261.465 179.247 274.531 178.176 287.055 175.785V184.08H229.487C221.207 184.08 213.36 181.358 207.958 176.615C207.796 176.473 207.555 176.432 207.347 176.509C207.136 176.585 207 176.764 207 176.963V257.508C207 257.779 207.25 258 207.561 258H262.626C282.224 258 305 241.758 305 220.817V57.4924C305.002 57.2192 304.752 57 304.442 57Z' fill='%23B41F36'/%3e%3cpath d='M333.324 178.496C333.324 178.768 333.574 178.989 333.881 178.989H357.67C364.057 178.989 369.872 173.841 369.872 168.19C369.872 162.54 364.056 157.393 357.67 157.393H333.881C333.575 157.393 333.324 157.613 333.324 157.886V178.496Z' fill='%23329947'/%3e%3cpath d='M413.352 57.0297H360.706C346.693 57.0297 335.306 61.2244 327.689 68.6076V68.6067C327.689 68.6067 316.62 78.1647 316.62 93.9276C316.62 94.5101 316.62 95.0633 316.62 95.6042V109.691V126.519C316.62 126.791 316.868 127.012 317.177 127.012H380.958C389.71 127.012 397.106 133.559 397.106 141.307C397.106 149.055 389.71 155.6 380.958 155.6C380.65 155.6 380.401 155.821 380.401 156.093C380.401 156.366 380.649 156.587 380.958 156.587C390.862 156.587 398.623 162.668 398.623 170.432C398.623 178.326 391.028 184.279 380.958 184.279H317.177C316.869 184.279 316.62 184.499 316.62 184.772V257.801C316.62 258.073 316.868 258.294 317.177 258.294H371.846C391.299 258.294 413.909 242.031 413.909 221.063V57.5227C413.909 57.2492 413.658 57.0297 413.352 57.0297Z' fill='%23329947'/%3e%3cpath d='M333.881 153.449H357.67C364.009 153.449 369.364 148.709 369.364 143.098C369.364 137.448 363.551 132.3 357.168 132.3H333.881C333.575 132.3 333.324 132.521 333.324 132.793V152.957C333.324 153.229 333.574 153.449 333.881 153.449Z' fill='%23329947'/%3e%3c/svg%3e ");
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .5s;
  }
  &-enter {
    opacity: 0;
  }
}
.slide {
  &-fade {
    &-enter-active {
      transition: all .3s ease;
    }
    &-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    &-enter {
      transform: translateX(10px);
      opacity: 0;
    }
  }
}

.bounce {
  &-enter-active {
    animation: bounce-in .5s;
  }
  &-leave-active {
    animation: bounce-in .5s reverse;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.alignment-center {
  display: flex;
  align-items: center;
}

.content-justify {
  display: flex!important;
  justify-content: space-between;
}
