html {
  font-size: 15px;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: $white;
  box-sizing: border-box;
  color: $gray-800;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.015rem;
  text-align: left;
  line-height: 1.2;
}

@supports ( font-variation-settings: normal ) {

  body {
    font-family: "Arial", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}

#site-content {
  overflow: hidden;
}

body.page-template-rest-password-page,
body.page-template-login-page {
  background: $gray-300;
}

/* Base Transitions -------------------------- */

a,
path {
  transition: all 0.15s linear;
}
