// Colors
$white: #fff !default;
$white-900: rgba(255, 255, 255, 0.9) !default;
$gray-50: #fafafa !default;
$gray-100: #f9fafc !default;
$gray-200: #f2f4f9 !default;
$gray-300: #e6e6e6 !default;
$gray-400: #667aa0 !default;
$gray-500: #94a0b6 !default;
$gray-600: #818181 !default;
$gray-700: #b7c0cf !default;
$gray-800: #364364 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #007bff !default;
$blue-ligth: #1d9ef9 !default;
$blue-700: #0F6AC5 !default;
$indigo: #6610f2 !default;
$purple: #7567F8 !default;
$pink: #e83e8c !default;
$red: #ff0114 !default;
$red-light: #f35c3c!default;
$orange: #ff9d03 !default;
$orang-300: #FFC107 !default;
$yellow: #ffc212 !default;
$green-100: #E3F6ED;
$green:#00c084 !default;
$green-light: #08c09b !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$light: $gray-100 !default;
$dark: #191919;


$grid-breakpoints: (
        xs: 0,
        sm-mob: 370px,
        mob: 470px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 860px,
        xl: 1000px,
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
) !default;

$negative-spacers: negativify-map($spacers) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

$gutters: $spacers !default;

// Container padding

$container-padding-x: 1rem !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes: true !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
), $sizes);

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
$heading: 1,2,3;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;

// Button

$btn-color: $gray-900;
$btn-color-link: rgb(102, 118, 149);
$btn-focus-shadow: rgba(13, 110, 253, 0.25);
$btn-primary-color:  rgb(29, 158, 249);
$btn-primary-hover-color: rgb(56, 103, 214);
$btn-primary-focus-bg:  rgb(2, 92, 226);
$btn-primary-focus-shadow: rgba(49, 132, 253, 0.5);
$btn-primary-disabled-color: rgb(13, 110, 253);
$btn-submit-focus-shadow: rgba(8, 192, 155, 0.25);
$btn-grey-black-hover: darken($gray-800, 3%)!default;


// Nav

$nav-link-active-bg: $gray-200;
$nav-link-hover-bg: #6687d7;
$nav-link-active-color: #53B1F9;
