<template>
  <div>
    <input type="hidden" :value="action" name="nebeusAction" />
    <input type="hidden" :value="currentInfoCold(currentInfoColdName)" :name="currentInfoColdName" />
    <input type="hidden" :value="currCode.slice(0, 3)" name="CurrencyCode" />
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'ColdStoregeHidenField',
  props: {
    action: {
      type: String,
      required: true,
    },
    currentInfoColdName: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState({
      currCode: (state) => (state.coldStorageCurrCode ? state.coldStorageCurrCode : state.cryptoCurrency.currCurrency.CurrencyCode),
    }),
    ...mapGetters(['getColdCurrentData']),
  },
  methods: {
    currentInfoCold(name) {
      return this.getColdCurrentData[name];
    },
  },
};
</script>
