<template>
  <div class="saved-template-row">
    <div class="form-group" v-if="isDescription">
      <label v-text="$t('Label')"/>
      <input type="text" class="form-control" name="description">
    </div>
    <div class="form-group form-check">
      <input type="checkbox"
             @change="save = !save"
             class="form-check-input"
             id="withdrawalSavedTemplateCheck">
      <span class="form-check-label">
                <label for="withdrawalSavedTemplateCheck" v-text="$t('Save template')"/>
            </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FieldSavedTemplate',
  props: {
    isDescription: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
