<template>
  <div class="field-card-exp">
    <label v-text="$t('Exp date')" />
    <input type="tel"
           ref="cardExp"
           class="form-control"
           v-model="cardExpiry"
           :class="{invalid: cardErrors}"
           required
           name="exp_date"
           v-cardformat:formatCardExpiry />
    <div v-if="cardErrors" class="error-msg" v-text="$t(cardErrors)"/>
  </div>
</template>

<script>
import errors from '../../../helpers/errors';

export default {
  name: 'FieldCardExpiry',
  data: () => ({
    cardExpiry: '',
    cardErrors: null,
  }),
  methods: {
    validate() {
      this.cardErrors = null;
      if (!this.$cardFormat.validateCardExpiry(this.cardExpiry)) {
        this.cardErrors = errors.invalidCardData;
        return false;
      }
      return true;
    },
  },
  watch: {
    cardExpiry(val) {
      this.cardErrors = null;
      if (this.$cardFormat.validateCardExpiry(val)) {
        this.$refs.cardExp.blur();
      }
    },
  },
};
</script>
