<template>
  <div class="form-group">
    <label class="d-flex justify-content-between p-0">
      {{$t('Amount')}}
      <span>{{formatAmountUp(getColdCurrentData.amount, currCode)}} {{currCode}}</span>
    </label>
    <input type="number"
           @change="setWithdrawAmount(amount)"
           name="Amount"
           required
           class="form-control"
           v-model="amount"
           :min="getLimitForms('transfer_to_vault', false, currCode)"
           :max="getLimitForms('transfer_to_vault', true, currCode)"
           step="1e-6"
    />
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from 'vuex';

export default {
  name: 'FieldColdPaymantAmount',
  data: () => ({
    amount: null,
  }),
  computed: {
    ...mapState({
      currCode: (state) => (state.coldStorageCurrCode ? state.coldStorageCurrCode : state.cryptoCurrency.currCurrency.CurrencyCode),
    }),
    ...mapGetters(['getColdCurrentData', 'getLimitForms', 'formatAmountUp']),
  },
  methods: mapMutations(['setWithdrawAmount']),
};
</script>
