<template>
  <div class="field-card"
     v-if="disabladCard"
    :class="{'field-card--is-brand': isCardBrend}">
    <label v-text="$t('Card number')" />
    <div class="card-inner">
      <input required
             class="form-control"
             :class="{invalid: cardErrors}"
             autocomplete="cc-number"
             name="card_number"
             v-model="cardNumber"
             @keydown="onKeybord"
             @input="setCardBrand"
             v-cardformat:formatCardNumber />
      <div class="card-brand"
           v-if="isCardBrend"
           :class="`card-brand--${cardBrand}`" />
    </div>
    <div v-if="cardErrors" class="error-msg" v-text="$t(cardErrors)"/>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import errors from '../../../helpers/errors';

export default {
  name: 'FieldCard',
  data: () => ({
    cardBrand: 'unknown',
    cardNumber: '',
    cardErrors: null,
  }),
  props: {
    isCardBrend: {
      type: Boolean,
      default: true,
    },
  },
  computed: mapState({
    disabladCard: ({ slidePanel }) => (slidePanel.data ? slidePanel.data.optionsDashboard.disablad_card_paymant : null),
  }),
  methods: {
    validate() {
      this.cardErrors = null;
      if (!this.$cardFormat.validateCardNumber(this.cardNumber)) {
        this.cardErrors = errors.invalidCard;
        return false;
      }
      return true;
    },
    setCardBrand({ target }) {
      setTimeout(() => {
        this.cardErrors = null;
        this.cardBrand = target.dataset.cardBrand || 'unknown';
        if (this.disabladCard.length && this.disabladCard.find((card) => card === this.cardBrand)) {
          this.cardErrors = errors.disabledCard;
        }
      }, 0);
    },
    onKeybord({ target, code }) {
      if (code === 'Backspace') {
        setTimeout(() => {
          if (/\s*?$/g.test(target.value)) {
            // eslint-disable-next-line no-param-reassign
            target.value = target.value.replace(/\s*?$/g, '');
          }
        }, 50);
      }
    },
  },
};
</script>
