<template>
  <div class="form-group">
    <label for="withdrawalAmount" class="d-flex justify-content-between">
      {{$t('Amount')}}
      <span class="font-weight-light">
         {{$t(label)}}
        <span class="text-bold">{{percentage}}%</span>
        <span v-show="calcPercent()">
          ( {{calcPercent()}} <span v-if="symbol" v-html="symbol"/> )
        </span>
        </span>
    </label>
    <input type="number"
           v-model="percentAmount"
           required
           :min="min"
           :max="max"
           @change="onChangeAmount"
           class="form-control"
           id="withdrawalAmount"
           :step="step"
           :name="name">
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import numberFormat from '../../../helpers/numberFormat';

export default {
  name: 'FieldPercentAmount',
  data: () => ({
    percentAmount: '',
    precnt: 0,
  }),
  props: {
    percentage: {
      type: Number,
      required: true,
    },
    min: {
      type: Number,
      required: true,
    },
    max: {},
    step: {
      type: Number,
      default: 1e-2,
    },
    decimals: {
      type: Number,
      default: 2,
    },
    label: {
      type: String,
    },
    symbol: {
      type: String,
    },
    name: {
      type: String,
      default: 'amount',
    },
  },
  methods: {
    ...mapMutations(['setWithdrawAmount']),
    onChangeAmount() {
      this.setWithdrawAmount(this.percentAmount);
    },
    calcPercent() {
      this.precnt = ((this.percentage / 100) * Number(this.percentAmount));
      return numberFormat(this.precnt, this.decimals);
    },
  },
};
</script>
