<template>
  <div class="payment-toolbar">
    <div class="payment-toolbar__list">
      <div class="payment-toolbar__item payment-toolbar__item-heading">
        <div class="nebeus-heading-1" v-text="$t('Send to Card')"/>

        <div class="btn-icon ml-auto mb-1 mb-md-0">
          <span class="nebeus-icon nebeus-icon--card">
            <svg width="62" height="41" viewBox="0 0 62 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0123)">
                <path d="M55.3326 41H6.44009C5.18645 40.9955 3.98544 40.4955 3.09898 39.609C2.21251 38.7226 1.71251 37.5216 1.70801 36.2679V4.73208C1.71251 3.47844 2.21251 2.27743 3.09898 1.39097C3.98544 0.504504 5.18645 0.00450145 6.44009 0L55.3326 0C56.5862 0.00450145 57.7872 0.504504 58.6737 1.39097C59.5602 2.27743 60.0602 3.47844 60.0647 4.73208V36.2679C60.0602 37.5216 59.5602 38.7226 58.6737 39.609C57.7872 40.4955 56.5862 40.9955 55.3326 41Z"
                      fill="#D439A0"></path>
                <path d="M1.70801 8.67822H60.0476V19.7141H1.70801V8.67822Z" fill="#303030"></path>
                <path opacity="0.7"
                      d="M37.8219 30.3573H6.28608C5.91297 30.3573 5.55488 30.2103 5.28945 29.9481C5.02403 29.6858 4.87266 29.3296 4.86816 28.9565V23.9169C4.86814 23.5438 5.01518 23.1857 5.2774 22.9203C5.53963 22.6548 5.89591 22.5035 6.269 22.499H37.8219C38.0124 22.4921 38.2023 22.5237 38.3803 22.5918C38.5583 22.66 38.7207 22.7634 38.8578 22.8957C38.995 23.0281 39.104 23.1867 39.1785 23.3622C39.2529 23.5376 39.2912 23.7263 39.2911 23.9169V29.0419C39.2911 29.415 39.1441 29.7731 38.8818 30.0385C38.6196 30.3039 38.2633 30.4553 37.8902 30.4598L37.8219 30.3573Z"
                      fill="#EDEDED"></path>
                <path d="M52.6338 30.3569H42.5546C42.1815 30.3569 41.8234 30.2098 41.558 29.9476C41.2926 29.6854 41.1412 29.3291 41.1367 28.956V23.9165C41.1367 23.5433 41.2837 23.1852 41.546 22.9198C41.8082 22.6544 42.1645 22.503 42.5376 22.4985H52.5655C52.9386 22.4985 53.2967 22.6455 53.5621 22.9078C53.8275 23.17 53.9789 23.5263 53.9834 23.8994V29.0244C53.9998 29.195 53.9823 29.3672 53.9319 29.531C53.8814 29.6949 53.799 29.8471 53.6894 29.9789C53.5798 30.1107 53.4452 30.2196 53.2934 30.2991C53.1415 30.3786 52.9754 30.4273 52.8046 30.4423L52.6338 30.3569Z"
                      fill="#EDEDED"></path>
                <path opacity="0.1"
                      d="M12.7441 41H55.3329C56.5865 40.9955 57.7875 40.4955 58.674 39.609C59.5605 38.7226 60.0605 37.5216 60.065 36.2679V4.73208C60.0605 3.47844 59.5605 2.27743 58.674 1.39097C57.7875 0.504504 56.5865 0.00450145 55.3329 0L39.7187 0L12.7441 41Z"
                      fill="black"></path>
                <path opacity="0.2"
                      d="M60.0479 36.2679V4.73208C60.0544 3.63055 59.6833 2.56005 58.9963 1.69897C58.3093 0.837893 57.3479 0.238259 56.2724 0L29.2979 41H55.3158C56.5694 40.9955 57.7704 40.4955 58.6569 39.609C59.5434 38.7226 60.0434 37.5216 60.0479 36.2679Z"
                      fill="black"></path>
              </g>
              <defs>
                <clipPath id="clip0123">
                    <rect width="61.5" height="41" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
        </div>
      </div>
      <div class="payment-toolbar__item payment-toolbar__item-info">
        <div class="currency-info w-100">
          <div class="align-items-baseline d-flex flex-wrap justify-content-between pb-2">
            <div class="currency-name nebeus-heading-3">
              {{currCurrency.CurrencyCode}}
            </div>
            <div class="currency-amount nebeus-heading-2">
              {{ formatAmount() }} <span class="hide-md">{{currCurrency.CurrencyCode}}</span>
            </div>
          </div>
          <div class="currency-min-withdrawal">
            {{$t('The minimum amount to withdraw {min} {symbol} . Limits for without KYC users: Daily {limitDaily} {symbol}, Monthly {limitMonthly} {symbol}',
            {min: getLimitForms('send_to_card'), symbol: '&euro;', limitDaily: 150, limitMonthly: 1000  })}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'SlidePanelPaymentTollbarCard',
  computed: {
    ...mapState({
      currCurrency: ({ cryptoCurrency }) => cryptoCurrency.currCurrency,
      windowSize: ({ windowSize }) => windowSize,
      activePanelPaymant: ({ activePanelPaymant }) => activePanelPaymant,
    }),
    ...mapGetters(['formatAmount', 'getLimitForms']),
  },
};
</script>
