<template>
  <div class="payment-toolbar" v-if="activePanelPaymant">
    <div class="payment-toolbar__list">
      <div class="payment-toolbar__item payment-toolbar__item-heading">

        <div class="nebeus-heading-1" v-text="$t(headingText)"/>

        <div class="btn-icon ml-auto mb-1 mb-md-0">

          <span v-if="activePanelPaymant === 'crypto'" class="nebeus-icon nebeus-icon--withdrawal">
             <main-icon name="cryptoWithdrawalForm" />
          </span>
          <span v-else-if="activePanelPaymant === 'sepa'" class="nebeus-icon nebeus-icon--withdrawal-sepa">
               <main-icon name="withdrawalSepa"/>
          </span>
          <span v-else-if="activePanelPaymant === 'send-to-user'" class="nebeus-icon nebeus-icon--send-to-user">
               <main-icon name="sendToUser"/>
          </span>
        </div>
      </div>
      <div class="payment-toolbar__item payment-toolbar__item-info">
        <div class="currency-info w-100">
          <div class="align-items-baseline d-flex flex-wrap justify-content-between pb-2">
            <div class="currency-name nebeus-heading-3" v-text="currCurrency.CurrencyCode"/>
            <div class="currency-amount nebeus-heading-2">
              {{ formatAmount() }}
              <span v-if="windowSize > 767">{{currCurrency.CurrencyCode}}</span>
            </div>
          </div>
          <div class="currency-min-withdrawal">
            {{ $t('The minimum amount to withdraw') }} {{limitWithdrawal}} {{currCurrency.CurrencyCode}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { mapState, mapGetters } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'SlidePanelPaymentTollbar',
  components: { MainIcon },
  computed: {
    ...mapState({
      currCurrency: ({ cryptoCurrency }) => cryptoCurrency.currCurrency,
      windowSize: ({ windowSize }) => windowSize,
      activePanelPaymant: ({ activePanelPaymant }) => activePanelPaymant,
      cryptoCurrency: ({ cryptoCurrency }) => cryptoCurrency,
    }),
    ...mapGetters(['formatAmount', 'getLimitForms']),
    limitWithdrawal() {
      switch (this.activePanelPaymant) {
        case 'send-to-user':
          return this.getLimitForms('user_to_user');
        case 'crypto':
          return this.getLimitForms('withdrawal');
        case 'sepa':
          return this.getLimitForms('sepa');
        case 'card':
          return this.getLimitForms('send_to_card');
        default:
          return '';
      }
    },
    headingText() {
      switch (this.activePanelPaymant) {
        case 'crypto' || 'sepa':
          return 'Withdrawal';
        case 'send-to-user':
          return 'Send to User';
        default:
          return '';
      }
    },
  },
};
</script>
