<template>
  <span v-html="symbol"/>
</template>

<script>
import getSymbolFromCurrency from 'currency-symbol-map';

export default {
  name: 'FontIcon',
  props: {
    name: {
      type: String,
    },
  },
  computed: {
    symbol() {
      const symbol = getSymbolFromCurrency(this.name);
      if (!symbol) {
        switch (this.name) {
          case 'BTC':
            return '&#8383;';
          case 'ETH':
            return '&#926;';
          default:
            return '';
        }
      }
      return symbol;
    },
  },
};
</script>
