<template>
  <svg
    v-if="name"
    v-html="computedValue"
    :viewBox="computedViewBox"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    :width="defaultWidth"
    :height="defaultHeight"
  />
</template>

<script>
export default {
  name: 'MainIcon',
  props: {
    name: {
      type: String,
      required: true,
    },
    heigth: {
      type: [Number, String],
      default: null,
    },
    width: {
      type: [Number, String],
      default: null,
    },
  },
  computed: {
    computedValue() {
      switch (this.name) {
        case 'loan-headr-single':
          return `
          <path d="M25 49.9999C38.807 49.9999 49.9999 38.807 49.9999 25C49.9999 11.1929 38.807 0 25 0C11.1929 0 0 11.1929 0 25C0 38.807 11.1929 49.9999 25 49.9999Z" fill="#642156"/>
          <path d="M42.9164 42.4337C42.5868 42.7724 42.248 43.1011 41.9001 43.4204C41.895 43.4255 41.8899 43.4296 41.8848 43.4347C41.4857 43.802 41.0746 44.1551 40.6511 44.4949C40.0623 44.9694 39.4501 45.4174 38.8184 45.8367C38.7562 45.8785 38.6939 45.9193 38.6306 45.9602C34.7102 48.5152 30.0286 49.9999 25 49.9999C24.9092 49.9999 24.8174 49.9989 24.7266 49.9979H24.6654C24.1755 49.9917 23.6899 49.9713 23.2072 49.9356C22.748 49.904 22.2929 49.8591 21.8409 49.802C21.7164 49.7866 21.5918 49.7703 21.4684 49.752C21.0592 49.6948 20.6531 49.6265 20.251 49.5489C20.0102 49.503 19.7704 49.453 19.5316 49.3999C19.5204 49.3979 19.5102 49.3948 19.499 49.3928H19.498C19.1735 49.3203 18.8521 49.2407 18.5327 49.155L18.3061 49.0938C18.0061 49.0111 17.7091 48.9224 17.4143 48.8274C17.3194 48.7979 17.2255 48.7673 17.1306 48.7356C17.0296 48.703 16.9296 48.6693 16.8296 48.6336C16.6858 48.5846 16.5418 48.5336 16.3991 48.4806C16.247 48.4244 16.096 48.3673 15.945 48.3092L2.02871 15.1214L0.0888672 10.4969L7.08683 7.56222L25.1206 0H25.1215L26.3624 2.95821L27.2277 5.02247L27.6889 6.1215L28.3869 7.78683L28.5838 8.25724L29.288 9.93479L35.9033 25.7113L36.0727 26.1154L39.4125 34.0787L39.7411 34.8613V34.8623L41.6748 39.4724L42.9164 42.4337Z" fill="#43C970"/>
          <path d="M40.6513 44.4942C40.0626 44.9687 39.4504 45.4167 38.8187 45.836C38.7565 45.8778 38.6942 45.9186 38.6309 45.9595C34.7105 48.5145 30.0289 49.9992 25.0003 49.9992C24.9095 49.9992 24.8177 49.9982 24.7269 49.9972H24.6657C24.1758 49.991 23.6902 49.9706 23.2075 49.935C22.7483 49.9033 22.2932 49.8584 21.8411 49.8013C21.7166 49.7859 21.5921 49.7696 21.4687 49.7513C21.0595 49.6941 20.6534 49.6258 20.2513 49.5482C20.0105 49.5023 19.7707 49.4523 19.5319 49.3992L16.3992 41.9299L5.69824 16.4115C6.10537 16.232 6.47481 16.0024 6.80235 15.7329C7.00235 15.5676 7.18701 15.388 7.3544 15.1942C8.0503 14.3992 8.46153 13.388 8.51973 12.3329C8.55752 11.6391 8.44317 10.9268 8.15645 10.2421L15.0218 7.36348L17.8269 6.18692L19.2044 5.60938C19.2595 5.74102 19.3207 5.86953 19.3861 5.99404C19.6962 6.58184 20.1166 7.07979 20.6095 7.47461C20.984 7.77461 21.3993 8.01338 21.8411 8.18682C22.0289 8.26133 22.2217 8.32354 22.4187 8.37354C22.5748 8.41338 22.7329 8.44395 22.8932 8.46641C23.7095 8.5878 24.5677 8.49503 25.384 8.15821C25.3922 8.15518 25.4003 8.15108 25.4085 8.14805L25.4116 8.15518L27.3871 12.8674L32.3268 24.645L32.5197 25.1041L33.0748 26.4287L35.7901 32.9011C35.7901 32.9021 35.7901 32.9021 35.7901 32.9021L37.9922 38.1542L39.3493 41.3888L40.6513 44.4942Z" fill="#3AB760"/>
          <path d="M23.4812 39.3413C27.9859 39.3413 31.6376 35.6895 31.6376 31.1848C31.6376 26.6801 27.9859 23.0283 23.4812 23.0283C18.9765 23.0283 15.3247 26.6801 15.3247 31.1848C15.3247 35.6895 18.9765 39.3413 23.4812 39.3413Z" fill="#53D37A"/>
          <path d="M44.2343 40.97C44.063 41.1771 43.8884 41.3802 43.7089 41.5812C43.4527 41.8721 43.1875 42.1567 42.9171 42.4343C42.5875 42.773 42.2487 43.1016 41.9007 43.421C41.8957 43.4261 41.8906 43.4302 41.8854 43.4352C41.4864 43.8026 41.0753 44.1557 40.6517 44.4955C40.063 44.97 39.4507 45.418 38.8191 45.8373C38.7569 45.8791 38.6946 45.9199 38.6313 45.9607C34.7109 48.5158 30.0292 50.0005 25.0007 50.0005C24.9099 50.0005 24.8181 49.9995 24.7273 49.9984H24.666C24.1762 49.9923 23.6906 49.9719 23.2078 49.9362C22.7487 49.9046 22.2936 49.8597 21.8415 49.8025C21.717 49.7872 21.5925 49.7709 21.4691 49.7525C21.0599 49.6954 20.6537 49.627 20.2517 49.5495C20.0109 49.5036 19.7711 49.4536 19.5322 49.4005C19.521 49.3984 19.5109 49.3954 19.4996 49.3934H19.4987C19.1741 49.3209 18.8528 49.2413 18.5333 49.1556L18.3068 49.0943L16.3996 41.931L8.52012 12.3343L7.37012 8.01495L26.3629 2.95879L32.8038 1.24346L33.6007 1.03125L33.7446 1.57305L34.4262 4.13126L34.9558 6.12208L35.7242 9.00675L35.9047 9.68332L40.817 28.1364L43.1088 36.7456L43.1404 36.8639L44.2343 40.97Z" fill="#43C970"/>
          <path d="M41.9003 43.42C41.8952 43.4251 41.8901 43.4292 41.8849 43.4342C41.4859 43.8016 41.0748 44.1547 40.6512 44.4945C40.0625 44.969 39.4502 45.417 38.8186 45.8363C38.7564 45.8781 38.6941 45.9189 38.6308 45.9597C34.7104 48.5148 30.0287 49.9995 25.0002 49.9995C24.9094 49.9995 24.8176 49.9985 24.7268 49.9974H24.6656C24.1757 49.9913 23.6901 49.9709 23.2073 49.9352C22.7482 49.9036 22.2931 49.8587 21.841 49.8015C21.7165 49.7862 21.592 49.7699 21.4686 49.7515L19.239 41.3781L18.1737 37.3792L15.7962 28.4506V28.4496L12.1196 14.6395C12.5472 14.517 12.9441 14.3404 13.3054 14.1181C13.5258 13.9814 13.734 13.8283 13.9258 13.6599C14.7237 12.967 15.2696 12.0211 15.4707 10.9833C15.6033 10.3017 15.587 9.58028 15.3962 8.8629L20.6095 7.4751L21.8411 7.14756L25.6962 6.121L26.9728 5.78125C27.0033 5.89658 27.0381 6.00986 27.0779 6.12109C27.3034 6.77207 27.6605 7.34561 28.1095 7.8211C28.2585 7.97725 28.4166 8.12315 28.584 8.25684C28.9462 8.54766 29.3493 8.78438 29.7799 8.95782C29.8207 8.97413 29.8625 8.99044 29.9044 9.00577C30.7922 9.33633 31.7881 9.40479 32.7728 9.14249L37.3462 26.3201L37.5034 26.9098L39.4126 34.0782L39.6799 35.0802V35.0812L41.0309 40.1578L41.9003 43.42Z" fill="#3AB760"/>
          <path d="M27.7204 39.8568C32.2251 39.8568 35.8769 36.2051 35.8769 31.7004C35.8769 27.1957 32.2251 23.5439 27.7204 23.5439C23.2157 23.5439 19.564 27.1957 19.564 31.7004C19.564 36.2051 23.2157 39.8568 27.7204 39.8568Z" fill="#53D37A"/>
          <path d="M46.2036 38.2499C46.1689 38.305 46.1341 38.36 46.0995 38.4141C45.5311 39.3059 44.9077 40.1591 44.2341 40.9692C44.0627 41.1763 43.8882 41.3794 43.7086 41.5804C43.4525 41.8713 43.1873 42.1559 42.9168 42.4335C42.5873 42.7722 42.2485 43.1009 41.9005 43.4202C41.8955 43.4253 41.8904 43.4294 41.8852 43.4345C41.4862 43.8018 41.075 44.1549 40.6515 44.4947C40.0627 44.9692 39.4505 45.4172 38.8189 45.8365C38.7567 45.8783 38.6944 45.9191 38.6311 45.9599C34.7107 48.515 30.029 49.9997 25.0005 49.9997C24.9097 49.9997 24.8179 49.9987 24.7271 49.9977H24.6658C24.176 49.9915 23.6903 49.9711 23.2076 49.9354C22.7485 49.9038 22.2934 49.8589 21.8413 49.8018C21.7168 49.7864 21.5923 49.7701 21.4689 49.7518C21.0597 49.6946 20.6535 49.6263 20.2515 49.5487L19.2393 41.3783L18.8035 37.8671L17.3138 25.8446L15.4709 10.9833L15.0219 7.36397L14.9209 6.54766L17.8271 6.18751L19.3862 5.99463L27.228 5.02217L34.426 4.13037L38.0627 3.6794L41.8597 3.20898L42.2209 6.1212L42.3271 6.97735L43.0261 12.6161L46.0996 37.4121L46.2036 38.2499Z" fill="#43C970"/>
          <path d="M43.7083 41.5802C43.4521 41.8711 43.1869 42.1557 42.9165 42.4333C42.5869 42.772 42.2481 43.1007 41.9002 43.42C41.8951 43.4251 41.89 43.4292 41.8848 43.4342C41.4858 43.8016 41.0747 44.1547 40.6511 44.4945C40.0624 44.969 39.4501 45.417 38.8185 45.8363C38.7563 45.8781 38.694 45.9189 38.6307 45.9597C34.7103 48.5148 30.0286 49.9995 25.0001 49.9995C24.9093 49.9995 24.8175 49.9985 24.7267 49.9974H24.6654C24.1756 49.9913 23.69 49.9709 23.2072 49.9352L21.8746 39.1811L21.8409 38.9128L21.6175 37.1118L20.4808 27.9434L19.9706 23.822L18.7227 13.7587C19.1624 13.6965 19.5798 13.575 19.9686 13.4046C20.2053 13.2995 20.4318 13.176 20.6451 13.0352C21.1084 12.7331 21.5125 12.3526 21.841 11.9148C22.141 11.5168 22.3788 11.0709 22.541 10.5943C22.7645 9.93721 22.8472 9.21983 22.7564 8.48418L22.8931 8.4668L25.3839 8.1586L25.4114 8.15557L28.1094 7.8209L28.3869 7.78623L34.6451 7.01074C34.7369 7.74746 34.992 8.42295 35.3716 9.00567C35.5278 9.24854 35.7063 9.47403 35.9042 9.68223C36.2226 10.02 36.59 10.3088 36.993 10.5404C37.8522 11.0333 38.8736 11.2629 39.9328 11.1313L42.246 29.7905L43.1083 36.7446L43.1277 36.8987L43.7083 41.5802Z" fill="#3AB760"/>
          <path d="M31.8503 40.9457C36.355 40.9457 40.0068 37.294 40.0068 32.7893C40.0068 28.2846 36.355 24.6328 31.8503 24.6328C27.3456 24.6328 23.6938 28.2846 23.6938 32.7893C23.6938 37.294 27.3456 40.9457 31.8503 40.9457Z" fill="#53D37A"/>
          <path d="M48.9852 6.12207V32.0741C48.3373 34.2741 47.3955 36.3486 46.2036 38.2506C46.1689 38.3057 46.1341 38.3608 46.0995 38.4149C45.5311 39.3067 44.9077 40.1598 44.2341 40.97C44.0627 41.1771 43.8882 41.3801 43.7086 41.5812C43.4525 41.872 43.1872 42.1567 42.9168 42.4342C42.5872 42.773 42.2485 43.1016 41.9005 43.421C41.8954 43.426 41.8904 43.4301 41.8852 43.4352C41.4862 43.8026 41.075 44.1556 40.6515 44.4955C40.0627 44.97 39.4505 45.4179 38.8189 45.8373C38.7567 45.8791 38.6944 45.9199 38.6311 45.9607C34.7107 48.5158 30.029 50.0005 25.0005 50.0005C24.9097 50.0005 24.8179 49.9995 24.7271 49.9984H24.6658C24.176 49.9923 23.6903 49.9719 23.2076 49.9362C22.7484 49.9046 22.2934 49.8597 21.8413 49.8025V6.12207H48.9852Z" fill="#53D37A"/>
          <path d="M46.0995 13.7477V38.415C45.5311 39.3068 44.9077 40.1599 44.2341 40.9701C44.0627 41.1772 43.8882 41.3802 43.7086 41.5813C43.4525 41.8721 43.1872 42.1568 42.9168 42.4343C42.5872 42.7731 42.2485 43.1017 41.9005 43.4211C41.8954 43.4261 41.8904 43.4302 41.8852 43.4353C41.4862 43.8027 41.075 44.1557 40.6515 44.4956C40.0627 44.9701 39.4505 45.418 38.8189 45.8374C38.7567 45.8792 38.6944 45.92 38.6311 45.9608C34.7107 48.5159 30.029 50.0006 25.0005 50.0006C24.9097 50.0006 24.8179 49.9996 24.7271 49.9985V36.7651L24.7261 28.8171V13.7456C25.171 13.7385 25.6006 13.6691 26.0066 13.5466C26.2546 13.4721 26.4944 13.3772 26.724 13.264C26.9566 13.1507 27.1781 13.0181 27.3873 12.869C28.0322 12.4099 28.5566 11.7936 28.9057 11.0752C29.0791 10.7181 29.2087 10.3355 29.2883 9.93545C29.3465 9.63447 29.3781 9.32422 29.3781 9.00684H41.3587C41.3587 10.4527 42.0067 11.7477 43.0261 12.617C43.0995 12.6803 43.1761 12.7415 43.2536 12.7996C44.0463 13.3946 45.0321 13.7477 46.0995 13.7477Z" fill="#43C970"/>
          <path d="M35.4133 42.4018C39.918 42.4018 43.5697 38.75 43.5697 34.2453C43.5697 29.7406 39.918 26.0889 35.4133 26.0889C30.9086 26.0889 27.2568 29.7406 27.2568 34.2453C27.2568 38.75 30.9086 42.4018 35.4133 42.4018Z" fill="#53D37A"/>
        `;
        case 'save-acc-headr-single':
          return `
            <path d="M41.9165 8.70866C37.929 8.70866 34.6665 7.62116 34.6665 6.29199C34.6665 6.77533 34.6665 8.22533 34.6665 8.70866C34.6665 10.0378 37.929 11.1253 41.9165 11.1253C45.904 11.1253 49.1665 10.0378 49.1665 8.70866C49.1665 8.22533 49.1665 6.77533 49.1665 6.29199C49.1665 7.62116 45.904 8.70866 41.9165 8.70866Z" fill="#FFA000"/>
            <path d="M41.9165 5.08366C37.929 5.08366 34.6665 3.99616 34.6665 2.66699C34.6665 3.15033 34.6665 4.60032 34.6665 5.08366C34.6665 6.41282 37.929 7.50032 41.9165 7.50032C45.904 7.50032 49.1665 6.41282 49.1665 5.08366C49.1665 4.60032 49.1665 3.15033 49.1665 2.66699C49.1665 3.99616 45.904 5.08366 41.9165 5.08366ZM41.9165 12.3337C37.929 12.3337 34.6665 11.2462 34.6665 9.91699C34.6665 10.4003 34.6665 11.8503 34.6665 12.3337C34.6665 13.6628 37.929 14.7503 41.9165 14.7503C45.904 14.7503 49.1665 13.6628 49.1665 12.3337C49.1665 11.8503 49.1665 10.4003 49.1665 9.91699C49.1665 11.2462 45.904 12.3337 41.9165 12.3337Z" fill="#FFA000"/>
            <path d="M41.9165 15.9587C37.929 15.9587 34.6665 14.8712 34.6665 13.542C34.6665 14.0253 34.6665 15.4753 34.6665 15.9587C34.6665 17.2878 37.929 18.3753 41.9165 18.3753C45.904 18.3753 49.1665 17.2878 49.1665 15.9587C49.1665 15.4753 49.1665 14.0253 49.1665 13.542C49.1665 14.8712 45.904 15.9587 41.9165 15.9587Z" fill="#FFA000"/>
            <path d="M41.9165 19.5837C37.929 19.5837 34.6665 18.4962 34.6665 17.167C34.6665 17.6503 34.6665 19.1003 34.6665 19.5837C34.6665 20.9128 37.929 22.0003 41.9165 22.0003C45.904 22.0003 49.1665 20.9128 49.1665 19.5837C49.1665 19.1003 49.1665 17.6503 49.1665 17.167C49.1665 18.4962 45.904 19.5837 41.9165 19.5837Z" fill="#FFA000"/>
            <path d="M41.9165 23.2087C37.929 23.2087 34.6665 22.1212 34.6665 20.792C34.6665 21.2753 34.6665 22.7253 34.6665 23.2087C34.6665 24.5378 37.929 25.6253 41.9165 25.6253C45.904 25.6253 49.1665 24.5378 49.1665 23.2087C49.1665 22.7253 49.1665 21.2753 49.1665 20.792C49.1665 22.1212 45.904 23.2087 41.9165 23.2087Z" fill="#FFA000"/>
            <path d="M41.9165 26.8337C37.929 26.8337 34.6665 25.7462 34.6665 24.417C34.6665 24.9003 34.6665 26.3503 34.6665 26.8337C34.6665 28.1628 37.929 29.2503 41.9165 29.2503C45.904 29.2503 49.1665 28.1628 49.1665 26.8337C49.1665 26.3503 49.1665 24.9003 49.1665 24.417C49.1665 25.7462 45.904 26.8337 41.9165 26.8337Z" fill="#FFA000"/>
            <path d="M41.9165 30.4587C37.929 30.4587 34.6665 29.3712 34.6665 28.042C34.6665 28.5253 34.6665 29.9753 34.6665 30.4587C34.6665 31.7878 37.929 32.8753 41.9165 32.8753C45.904 32.8753 49.1665 31.7878 49.1665 30.4587C49.1665 29.9753 49.1665 28.5253 49.1665 28.042C49.1665 29.3712 45.904 30.4587 41.9165 30.4587Z" fill="#FFA000"/>
            <path d="M41.9165 34.0837C37.929 34.0837 34.6665 32.9962 34.6665 31.667C34.6665 32.1503 34.6665 33.6003 34.6665 34.0837C34.6665 35.4128 37.929 36.5003 41.9165 36.5003C45.904 36.5003 49.1665 35.4128 49.1665 34.0837C49.1665 33.6003 49.1665 32.1503 49.1665 31.667C49.1665 32.9962 45.904 34.0837 41.9165 34.0837Z" fill="#FFA000"/>
            <path d="M41.9165 37.7087C37.929 37.7087 34.6665 36.6212 34.6665 35.292C34.6665 35.7753 34.6665 37.2253 34.6665 37.7087C34.6665 39.0378 37.929 40.1253 41.9165 40.1253C45.904 40.1253 49.1665 39.0378 49.1665 37.7087C49.1665 37.2253 49.1665 35.7753 49.1665 35.292C49.1665 36.6212 45.904 37.7087 41.9165 37.7087Z" fill="#FFA000"/>
            <path d="M41.9165 41.3337C37.929 41.3337 34.6665 40.2462 34.6665 38.917C34.6665 39.4003 34.6665 40.8503 34.6665 41.3337C34.6665 42.6628 37.929 43.7503 41.9165 43.7503C45.904 43.7503 49.1665 42.6628 49.1665 41.3337C49.1665 40.8503 49.1665 39.4003 49.1665 38.917C49.1665 40.2462 45.904 41.3337 41.9165 41.3337Z" fill="#FFA000"/>
            <path d="M41.9165 0.25C39.9937 0.25 38.1496 0.504612 36.79 0.957825C35.4303 1.41104 34.6665 2.02573 34.6665 2.66667C34.6665 3.30761 35.4303 3.92229 36.79 4.37551C38.1496 4.82872 39.9937 5.08333 41.9165 5.08333C43.8393 5.08333 45.6834 4.82872 47.043 4.37551C48.4027 3.92229 49.1665 3.30761 49.1665 2.66667C49.1665 2.02573 48.4027 1.41104 47.043 0.957825C45.6834 0.504612 43.8393 0.25 41.9165 0.25ZM41.9165 7.5C38.5332 7.5 35.754 6.775 34.9082 5.6875C34.7873 5.92917 34.6665 6.05 34.6665 6.29167C34.6665 7.62083 37.929 8.70833 41.9165 8.70833C45.904 8.70833 49.1665 7.62083 49.1665 6.29167C49.1665 6.05 49.0457 5.92917 48.9248 5.6875C48.079 6.775 45.2998 7.5 41.9165 7.5ZM41.9165 11.125C38.5332 11.125 35.754 10.4 34.9082 9.3125C34.7873 9.55417 34.6665 9.675 34.6665 9.91667C34.6665 11.2458 37.929 12.3333 41.9165 12.3333C45.904 12.3333 49.1665 11.2458 49.1665 9.91667C49.1665 9.675 49.0457 9.55417 48.9248 9.3125C48.079 10.4 45.2998 11.125 41.9165 11.125ZM41.9165 14.75C38.5332 14.75 35.754 14.025 34.9082 12.9375C34.7873 13.1792 34.6665 13.3 34.6665 13.5417C34.6665 14.8708 37.929 15.9583 41.9165 15.9583C45.904 15.9583 49.1665 14.8708 49.1665 13.5417C49.1665 13.3 49.0457 13.1792 48.9248 12.9375C48.079 14.025 45.2998 14.75 41.9165 14.75ZM41.9165 18.375C38.5332 18.375 35.754 17.65 34.9082 16.5625C34.7873 16.8042 34.6665 16.925 34.6665 17.1667C34.6665 18.4958 37.929 19.5833 41.9165 19.5833C45.904 19.5833 49.1665 18.4958 49.1665 17.1667C49.1665 16.925 49.0457 16.8042 48.9248 16.5625C48.079 17.65 45.2998 18.375 41.9165 18.375ZM41.9165 22C38.5332 22 35.754 21.275 34.9082 20.1875C34.7873 20.4292 34.6665 20.55 34.6665 20.7917C34.6665 22.1208 37.929 23.2083 41.9165 23.2083C45.904 23.2083 49.1665 22.1208 49.1665 20.7917C49.1665 20.55 49.0457 20.4292 48.9248 20.1875C48.079 21.275 45.2998 22 41.9165 22ZM41.9165 25.625C38.5332 25.625 35.754 24.9 34.9082 23.8125C34.7873 24.0542 34.6665 24.175 34.6665 24.4167C34.6665 25.7458 37.929 26.8333 41.9165 26.8333C45.904 26.8333 49.1665 25.7458 49.1665 24.4167C49.1665 24.175 49.0457 24.0542 48.9248 23.8125C48.079 24.9 45.2998 25.625 41.9165 25.625ZM41.9165 29.25C38.5332 29.25 35.754 28.525 34.9082 27.4375C34.7873 27.6792 34.6665 27.8 34.6665 28.0417C34.6665 29.3708 37.929 30.4583 41.9165 30.4583C45.904 30.4583 49.1665 29.3708 49.1665 28.0417C49.1665 27.8 49.0457 27.6792 48.9248 27.4375C48.079 28.525 45.2998 29.25 41.9165 29.25ZM41.9165 32.875C38.5332 32.875 35.754 32.15 34.9082 31.0625C34.7873 31.3042 34.6665 31.425 34.6665 31.6667C34.6665 32.9958 37.929 34.0833 41.9165 34.0833C45.904 34.0833 49.1665 32.9958 49.1665 31.6667C49.1665 31.425 49.0457 31.3042 48.9248 31.0625C48.079 32.15 45.2998 32.875 41.9165 32.875ZM41.9165 36.5C38.5332 36.5 35.754 35.775 34.9082 34.6875C34.7873 34.9292 34.6665 35.05 34.6665 35.2917C34.6665 36.6208 37.929 37.7083 41.9165 37.7083C45.904 37.7083 49.1665 36.6208 49.1665 35.2917C49.1665 35.05 49.0457 34.9292 48.9248 34.6875C48.079 35.775 45.2998 36.5 41.9165 36.5ZM41.9165 40.125C38.5332 40.125 35.754 39.4 34.9082 38.3125C34.7873 38.5542 34.6665 38.675 34.6665 38.9167C34.6665 40.2458 37.929 41.3333 41.9165 41.3333C45.904 41.3333 49.1665 40.2458 49.1665 38.9167C49.1665 38.675 49.0457 38.5542 48.9248 38.3125C48.079 39.4 45.2998 40.125 41.9165 40.125Z" fill="#FFC107"/>
            <path d="M8.0835 15.9587C4.096 15.9587 0.833496 14.8712 0.833496 13.542C0.833496 14.0253 0.833496 15.4753 0.833496 15.9587C0.833496 17.2878 4.096 18.3753 8.0835 18.3753C12.071 18.3753 15.3335 17.2878 15.3335 15.9587C15.3335 15.4753 15.3335 14.0253 15.3335 13.542C15.3335 14.8712 12.071 15.9587 8.0835 15.9587Z" fill="#FFA000"/>
            <path d="M8.0835 12.3337C4.096 12.3337 0.833496 11.2462 0.833496 9.91699C0.833496 10.4003 0.833496 11.8503 0.833496 12.3337C0.833496 13.6628 4.096 14.7503 8.0835 14.7503C12.071 14.7503 15.3335 13.6628 15.3335 12.3337C15.3335 11.8503 15.3335 10.4003 15.3335 9.91699C15.3335 11.2462 12.071 12.3337 8.0835 12.3337ZM8.0835 19.5837C4.096 19.5837 0.833496 18.4962 0.833496 17.167C0.833496 17.6503 0.833496 19.1003 0.833496 19.5837C0.833496 20.9128 4.096 22.0003 8.0835 22.0003C12.071 22.0003 15.3335 20.9128 15.3335 19.5837C15.3335 19.1003 15.3335 17.6503 15.3335 17.167C15.3335 18.4962 12.071 19.5837 8.0835 19.5837Z" fill="#FFA000"/>
            <path d="M8.0835 23.2087C4.096 23.2087 0.833496 22.1212 0.833496 20.792C0.833496 21.2753 0.833496 22.7253 0.833496 23.2087C0.833496 24.5378 4.096 25.6253 8.0835 25.6253C12.071 25.6253 15.3335 24.5378 15.3335 23.2087C15.3335 22.7253 15.3335 21.2753 15.3335 20.792C15.3335 22.1212 12.071 23.2087 8.0835 23.2087Z" fill="#FFA000"/>
            <path d="M8.0835 26.8337C4.096 26.8337 0.833496 25.7462 0.833496 24.417C0.833496 24.9003 0.833496 26.3503 0.833496 26.8337C0.833496 28.1628 4.096 29.2503 8.0835 29.2503C12.071 29.2503 15.3335 28.1628 15.3335 26.8337C15.3335 26.3503 15.3335 24.9003 15.3335 24.417C15.3335 25.7462 12.071 26.8337 8.0835 26.8337Z" fill="#FFA000"/>
            <path d="M8.0835 30.4587C4.096 30.4587 0.833496 29.3712 0.833496 28.042C0.833496 28.5253 0.833496 29.9753 0.833496 30.4587C0.833496 31.7878 4.096 32.8753 8.0835 32.8753C12.071 32.8753 15.3335 31.7878 15.3335 30.4587C15.3335 29.9753 15.3335 28.5253 15.3335 28.042C15.3335 29.3712 12.071 30.4587 8.0835 30.4587Z" fill="#FFA000"/>
            <path d="M8.0835 34.0837C4.096 34.0837 0.833496 32.9962 0.833496 31.667C0.833496 32.1503 0.833496 33.6003 0.833496 34.0837C0.833496 35.4128 4.096 36.5003 8.0835 36.5003C12.071 36.5003 15.3335 35.4128 15.3335 34.0837C15.3335 33.6003 15.3335 32.1503 15.3335 31.667C15.3335 32.9962 12.071 34.0837 8.0835 34.0837Z" fill="#FFA000"/>
            <path d="M8.0835 37.7087C4.096 37.7087 0.833496 36.6212 0.833496 35.292C0.833496 35.7753 0.833496 37.2253 0.833496 37.7087C0.833496 39.0378 4.096 40.1253 8.0835 40.1253C12.071 40.1253 15.3335 39.0378 15.3335 37.7087C15.3335 37.2253 15.3335 35.7753 15.3335 35.292C15.3335 36.6212 12.071 37.7087 8.0835 37.7087Z" fill="#FFA000"/>
            <path d="M8.0835 41.3337C4.096 41.3337 0.833496 40.2462 0.833496 38.917C0.833496 39.4003 0.833496 40.8503 0.833496 41.3337C0.833496 42.6628 4.096 43.7503 8.0835 43.7503C12.071 43.7503 15.3335 42.6628 15.3335 41.3337C15.3335 40.8503 15.3335 39.4003 15.3335 38.917C15.3335 40.2462 12.071 41.3337 8.0835 41.3337Z" fill="#FFA000"/>
            <path d="M8.0835 7.5C6.16068 7.5 4.31661 7.75461 2.95697 8.20783C1.59733 8.66104 0.833496 9.27573 0.833496 9.91667C0.833496 10.5576 1.59733 11.1723 2.95697 11.6255C4.31661 12.0787 6.16068 12.3333 8.0835 12.3333C10.0063 12.3333 11.8504 12.0787 13.21 11.6255C14.5697 11.1723 15.3335 10.5576 15.3335 9.91667C15.3335 9.27573 14.5697 8.66104 13.21 8.20783C11.8504 7.75461 10.0063 7.5 8.0835 7.5ZM8.0835 14.75C4.70016 14.75 1.921 14.025 1.07516 12.9375C0.954329 13.1792 0.833496 13.3 0.833496 13.5417C0.833496 14.8708 4.096 15.9583 8.0835 15.9583C12.071 15.9583 15.3335 14.8708 15.3335 13.5417C15.3335 13.3 15.2127 13.1792 15.0918 12.9375C14.246 14.025 11.4668 14.75 8.0835 14.75ZM8.0835 18.375C4.70016 18.375 1.921 17.65 1.07516 16.5625C0.954329 16.8042 0.833496 16.925 0.833496 17.1667C0.833496 18.4958 4.096 19.5833 8.0835 19.5833C12.071 19.5833 15.3335 18.4958 15.3335 17.1667C15.3335 16.925 15.2127 16.8042 15.0918 16.5625C14.246 17.65 11.4668 18.375 8.0835 18.375ZM8.0835 22C4.70016 22 1.921 21.275 1.07516 20.1875C0.954329 20.4292 0.833496 20.55 0.833496 20.7917C0.833496 22.1208 4.096 23.2083 8.0835 23.2083C12.071 23.2083 15.3335 22.1208 15.3335 20.7917C15.3335 20.55 15.2127 20.4292 15.0918 20.1875C14.246 21.275 11.4668 22 8.0835 22ZM8.0835 25.625C4.70016 25.625 1.921 24.9 1.07516 23.8125C0.954329 24.0542 0.833496 24.175 0.833496 24.4167C0.833496 25.7458 4.096 26.8333 8.0835 26.8333C12.071 26.8333 15.3335 25.7458 15.3335 24.4167C15.3335 24.175 15.2127 24.0542 15.0918 23.8125C14.246 24.9 11.4668 25.625 8.0835 25.625ZM8.0835 29.25C4.70016 29.25 1.921 28.525 1.07516 27.4375C0.954329 27.6792 0.833496 27.8 0.833496 28.0417C0.833496 29.3708 4.096 30.4583 8.0835 30.4583C12.071 30.4583 15.3335 29.3708 15.3335 28.0417C15.3335 27.8 15.2127 27.6792 15.0918 27.4375C14.246 28.525 11.4668 29.25 8.0835 29.25ZM8.0835 32.875C4.70016 32.875 1.921 32.15 1.07516 31.0625C0.954329 31.3042 0.833496 31.425 0.833496 31.6667C0.833496 32.9958 4.096 34.0833 8.0835 34.0833C12.071 34.0833 15.3335 32.9958 15.3335 31.6667C15.3335 31.425 15.2127 31.3042 15.0918 31.0625C14.246 32.15 11.4668 32.875 8.0835 32.875ZM8.0835 36.5C4.70016 36.5 1.921 35.775 1.07516 34.6875C0.954329 34.9292 0.833496 35.05 0.833496 35.2917C0.833496 36.6208 4.096 37.7083 8.0835 37.7083C12.071 37.7083 15.3335 36.6208 15.3335 35.2917C15.3335 35.05 15.2127 34.9292 15.0918 34.6875C14.246 35.775 11.4668 36.5 8.0835 36.5ZM8.0835 40.125C4.70016 40.125 1.921 39.4 1.07516 38.3125C0.954329 38.5542 0.833496 38.675 0.833496 38.9167C0.833496 40.2458 4.096 41.3333 8.0835 41.3333C12.071 41.3333 15.3335 40.2458 15.3335 38.9167C15.3335 38.675 15.2127 38.5542 15.0918 38.3125C14.246 39.4 11.4668 40.125 8.0835 40.125Z" fill="#FFC107"/>
            <path d="M25 26.8337C21.0125 26.8337 17.75 25.7462 17.75 24.417C17.75 24.9003 17.75 26.3503 17.75 26.8337C17.75 28.1628 21.0125 29.2503 25 29.2503C28.9875 29.2503 32.25 28.1628 32.25 26.8337C32.25 26.3503 32.25 24.9003 32.25 24.417C32.25 25.7462 28.9875 26.8337 25 26.8337Z" fill="#FFA000"/>
            <path d="M25 23.2087C21.0125 23.2087 17.75 22.1212 17.75 20.792C17.75 21.2753 17.75 22.7253 17.75 23.2087C17.75 24.5378 21.0125 25.6253 25 25.6253C28.9875 25.6253 32.25 24.5378 32.25 23.2087C32.25 22.7253 32.25 21.2753 32.25 20.792C32.25 22.1212 28.9875 23.2087 25 23.2087ZM25 30.4587C21.0125 30.4587 17.75 29.3712 17.75 28.042C17.75 28.5253 17.75 29.9753 17.75 30.4587C17.75 31.7878 21.0125 32.8753 25 32.8753C28.9875 32.8753 32.25 31.7878 32.25 30.4587C32.25 29.9753 32.25 28.5253 32.25 28.042C32.25 29.3712 28.9875 30.4587 25 30.4587Z" fill="#FFA000"/>
            <path d="M25 34.0837C21.0125 34.0837 17.75 32.9962 17.75 31.667C17.75 32.1503 17.75 33.6003 17.75 34.0837C17.75 35.4128 21.0125 36.5003 25 36.5003C28.9875 36.5003 32.25 35.4128 32.25 34.0837C32.25 33.6003 32.25 32.1503 32.25 31.667C32.25 32.9962 28.9875 34.0837 25 34.0837Z" fill="#FFA000"/>
            <path d="M25 37.7087C21.0125 37.7087 17.75 36.6212 17.75 35.292C17.75 35.7753 17.75 37.2253 17.75 37.7087C17.75 39.0378 21.0125 40.1253 25 40.1253C28.9875 40.1253 32.25 39.0378 32.25 37.7087C32.25 37.2253 32.25 35.7753 32.25 35.292C32.25 36.6212 28.9875 37.7087 25 37.7087Z" fill="#FFA000"/>
            <path d="M25 41.3337C21.0125 41.3337 17.75 40.2462 17.75 38.917C17.75 39.4003 17.75 40.8503 17.75 41.3337C17.75 42.6628 21.0125 43.7503 25 43.7503C28.9875 43.7503 32.25 42.6628 32.25 41.3337C32.25 40.8503 32.25 39.4003 32.25 38.917C32.25 40.2462 28.9875 41.3337 25 41.3337Z" fill="#FFA000"/>
            <path d="M25 18.375C23.0772 18.375 21.2331 18.6296 19.8735 19.0828C18.5138 19.536 17.75 20.1507 17.75 20.7917C17.75 21.4326 18.5138 22.0473 19.8735 22.5005C21.2331 22.9537 23.0772 23.2083 25 23.2083C26.9228 23.2083 28.7669 22.9537 30.1265 22.5005C31.4862 22.0473 32.25 21.4326 32.25 20.7917C32.25 20.1507 31.4862 19.536 30.1265 19.0828C28.7669 18.6296 26.9228 18.375 25 18.375ZM25 25.625C21.6167 25.625 18.8375 24.9 17.9917 23.8125C17.8708 24.0542 17.75 24.175 17.75 24.4167C17.75 25.7458 21.0125 26.8333 25 26.8333C28.9875 26.8333 32.25 25.7458 32.25 24.4167C32.25 24.175 32.1292 24.0542 32.0083 23.8125C31.1625 24.9 28.3833 25.625 25 25.625ZM25 29.25C21.6167 29.25 18.8375 28.525 17.9917 27.4375C17.8708 27.6792 17.75 27.8 17.75 28.0417C17.75 29.3708 21.0125 30.4583 25 30.4583C28.9875 30.4583 32.25 29.3708 32.25 28.0417C32.25 27.8 32.1292 27.6792 32.0083 27.4375C31.1625 28.525 28.3833 29.25 25 29.25ZM25 32.875C21.6167 32.875 18.8375 32.15 17.9917 31.0625C17.8708 31.3042 17.75 31.425 17.75 31.6667C17.75 32.9958 21.0125 34.0833 25 34.0833C28.9875 34.0833 32.25 32.9958 32.25 31.6667C32.25 31.425 32.1292 31.3042 32.0083 31.0625C31.1625 32.15 28.3833 32.875 25 32.875ZM25 36.5C21.6167 36.5 18.8375 35.775 17.9917 34.6875C17.8708 34.9292 17.75 35.05 17.75 35.2917C17.75 36.6208 21.0125 37.7083 25 37.7083C28.9875 37.7083 32.25 36.6208 32.25 35.2917C32.25 35.05 32.1292 34.9292 32.0083 34.6875C31.1625 35.775 28.3833 36.5 25 36.5ZM25 40.125C21.6167 40.125 18.8375 39.4 17.9917 38.3125C17.8708 38.5542 17.75 38.675 17.75 38.9167C17.75 40.2458 21.0125 41.3333 25 41.3333C28.9875 41.3333 32.25 40.2458 32.25 38.9167C32.25 38.675 32.1292 38.5542 32.0083 38.3125C31.1625 39.4 28.3833 40.125 25 40.125Z" fill="#FFC107"/>
        `;
        case 'saving-acc-logo':
          return `
          <mask id="path-1-inside-1" fill="white">
          <path d="M38.8792 2C38.8792 0.895429 39.7746 0 40.8792 0H49.2067C50.3112 0 51.2067 0.89543 51.2067 2V54.9997H38.8792V2Z"/>
          </mask>
          <path d="M38.8792 2C38.8792 0.895429 39.7746 0 40.8792 0H49.2067C50.3112 0 51.2067 0.89543 51.2067 2V54.9997H38.8792V2Z" stroke="#7567F8" stroke-width="8" mask="url(#path-1-inside-1)"/>
          <mask id="path-2-inside-2" fill="white">
          <path d="M21.8103 26.6553C21.8103 25.5507 22.7057 24.6553 23.8103 24.6553H32.1378C33.2424 24.6553 34.1378 25.5507 34.1378 26.6553V55H21.8103V26.6553Z"/>
          </mask>
          <path d="M21.8103 26.6553C21.8103 25.5507 22.7057 24.6553 23.8103 24.6553H32.1378C33.2424 24.6553 34.1378 25.5507 34.1378 26.6553V55H21.8103V26.6553Z" stroke="#243744" stroke-width="8" mask="url(#path-2-inside-2)"/>
          <mask id="path-3-inside-3" fill="white">
          <path d="M5.68958 34.2422C5.68958 33.1376 6.58501 32.2422 7.68958 32.2422H16.0171C17.1217 32.2422 18.0171 33.1376 18.0171 34.2422V55.0007H5.68958V34.2422Z"/>
          </mask>
          <path d="M5.68958 34.2422C5.68958 33.1376 6.58501 32.2422 7.68958 32.2422H16.0171C17.1217 32.2422 18.0171 33.1376 18.0171 34.2422V55.0007H5.68958V34.2422Z" stroke="#243744" stroke-width="8" mask="url(#path-3-inside-3)"/>
          <line x1="2" y1="53" x2="53.956" y2="53" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
          `;
        case 'details':
          return `
          <path d="M18 0C8.05781 0 0 8.05781 0 18C0 27.9422 8.05781 36 18 36C27.9422 36 36 27.9422 36 18C36 8.05781 27.9422 0 18 0ZM18 27C17.0086 27 16.2 26.1914 16.2 25.2V18C16.2 17.0086 17.0086 16.2 18 16.2C18.9914 16.2 19.8 17.0086 19.8 18V25.2C19.8 26.1914 18.9914 27 18 27ZM18.9 12.6H17.1C16.6008 12.6 16.2 12.1992 16.2 11.7V9.9C16.2 9.40078 16.6008 9 17.1 9H18.9C19.3992 9 19.8 9.40078 19.8 9.9V11.7C19.8 12.1992 19.3992 12.6 18.9 12.6Z" fill="#C3C4C3"/>
         `;
        case 'acc-active':
          return `
            <circle cx="18" cy="18" r="18" fill="#FFCC03"/>
            <path d="M18 6.33301C11.5705 6.33301 6.33331 11.5702 6.33331 17.9997C6.33331 24.4292 11.5705 29.6663 18 29.6663C24.4295 29.6663 29.6666 24.4292 29.6666 17.9997C29.6666 11.5702 24.4295 6.33301 18 6.33301ZM18 8.66634C23.1685 8.66634 27.3333 12.8312 27.3333 17.9997C27.3333 23.1681 23.1685 27.333 18 27.333C12.8315 27.333 8.66665 23.1681 8.66665 17.9997C8.66665 12.8312 12.8315 8.66634 18 8.66634ZM16.8333 10.9997V18.4827L21.8418 23.4912L23.4915 21.8415L19.1666 17.5166V10.9997H16.8333Z" fill="white"/>
         `;
        case 'acc-complete':
          return `
            <circle cx="18" cy="18" r="18" fill="#00C084"/>
            <path d="M25.9626 11.1851L24.3765 10.107C23.9376 9.80982 23.3364 9.92385 23.0427 10.3592L15.2677 21.8247L11.6947 18.2517C11.3215 17.8785 10.7133 17.8785 10.3401 18.2517L8.98211 19.6097C8.60891 19.9829 8.60891 20.5911 8.98211 20.9677L14.4764 26.462C14.7839 26.7696 15.2677 27.0045 15.7031 27.0045C16.1385 27.0045 16.5774 26.7315 16.8607 26.3203L26.2183 12.5155C26.5155 12.0801 26.4014 11.4823 25.9626 11.1851Z" fill="white"/>
         `;
        case 'loan-page-icon':
          return `
          <path d="M13.6667 0.666992C12.1947 0.666992 11 1.86166 11 3.33366V4.66699V9.97949L2.97921 14.6618C1.34367 15.6154 0.333374 17.3728 0.333374 19.2659V46.0003C0.333374 48.9152 2.75187 51.3337 5.66671 51.3337H48.3334C51.2482 51.3337 53.6667 48.9152 53.6667 46.0003V19.2659C53.6667 17.3728 52.6564 15.6154 51.0209 14.6618L43 9.97949V4.66699V3.33366C43 1.86166 41.8054 0.666992 40.3334 0.666992H39H15H13.6667ZM18.7657 6.00033H35.2344C35.4334 6.56114 35.755 7.0705 36.1758 7.49128C36.5965 7.91205 37.1059 8.23364 37.6667 8.43262V25.5576L34.9948 27.2191C34.9647 25.1182 34.1093 23.1134 32.6134 21.638C31.1175 20.1625 29.1012 19.3348 27 19.3337C24.8989 19.3348 22.8826 20.1625 21.3867 21.638C19.8908 23.1134 19.0353 25.1182 19.0052 27.2191L16.3334 25.5576V8.43262C16.8942 8.23364 17.4035 7.91205 17.8243 7.49128C18.2451 7.0705 18.5667 6.56114 18.7657 6.00033ZM27 11.3337C25.5254 11.3337 24.3334 12.5283 24.3334 14.0003C24.3334 15.4723 25.5254 16.667 27 16.667C28.4747 16.667 29.6667 15.4723 29.6667 14.0003C29.6667 12.5283 28.4747 11.3337 27 11.3337ZM11 16.1566V22.2399L5.95317 19.0993L11 16.1566ZM43 16.1566L48.0469 19.0993L43 22.2399V16.1566ZM5.66671 25.2034L27 38.4743L48.3334 25.2034V46.0003H5.66671V25.2034Z" fill="#243744"/>
          <path d="M26.95 34C31.0921 34 34.45 30.6421 34.45 26.5C34.45 22.3579 31.0921 19 26.95 19C22.8079 19 19.45 22.3579 19.45 26.5C19.45 30.6421 22.8079 34 26.95 34Z" fill="#7567F8"/>
          <path d="M25.986 35.2764L42.986 25.2764" stroke="#243744" stroke-width="4"/>
          <path d="M28.9979 35.7305L9.99792 24.7305" stroke="#243744" stroke-width="4"/>
          `;
        case 'shedule':
          return `
            <path d="M7.16624 0.000188406C6.17561 0.021266 5.38171 0.83625 5.39576 1.82688V3.62546H3.59717C1.62997 3.62546 0 5.25543 0 7.22263V32.4028C0 34.37 1.62997 36 3.59717 36H28.7774C30.7446 36 32.3745 34.37 32.3745 32.4028V7.22263C32.3745 5.25543 30.7446 3.62546 28.7774 3.62546H26.9788V1.82688C26.9858 1.3421 26.7961 0.871378 26.4519 0.527118C26.1076 0.182858 25.6369 -0.00683687 25.1521 0.000188406C24.1615 0.021266 23.3676 0.83625 23.3816 1.82688V3.62546H8.99293V1.82688C8.99995 1.3421 8.81026 0.871378 8.466 0.527118C8.12174 0.182858 7.65101 -0.00683687 7.16624 0.000188406ZM3.59717 12.6184H28.7774V32.4028H3.59717V12.6184ZM17.9859 19.8127C16.9952 19.8127 16.1873 20.6207 16.1873 21.6113V27.0071C16.1873 27.9977 16.9952 28.8057 17.9859 28.8057H23.3816C24.3722 28.8057 25.1802 27.9977 25.1802 27.0071V21.6113C25.1802 20.6207 24.3722 19.8127 23.3816 19.8127H17.9859Z" fill="#C3C4C3"/>
          `;
        case 'BTC':
          return `
          <path d="M3.03845 0.576935V2.8077H0.807678V17.3077H3.03845V19.5385H5.26922V17.3077H7.49999V19.5385H9.73076V17.2031C10.027 17.1639 10.3494 17.1465 10.637 17.0986C11.308 16.8764 11.857 16.6324 12.4146 16.2969C12.8591 15.9614 13.2991 15.5301 13.6346 14.9724C13.9701 14.4147 14.0877 13.8352 14.0877 13.0553C14.0877 12.1621 13.7305 11.3909 13.286 10.72C12.7284 10.049 12.0574 9.61765 11.0553 9.39544C11.8352 9.05996 12.3929 8.6199 12.7284 8.17549C13.0638 7.73108 13.286 7.14289 13.286 6.36299C13.286 5.69202 13.1945 5.13433 12.9723 4.68992C12.7501 4.2455 12.4059 3.79674 11.9615 3.57453C11.5171 3.35232 11.064 3.13012 10.393 3.01684C10.1752 2.98198 9.95296 2.94713 9.73076 2.91227V0.576935H7.49999V2.8077H5.26922V0.576935H3.03845ZM4.15383 5.03847H7.39542C7.73091 5.03847 8.04461 5.02976 8.26681 5.14304C8.6023 5.14304 8.84629 5.27375 9.0685 5.38703C9.2907 5.50031 9.51291 5.58309 9.62619 5.8053C9.73947 6.02751 9.83532 6.2715 9.83532 6.60698C9.83532 7.27796 9.72204 7.7093 9.27763 7.9315C8.83322 8.26699 8.3801 8.38463 7.70912 8.38463H4.15383V5.03847ZM4.15383 10.6154H8.05768C8.83758 10.6154 9.52162 10.8376 10.0793 11.1731C10.637 11.5086 10.8461 12.1708 10.8461 12.9507C10.8461 13.2862 10.7503 13.7393 10.637 13.9615C10.4148 14.297 10.1621 14.5105 9.93989 14.6238C9.71768 14.7371 9.40398 14.8591 9.0685 14.9724C8.73301 15.0856 8.2886 15.0769 7.95311 15.0769H4.15383V10.6154Z" fill="#000"/>
            `;
        case 'ETH':
          return `
          <path d="M7.08398 0.625L0.0634766 11.6086L8.00342 15.512L15.8169 11.6052L8.92114 0.625H8.4375H7.08398ZM7.125 3.80713V7.61475L3.7002 9.16821L7.125 3.80713ZM8.875 3.84302L12.2161 9.16308L8.875 7.62842V3.84302ZM7.125 9.53564V13.1296L3.32422 11.26L7.125 9.53564ZM8.875 9.55615L12.5903 11.2617L8.875 13.1194V9.55615ZM0.125 13.3228V15.5273L7.06177 23.2656H8H8.93823L15.875 15.5273V13.3228L8 17.3594L0.125 13.3228ZM4.0813 17.3184L7.125 18.8787V20.7124L4.0813 17.3184ZM11.9187 17.3184L8.875 20.7124V18.8787L11.9187 17.3184Z" fill="#000"/>
          `;
        case 'NBT':
          return `
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4327 6.23146V11.765C10.4327 12.0807 10.5509 12.3591 10.7872 12.6C11.0236 12.841 11.3021 12.9614 11.6228 12.9614C11.9436 12.9614 12.2306 12.841 12.4838 12.6C12.737 12.3591 12.8636 12.0807 12.8636 11.765V6.40595C12.8636 4.61127 12.239 3.09497 10.9898 1.85698C9.74056 0.618986 8.22125 0 6.43181 0C4.64238 0 3.12307 0.614832 1.87384 1.84451C0.624606 3.0742 0 4.59466 0 6.40595V11.765C0 12.0807 0.122389 12.3591 0.36717 12.6C0.611952 12.841 0.894713 12.9614 1.21546 12.9614C1.53621 12.9614 1.81897 12.841 2.06375 12.6C2.30853 12.3591 2.43092 12.0807 2.43092 11.765V6.23146C2.43092 5.00178 2.82341 4.00476 3.6084 3.24036C4.39339 2.47596 5.33452 2.09377 6.43181 2.09377C7.52911 2.09377 8.47024 2.47596 9.25523 3.24036C10.0402 4.00476 10.4327 5.00178 10.4327 6.23146ZM7.79325 11.5685V6.03498C7.79325 5.71925 7.67508 5.44091 7.43874 5.19996C7.2024 4.95901 6.92386 4.83853 6.60311 4.83853C6.28236 4.83853 5.99538 4.95901 5.74216 5.19996C5.48894 5.44091 5.36233 5.71925 5.36233 6.03498V11.394C5.36233 13.1887 5.98694 14.705 7.23617 15.943C8.4854 17.181 10.0047 17.8 11.7941 17.8C13.5836 17.8 15.1029 17.1851 16.3521 15.9555C17.6014 14.7258 18.226 13.2053 18.226 11.394V6.03498C18.226 5.71925 18.1036 5.44091 17.8588 5.19996C17.614 4.95901 17.3312 4.83853 17.0105 4.83853C16.6897 4.83853 16.407 4.95901 16.1622 5.19996C15.9174 5.44091 15.795 5.71925 15.795 6.03498V11.5685C15.795 12.7982 15.4025 13.7952 14.6176 14.5596C13.8326 15.324 12.8914 15.7062 11.7941 15.7062C10.6968 15.7062 9.75572 15.324 8.97073 14.5596C8.18574 13.7952 7.79325 12.7982 7.79325 11.5685Z" fill="#000"/>
            `;
        case 'EUR':
          return `
          <path d="M11.049 15.914C10.967 15.914 10.869 15.931 10.854 15.934C10.266 16.052 9.654 16.111 9.015 16.111C7.635 16.111 6.57 15.691 5.817 14.851C5.107 14.058 4.729 12.933 4.659 11.499H9.129C9.609 11.499 9.999 11.109 9.999 10.629V10.619C9.999 10.139 9.609 9.749 9.129 9.749H4.624V8H9.129C9.609 8 9.999 7.61 9.999 7.13V7.12C9.999 6.64 9.609 6.25 9.129 6.25H4.687C4.785 4.918 5.157 3.862 5.835 3.114C6.575 2.297 7.63 1.889 9.001 1.889C9.571 1.889 10.138 1.943 10.705 2.051C10.76 2.061 10.94 2.1 11.05 2.1C11.575 2.1 12 1.675 12 1.15C12 0.696 11.691 0.318 11.265 0.224L11.223 0.215C10.409 0.0729999 9.652 0 8.978 0C6.947 0 5.335 0.576 4.144 1.727C3.024 2.809 2.414 4.329 2.273 6.25H0.87C0.39 6.25 0 6.64 0 7.12V7.13C0 7.61 0.39 8 0.87 8H2.25V9.75H0.87C0.39 9.75 0 10.14 0 10.62V10.63C0 11.11 0.39 11.5 0.87 11.5H2.255C2.348 13.523 2.951 15.111 4.094 16.238C5.285 17.413 6.917 18 8.99 18C10.2 18 10.709 17.916 11.202 17.805C11.646 17.705 11.999 17.336 11.999 16.865C12 16.34 11.574 15.914 11.049 15.914Z" fill="#000"/>
            `;
        case 'GBP':
          return `
          <path d="M12 16H3.854C4.34 15.274 4.588 14.315 4.588 13.112L4.53 10.75H8.13C8.61 10.75 9 10.36 9 9.88V9.87C9 9.39 8.61 9 8.13 9H4.424L4.312 5.279C4.312 4.27 4.584 3.454 5.127 2.832C5.671 2.21 6.381 1.9 7.259 1.9C8.186 1.9 8.915 2.151 9.446 2.652C9.807 2.994 10.099 3.742 10.21 4.096C10.378 4.633 10.745 5 11.34 5C11.996 5 12.528 4.468 12.528 3.812C12.528 3.703 12.48 3.365 12.48 3.365C12.273 2.544 11.861 1.85 11.245 1.282C10.318 0.428 9.06 0 7.472 0C5.801 0 4.453 0.479 3.429 1.438C2.405 2.398 1.894 3.68 1.894 5.284L2.004 9H0.87C0.39 9 0 9.39 0 9.87V9.88C0 10.36 0.39 10.75 0.87 10.75H2.081L2.169 13.124V13.221C2.152 13.995 2.039 14.646 1.831 15.174C1.662 15.6 1.45 15.871 1.2 16H1C0.448 16 0 16.448 0 17C0 17.552 0.448 18 1 18H12C12.552 18 13 17.552 13 17C13 16.448 12.552 16 12 16Z" fill="#000"/>
            `;
        case 'USD':
          return `
          <path d="M11.478 13.084C11.13 12.475 10.588 11.94 9.854 11.481C9.119 11.021 8.096 10.6 6.786 10.217C5.476 9.835 4.535 9.41 3.964 8.941C3.392 8.474 3.106 7.845 3.106 7.056C3.106 6.206 3.377 5.542 3.919 5.067C4.46 4.591 5.242 4.354 6.264 4.354C7.243 4.354 8.022 4.675 8.597 5.318C8.867 5.619 9.073 5.969 9.217 6.368C9.288 6.567 9.416 7.027 9.423 7.047C9.624 7.649 9.967 8 10.559 8C11.213 8 11.743 7.586 11.743 6.816C11.743 6.671 11.712 6.518 11.693 6.428C11.513 5.532 11.158 4.783 10.626 4.18C9.822 3.27 8.699 2.725 7.255 2.548L7.25 2.547V1C7.25 0.448 6.802 0 6.25 0C5.698 0 5.25 0.448 5.25 1V2.551C3.858 2.716 2.756 3.19 1.953 3.983C1.132 4.794 0.721 5.832 0.721 7.098C0.721 8.341 1.14 9.366 1.978 10.173C2.816 10.979 4.15 11.634 5.98 12.136C7.295 12.53 8.229 12.97 8.784 13.456C9.337 13.943 9.615 14.541 9.615 15.251C9.615 16.093 9.292 16.757 8.648 17.243C8.003 17.729 7.118 17.972 5.992 17.972C4.841 17.972 3.827 17.683 3.2 17.104C2.778 16.715 2.499 16.214 2.361 15.601C2.356 15.578 2.283 15.343 2.231 15.246C2.035 14.876 1.636 14.627 1.187 14.627C0.532 14.625 0 15.157 0 15.813C0 16.101 0.144 16.509 0.188 16.629C0.413 17.244 0.778 17.803 1.235 18.254C2.118 19.123 3.46 19.624 5 19.771V21C5 21.552 5.447 22 5.999 22C6.551 22 6.999 21.552 6.999 21V19.79L7.024 19.789C8.596 19.642 9.819 19.172 10.691 18.376C11.563 17.581 12 16.531 12 15.227C12 14.409 11.825 13.694 11.478 13.084Z" fill="#000"/>
            `;
        case 'cryptoWithdrawalForm':
          return `
           <path d="M25.6667 23.8C25.6667 22.6334 24.5 21.7 22.6334 21C19.8478 21.9206 16.9338 22.3932 14 22.4C11.0414 22.4454 8.10431 21.8898 5.36671 20.7667C3.50004 21.7 2.33337 22.6334 2.33337 23.8C2.33337 26.1334 7.46671 28 14 28C20.5334 28 25.6667 26.1334 25.6667 23.8ZM14 19.3667C20.5334 19.3667 25.6667 17.5 25.6667 15.1667C25.6667 14 24.5 13.0667 22.6334 12.3667C19.8767 13.4003 16.9421 13.8762 14 13.7667C11.058 13.8762 8.12343 13.4003 5.36671 12.3667C3.50004 13.0667 2.33337 14 2.33337 15.1667C2.33337 17.5 7.46671 19.3667 14 19.3667Z"
                      fill="#642156"/>
           <path d="M14 10.7335C20.4434 10.7335 25.6667 8.85309 25.6667 6.53349C25.6667 4.2139 20.4434 2.3335 14 2.3335C7.55672 2.3335 2.33337 4.2139 2.33337 6.53349C2.33337 8.85309 7.55672 10.7335 14 10.7335Z"
                fill="#642156"/>
           <path d="M44.3333 32.6665V11.6665H30.3333V32.6665H18.4333L37.1 53.8998L55.7667 32.6665H44.3333Z"
                fill="#8C3177"/>
          `;
        case 'withdrawalSepa':
          return `
          <path d="M6 0.399902C2.69063 0.399902 0 3.09053 0 6.3999V37.5999C0 40.9093 2.69063 43.5999 6 43.5999H54C57.3094 43.5999 60 40.9093 60 37.5999V6.3999C60 3.09053 57.3094 0.399902 54 0.399902H6ZM12.2203 15.9999C13.4531 15.9999 14.3297 16.0749 14.8547 16.2202C16.1344 16.5718 16.8 17.5233 16.8 19.1499V19.5999H13.8C13.8 19.103 13.7484 18.9577 13.6359 18.789C13.4578 18.5358 12.975 18.3999 12.1875 18.3999C11.4188 18.3999 10.9125 18.4843 10.6641 18.6296C10.4156 18.7702 10.2891 19.0843 10.2891 19.5718C10.2891 20.0124 10.4016 20.2983 10.6219 20.439C10.7812 20.5374 10.9875 20.5983 11.2453 20.6124L11.8406 20.6546C13.1109 20.7437 13.9031 20.8046 14.2219 20.8374C15.225 20.9452 15.9563 21.2171 16.4109 21.6624C16.7625 22.0093 16.9734 22.464 17.0391 23.0218C17.0813 23.3593 17.1047 23.739 17.1047 24.1608C17.1 25.1312 17.0109 25.839 16.8328 26.289C16.5047 27.1187 15.7688 27.6437 14.625 27.8593C14.1422 27.953 13.1344 27.9999 12.15 27.9999C10.5047 27.9999 9.62813 27.8968 8.98594 27.6952C8.18906 27.4468 7.66875 26.9452 7.41563 26.1905C7.27031 25.7687 7.2 25.2296 7.2 24.2499H10.1391V24.3343C10.1391 24.8593 10.2844 25.2858 10.5797 25.4358C10.7813 25.539 11.025 25.5952 11.3156 25.5999H12.3938C12.9469 25.5999 13.2984 25.5718 13.4484 25.5108C13.7203 25.403 13.8984 25.2249 13.9828 24.9812C14.025 24.8312 14.0484 24.5546 14.0484 24.3155C14.0484 23.7858 13.8609 23.4624 13.4859 23.3452C13.3406 23.2983 12.6891 23.2374 11.5219 23.153C10.5797 23.0874 9.92813 23.0218 9.5625 22.9562C8.60156 22.7733 7.95937 22.389 7.64063 21.8124C7.35469 21.3202 7.2 20.5937 7.2 19.5999C7.2 18.8452 7.28906 18.2218 7.44375 17.7671C7.59375 17.3124 7.8375 16.9655 8.17969 16.7265C8.67187 16.3655 9.30469 16.1499 10.0781 16.0843C10.7203 16.028 11.4328 15.9999 12.2203 15.9999ZM25.7203 15.9999C27.3141 15.9999 28.8281 16.5999 29.9719 17.6827L30 17.7108L29.25 19.3187L29.1984 19.253C28.3969 18.264 27.2016 17.6874 25.9313 17.6874C24.4641 17.6874 23.1 18.4702 22.3359 19.7265H29.0109L28.1578 21.5593H21.7313C21.7172 21.6858 21.7125 21.8124 21.7125 21.939C21.7125 22.1312 21.7266 22.3327 21.7547 22.5249H27.7078L27.675 22.5999L26.85 24.3999H22.4672C23.2594 25.5437 24.5438 26.1905 25.9313 26.1905C27.1406 26.1905 28.2938 25.6655 29.0953 24.7515L29.1844 24.6483V26.9312L29.1656 26.9452C28.1484 27.6249 26.9578 27.9812 25.725 27.9812C23.2734 27.9812 21.0656 26.6077 20.1 24.3999H18L18.8578 22.5249H19.6359C19.6172 22.3468 19.6078 22.1687 19.6078 21.9905C19.6078 21.8593 19.6172 21.7187 19.6266 21.5593H18L18.8531 19.7312H20.0625C20.5125 18.6483 21.2719 17.7202 22.2609 17.0546C23.2828 16.3655 24.4781 15.9999 25.725 15.9999H25.7203ZM31.2 15.9999H37.2141C38.0438 15.9999 38.6719 16.0655 39.1031 16.2015C40.0969 16.5108 40.7578 17.1483 41.0953 18.1046C41.2734 18.6108 41.3578 19.3702 41.3578 20.378C41.3578 21.5968 41.2641 22.3515 41.0672 22.8858C40.7297 23.8233 40.0641 24.4046 39.0797 24.6343C38.9578 24.6624 38.4797 24.728 38.0297 24.728H34.4297V27.9952L31.2 27.9999V15.9999ZM44.3672 15.9999H49.1906L52.8 27.9999H49.5656L48.9563 25.9233H44.6391L44.0672 27.9999H40.8L44.3672 15.9999ZM46.8 18.3999L45.3234 23.589H48.3188L46.8 18.3999ZM34.4297 18.6249V21.9999H36.4453C37.0828 21.9765 37.4719 21.9296 37.6125 21.8546C37.8 21.7468 37.9266 21.5358 37.9922 21.2218C38.0344 21.0108 38.0578 20.8187 38.0578 20.4015C38.0578 19.8952 38.0109 19.5202 37.9313 19.2718C37.8141 18.9296 37.5375 18.7187 37.0969 18.6437C37.0078 18.6296 36.8016 18.6249 36.4734 18.6249H34.4297Z"
                fill="#3055D2"/>
          `;
        case 'sendToUser':
          return `
           <g clip-path="url(#clip0)">
              <path d="M34.32 21.2104C25.8118 21.2104 18.8901 28.1321 18.8901 36.6403V42.077C18.8901 45.0178 21.2826 47.4103 24.2234 47.4103H44.4166C47.3574 47.4103 49.7502 45.0178 49.7502 42.077V36.6403C49.7502 28.1321 42.8282 21.2104 34.32 21.2104Z" fill="#FF4949"/>
              <path d="M34.3198 21.2104V47.4103H44.4164C47.3576 47.4103 49.7501 45.0178 49.7501 42.077V36.6403C49.7501 28.1321 42.828 21.2104 34.3198 21.2104Z" fill="#F30051"/>
              <path d="M34.3198 2.57031C28.3811 2.57031 23.5498 7.40165 23.5498 13.3403C23.5498 19.2789 28.3815 24.1106 34.3198 24.1106C40.2584 24.1106 45.0897 19.2789 45.0897 13.3403C45.0897 7.40165 40.2584 2.57031 34.3198 2.57031Z" fill="#E7F0EF"/>
              <path d="M34.3198 2.57031V24.1106C40.2584 24.1106 45.0898 19.2793 45.0898 13.3407C45.0898 7.40203 40.2584 2.57031 34.3198 2.57031Z" fill="#C5E1E6"/>
              <path d="M15.6802 21.2104C7.17204 21.2104 0.25 28.1321 0.25 36.6403V42.077C0.25 45.0178 2.64244 47.4103 5.58362 47.4103H25.7765C28.7176 47.4103 31.1101 45.0178 31.1101 42.077V36.6403C31.1101 28.1321 24.188 21.2104 15.6802 21.2104Z" fill="#0065A3"/>
              <path d="M15.6802 21.2104V47.4103H25.7764C28.7176 47.4103 31.11 45.0178 31.11 42.077V36.6403C31.11 28.1321 24.188 21.2104 15.6802 21.2104Z" fill="#005183"/>
              <path d="M15.68 2.57031C9.74139 2.57031 4.90967 7.40165 4.90967 13.3403C4.90967 19.2789 9.74139 24.1106 15.68 24.1106C21.6183 24.1106 26.45 19.2793 26.45 13.3403C26.45 7.40165 21.6183 2.57031 15.68 2.57031Z" fill="#E7F0EF"/>
              <path d="M15.6802 2.57031V24.1106C21.6188 24.1106 26.4501 19.2793 26.4501 13.3407C26.4501 7.40203 21.6184 2.57031 15.6802 2.57031Z" fill="#C5E1E6"/>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect x="0.25" y="0.25" width="49.5" height="49.5" fill="white"/>
              </clipPath>
            </defs>
          `;
        case 'menuDot':
          return `
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.00002 3C6.00002 3.79565 5.68395 4.55871 5.12134 5.12132C4.55874 5.68393 3.79567 6 3.00002 6C2.20437 6 1.44131 5.68393 0.878703 5.12132C0.316094 4.55871 2.38835e-05 3.79565 2.38835e-05 3C2.38835e-05 2.20435 0.316094 1.44129 0.878703 0.87868C1.44131 0.31607 2.20437 0 3.00002 0C3.79567 0 4.55874 0.31607 5.12134 0.87868C5.68395 1.44129 6.00002 2.20435 6.00002 3ZM6.00002 12C5.99996 12.394 5.92228 12.7842 5.77143 13.1482C5.62058 13.5122 5.39951 13.843 5.12084 14.1215C4.84218 14.4001 4.51137 14.6211 4.1473 14.7718C3.78324 14.9225 3.39305 15.0001 2.99902 15C2.60499 14.9999 2.21483 14.9223 1.85082 14.7714C1.48681 14.6206 1.15607 14.3995 0.877497 14.1208C0.598921 13.8422 0.377961 13.5113 0.227232 13.1473C0.0765035 12.7832 -0.00104219 12.393 -0.000976521 11.999C-0.000843901 11.2032 0.315407 10.4401 0.878203 9.87747C1.441 9.31486 2.20424 8.99887 3.00002 8.999C3.79581 8.99913 4.55894 9.31538 5.12155 9.87818C5.68416 10.441 6.00016 11.2042 6.00002 12ZM3.00002 24C3.79581 23.9999 4.55894 23.6836 5.12155 23.1208C5.68416 22.558 6.00016 21.7948 6.00002 20.999C5.99989 20.2032 5.68364 19.4401 5.12084 18.8775C4.55805 18.3149 3.79481 17.9989 2.99902 17.999C2.60499 17.9991 2.21483 18.0767 1.85082 18.2276C1.48681 18.3784 1.15607 18.5995 0.877497 18.8782C0.314888 19.441 -0.00110913 20.2042 -0.000976521 21C-0.000843913 21.7958 0.315407 22.5589 0.878203 23.1215C1.441 23.6841 2.20424 24.0001 3.00002 24Z"
            fill="#6A7287"/>
          `;
        case 'balance':
          return `
            <path d="M3 0.000100007C1.35503 0.000100007 0 1.35513 0 3.0001V16.0001C0 17.1051 0.895 18.0001 2 18.0001H16C17.105 18.0001 18 17.1051 18 16.0001V6.0001C18 4.8951 17.105 4.0001 16 4.0001H5H3C2.43497 4.0001 2 3.56513 2 3.0001C2 2.43507 2.43497 2.0001 3 2.0001H16C16.1325 2.00197 16.2641 1.97749 16.387 1.92808C16.51 1.87867 16.6219 1.8053 16.7163 1.71226C16.8107 1.61922 16.8856 1.50834 16.9368 1.38609C16.9879 1.26383 17.0142 1.13263 17.0142 1.0001C17.0142 0.867575 16.9879 0.736371 16.9368 0.614114C16.8856 0.491857 16.8107 0.380984 16.7163 0.28794C16.6219 0.194895 16.51 0.121535 16.387 0.072121C16.2641 0.0227073 16.1325 -0.00177404 16 0.000100007H3ZM15 10.0001C15.552 10.0001 16 10.4481 16 11.0001C16 11.5521 15.552 12.0001 15 12.0001C14.448 12.0001 14 11.5521 14 11.0001C14 10.4481 14.448 10.0001 15 10.0001Z" fill="#6A7287"/>
          `;
        case 'codFormIcon':
          return `
           <path d="M14.6666 13.6002C14.6666 12.9336 13.9999 12.4002 12.9333 12.0002C11.3415 12.5263 9.67634 12.7963 7.99992 12.8002C6.30926 12.8262 4.63093 12.5086 3.06659 11.8669C1.99992 12.4002 1.33325 12.9336 1.33325 13.6002C1.33325 14.9336 4.26659 16.0002 7.99992 16.0002C11.7333 16.0002 14.6666 14.9336 14.6666 13.6002ZM7.99992 11.0669C11.7333 11.0669 14.6666 10.0002 14.6666 8.66689C14.6666 8.00023 13.9999 7.46689 12.9333 7.06689C11.358 7.65752 9.68111 7.92944 7.99992 7.86689C6.31873 7.92944 4.64186 7.65752 3.06659 7.06689C1.99992 7.46689 1.33325 8.00023 1.33325 8.66689C1.33325 10.0002 4.26659 11.0669 7.99992 11.0669Z" fill="#6A7287"/>
            <path d="M7.99992 6.1335C11.6818 6.1335 14.6666 5.05898 14.6666 3.7335C14.6666 2.40801 11.6818 1.3335 7.99992 1.3335C4.31802 1.3335 1.33325 2.40801 1.33325 3.7335C1.33325 5.05898 4.31802 6.1335 7.99992 6.1335Z" fill="#6A7287"/>
            <path d="M25.3333 18.6665V6.6665H17.3333V18.6665H10.5333L21.2 30.7998L31.8667 18.6665H25.3333Z" fill="#6A7287"/>
          `;
        case 'meuList':
          return `
            <path d="M1.99959 8.25217e-07C1.86708 -0.00187322 1.73552 0.0226081 1.61255 0.0720218C1.48958 0.121436 1.37766 0.194796 1.28329 0.287841C1.18892 0.380885 1.11399 0.491758 1.06284 0.614015C1.01169 0.736272 0.985352 0.867476 0.985352 1C0.985352 1.13253 1.01169 1.26373 1.06284 1.38599C1.11399 1.50824 1.18892 1.61912 1.28329 1.71216C1.37766 1.80521 1.48958 1.87857 1.61255 1.92798C1.73552 1.97739 1.86708 2.00187 1.99959 2H19.9996C20.1321 2.00187 20.2637 1.97739 20.3866 1.92798C20.5096 1.87857 20.6215 1.80521 20.7159 1.71216C20.8103 1.61912 20.8852 1.50824 20.9363 1.38599C20.9875 1.26373 21.0138 1.13253 21.0138 1C21.0138 0.867476 20.9875 0.736272 20.9363 0.614015C20.8852 0.491758 20.8103 0.380885 20.7159 0.287841C20.6215 0.194796 20.5096 0.121436 20.3866 0.0720218C20.2637 0.0226081 20.1321 -0.00187322 19.9996 8.25217e-07H1.99959ZM1.99959 6C1.86708 5.99813 1.73552 6.02261 1.61255 6.07202C1.48958 6.12144 1.37766 6.1948 1.28329 6.28784C1.18892 6.38089 1.11399 6.49176 1.06284 6.61401C1.01169 6.73627 0.985352 6.86748 0.985352 7C0.985352 7.13253 1.01169 7.26373 1.06284 7.38599C1.11399 7.50824 1.18892 7.61912 1.28329 7.71216C1.37766 7.80521 1.48958 7.87857 1.61255 7.92798C1.73552 7.97739 1.86708 8.00187 1.99959 8H19.9996C20.1321 8.00187 20.2637 7.97739 20.3866 7.92798C20.5096 7.87857 20.6215 7.80521 20.7159 7.71216C20.8103 7.61912 20.8852 7.50824 20.9363 7.38599C20.9875 7.26373 21.0138 7.13253 21.0138 7C21.0138 6.86748 20.9875 6.73627 20.9363 6.61401C20.8852 6.49176 20.8103 6.38089 20.7159 6.28784C20.6215 6.1948 20.5096 6.12144 20.3866 6.07202C20.2637 6.02261 20.1321 5.99813 19.9996 6H1.99959ZM1.99959 12C1.86708 11.9981 1.73552 12.0226 1.61255 12.072C1.48958 12.1214 1.37766 12.1948 1.28329 12.2878C1.18892 12.3809 1.11399 12.4918 1.06284 12.614C1.01169 12.7363 0.985352 12.8675 0.985352 13C0.985352 13.1325 1.01169 13.2637 1.06284 13.386C1.11399 13.5082 1.18892 13.6191 1.28329 13.7122C1.37766 13.8052 1.48958 13.8786 1.61255 13.928C1.73552 13.9774 1.86708 14.0019 1.99959 14H19.9996C20.1321 14.0019 20.2637 13.9774 20.3866 13.928C20.5096 13.8786 20.6215 13.8052 20.7159 13.7122C20.8103 13.6191 20.8852 13.5082 20.9363 13.386C20.9875 13.2637 21.0138 13.1325 21.0138 13C21.0138 12.8675 20.9875 12.7363 20.9363 12.614C20.8852 12.4918 20.8103 12.3809 20.7159 12.2878C20.6215 12.1948 20.5096 12.1214 20.3866 12.072C20.2637 12.0226 20.1321 11.9981 19.9996 12H1.99959Z" fill="#364364"/>
          `;
        case 'meuListCheck':
          return `
            <path d="M3.58594 0.414062C3.33006 0.414062 3.07441 0.511531 2.87891 0.707031L1.58594 2H1C0.448 2 0 2.448 0 3C0 3.552 0.448 4 1 4H2C2.265 4 2.52003 3.89503 2.70703 3.70703L4.29297 2.12109C4.68397 1.73109 4.68397 1.09803 4.29297 0.707031C4.09797 0.511531 3.84181 0.414062 3.58594 0.414062ZM8 2C7.448 2 7 2.448 7 3C7 3.552 7.448 4 8 4H19C19.552 4 20 3.552 20 3C20 2.448 19.552 2 19 2H8ZM3.58594 6.41406C3.33006 6.41406 3.07441 6.51153 2.87891 6.70703L1.58594 8H1C0.448 8 0 8.448 0 9C0 9.552 0.448 10 1 10H2C2.265 10 2.52003 9.89503 2.70703 9.70703L4.29297 8.12109C4.68397 7.73109 4.68397 7.09803 4.29297 6.70703C4.09797 6.51153 3.84181 6.41406 3.58594 6.41406ZM8 8C7.448 8 7 8.448 7 9C7 9.552 7.448 10 8 10H19C19.552 10 20 9.552 20 9C20 8.448 19.552 8 19 8H8ZM3.58594 12.4141C3.33006 12.4141 3.07441 12.5115 2.87891 12.707L1.58594 14H1C0.448 14 0 14.448 0 15C0 15.552 0.448 16 1 16H2C2.265 16 2.52003 15.895 2.70703 15.707L4.29297 14.1211C4.68397 13.7311 4.68397 13.098 4.29297 12.707C4.09797 12.5115 3.84181 12.4141 3.58594 12.4141ZM8 14C7.448 14 7 14.448 7 15C7 15.552 7.448 16 8 16H19C19.552 16 20 15.552 20 15C20 14.448 19.552 14 19 14H8Z" fill="#364364"/>
        `;
        case 'search':
          return `
            <path d="M12.37 2.13001C11.4135 1.17099 10.2071 0.499522 8.88805 0.191918C7.56896 -0.115685 6.19003 -0.0470876 4.90798 0.389915C3.62593 0.826918 2.49217 1.6148 1.63557 2.66402C0.778963 3.71323 0.233862 4.98171 0.0622173 6.32527C-0.109428 7.66883 0.0992672 9.03361 0.664583 10.2645C1.2299 11.4954 2.12916 12.543 3.26017 13.2882C4.39119 14.0335 5.70858 14.4466 7.06264 14.4805C8.4167 14.5144 9.75312 14.1678 10.92 13.48L14.92 17.48C15.2595 17.8195 15.7199 18.0102 16.2 18.0102C16.6801 18.0102 17.1405 17.8195 17.48 17.48C17.8195 17.1405 18.0102 16.6801 18.0102 16.2C18.0102 15.7199 17.8195 15.2595 17.48 14.92L13.48 10.92C14.2962 9.53928 14.6301 7.92635 14.4291 6.33507C14.2282 4.74378 13.5038 3.26449 12.37 2.13001ZM10.45 10.45C9.81684 11.0844 9.00968 11.5168 8.1307 11.6923C7.25172 11.8678 6.34043 11.7786 5.51215 11.436C4.68388 11.0934 3.97586 10.5128 3.47769 9.76768C2.97953 9.02253 2.71363 8.14634 2.71363 7.25001C2.71363 6.35368 2.97953 5.47749 3.47769 4.73234C3.97586 3.98719 4.68388 3.40657 5.51215 3.06397C6.34043 2.72137 7.25172 2.63219 8.1307 2.80771C9.00968 2.98324 9.81684 3.41558 10.45 4.05001C10.8709 4.46987 11.2048 4.96864 11.4327 5.51775C11.6605 6.06685 11.7778 6.65551 11.7778 7.25001C11.7778 7.84451 11.6605 8.43317 11.4327 8.98227C11.2048 9.53138 10.8709 10.0301 10.45 10.45Z" fill="#6A7287" fill-opacity="0.33"/>
          `;
        case 'btnSetting':
          return `
          <path d="M19.65 3H4.35C3.60442 3 3 3.60442 3 4.35C3 5.09558 3.60442 5.7 4.35 5.7H19.65C20.3956 5.7 21 5.09558 21 4.35C21 3.60442 20.3956 3 19.65 3Z" fill="#6A7287"/>
            <path d="M5.35 6.7C6.64787 6.7 7.7 5.64787 7.7 4.35C7.7 3.05213 6.64787 2 5.35 2C4.05213 2 3 3.05213 3 4.35C3 5.64787 4.05213 6.7 5.35 6.7Z" fill="#6A7287"/>
            <path d="M18.65 20.7C17.3521 20.7 16.3 19.6479 16.3 18.35C16.3 17.0521 17.3521 16 18.65 16C19.9479 16 21 17.0521 21 18.35C21 19.6479 19.9479 20.7 18.65 20.7Z" fill="#6A7287"/>
            <path d="M4.35 17H19.65C20.3956 17 21 17.6044 21 18.35C21 19.0956 20.3956 19.7 19.65 19.7H4.35C3.60442 19.7 3 19.0956 3 18.35C3 17.6044 3.60442 17 4.35 17Z" fill="#6A7287"/>
            <path d="M12.35 13.7C13.6479 13.7 14.7 12.6479 14.7 11.35C14.7 10.0521 13.6479 9 12.35 9C11.0521 9 10 10.0521 10 11.35C10 12.6479 11.0521 13.7 12.35 13.7Z" fill="#6A7287"/>
            <path d="M19.65 10H4.35C3.60442 10 3 10.6044 3 11.35C3 12.0956 3.60442 12.7 4.35 12.7H19.65C20.3956 12.7 21 12.0956 21 11.35C21 10.6044 20.3956 10 19.65 10Z" fill="#6A7287"/>
          `;
        case 'pending':
          return `
            <path d="M8.97021 5.5L15.4651 0.625V10.375L8.97021 5.5Z" fill="#C7CDDE" />
            <path d="M25.1247 29.4753C27.4577 27.4195 29.075 24.6728 29.7414 21.6343C30.4079 18.5957 30.0889 15.4236 28.8307 12.5789C27.5725 9.73425 25.4408 7.36519 22.7451 5.816C20.0495 4.2668 16.9306 3.61819 13.8414 3.96441V7.23878C16.2315 6.89337 18.6694 7.31879 20.8017 8.45336C22.9339 9.58793 24.6497 11.3727 25.7002 13.5488C26.7507 15.725 27.0813 18.1794 26.6441 20.5563C26.2069 22.9331 25.0247 25.1089 23.2687 26.768C22.642 27.3612 22.6875 28.2858 23.0577 28.9683C23.4717 29.68 24.4508 30.0668 25.1247 29.472V29.4753ZM21.96 31.5L15.4651 36.375V26.625L21.96 31.5Z" fill="#C7CDDE" />
            <path d="M5.80558 7.52482C3.47254 9.58057 1.85528 12.3273 1.1888 15.3658C0.522317 18.4044 0.841347 21.5765 2.09953 24.4212C3.35771 27.2659 5.48949 29.6349 8.1851 31.1841C10.8807 32.7333 13.9997 33.3819 17.0888 33.0357V29.7613C14.6984 30.1072 12.26 29.682 10.1273 28.5474C7.99457 27.4128 6.27847 25.6278 5.22786 23.4512C4.17726 21.2747 3.84679 18.8198 4.28438 16.4426C4.72197 14.0653 5.90486 11.8895 7.6615 10.2304C8.28826 9.63732 8.24279 8.71432 7.87258 8.0302C7.45853 7.31845 6.47943 6.9317 5.80558 7.52645V7.52482Z" fill="#C7CDDE" />
          `;
        case 'copy':
          return `
            <path d="M2.46674 0C1.36433 0 0.471436 0.895 0.471436 2V15C0.471436 15.552 0.918383 16 1.46909 16C2.01979 16 2.46674 15.552 2.46674 15V2H15.4362C15.9869 2 16.4338 1.552 16.4338 1C16.4338 0.448 15.9869 0 15.4362 0H2.46674ZM6.45734 4C5.35494 4 4.46204 4.895 4.46204 6V18C4.46204 19.105 5.35494 20 6.45734 20H18.4291C19.5316 20 20.4245 19.105 20.4245 18V6C20.4245 4.895 19.5316 4 18.4291 4H6.45734ZM6.45734 6H18.4291V18H6.45734V6Z" fill="#B7C0CF"/>
          `;
        case 'download':
          return `
          <ellipse cx="16.899" cy="16" rx="15.9624" ry="16" fill="#C7CDDE"/>
          <line x1="9.91541" y1="23.25" x2="24.6499" y2="23.25" stroke="white" stroke-width="1.5"/>
          <path
            d="M16.7532 20.5303C17.0461 20.8232 17.5209 20.8232 17.8138 20.5303L22.5868 15.7574C22.8797 15.4645 22.8797 14.9896 22.5868 14.6967C22.2939 14.4038 21.819 14.4038 21.5261 14.6967L17.2835 18.9393L13.0409 14.6967C12.748 14.4038 12.2731 14.4038 11.9802 14.6967C11.6873 14.9896 11.6873 15.4645 11.9802 15.7574L16.7532 20.5303ZM16.5335 8V20H18.0335V8H16.5335Z"
            fill="white"/>
          `;
        case 'coldVault':
          return `
          <path d="M0 18C0 27.9411 8.05888 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0C8.05888 0 0 8.05888 0 18Z"
                        fill="#5DCA8C" />
          <circle cx="18" cy="18" r="18" fill="#C7CDDE" />
          <path d="M27.9922 11C27.9922 11 28.6172 25.375 18.1069 31C7.38181 25.375 8.00681 11 8.00681 11C13.0044 11 17.9995 6 17.9995 6C17.9995 6 22.372 11 27.9922 11Z"
                fill="white" />
          <path d="M23.6245 16.811L22.5234 14.8311L19.7255 15.6733L19.1542 12.8755H16.8447L16.2758 15.6538L13.5024 14.7993L12.3867 16.7695L14.4741 18.4858L12.3745 20.1899L13.4755 22.1675L16.2734 21.3276L16.8447 24.1255H19.1542L19.7231 21.3472L22.4941 22.2017L23.6098 20.2314L21.5248 18.5127L23.6245 16.811ZM20.8852 18.5005C20.8852 20.0532 19.5937 21.313 17.9995 21.313C16.4052 21.313 15.1137 20.0532 15.1137 18.5005C15.1137 16.9478 16.4052 15.688 17.9995 15.688C19.5937 15.688 20.8852 16.9478 20.8852 18.5005Z"
                fill="#C7CDDE" />
          <path d="M22.062 18.5005C22.062 16.2568 20.2431 14.438 17.9995 14.438C15.7558 14.438 13.937 16.2568 13.937 18.5005C13.937 20.7441 15.7558 22.563 17.9995 22.563C20.2431 22.563 22.062 20.7441 22.062 18.5005ZM19.8745 18.5005C19.8745 19.5356 19.0346 20.3755 17.9995 20.3755C16.9643 20.3755 16.1245 19.5356 16.1245 18.5005C16.1245 17.4653 16.9643 16.6255 17.9995 16.6255C19.0346 16.6255 19.8745 17.4653 19.8745 18.5005Z"
                fill="#C7CDDE" />
          `;
        case 'download-white':
          return `
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.9 0V7H4L9.9 14L16 7H11.9V0H7.9ZM2 16H18C18.5304 16 19.0391 16.2107 19.4142 16.5858C19.7893 16.9609 20 17.4696 20 18C20 18.5304 19.7893 19.0391 19.4142 19.4142C19.0391 19.7893 18.5304 20 18 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18C0 17.4696 0.210714 16.9609 0.585786 16.5858C0.960859 16.2107 1.46957 16 2 16Z" fill="white"/>
          `;
        case 'wallet':
          return `
          <ellipse cx="16.8989" cy="16" rx="15.9624" ry="16" fill="#C7CDDE"/>
          <path d="M11.6667 8.00009C10.2045 8.00009 9 9.20455 9 10.6667V22.2222C9 23.2044 9.79555 24 10.7778 24H23.2221C24.2044 24 24.9999 23.2044 24.9999 22.2222V13.3334C24.9999 12.3512 24.2044 11.5556 23.2221 11.5556H13.4444H11.6667C11.1644 11.5556 10.7778 11.169 10.7778 10.6667C10.7778 10.1645 11.1644 9.77786 11.6667 9.77786H23.2221C23.3399 9.77952 23.4569 9.75776 23.5662 9.71384C23.6755 9.66992 23.775 9.60471 23.8589 9.522C23.9427 9.43929 24.0093 9.34074 24.0548 9.23207C24.1003 9.1234 24.1237 9.00677 24.1237 8.88897C24.1237 8.77117 24.1003 8.65455 24.0548 8.54588C24.0093 8.4372 23.9427 8.33865 23.8589 8.25595C23.775 8.17324 23.6755 8.10803 23.5662 8.06411C23.4569 8.02018 23.3399 7.99842 23.2221 8.00009H11.6667ZM22.3333 16.8889C22.8239 16.8889 23.2221 17.2871 23.2221 17.7778C23.2221 18.2685 22.8239 18.6667 22.3333 18.6667C21.8426 18.6667 21.4444 18.2685 21.4444 17.7778C21.4444 17.2871 21.8426 16.8889 22.3333 16.8889Z"
                fill="white"/>
          `;
        default:
          return '';
      }
    },
    computedViewBox() {
      switch (this.name) {
        case 'loan-headr-single':
          return '0 0 50 50';
        case 'save-acc-headr-single':
          return '0 0 50 44';
        case 'details':
          return '0 0 36 36';
        case 'shedule':
          return '0 0 33 36';
        case 'saving-acc-logo':
          return '0 0 56 55';
        case 'acc-active':
          return '0 0 36 36';
        case 'acc-complete':
          return '0 0 36 36';
        case 'loan-page-icon':
          return '0 0 54 52';
        case 'BTC':
          return '0 0 15 20';
        case 'ETH':
          return '0 0 16 24';
        case 'NBT':
          return '0 0 19 18';
        case 'GBP':
          return '0 0 13 18';
        case 'USD':
          return '0 0 12 22';
        case 'EUR':
          return '0 0 12 18';
        case 'withdrawalSepa':
          return '0 0 60 44';
        case 'sendToUser':
          return '0 0 50 50';
        case 'menuDot':
          return '0 0 6 24';
        case 'balance':
          return '0 0 18 18';
        case 'codFormIcon':
          return '0 0 32 32';
        case 'meuList':
          return '0 0 22 14';
        case 'meuListCheck':
          return '0 0 20 16';
        case 'search':
          return '0 0 19 19';
        case 'btnSetting':
          return '0 0 24 24';
        case 'cryptoWithdrawalForm':
          return '0 0 56 56';
        case 'pending':
          return '0 0 31 37';
        case 'copy':
          return '0 0 21 20';
        case 'coldVault':
          return '0 0 36 36';
        case 'download':
          return '0 0 33 32';
        case 'download-white':
          return '0 0 20 20';
        case 'wallet':
          return '0 0 33 32';
        default:
          return '0 0 0 0';
      }
    },
    defaultWidth() {
      return this.width || this.computedViewBox.split(' ')[2];
    },
    defaultHeight() {
      return this.heigth || this.computedViewBox.split(' ')[3];
    },
  },
};
</script>
