<template>
  <div class="swaiper-nav-wrap"
      :class="{'swaiper-nav-wrap--not-loop': !isLoop}">
    <vue-slick-carousel ref="swaiperNav"
            class="swaiper-nav" v-bind="settings">
      <div v-for="item in menuItems"
                    :key="item.ID"
                    class="swaiper-nav__item">
        <div class="swaiper-nav__item-inner">
          <div class="swaiper-nav__item-icon"
               :class="`swaiper-nav__item-icon--${changeClassItem(item.title)}`"
          />
          <div class="swaiper-nav__item-text" v-text="$t(item.title)"/>
          <a :href="item.url" />
        </div>
      </div>
    </vue-slick-carousel>
    <button @click="next" v-if="isLoop" class="btn swaiper-nav__btn swaiper-nav__btn-next"/>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';
import 'vue-slick-carousel/dist/vue-slick-carousel.css';
import { mapState } from 'vuex';

export default {
  name: 'NavSwiper',
  props: {
    menuItems: {
      type: Array,
      required: true,
    },
  },
  components: {
    VueSlickCarousel,
  },
  data: () => ({
    settings: {
      arrows: false,
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 4,
          },
        },
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 3,
          },
        },
        {
          breakpoint: 590,
          settings: {
            slidesToShow: 2,
          },
        },
        {
          breakpoint: 370,
          settings: {
            slidesToShow: 1,
          },
        },
      ],
    },
  }),
  computed: {
    ...mapState(['windowSize']),
    isLoop() {
      const breakpoint = this.settings.responsive.find((el) => el.breakpoint <= this.windowSize);
      let slidesToShow = this.windowSize > 1200 || !breakpoint ? 6 : breakpoint.settings.slidesToShow;
      if (this.windowSize < 370) slidesToShow = 1;
      return this.menuItems.length > slidesToShow;
    },
  },
  methods: {
    next() {
      this.$refs.swaiperNav.next();
    },
    changeClassItem(item) {
      return item.replace(/\s+/g, '-').toLowerCase().trim();
    },
    editSwipeSetting() {
      ['swipe', 'swipeToSlide', 'touchMove'].map((key) => {
        this.settings[key] = this.isLoop;
        return key;
      });
    },
  },
  mounted() {
    this.editSwipeSetting();
  },
  watch: {
    isLoop() {
      this.editSwipeSetting();
    },
  },
};
</script>
