<template>
  <div class="crypto-data__item history-list__wrap history-data__item">
    <div v-if="isHistoryList">
      <ul class="history-list" >
        <history-list-item v-for="item in paginationHistoryList"
                           :key="item.OperationDate"
                           :item="item"/>
      </ul>
      <div class="main-pagination">
        <paginate
          v-if="pageCount > 1 && isPagination"
          break-view-class="break-me"
          :page-count="pageCount"
          :page-range="windowSize < 470 ? 1 : 3"
          :force-page="currentPage"
          :margin-pages="1"
          v-model="page"
          :click-handler="onPageClick"
          prev-class="previous"
          next-class="next"
          container-class="pagination"
        />
      </div>
    </div>
    <error-indicator v-else-if="filterHistory === 'error'"/>
    <spinner v-else-if="filterHistory === 'load'"/>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Paginate from 'vuejs-paginate';
import HistoryListItem from './HistoryListItem.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';
import Spinner from '../spinner/Spinner.vue';

export default {
  name: 'HistoryList',
  components: {
    Spinner, ErrorIndicator, HistoryListItem, Paginate,
  },
  data: () => ({
    page: 1,
    pageSize: 10,
  }),
  props: {
    isPagination: {
      type: Boolean,
      default: true,
    },
    paginationUrl: {
      type: String,
      default: '/history/',
    },
  },
  computed: {
    ...mapState(['windowSize', 'filterHistory']),
    isHistoryList() {
      return Array.isArray(this.filterHistory) && this.filterHistory.length;
    },
    pageCount() {
      return Math.ceil(this.filterHistory.length / this.pageSize);
    },
    currentPage() {
      return Number(this.$route.params.id);
    },
    paginationHistoryList() {
      if (!this.isPagination) return this.filterHistory;
      return this.filterHistory.slice((this.page - 1) * this.pageSize, this.page * this.pageSize);
    },
  },
  methods: {
    onPageClick(id) {
      this.$router.push(this.paginationUrl + id);
    },
  },
  mounted() {
    this.page = Number(this.$route.params.id);
    if (!this.page) this.page = 1;
  },
  watch: {
    isHistoryList(val) {
      if (val && this.pageCount < this.page) {
        this.page = 1;
        this.$router.push(`${this.paginationUrl}1`);
      }
    },
  },
};
</script>
