<template>
  <li>
    <div  v-if="windowSize > 767"
          class="history-list__item"
          :class="utilitySelector">
      <div class="history-list__col history-list__col-data"
           v-text="operationDt" />
      <div class="history-list__col history-list__col-amount"
          :class="{'text-green': positiveAmount}">
        <span>
          {{positiveAmount ? '+': ''}}{{operationAmount}}
        </span>
        <span v-text="item.CurrencyCode" />
      </div>
      <div class="history-list__col history-list__col-recipient d-flex align-items-center">
        <slot name="desctiption" :item="item" :statusSelector="statusSelector">
          <span class="link-text text-greey" v-text="item.OperationDescription" />
          {{isDetails ? ', ' : ''}}
          <span @click="getDetails" class="history--details not-index" v-if="isDetails" v-text="$t('Txt Details')" />

          <span v-if="item.status" class="ml-1" :class="`text-${statusSelector(item.status)}`">
           {{!isFiat && !isColdStotage ? ',' : ''}} {{item.status}}
        </span>
        </slot>
      </div>
    </div>

    <div v-else
         :class="utilitySelector"
         v-touch:swipe="swipeItem"
         class="history-list__item history-list__item--mobile not-index">
      <div class="history-list__col history-list__col-left">
        <slot name="mob-col-left">
          <div class="history-item__recipient" v-if="item.OperationDescription">
            <span v-text="wordSlice(item.OperationDescription, 4)" />
          </div>
          <div class="history-item__data" v-text="operationDt" />
        </slot>
      </div>
      <div class="history-list__col history-list__col-right text-right">
        <slot name="mob-col--rigth">
          <div class="history-item__ammount">
            <div class="history-list__col history-list__col-amount"
                 :class="{'text-green': positiveAmount}">
            <span>
              {{positiveAmount ? '+': ''}}{{operationAmount}} {{item.CurrencyCode}}
            </span>
            </div>
          </div>
         <!-- <div v-if="item.status" :class="`text-${statusSelector(item.status)}`" v-text="item.status"/>-->
        </slot>
      </div>
      <div class="btn-icon history--details" @click="getDetails"  v-if="isDetails">
        <span class="nebeus-icon nebeus-icon--menuDot">
          <main-icon name="menuDot" />
        </span>
      </div>

    </div>
  </li>
</template>

<script>
import {
  mapState, mapGetters, mapActions,
} from 'vuex';
import moment from 'moment';
import mixin from '@/mixin';
import MainIcon from '../icon/MainIcon.vue';

export default {
  name: 'HistoryListItem',
  components: { MainIcon },
  mixins: [mixin],
  data: () => ({
    activeItem: false,
  }),
  props: {
    item: {
      type: Object,
      required: true,
    },
    details: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapState({
      windowSize: ({ windowSize }) => windowSize,
      isFiat: ({ cryptoCurrency }) => (cryptoCurrency ? cryptoCurrency.isFiat : null),
      isColdStotage: ({ coldStorageData }) => coldStorageData,
    }),
    ...mapGetters(['formatAmountUp']),
    operationDt() {
      return moment(this.item.OperationDate).format('DD/MM/YYYY');
    },
    positiveAmount() {
      return this.item.OperationAmount > 0;
    },
    operationAmount() {
      return this.formatAmountUp(this.item.OperationAmount, this.item.CurrencyCode);
    },
    isCommission() {
      return this.item.OperationDescription && this.item.OperationDescription.trim() === 'Commission payment';
    },
    isDetails() {
      return this.details && !this.isFiat && !this.isColdStotage && this.item.Hash && !this.isCommission;
    },
    utilitySelector() {
      console.log('utilitySelector', this.activeItem);
      let selector;
      if (this.isCommission) {
        selector = 'commission-payment';
      } else {
        selector = (this.positiveAmount ? 'income' : 'outcome');
      }
      if (this.windowSize < 768) {
        if (this.isDetails) {
          selector += ' history-list__item--details';
        }
        if (this.activeItem) {
          selector += ' active-item';
        }
      }
      if (this.item.status) {
        selector += ` status-${this.statusSelector(this.item.status)}`;
      }
      return `history-list__item--${selector}`;
    },
  },
  methods: {
    ...mapActions(['getItemDetails']),
    getDetails() {
      console.log('getDetails', this.activeItem);
      if (!this.isDetails) return;
      this.getItemDetails(this.item);
    },
    statusSelector(status) {
      const getStatus = status.match(/[A-Za-z][a-z]*/g);
      return getStatus ? getStatus[0].toLowerCase() : '';
    },
    swipeItem(e) {
      console.log('swipeItem', e);
      if (!this.isDetails) return;
      if (e === 'left') {
        this.activeItem = true;
      } else if (e === 'right') {
        this.activeItem = false;
      }
    },
  },
};
</script>
