<template>
  <div class="w-100">
    <button v-if="windowSize < 768"
            @click="showFilter = !showFilter"
            class="btn btn--grey btn-icon w-100 mb-4">
      <svg class="mr-3" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27378 3.7C3.84859 4.30478 3.14545 4.7 2.35 4.7C1.05213 4.7 0 3.64787 0 2.35C0 1.05213 1.05213 0 2.35 0C3.14545 0 3.84859 0.395217 4.27378 1H16.65C17.3956 1 18 1.60442 18 2.35C18 3.09558 17.3956 3.7 16.65 3.7H4.27378ZM13.7262 15H1.35C0.604416 15 0 15.6044 0 16.35C0 17.0956 0.604416 17.7 1.35 17.7H13.7262C14.1514 18.3048 14.8545 18.7 15.65 18.7C16.9479 18.7 18 17.6479 18 16.35C18 15.0521 16.9479 14 15.65 14C14.8545 14 14.1514 14.3952 13.7262 15ZM7.42622 8C7.85141 7.39522 8.55455 7 9.35 7C10.1455 7 10.8486 7.39522 11.2738 8H16.65C17.3956 8 18 8.60442 18 9.35C18 10.0956 17.3956 10.7 16.65 10.7H11.2738C10.8486 11.3048 10.1455 11.7 9.35 11.7C8.55455 11.7 7.85141 11.3048 7.42622 10.7H1.35C0.604415 10.7 0 10.0956 0 9.35C0 8.60442 0.604415 8 1.35 8H7.42622Z" fill="#6A7287"/>
      </svg>
      {{$t('Filters')}}
    </button>
    <transition name="fade">
      <div v-show="windowSize > 768 || showFilter" class="nebeus-form nebeus-history-search__form">
        <div class="form-group form-group--keywords">
          <span v-text="$t('Keywords')" />
          <input type="text"
                 v-model="searchText"
                 @input="updateFilter"
                 class="form-control" />
        </div>
        <div class="form-group form-group--data flex-wrap d-flex align-items-center"
             :class="{'no-btn': !isBtnAll}">
          <span v-text="$t('Date')"/>
          <span class="position-relative data-picker">
      <v-date-picker
        locale="en"
        color="green"
        v-model="dateFrom"
        @input="updateFilter"
        :max-date="dateTo ? new Date(dateTo): null"
      />
      <button class="clear-picker" @click="dateFrom=null" v-show="dateFrom"></button>
    </span>
          <span class="px-2">-</span>
          <span class="data-picker position-relative">
        <v-date-picker
          locale="en"
          color="green"
          @input="updateFilter"
          v-model="dateTo"
          :min-date="dateFrom ? new Date(dateFrom): null"
        />
      <button class="clear-picker" @click="dateTo=null" v-show="dateTo"></button>
    </span>
        </div>
        <div class="nebeus-form__action" v-if="isBtnAll">
          <button type="button"
                  class="btn btn-submit"
                  @click="getAllHistory"
                  v-text="$t('Get All')"/>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'SearchPanel',
  data: () => ({
    isBtnAll: true,
    dateFrom: '',
    dateTo: '',
    searchText: '',
    showFilter: false,
  }),
  computed: mapState(['filterHistory', 'currencyHistory', 'windowSize']),
  methods: {
    ...mapMutations(['setFilterHistory']),
    ...mapActions(['getCurrensyHistory']),
    updateFilter() {
      if (!Array.isArray(this.currencyHistory) || !this.currencyHistory.length) return;
      let newArray = [...this.currencyHistory, ...[]];
      if (this.dateTo || this.dateFrom) {
        newArray = newArray.filter(({ OperationDate }) => {
          const currentData = new Date(OperationDate);
          return !((this.dateFrom && currentData < new Date(this.dateFrom))
            || (this.dateTo && currentData > new Date(this.dateTo)));
        });
      }
      if (this.searchText.trim().length) {
        const removeExcess = (str) => str.replace(/\s/g, '').toLowerCase();
        newArray = newArray.filter(({ OperationDescription }) => removeExcess(OperationDescription)
          .includes(removeExcess(this.searchText)));
      }
      this.setFilterHistory(newArray);
    },
    getAllHistory() {
      this.isBtnAll = false;
      this.getCurrensyHistory({ PageSize: 1e+7 });
    },
  },
};
</script>
