<template>
  <div id="crypto-currency" class="nebeus-dashbord-content dashbord-crypto-currency">
    <div class="nebeus-dashbord-content__inner">
      <div v-if="cryptoCurrency">
        <crypto-currency-tollbar />
        <dashboard-inner-nav :nav-menu="navMenu"/>
        <div id="crypto-content" class="dashbord-crypto__content">
          <div class="dashbord-crypto__content-inner">
            <crypto-currency-tollbar-content />
            <router-view />
          </div>
        </div>
      </div>
      <error-indicator v-else />
    </div>
    <slide-panel-payment />
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import CryptoCurrencyTollbar from './CryptoCurrencyTollbar.vue';
import DashboardInnerNav from './DashboardInnerNav.vue';
import CryptoCurrencyTollbarContent from './CryptoCurrencyTollbarContent.vue';
import ErrorIndicator from '../errorIndicator/ErrorIndicator.vue';

const SlidePanelPayment = () => import(/* webpackChunkName: "slide-panel-payment" */ '../slide-panel/SlidePanelPayment.vue');

export default {
  name: 'CryptoCurrencyPage',
  components: {
    ErrorIndicator,
    CryptoCurrencyTollbarContent,
    DashboardInnerNav,
    CryptoCurrencyTollbar,
    SlidePanelPayment,
  },
  props: {
    dataPage: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapState(['cryptoCurrency']),
    navMenu() {
      const activeId = this.$route.params.id ? this.$route.params.id : 1;
      return {
        Overwiev: '/overwiev',
        History: `/history/${activeId}`,
      };
    },
  },
  methods: mapMutations(['updateCryptoCurrency']),
  mounted() {
    this.updateCryptoCurrency(this.dataPage);
  },
};
</script>
