<template>
  <div class="dashbord-crypto__content-toolbar row no-gutters">
    <div class="crypto-toolbar__item col-auto">
      <div class="crypto-toolbar__item-inner">
        <div class="crypto-current__value crypto-toolbar__item-col">
          <span class="crypto-numb"
                v-text="formatAmount()"/>
          <span class="crypto-name"> {{currCurrency.CurrencyCode}}</span>
        </div>
        <div class="crypto-default__value crypto-toolbar__item-col crypto-toolbar__item-info">
          <div class="crypto-toolbar__item-name" v-text="$t('Value')"/>
          <div class="crypto-toolbar__item-val">
            <span class="crypto-toolbar__item-val-numb"
                  v-text="currCurrency.AmountInDefaultCurrency"/>
            <span class="crypto-toolbar__item-val-symbol">
              &euro;
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="crypto-toolbar__item col-auto">
      <div class="crypto-toolbar__item-inner">
        <div class="crypto-toolbar__item-col">
          <radial-progress-bar
            :diameter="diameter"
            :totalSteps="totalSteps"
            :completedSteps="monthlyStatsPercentInc"
            :strokeWidth="strokeWidth"
            startColor="#06C98C"
            :innerStrokeColor="innerStrokeColor"
            stopColor="#06C98C"
          />
        </div>
        <div class="crypto-toolbar__item-col crypto-toolbar__item-info">
          <div class="crypto-toolbar__item-name" v-text="$t('Montly Income')" />
          <div class="crypto-toolbar__item-val">
            <span class="crypto-toolbar__item-val-numb">
              {{monthlyBalanceInc}} {{currCurrency.CurrencyCode}}
            </span>
          </div>
      </div>
      </div>
    </div>
    <div class="crypto-toolbar__item col-auto">
      <div class="crypto-toolbar__item-inner">
        <div class="crypto-toolbar__item-col">
          <radial-progress-bar
            :diameter="diameter"
            :totalSteps="totalSteps"
            :completedSteps="monthlyStatsPercentOut"
            :strokeWidth="strokeWidth"
            startColor="#F35C3C"
            :innerStrokeColor="innerStrokeColor"
            stopColor="#F35C3C"
          />
        </div>
        <div class="crypto-toolbar__item-col crypto-toolbar__item-info">
          <div class="crypto-toolbar__item-name" v-text="$t('Montly Outcome')" />
          <div class="crypto-toolbar__item-val">
            <span class="crypto-toolbar__item-val-numb">
              {{monthlyBalanceOut}} {{currCurrency.CurrencyCode}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import RadialProgressBar from 'vue-radial-progress';

export default {
  name: 'CryptoCurrencyTollbarContent',
  components: {
    RadialProgressBar,
  },
  data: () => ({
    diameter: 45,
    totalSteps: 100,
    strokeWidth: 5,
    innerStrokeColor: 'rgb(249,250,252)',
  }),
  computed: {
    ...mapState({
      currCurrency: ({ cryptoCurrency }) => cryptoCurrency.currCurrency,
      currencies: ({ slidePanel }) => slidePanel.data.currencies,
      monthlyStats: ({ cryptoCurrency }) => cryptoCurrency.monthlyStats,
      monthlyStatsPercentInc: ({ cryptoCurrency }) => Math.round(cryptoCurrency.monthlyStatsPercentInc),
      monthlyStatsPercentOut: ({ cryptoCurrency }) => Math.round(cryptoCurrency.monthlyStatsPercentOut),
    }),
    ...mapGetters(['formatAmount']),
    monthlyBalanceInc() {
      return this.formatAmount(this.monthlyStats.balance.inc);
    },
    monthlyBalanceOut() {
      return this.formatAmount(this.monthlyStats.balance.out);
    },
  },
};
</script>
