<template>
  <tollbar-pagas>
    <div class="crypto__toolbar-item">
      <div class="crypto__curency-heading">

        <div :class="`crypto__curency-icon nebeus-data__currency-icon
            nebeus-data__currency-icon--${currCurrency.CurrencyCode.toLowerCase()}`"/>

        <div class="crypto__curency-name" v-text="currName"/>

      </div>
    </div>
    <div class="crypto__toolbar-item">
      <div class="crypto__toolbar-action">
        <button
          @click="isRenamy = true"
          v-if="!isRenamy"
          class="btn btn-edit btn-icon btnEditNameCryptoJs">
            <span class="nebeus-icon nebeus-icon--edit">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10.7812 0.333252C10.2995 0.333252 9.8151 0.518148 9.44792 0.885335L8.66667 1.66659L11.3333 4.33325L12.1146 3.552C12.8516 2.81502 12.8516 1.62231 12.1146 0.885335C11.7474 0.518148 11.263 0.333252 10.7812 0.333252ZM7.66667 2.66659L0 10.3333V12.9999H2.66667L10.3333 5.33325L7.66667 2.66659Z"
                      fill="#94A0B6"></path>
                </svg>
            </span>
          {{$t('Rename')}}
        </button>
        <form @submit.prevent="isRenamy = false"
              v-if="isRenamy"
              id="crypto-edit-name"
              class="nebeus-form nebeus-edit-name__form">
          <div class="form-group mb-0">
            <input type="text" required class="form-control" name="edit_currency_name">
          </div>
          <div
            class="nebeus-form__action d-flex align-items-center justify-content-between flex-wrap">
            <button type="submit" class="btn btn-submit" v-text="$t('Save')"/>
          </div>
        </form>
      </div>
    </div>
  </tollbar-pagas>
</template>

<script>
import { mapState } from 'vuex';
import TollbarPagas from '../toollbar-page-dashbods/TollbarPagas.vue';

export default {
  name: 'CryptoCurrencyTollbar',
  components: { TollbarPagas },
  data: () => ({
    isRenamy: false,
  }),
  computed: {
    ...mapState({
      currCurrency: ({ cryptoCurrency }) => cryptoCurrency.currCurrency,
      currencies: ({ slidePanel }) => slidePanel.data.currencies,
    }),
    currName() {
      return Object.keys(this.currencies).map((key) => Object.keys(this.currencies[key]).find((innerKey) => innerKey === this.currCurrency.CurrencyCode)).find((el) => el);
    },
  },
};
</script>
