<template>
  <div class="dashbord-crypto-currency__action">
    <div class="dashbord-crypto-currency__nav-wrap">
      <ul class="dashbord-crypto-currency__nav-list">
        <li class="dashbord-crypto-currency__nav-item" :key="label"
            v-for="(path, label) in navMenu">
          <router-link :to="path" v-text="noTranslate ? label : $t(label)" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DashboardInnerNav',
  props: {
    noTranslate: {
      type: Boolean,
      default: false,
    },
    navMenu: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>

</style>
