<template>
  <div>
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <main-icon name="details"/>
      </div>
      <div class="crypto-data__heading-text">
        <div v-text="$t('Details')" />
      </div>
    </div>
    <div class="crypto-data__content">
      <list-details-saving-acc v-if="savingAccData" />
      <list-details-loan v-if="loanData" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MainIcon from '../icon/MainIcon.vue';
import ListDetailsSavingAcc from './list-details/ListDetailsSavingAcc.vue';
import ListDetailsLoan from './list-details/ListDetailsLoan.vue';

export default {
  name: 'BlockDetails',
  components: {
    ListDetailsLoan,
    ListDetailsSavingAcc,
    MainIcon,
  },
  computed: mapState(['savingAccData', 'loanData']),
};
</script>
