<template>
  <div class="single-date-loan__shedule">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <main-icon name="shedule"/>
      </div>
      <div class="crypto-data__heading-text">
        <div v-text="$t('Shedule')" />
      </div>
      <div class="crypto-data__heading-info-loan alignment-center">
        <div>
          <radial-progress-bar
            :diameter="diameter"
            :totalSteps="totalSteps"
            :completedSteps="completedSteps"
            :strokeWidth="strokeWidth"
            startColor="#06C98C"
            :innerStrokeColor="innerStrokeColor"
            stopColor="#06C98C"
          />
        </div>
        <div>
          <div v-text="$t('Total Interest Earned')"/>
          <div>
            <strong>
              {{formatAmountUp(totalInterest, loanSingleData.currCode)}} {{loanSingleData.currCode}}
            </strong>
          </div>
        </div>
      </div>
    </div>
    <div class="crypto-data__content">
      <div class="loan-table loan-table--shedule">
        <user-data-list-shedule :lists-items="dataList">
          <template #itemMonth="{isMobile, item, headingName, editDate}">
            <span v-if="isMobile" v-text="$t(headingName.month)" />
            <span class="loan-table__month-item" v-text="editDate(item.month)" />
            <div
              v-if="item.status === 'complete'"
              class="loan-table__shedule-status  alignment-center">
              <div class="verify-indicator__icon" :class="`verify-indicator__icon--${item.status}`" />
              <span class="text-capitalize"
                    :class="`text-${item.status}`"
                    v-text="$t(item.status)"/>
            </div>
          </template>
        </user-data-list-shedule>
      </div>
    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress';
import { mapGetters, mapState } from 'vuex';
import moment from 'moment';
import MainIcon from '../icon/MainIcon.vue';
import UserDataListShedule from '../user-data-list/UserDataListShedule.vue';

export default {
  name: 'BlockSheduleSavingAcc',
  components: { UserDataListShedule, MainIcon, RadialProgressBar },
  data: () => ({
    diameter: 45,
    totalSteps: 100,
    strokeWidth: 5,
    innerStrokeColor: 'rgb(249,250,252)',
  }),
  computed: {
    ...mapState(['loanSingleData']),
    ...mapGetters(['formatAmountUp']),
    monthsDiff() {
      return moment(this.loanSingleData.dateClose).diff(moment(this.loanSingleData.dateCreate), 'months');
    },
    monthsInterest() {
      return (this.loanSingleData.balance / 100) * (this.loanSingleData.paymant / 12);
    },
    totalInterest() {
      return this.getInterest(this.monthsDiff, false);
    },
    completedSteps() {
      if (!this.monthlyReturn) return 25;
      const allBalance = (this.endBalance - Number(this.loanSingleData.balance));
      const percent = ((allBalance / this.totalInterest) * 100) * 3;
      return percent <= 40 ? percent : 40;
    },
    dataList() {
      const dataList = [];
      for (let i = 1; i <= this.monthsDiff; i += 1) {
        let status = 'active';
        const month = moment(this.loanSingleData.dateCreate).add(i, 'month').format();
        const diffDate = moment(month).diff(moment(new Date()), 'days');
        if (diffDate <= 0) {
          status = 'complete';
        }
        const item = {
          month,
          status,
          monthInterest: this.monthsInterest,
          totalInterest: this.getInterest(i, false),
          balance: this.getInterest(i),
          currCode: this.loanSingleData.currCode,
        };
        dataList.push(item);
      }
      return dataList;
    },
  },
  methods: {
    getInterest(month, all = true) {
      const totalInterest = (this.monthsInterest * month);
      return all ? (totalInterest + this.loanSingleData.balance) : totalInterest;
    },
  },
};
</script>
