<template>
  <div class="single-date-loan__shedule">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <main-icon name="shedule"/>
      </div>
      <div class="crypto-data__heading-text">
        <div v-text="$t('Shedule')" />
      </div>
      <div class="crypto-data__heading-info-loan alignment-center">
        <div class="crypto-data__heading-info-loan-wrap alignment-center">
          <div>
            <radial-progress-bar
              :diameter="diameter"
              :totalSteps="totalSteps"
              :completedSteps="completedStepsPaymant"
              :strokeWidth="strokeWidth"
              startColor="#06C98C"
              :innerStrokeColor="innerStrokeColor"
              stopColor="#06C98C"
            />
          </div>
          <div>
            <div v-text="$t('Paid Amount')"/>
            <div>
              <strong>
                {{paidAmount}} {{loanSingleData.currCode}}
              </strong>
            </div>
          </div>
        </div>
        <div class="crypto-data__heading-info-loan-wrap alignment-center ml-sm-5">
          <div>
            <radial-progress-bar
              :diameter="diameter"
              :totalSteps="totalSteps"
              :completedSteps="85"
              :strokeWidth="strokeWidth"
              startColor="#F35C3C"
              :innerStrokeColor="innerStrokeColor"
              stopColor="#F35C3C"
            />
          </div>
          <div>
            <div v-text="$t('Loan Amount')"/>
            <div>
              <strong>
                {{formatAmountUp(loanSingleData.balance, loanSingleData.currCode)}} {{loanSingleData.currCode}}
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="crypto-data__content">
      <div class="loan-table loan-table--shedule">
        <user-data-list-shedule :heading-name-props="{monthInterest: 'Montly payment',totalInterest: null}"
                                :lists-items="dataList">
          <!--<template #itemMonth="{isMobile, item, headingName, editDate}">
            <span v-if="isMobile" v-text="$t(headingName.month)" />
            <span class="loan-table__month-item" v-text="editDate(item.month)" />
            <div
              v-if="item.status === 'complete'"
              class="loan-table__shedule-status  alignment-center">
              <div class="verify-indicator__icon" :class="`verify-indicator__icon&#45;&#45;${item.status}`" />
              <span class="text-capitalize"
                    :class="`text-${item.status}`"
                    v-text="$t(item.status)"/>
            </div>
          </template>-->
        </user-data-list-shedule>
      </div>
    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress';
import { mapGetters, mapState } from 'vuex';
import moment from 'moment';
import MainIcon from '../icon/MainIcon.vue';
import UserDataListShedule from '../user-data-list/UserDataListShedule.vue';

export default {
  name: 'BlockSheduleLoan',
  components: { UserDataListShedule, MainIcon, RadialProgressBar },
  data: () => ({
    diameter: 45,
    totalSteps: 100,
    strokeWidth: 5,
    innerStrokeColor: 'rgb(249,250,252)',
  }),
  computed: {
    ...mapState(['loanSingleData']),
    ...mapGetters(['formatAmountUp']),
    /* monthRate() {
       return this.template.PercentAnnual / 12 / 100;
     },
     getCoffAnnuteta() {
       const coffPow = (1 + this.monthRate) ** this.template.LengthMonth;
       return (this.monthRate * coffPow) / (coffPow - 1);
     },
     monthlyPayment() {
       return (this.template.PercentAnnual / 100) * this.getCoffAnnuteta;
     }, */
    monthsDiff() {
      return moment(this.loanSingleData.dateClose).diff(moment(this.loanSingleData.dateCreate), 'months');
    },
    dataList() {
      const dataList = [];
      for (let i = 1; i <= this.monthsDiff; i += 1) {
        let status = 'active';
        const month = moment(this.loanSingleData.dateCreate).add(i, 'month').format();
        const diffDate = moment(month).diff(moment(new Date()), 'days');
        if (diffDate <= 0) {
          status = 'complete';
        }
        const item = {
          month,
          status,
          monthInterest: this.loanSingleData.monthlyPayment,
          balance: this.loanSingleData.monthlyPayment * i,
          currCode: this.loanSingleData.currCode,
        };
        dataList.push(item);
      }
      return dataList;
    },
    paidAmount() {
      const diffDateStart = moment(new Date()).diff(this.loanSingleData.dateCreate, 'month');
      return diffDateStart * this.loanSingleData.monthlyPayment;
    },
    completedStepsPaymant() {
      const allPaymant = this.monthsDiff * this.loanSingleData.monthlyPayment;
      let completedSteps = (this.paidAmount / 100) * allPaymant;
      if (!completedSteps) {
        completedSteps = 5;
      } else if (completedSteps > 90) {
        completedSteps = 90;
      }
      return completedSteps;
    },
  },
};
</script>
