<template>
  <div>
    <div class="loan-app__header">
      <div class="loan-app__header-title" v-text="$t(title)" />
      <div class="loan-app__header-indicator"
           :class="`text-${status.toLowerCase()}`"
           v-text="$t(status)" />
      <div class="loan-app__header-img">
        <main-icon :name="nameIcon" height="50" width="50" />
      </div>
    </div>
    <div class="loan-app__content loan-app__content--verticl-space">
      <div class="loan-app__content-info loan-app__content-info--big" v-if="loanData">
        <div class=" loan-app__content-title">{{$t('Collateral')}} {{guarantyDiscountPercent}}%</div>
        <div class="loan-app__content-deck"
             v-text="$t('During the entire loan term, we will inform you of the upcoming repayment of the current payment and the threat of a margin call so that you can take the necessary measures.')"
        />
      </div>
      <div class="loan-app__content-info"
           v-else
           v-text="$t('Starting Savings Balance ')" />
      <div class="loan-app__content-numb"> {{formatAmountUp(balance, currCode)}} {{currCode}}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import MainIcon from '../icon/MainIcon.vue';

export default {
  name: 'SingleDataLoanTolbar',
  components: { MainIcon },
  computed: {
    ...mapState({
      loanData: ({ loanData }) => loanData,
      status: ({ loanSingleData }) => loanSingleData.status,
      balance: ({ loanSingleData }) => loanSingleData.balance,
      currCode: ({ loanSingleData }) => loanSingleData.currCode,
      guarantyDiscountPercent: ({ loanSingleData }) => (loanSingleData.template ? loanSingleData.template.GuarantyDiscountPercent : 85),
    }),
    ...mapGetters(['formatAmountUp']),
    title() {
      return this.loanData ? 'Loan' : 'Savings account';
    },
    nameIcon() {
      return this.loanData ? 'loan-headr-single' : 'save-acc-headr-single';
    },
  },
};
</script>
