<template>
  <div class="loan-app" v-if="loanSingleData">
    <error-boundary>
      <single-data-loan-tolbar />
      <block-details />
      <block-shedule-saving-acc v-if="savingAccData" />
      <block-shedule-loan v-if="loanData"/>
    </error-boundary>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import SingleDataLoanTolbar from './SingleDataLoanTolbar.vue';
import BlockDetails from './BlockDetails.vue';
import BlockSheduleSavingAcc from './BlockSheduleSavingAcc.vue';
import BlockSheduleLoan from './BlockSheduleLoan.vue';
import ErrorBoundary from '../error-boundary/ErrorBoundary.vue';

export default {
  name: 'SingleDataLoan',
  components: {
    ErrorBoundary,
    BlockSheduleLoan,
    BlockSheduleSavingAcc,
    BlockDetails,
    SingleDataLoanTolbar,
  },
  computed: mapState(['loanSingleData', 'savingAccData', 'loanData']),
};
</script>
