<template>
  <div class="dashbord-crypto__content-overwiev">
    <crypto-heading v-if="isCrypto" />
    <fiat-heading v-else />
    <inner-content-overwiev />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import CryptoHeading from './CryptoHeading.vue';
import FiatHeading from './FiatHeading.vue';
import InnerContentOverwiev from './InnerContentOverwiev.vue';

export default {
  name: 'ContentOverwiev',
  components: { InnerContentOverwiev, FiatHeading, CryptoHeading },
  computed: {
    ...mapState({
      isCrypto: ({ cryptoCurrency }) => cryptoCurrency.isCrypto,
    }),
  },
};
</script>

<style scoped>

</style>
