<template>
  <div class="crypto-data__item crypto-data__item--header">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <a class="btn-icon" :href="linkQr"
           :download="`${currCurrency.Number}.png`">
          <span class="nebeus-icon nebeus-icon--download">
             <main-icon name="download" />
          </span>
        </a>
      </div>
      <div class="crypto-data__heading-text" v-text="$t('Your Address')" />
    </div>
    <div class="crypto-data__content crypto-data__content-qr-code">
      <qrcode-vue
        class="qr-code-wrap"
        ref="qrCode"
        :value="currCurrency.Number"
        :size="105"
        level="H" />
      <div class="crypto-data__content-adrees">
        <div ref="copyAdress" class="crypto-data__content-adrees-name pb-3 copy-field"
             v-text="currCurrency.Number" />
        <div class="crypto-data__content-adrees-info pb-3 text-greey"
            v-text="$t('Scan this QR code or share wallet address to receive payments')"/>
        <button class="btn-icon" @click="copyText($refs.copyAdress)">
         <span class="nebeus-icon nebeus-icon--copy">
           <main-icon name="copy"/>
         </span>
        </button>
      </div>
      <div class="crypto-data__content-action">
        <button class="btn btn--grey not-index"
                data-index="coldSend"
                @click="updateActivePanel('coldSend')"
                v-text="$t('Transfer to Cold Storage')" />
        <button class="btn btn--grey" @click="setPanelPaymant('send-to-user')"  v-text="$t('Send to Nebeus user')" />
        <button class="btn btn-submit"  v-text="$t('Send')" @click="setPanelPaymant('crypto')" />
      </div>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue';
import { mapMutations, mapState } from 'vuex';
import mixin from '@/mixin';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'CryptoHeading',
  components: {
    MainIcon,
    QrcodeVue,
  },
  data: () => ({
    linkQr: '#',
  }),
  mixins: [mixin],
  computed: {
    ...mapState({
      currCurrency: ({ cryptoCurrency }) => cryptoCurrency.currCurrency,
    }),
  },
  methods: mapMutations(['setPanelPaymant', 'updateActivePanel']),
  mounted() {
    this.linkQr = this.$refs.qrCode.$el.firstChild.toDataURL();
  },
};
</script>
