<template>
  <div class="crypto-data__item crypto-data__item--header crypto-data__item--currency">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <button class="btn-icon">
               <span class="nebeus-icon nebeus-icon--wallet">
                   <main-icon name="wallet"/>
               </span>
        </button>
      </div>
      <div class="crypto-data__heading-text" v-text="$t('Your Wallet')"/>
    </div>
    <div class="crypto-data__content crypto-data__content-wallet">
      <div class="crypto-data__content-number-wallet">
        <div class="crypto-data__content-wallet-name" v-text="balanceFiat" />
      </div>
      <div class="crypto-data__content-action">
        <button class="btn btn--grey" @click="setPanelPaymant('sepa')" v-text="$t('Bank transfer')" />
        <button class="btn btn-submit" @click="setPanelPaymant('card')" v-text="$t('Send to Card')" />
      </div>
    </div>

  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'FiatHeading',
  components: { MainIcon },
  computed: mapState({
    balanceFiat: ({ cryptoCurrency }) => cryptoCurrency.balanceFiat,
  }),
  methods: mapMutations(['setPanelPaymant']),
};
</script>

<style scoped>

</style>
