<template>
  <div v-if="monthlyStatsInfo">
    <div v-if="(lengthBalanceBC - 1) && (monthlyStatsInfo.inc && monthlyStatsInfo.inc.length)"
         class="crypto-data__item crypto-data__item--pending">
      <div class="crypto-data__heading">
        <div class="crypto-data__heading-icon">
          <button class="btn-icon">
           <span class="nebeus-icon nebeus-icon--pending">
                <main-icon name="pending"/>
           </span>
          </button>
        </div>
        <div class="crypto-data__heading-text" v-text="$t('Pending deposit')" />
      </div>

      <div class="crypto-data__content crypto-data__content-pending">
        <ul class="history-list" >
          <history-list-item :details="false" v-for="item in  monthlyStatsInfo.inc"
                             :key="item.OperationDate"
                             :item="item">
            <template #desctiption="{item, statusSelector}">
                <span v-if="item.status" :class="`text-${statusSelector(item.status)}`">
                   {{ optionsDashboard[`${item.CurrencyCode.toLowerCase()}_addr_limit`]  }}/{{lengthBalanceBC-1}}
                </span>
            </template>
          </history-list-item>
        </ul>
       <!-- <div class="crypto-data__content-pending-row"
           v-for="item in monthlyStatsInfo.inc"
           :key="item.OperationDate" >
            <div class="crypto-data__content-pending-date" v-text="formatDt(item.OperationDate)"/>
            <div class="crypto-data__content-pending-value d-flex justify-content-between align-center">
              {{formatAmountUp(item.OperationAmount, item.CurrencyCode)}}
              <span class="crypto-data__pending-symbol"> {{ item.CurrencyCode }}</span>
            </div>
            <div class="crypto-data__content-pending-status">
              <span class="crypto-data__pending-status">
                {{ optionsDashboard[`${item.CurrencyCode.toLowerCase()}_addr_limit`]  }}/{{lengthBalanceBC-1}}
              </span>
            </div>
        </div>-->

      </div>

    </div>

    <div v-if="monthlyStatsInfoOut.length"
           class="crypto-data__item crypto-data__item--pending">
        <div class="crypto-data__heading">
          <div class="crypto-data__heading-icon">
            <button class="btn-icon">
           <span class="nebeus-icon nebeus-icon--pending">
             <main-icon name="pending"/>
           </span>
            </button>
          </div>
          <div class="crypto-data__heading-text" v-text="$t('Pending withdrawals')" />
        </div>

        <div class="crypto-data__content crypto-data__content-pending">

          <ul class="history-list" >
            <history-list-item :details="false" v-for="item in  monthlyStatsInfoOut"
                               :key="item.OperationDate"
                               :item="item">
              <template #desctiption="{item, statusSelector}">
                <span v-if="item.status" :class="`text-${statusSelector(item.status)}`">
                   {{item.status}}
                </span>
              </template>
            </history-list-item>
          </ul>

          <!--<div  v-for="item in monthlyStatsInfo.out"
                :key="item.OperationDate">
              <div class="crypto-data__content-pending-row" v-if="item.status === 'Waiting'">
                  <div class="crypto-data__content-pending-date"
                       v-text="formatDt(item.OperationDate)" />

                  <div class="crypto-data__content-pending-value d-flex justify-content-between align-center">
                      {{formatAmountUp(item.OperationAmount, item.CurrencyCode)}}
                      <span class="crypto-data__pending-symbol"> {{ item.CurrencyCode }}</span>
                  </div>

                  <div class="crypto-data__content-pending-status">
                <span class="crypto-data__pending-status"
                      :class="`text-${item.status.toLowerCase()}`"
                      v-text="item.status"/>
                  </div>
              </div>
          </div>-->

        </div>

    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';
import HistoryListItem from '../../historyList/HistoryListItem.vue';

export default {
  name: 'InnerContentOverwiev',
  components: { HistoryListItem, MainIcon },
  computed: {
    ...mapState({
      balanceBC: ({ cryptoCurrency }) => cryptoCurrency.balanceBC,
      options: ({ cryptoCurrency }) => cryptoCurrency.options,
      monthlyStatsInfo: ({ cryptoCurrency }) => (cryptoCurrency ? cryptoCurrency.monthlyStats.info : null),
      optionsDashboard: ({ slidePanel }) => (slidePanel.data ? slidePanel.data.optionsDashboard : null),
    }),
    ...mapGetters(['formatAmountUp']),
    lengthBalanceBC() {
      return Object.keys(this.balanceBC).length;
    },
    monthlyStatsInfoOut() {
      return this.monthlyStatsInfo.out.filter(({ status }) => status === 'Waiting').slice(0, 6);
    },
  },
};
</script>
