<template>
  <div class="form-group form-pwd">
    <input :type="showPasword ? 'text' : 'password'"
           required
           minlength="6"
           :placeholder="$t('Password')"
           class="form-control form-pwd-input"
           :name="name" />
    <span class="show-pwd" @click="showPasword = !showPasword"></span>
  </div>
</template>

<script>
export default {
  name: 'FieldPwd',
  data: () => ({
    showPasword: false,
  }),
  props: {
    name: {
      type: String,
      required: true,
    },
  },
};
</script>
