<template>
  <router-view />
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'Login',
  props: {
    countries: {
      type: Object,
      required: true,
    },
  },
  computed: {
    countriesToArr() {
      return Object.keys(this.countries).map((key) => ({ code: key, label: this.countries[key] }));
    },
  },
  methods: mapMutations(['updateCountries']),
  mounted() {
    this.updateCountries(this.countriesToArr);
  },
};
</script>
