<template>
  <form id="sign-up" :action="postUrl"
        @submit="formLoad"
        method="POST"
        class="nebeus-form nebeus-login__form active">
    <!-- wp form submit action-->
    <input type="hidden" name="action" value="nebeus_api_call">
    <!-- nebeus submit action-->
    <input type="hidden" name="nebeusAction" value="signup">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text"
                 required
                 :placeholder="$t('Name')"
                 class="form-control"
                 name="Name"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text"
                 :placeholder="$t('Surname')"
                 class="form-control"
                 name="Surname"
          >
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <input type="email"
                 required
                 :placeholder="$t('Email')"
                 class="form-control"
                 name="Login"
          />
        </div>
      </div>

      <div class="col-12">
       <field-pwd name="Password"/>
      </div>

      <div class="col-12">
        <div class="form-group">
          <v-select name="CountryId"
                    :placeholder="$t('Country')"
                    :options="countries" />
        </div>
      </div>

      <div class="col-12">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" required id="sign-up__terms">
          <span class="form-check-label">
              <label for="sign-up__terms" v-text="$t('I have read and accept the')"/>
              <a href="#" v-text="$t('Terms of use')" />
          </span>
        </div>
      </div>

      <div class="col-12 nebeus-form__action">
        <button type="submit" class="btn btn-submit" v-text="$t('Create account')" />
      </div>
    </div>

  </form><!--#sign-up-->
</template>

<script>
import vSelect from 'vue-select';
import { mapState } from 'vuex';
import mixin from '@/mixin';
import FieldPwd from './FieldPwd.vue';

export default {
  name: 'SignUp',
  components: {
    FieldPwd,
    vSelect,
  },
  mixins: [mixin],
  computed: mapState({
    postUrl: (state) => state.postUrl,
    countries: (state) => state.login.countries,
  }),
};
</script>
