<template>
  <form id="sign-in" :action="postUrl"
        @submit="formLoad"
        method="POST"
        class="nebeus-form nebeus-login__form">
    <!-- wp form submit action-->
    <input type="hidden" name="action" value="nebeus_api_call">
    <!-- nebeus submit action-->
    <input type="hidden" name="nebeusAction" value="signin">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <input type="email"
                 @change="checkFactorAuth"
                 required
                 v-model="email"
                 :disabled="loadSecondFactorAuth"
                 :placeholder="$t('Email')"
                 class="form-control"
                 name="login" />
        </div>
      </div>
      <div class="col-12">
        <field-pwd name="password"/>
      </div>
      <div class="col-12 nebeus-form__action
      d-flex align-items-center justify-content-between flex-wrap">
        <button type="submit"
                :disabled="loadSecondFactorAuth"
                class="btn btn-submit"
                v-text="$t('Login')"/>
        <a href="/reset-password" v-text="$t('Forgot password?')" />
      </div>
    </div>
  </form>

</template>

<script>
import { mapState } from 'vuex';
import mixin from '@/mixin';
import $ from 'jquery';
import FieldPwd from './FieldPwd.vue';

export default {
  name: 'SignIn',
  components: { FieldPwd },
  data: () => ({
    loadSecondFactorAuth: false,
    isSecondFactorAuth: false,
    email: null,
  }),
  mixins: [mixin],
  computed: mapState(['postUrl', 'ajaxUrl']),
  methods: {
    checkFactorAuth() {
      this.loadSecondFactorAuth = true;
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'check2factor',
          userEmail: this.email,
        },
        success: (res) => {
          console.log(res);
        },
        complete: () => {
          this.loadSecondFactorAuth = false;
        },
      });
    },
  },
};
</script>
