<template>
  <div class="scanner-qr">
    <qrcode-stream :track="true"  @decode="onDecode" @init="onInit">
      <button class="btn btn-icon btn--close-scan" @click="$emit('close-scaner')">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.00943 4L4.86743 5.142L19.7254 20L20.8674 18.858L6.00943 4Z" fill="#6A7287"/>
          <path d="M19.7254 4L4.86743 18.858L6.00943 20L20.8674 5.142L19.7254 4Z" fill="#6A7287"/>
        </svg>
      </button>
    </qrcode-stream>
  </div>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader';
import { mapMutations } from 'vuex';
import errors from '../../helpers/errors';

export default {
  name: 'Scanner',
  components: {
    QrcodeStream,
  },
  methods: {
    ...mapMutations(['setActiveScaner']),
    onDecode(res) {
      this.$emit('scan', res);
    },
    async onInit(promise) {
      this.$emit('error', null);
      try {
        await promise;
      } catch (error) {
        const { scanner } = errors;
        if (error.name === 'NotAllowedError') {
          this.$emit('error', scanner.notAllowedError);
        } else if (error.name === 'NotFoundError') {
          this.$emit('error', scanner.notFoundError);
        } else if (error.name === 'NotSupportedError') {
          this.$emit('error', scanner.notSupportedError);
        } else if (error.name === 'NotReadableError') {
          this.$emit('error', scanner.notReadableError);
        } else if (error.name === 'OverconstrainedError') {
          this.$emit('error', scanner.overconstrainedError);
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.$emit('error', scanner.streamApiNotSupportedError);
        }
        this.setActiveScaner(false);
      }
    },
  },
};
</script>

<style scoped>

</style>
