<template>
  <div class="nebeus-slide-panel nebeus-slide-panel--right"
       :class="classActivePanel"
       v-touch:swipe.right="swipeHandler"
       v-click-outside="onClick">
    <div v-if="slidePanelData"
      class="nebeus-slide-panel__inner hidden-scrollbar-y">
      <operation v-show="activePanel === 'operation'" />
      <user-verify v-show="activePanel === 'user-verify'" />
      <user-edit v-show="activePanel === 'user-edit'" />
      <transaction-details v-if="transactionDetails"
        v-show="activePanel === 'transactionDetails'"/>
      <cold-withdraw v-if="coldStorageData"
                     v-show="activePanel === 'coldWithdraw'" />
      <cold-send  v-if="coldStorageData || cryptoCurrency"
                  v-show="activePanel === 'coldSend'" />
      <exchange-panel  v-if="exchangeData"
                  v-show="activePanel === 'exchange'" />
      <dashboard-setting v-if="dashboardData"
        v-show="activePanel === 'dashboardSeting'"
      />
    </div>
  </div>

</template>

<script>
import { mapMutations, mapState } from 'vuex';
import $ from 'jquery';
import Operation from './slide-panel-right-content/Operation.vue';
import UserVerify from './slide-panel-right-content/UserVerify.vue';
import UserEdit from './slide-panel-right-content/UserEdit.vue';

const TransactionDetails = () => import(
  /* webpackChunkName: "transaction-details" */ './slide-panel-right-content/TransactionDetails.vue'
);
const ColdWithdraw = () => import(
  /* webpackChunkName: "cold-withdraw" */ './slide-panel-right-content/ColdWithdraw.vue'
);
const ColdSend = () => import(
  /* webpackChunkName: "cold-send" */ './slide-panel-right-content/ColdSend.vue'
);
const ExchangePanel = () => import(
  /* webpackChunkName: "exchange-panel" */ './slide-panel-right-content/ExchangePanel.vue'
);
const DashboardSetting = () => import(
  /* webpackChunkName: "dashboard-setting" */ './slide-panel-right-content/DashboardSetting.vue'
);

export default {
  name: 'SlidePanelRight',
  components: {
    DashboardSetting,
    ColdSend,
    ColdWithdraw,
    TransactionDetails,
    ExchangePanel,
    UserEdit,
    UserVerify,
    Operation,
  },
  props: {
    dataPanel: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapState({
      activePanel: ({ slidePanel }) => slidePanel.active,
      slidePanelData: ({ slidePanel }) => slidePanel.data,
      panelDirection: ({ slidePanel }) => slidePanel.direction,
      transactionDetails: ({ transactionDetails }) => transactionDetails,
      coldStorageData: ({ coldStorageData }) => coldStorageData,
      exchangeData: ({ exchangeData }) => exchangeData,
      dashboardData: ({ dashboardPage }) => dashboardPage.data,
      cryptoCurrency: ({ cryptoCurrency }) => cryptoCurrency,
    }),
    classActivePanel() {
      return this.activePanel && this.panelDirection ? `active slide-panel--${this.activePanel}` : '';
    },
  },
  methods: {
    ...mapMutations(['updateActivePanel', 'updateDataPanel']),
    onClick(e) {
      if (!this.activePanel) return;
      const { target } = e;
      const notIndex = $(target).hasClass('.not-index') || $(target).data('index') ? $(target) : $(target).closest('.not-index');
      const activeItems = $(`[data-index="${this.activePanel}"]`);
      $('[data-index]').each(function () {
        if (!$(this).is(notIndex) && activeItems) $(this).removeClass('active');
      });
      if (notIndex.hasClass('active') || !notIndex.length) {
        this.updateActivePanel(null);
        return;
      }
      if (notIndex.data('index') === this.activePanel || !$(notIndex).hasClass('active')) {
        $(`[data-index="${this.activePanel}"]`).addClass('active');
      }
    },
    windowResize() {
      this.updateActivePanel(null);
    },
    swipeHandler() {
      this.updateActivePanel(null);
    },
  },
  mounted() {
    this.updateDataPanel(this.dataPanel);
    $(window).on('resize', this.windowResize);
  },
};
</script>
