<template>
  <div class="nebeus-slide-panel nebeus-slide-panel--payment"
       :class="{active: activePanelPaymant, activeScaner}"
       v-touch:swipe.right="swipeHandler"
  >
    <div ref="scrollPannel" class="nebeus-slide-panel__inner">
      <div class="nebeus-slide-panel__content">
        <div class="payment-nav">
          <button class="btn btn--text btn-icon btn--lg" @click="onSetPanelPaymant">
              <span class="nebeus-icon nebeus-icon--prev-arrow pr-3">
                 <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.678 0.292858L0.678 5.11286C0.664 5.12586 0.66 5.14286 0.648 5.15686C0.253 5.48286 0 5.95986 0 6.49986C0 7.03986 0.254 7.51786 0.647 7.84386C0.66 7.85786 0.664 7.87386 0.677 7.88686L5.677 12.7069C6.081 13.0969 6.739 13.0989 7.144 12.7069L7.878 11.9999C7.97392 11.9088 8.0503 11.7991 8.10249 11.6776C8.15469 11.556 8.1816 11.4251 8.1816 11.2929C8.1816 11.1606 8.15469 11.0297 8.10249 10.9081C8.0503 10.7866 7.97392 10.6769 7.878 10.5859L5.196 7.99986H11.964C12.535 7.99986 13 7.55286 13 6.99986V5.99986C13 5.44686 12.535 4.99986 11.963 4.99986H5.195L7.88 2.41386C7.97573 2.32257 8.05187 2.21275 8.10381 2.0911C8.15574 1.96944 8.18238 1.83849 8.1821 1.70621C8.18182 1.57394 8.15463 1.4431 8.10218 1.32167C8.04972 1.20023 7.97311 1.09074 7.877 0.999858L7.145 0.292858C6.94707 0.104836 6.6845 0 6.4115 0C6.1385 0 5.87593 0.104836 5.678 0.292858Z"
                            fill="#364364"></path>
                 </svg>
             </span>
            {{$t('Back to account')}}
          </button>
        </div>

        <div v-show="activePanelPaymant !== 'successPayement'">
          <transition :name="errorPaymant ? 'fade' : ''" mode="in-out">
            <div ref="errorBox" v-show="errorPaymant" class="box-error">
              {{$t(errorPaymant)}}
              <span class="close" @click="setErrorPaymant(null)"/>
            </div>
          </transition>

          <div class="payment-forms-content">
            <slide-panel-payment-tollbar-card v-if="activePanelPaymant === 'card'"/>
            <slide-panel-payment-tollbar v-else-if="isPannelTollbar" />

            <crypto-from v-if="activePanelPaymant === 'crypto'" />
            <send-to-user-form v-if="activePanelPaymant === 'send-to-user'" />
            <sepa-form v-if="activePanelPaymant === 'sepa'" />
            <send-to-card-form v-if="activePanelPaymant === 'card'" />
            <save-acc-form v-if="activePanelPaymant === 'save-acc'" />
            <loan-form v-if="activePanelPaymant === 'loan'" />
            <single-data-loan v-if="activePanelPaymant === 'single-loan'" />

            <div class="form-terms" v-if="isTollbar">
              <a href="#" class="link-term" v-text="$t('Payment Terms for Bitcoin Network')" />
            </div>

          </div>
        </div>
        <transition name="slide-fade">
          <content-respons v-if="activePanelPaymant === 'successPayement'"/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import $ from 'jquery';
import SlidePanelPaymentTollbar from './slide-panel-payment-content/SlidePanelPaymentTollbar.vue';
import ContentRespons from '../forms/content/ContentRespons.vue';
import SlidePanelPaymentTollbarCard from './slide-panel-payment-content/SlidePanelPaymentTollbarCard.vue';

const SepaForm = () => import(
  /* webpackChunkName: "sepa-form" */ '../forms/SepaForm.vue'
);
const CryptoFrom = () => import(
  /* webpackChunkName: "crypto-form" */ '../forms/CryptoFrom.vue'
);
const SendToCardForm = () => import(
  /* webpackChunkName: "crypto-form" */ '../forms/SendToCardForm.vue'
);
const SendToUserForm = () => import(
  /* webpackChunkName: "send-to-user-form" */ '../forms/SendToUserForm.vue'
);
const SaveAccForm = () => import(
  /* webpackChunkName: "save-acc-form" */ '../forms/SaveAccForm.vue'
);
const LoanForm = () => import(
  /* webpackChunkName: "save-acc-form" */ '../forms/LoanForm.vue'
);
const SingleDataLoan = () => import(
  /* webpackChunkName: "single-data-loan" */ '../single-data-loan/SingleDataLoan.vue'
);

export default {
  name: 'SlidePanelPayment',
  components: {
    SendToUserForm,
    LoanForm,
    SingleDataLoan,
    SaveAccForm,
    SlidePanelPaymentTollbarCard,
    ContentRespons,
    SendToCardForm,
    CryptoFrom,
    SepaForm,
    SlidePanelPaymentTollbar,
  },
  props: {
    isTollbar: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapState({
      isCrypto: ({ cryptoCurrency: { isCrypto } }) => isCrypto,
      isFiat: ({ cryptoCurrency }) => (cryptoCurrency ? cryptoCurrency.isFiat : false),
      activePanelPaymant: ({ activePanelPaymant }) => activePanelPaymant,
      errorPaymant: ({ errorPaymant }) => errorPaymant,
      activeScaner: ({ activeScaner }) => activeScaner,
    }),
    isPannelTollbar() {
      return this.isTollbar && this.activePanelPaymant && this.activePanelPaymant !== 'successPayement';
    },
  },
  methods: {
    ...mapMutations(['setPanelPaymant', 'setErrorPaymant', 'updateActivePanel']),
    onSetPanelPaymant() {
      if (this.activePanelPaymant === 'successPayement') {
        window.location.reload();
        return;
      }
      this.setPanelPaymant(null);
    },
    swipeHandler() {
      this.updateActivePanel(null);
    },
  },
  watch: {
    errorPaymant(val) {
      if (val) {
        const { scrollPannel, errorBox } = this.$refs;
        $(scrollPannel).animate({ scrollTop: $(errorBox).offset().top - 200 }, 500);
      }
    },
  },
};
</script>
