<template>
  <div class="nebeus-slide-panel nebeus-slide-panel--left not-idex"
       :class="{active: isMainMenu}"
       v-touch:swipe.left="swipeHandler"
       @click.stop="onClickPannel">
    <div class="nebeus-slide-panel__inner hidden-scrollbar-y">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import $ from 'jquery';

export default {
  name: 'SlidePanelLeft',
  computed: {
    ...mapState(['slidePanel']),
    isMainMenu() {
      return (this.slidePanel.active === 'main-menu' && !this.slidePanel.direction);
    },
  },
  methods: {
    ...mapMutations(['updateActivePanel']),
    onClickPannel({ target }) {
      if (target.href) return;
      $('[data-index="main-menu"]').first().trigger('click');
    },
    swipeHandler() {
      this.updateActivePanel(null);
    },
  },
};
</script>
