<template>
  <div class="card text-white bg-danger my-3 container-sm text-black-50">
    <div class="card-header text-center">
      <img src="../../assets/img/error-img.png" :width="100" alt="Error" />
    </div>
    <div class="card-body text-center">
      <h4 class="card-title" v-text="$t(title)"/>
      <p class="card-text" v-text="$t(subtitle)"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorIndicator',
  props: {
    title: {
      type: String,
      default: 'Sorry something went wrong',
    },
    subtitle: {
      type: String,
      default: 'We already working on fixing the error. Please try again later.',
    },
  },
};
</script>
