<template>
  <div class="nebeus-slide-panel__row">
    <form @submit.prevent="sendPaymantCrypto"
          class="nebeus-form  nebeus-payment__form  nebeus-payment__form--cold-withdraw">
      <cold-storege-hiden-field action="getColdPinCode" currentInfoColdName="ColdStorageBalanceId" />
      <field-cold-paymant-amount/>
      <action-paymant-form default-class="vertical-get-pin" :btn-add-class="load ? 'loaded' : ''" @resetTimer="startTimer = false" />
      <div class="error-msg" v-if="errorPaymant" v-text="$t(errorPaymant)" />
    </form>
    <payment-form-pin-code :succses-text="succsesText" class="nebeus-payment__form--cold-withdraw-pin"
                           :form-data="formData" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import $ from 'jquery';
import FieldColdPaymantAmount from './fields/FieldColdPaymantAmount.vue';
import PaymentFormPinCode from './PaymentFormPinCode.vue';
import ColdStoregeHidenField from './fields/ColdStoregeHidenField.vue';
import ActionPaymantForm from './content/ActionPaymantForm.vue';

export default {
  name: 'ColdWithdrawForm',
  components: {
    ActionPaymantForm, ColdStoregeHidenField, PaymentFormPinCode, FieldColdPaymantAmount,
  },
  data: () => ({
    startTimer: false,
    formData: null,
    succsesText: 'Your request has been successfully accepted.',
  }),
  computed: {
    ...mapState({
      load: ({ formGetPin: { load } }) => load,
      errorPaymant: ({ errorPaymant }) => errorPaymant,
    }),
  },
  methods: {
    ...mapActions(['postPaymanGetPin']),
    sendPaymantCrypto({ target }) {
      if (this.startTimer) return;
      const formSerialize = new URLSearchParams($(target).serialize());
      this.postPaymanGetPin(formSerialize.toString());
      formSerialize.set('nebeusAction', 'requestWithdrawFromColdStorage');
      this.formData = formSerialize.toString();
    },
  },
};
</script>
