<template>
  <div class="nebeus-slide-panel__row">
    <form @submit.prevent="sendForm" class="nebeus-form nebeus-payment__form  nebeus-payment__form--cold-send">
      <cold-storege-hiden-field currentInfoColdName="SrcSubBalanceId" action="depositColdStorage"/>
      <field-cold-paymant-amount />
      <transition name="fade">
        <div class="error-msg" v-text="$t(error)"/>
      </transition>
      <div class="form-group__action">
        <button type="submit"
                class="btn btn-submit"
                :disabled="load"
                :class="{loaded: load}"
                v-text="$t('Confirm')"/>
      </div>
      <p v-text="$t('Cold storage (aka cold wallets) means generating and storing the crypto coin\'s private keys in an offline environment, away from the internet.')"/>
    </form>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import $ from 'jquery';
import FieldColdPaymantAmount from './fields/FieldColdPaymantAmount.vue';
import errors from '../../helpers/errors';
import ColdStoregeHidenField from './fields/ColdStoregeHidenField.vue';

export default {
  name: 'ColdSendForm',
  components: { ColdStoregeHidenField, FieldColdPaymantAmount },
  data: () => ({
    load: false,
    error: false,
  }),
  computed: {
    ...mapState(['ajaxUrl']),
  },
  methods: {
    ...mapMutations(['setPanelPaymant']),
    sendForm({ target }) {
      if (this.load) return;
      this.load = true;
      const self = this;
      $.ajax({
        url: self.ajaxUrl,
        method: 'POST',
        data: $(target).serialize(),
        success({ success }) {
          if (!success) {
            self.error = errors.errorSend;
            return;
          }
          self.setPanelPaymant('successPayement');
        },
        errors() {
          self.error = errors.errorSend;
        },
        complete() {
          self.load = false;
        },
      });
    },
  },
};
</script>
