<template>
  <div class="nebeus-form nebeus-withdrawal__form nebeus-payment__form">
    <form @submit.prevent="sendPaymantCrypto"
          :class="{load}"
          class="pb-4 px-2 mb-2 paymant-from-first">
      <input type="hidden" value="cryptoWithdrawal" name="nebeusAction">
      <input type="hidden" :value="currencyCode" name="currency">
      <input type="hidden" :value="save" name="save">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label v-text="$t('Saved operations')"/>
            <v-select @input="setSelected"
                      label="description"
                      :options="operations"
                      :disabled="!operations || !operations.length"
            />
          </div>
        </div>
        <div class="col-md-6">
          <field-percent-amount
            :min="getLimitForms('withdrawal')"
            :max="getLimitForms('withdrawal', true)"
            label="Trx Fee"
            :percentage="0.5"
            :step="1e-4"
            :decimals="7"
          />
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="d-flex justify-content-between align-items-end">
              <span v-text="$t('New address')"/>
              <span v-if="mobile" @click="tapScan">
                {{$t('Tap to scan')}}
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.625 0.625V7.875H7.875V0.625H0.625ZM10.2917 0.625V3.04167H12.7083V0.625H10.2917ZM15.125 0.625V7.875H22.375V0.625H15.125ZM3.04167 3.04167H5.45833V5.45833H3.04167V3.04167ZM17.5417 3.04167H19.9583V5.45833H17.5417V3.04167ZM10.2917 5.45833V7.875H12.7083V5.45833H10.2917ZM0.625 10.2917V12.7083H3.04167V10.2917H0.625ZM5.45833 10.2917V12.7083H7.875V10.2917H5.45833ZM10.2917 10.2917V12.7083H12.7083V10.2917H10.2917ZM12.7083 12.7083V15.125H15.125V12.7083H12.7083ZM15.125 12.7083H17.5417V10.2917H15.125V12.7083ZM17.5417 12.7083V15.125H19.9583V12.7083H17.5417ZM19.9583 12.7083H22.375V10.2917H19.9583V12.7083ZM19.9583 15.125V17.5417H22.375V15.125H19.9583ZM19.9583 17.5417H17.5417V19.9583H19.9583V17.5417ZM19.9583 19.9583V22.375H22.375V19.9583H19.9583ZM17.5417 19.9583H15.125V22.375H17.5417V19.9583ZM15.125 19.9583V17.5417H12.7083V19.9583H15.125ZM12.7083 19.9583H10.2917V22.375H12.7083V19.9583ZM12.7083 17.5417V15.125H10.2917V17.5417H12.7083ZM15.125 17.5417H17.5417V15.125H15.125V17.5417ZM0.625 15.125V22.375H7.875V15.125H0.625ZM3.04167 17.5417H5.45833V19.9583H3.04167V17.5417Z" fill="#364364"/>
                </svg>
              </span>
            </label>
            <input type="text"
                   required
                   v-model="address"
                   class="form-control"
                   name="withdrawal_address">
            <div class="error-msg" v-if="mobile" v-show="errorScanner && scanner" v-text="$t(errorScanner)" />
          </div>
        </div>

        <div class="col-md-6">
          <field-saved-template />
        </div>
        <action-paymant-form @resetTimer="startTimer = false" />
        <scanner-qr v-if="scanner && !errorScanner"
                    @close-scaner="scanner = false"
                    @scan="scanQr"
                    @error="errorScanner = $event"
        />
      </div>
    </form>

    <payment-form-pin-code
      :formData="formData"
      class="px-2" />

  </div>

</template>

<script>
import vSelect from 'vue-select';
import {
  mapActions, mapMutations, mapState, mapGetters,
} from 'vuex';
import $ from 'jquery';
import PaymentFormPinCode from './PaymentFormPinCode.vue';
import ActionPaymantForm from './content/ActionPaymantForm.vue';
import FieldPercentAmount from './fields/FieldPercentAmount.vue';
import FieldSavedTemplate from './fields/FieldSavedTemplate.vue';

const scannerQr = () => import(/* webpackChunkName: "scanner-qr" */ '../scanner-qr/Scanner.vue');

export default {
  name: 'CryptoFrom',
  components: {
    FieldSavedTemplate,
    FieldPercentAmount,
    ActionPaymantForm,
    PaymentFormPinCode,
    vSelect,
    scannerQr,
  },
  data: () => ({
    address: '',
    startTimer: false,
    save: false,
    formData: '',
    scanner: false,
    errorScanner: null,
  }),
  computed: {
    ...mapState({
      operations: ({ cryptoCurrency: { formData } }) => formData.operations,
      currencyCode: ({ cryptoCurrency: { currCurrency } }) => currCurrency.CurrencyCode,
      load: ({ formGetPin: { load } }) => load,
      mobile: ({ windowSize }) => windowSize <= 768,
    }),
    ...mapGetters(['getLimitForms']),
  },
  methods: {
    ...mapMutations(['setActiveScaner']),
    ...mapActions(['postPaymanGetPin']),
    sendPaymantCrypto({ target }) {
      if (this.startTimer) return;
      const formSerialize = $(target).serialize();
      this.postPaymanGetPin(formSerialize);
      this.formData = formSerialize;
    },
    setSelected(val) {
      this.address = val.withdrawal_address;
    },
    tapScan() {
      this.scanner = !this.scanner;
      if (this.errorScanner) {
        this.setActiveScaner(false);
        return;
      }
      this.setActiveScaner(this.scanner);
    },
    scanQr(e) {
      this.address = e;
      this.scanner = false;
    },
  },
};
</script>
