<template>
  <form @submit.prevent="sendExchange" class="nebeus-form nebeus-payment__form nebeus-payment__form--exchange">
    <div class="container">
      <div class="row mb-3">
        <div class="form-group col-12 mb-0 d-flex justify-content-between">
          <label for="valueCurrencyFrom" v-text="$t('Get')" />
          <label for="selectCurrencyFrom" class="text-right">{{currentPurse}} {{selectedCurrencyFrom}}</label>
        </div>
        <div class="form-group col-md-8">
          <input type="number"
                 id="valueCurrencyFrom"
                 :step="stepFrom"
                 name="valFrom"
                 required
                 data-bind="valTo"
                 :data-format="selectedCurrencyTo"
                 @input="onChangeVal"
                 v-model.trim="valFrom"
                 class="form-control" />
        </div>
        <div class="form-group col-md-4">
          <v-select name="FromCurrency"
                    id="selectCurrencyFrom"
                    :class="classSelect(selectedCurrencyFrom)"
                    @input="changeCurrency"
                    :searchable="false"
                    v-model="selectedCurrencyFrom"
                    :options="fromCurrency">
            <template v-slot:option="option">
              <span :class="classSelect(option.label)" v-text="option.label" />
            </template>
          </v-select>
        </div>
      </div>
      <div class="row mb-3 align-items-end">
        <div class="form-group col-md-8">
          <label v-text="$t('Pay')" />
          <input type="number"
                 :step="stepTo"
                 required
                 data-bind="valFrom"
                 :data-format="selectedCurrencyFrom"
                 @input="onChangeVal"
                 name="valTo"
                 v-model.trim="valTo"
                 class="form-control" />
        </div>
        <div class="form-group col-md-4">
          <v-select name="ToCurrency"
                    :searchable="false"
                    :class="classSelect(selectedCurrencyTo)"
                    @input="changeCurrency"
                    v-model="selectedCurrencyTo"
                    :options="toCurrency">
            <template v-slot:option="option">
              <span :class="classSelect(option.label)" v-text="option.label" />
            </template>
          </v-select>
        </div>
        <div class="col-12">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" required id="exchange-terms">
            <span class="form-check-label">
                <label for="exchange-terms" class="d-inline pr-1" v-text="$t('I have read and accept the')"/>
                <a href="#" v-text="$t('Terms of use')" />
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="exchange-action col-12 mb-3 position-relative">
          <div class="exchange-action-info"
               v-if="time"
               v-text="$t('The exchange rate is fixed at {time} sec...', {time})"/>
          <button type="submit"
                  :disabled="!tokenVal || !valTo"
                  class="btn-submit w-100 btn btn--lg"
                  :class="{loaded: load}"
                  v-text="$t('Confirm')" />
          <div class="error-msg" v-if="error" v-text="$t(error)" />
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import vSelect from 'vue-select';
import { mapMutations, mapState } from 'vuex';
import $ from 'jquery';
import errors from '../../helpers/errors';
import numberFormat from '../../helpers/numberFormat';

export default {
  name: 'ExchangeForm',
  components: {
    vSelect,
  },
  data: () => ({
    selectedCurrencyFrom: 'EUR',
    selectedCurrencyTo: 'BTC',
    valFrom: null,
    valTo: null,
    changeVal: null,
    timerChange: null,
    tokenVal: null,
    rate: null,
    time: null,
    error: null,
    idTimer: null,
    load: false,
  }),
  computed: {
    ...mapState(['exchangeData', 'ajaxUrl', 'slidePanel']),
    optionsSelect() {
      return Object.keys(this.exchangeData.exchangeOptions);
    },
    fromCurrency() {
      return this.optionsSelect.filter((el) => el !== this.selectedCurrencyTo);
    },
    toCurrency() {
      return this.optionsSelect.filter((el) => el !== this.selectedCurrencyFrom);
    },
    currentPurse() {
      return numberFormat(this.exchangeData.exchangeOptions[this.selectedCurrencyFrom], this.isFiat(this.selectedCurrencyFrom) ? 2 : 6);
    },
    stepTo() {
      return this.isFiat(this.selectedCurrencyTo) ? 0.01 : 0.1e-10;
    },
    stepFrom() {
      return this.isFiat(this.selectedCurrencyFrom) ? 0.01 : 0.1e-10;
    },
  },
  methods: {
    ...mapMutations(['setExchangeInfoOperation', 'setPanelPaymant']),
    classSelect(item) {
      return `icon-exchange icon-exchange--${item.toLowerCase()}`;
    },
    onChangeVal({ target: { name, dataset, value } }) {
      clearTimeout(this.timerChange);
      this.changeVal = name;
      this.timerChange = setTimeout(() => {
        if (this.changeVal !== name) return;
        const calc = name === 'valFrom' ? value * this.rate : value / this.rate;
        this[dataset.bind] = numberFormat(calc, this.isFiat(dataset.format) ? 2 : 10, '.', '');
      }, 300);
    },
    isFiat(name) {
      return name === 'EUR';
    },
    startTimer() {
      if (this.idTimer) clearInterval(this.idTimer);
      this.idTimer = setInterval(() => {
        this.time -= 1;
      }, 1000);
    },
    changeCurrency() {
      const self = this;
      $.ajax({
        url: self.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'getExchangeToken',
          FromCurrency: self.selectedCurrencyFrom.slice(0, 3),
          ToCurrency: self.selectedCurrencyTo.slice(0, 3),
        },
        success(res) {
          if (!res) {
            self.error = errors.errorSend;
            return;
          }
          self.time = res.LifeTimeSec;
          self.rate = res.Value;
          self.tokenVal = res.TokenValue;
          self.valFrom = numberFormat(self.valTo / self.rate, self.isFiat(self.selectedCurrencyFrom) ? 2 : 10, '.', '');
          self.startTimer();
        },
      });
    },
    sendExchange() {
      if (!this.tokenVal || !this.valTo) return;
      const self = this;
      self.load = true;
      $.ajax({
        url: self.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'exchange',
          Amount: self.valFrom,
          RateToken: self.tokenVal,
          FromBalanceId: self.selectedCurrencyFrom.slice(0, 3),
          ToBalanceId: self.selectedCurrencyTo.slice(0, 3),
        },
        success({ success }) {
          if (!success) {
            self.error = errors.errorSend;
            return;
          }
          self.load = false;
          self.setPanelPaymant('successPayement');
          const isFiat = self.isFiat(self.selectedCurrencyFrom) || self.isFiat(self.selectedCurrencyTo);
          const rate = self.isFiat(self.selectedCurrencyFrom) ? 1 / self.rate : self.rate;
          self.setExchangeInfoOperation(`${self.valFrom} ${self.selectedCurrencyFrom} / ${self.valTo} ${self.selectedCurrencyTo}, rate ${numberFormat(rate, isFiat ? 2 : 6)}`);
        },
        complete() {
          self.load = false;
        },
      });
    },
  },
  watch: {
    time(val) {
      if (val === 0) {
        clearInterval(this.idTimer);
        this.tokenVal = null;
        this.changeCurrency();
      }
    },
    slidePanel: {
      handler({ active }) {
        if (active === 'exchange') this.changeCurrency();
      },
      deep: true,
    },
  },
  destroyed() {
    if (this.idTimer) clearInterval(this.idTimer);
  },
};
</script>
