<template>
  <div class="loan-form" v-if="currTemplate">
    <div class="loan-form__header">
      <span class="loan-form__header-title" v-text="$t('Open Account')"/>
      <a href="#" class="loan-form__header-link" v-text="$t('Need a help?')"/>
    </div>
    <div class="loan-form__conditions loan-app__content">
      <div class="loan-app__content-info">
        <div class=" loan-app__content-title" v-text="$t('Conditions')"/>
        <div class="loan-app__content-deck">
          {{$t('The minimum pledge amount')}} {{currRulesTitle}}
           <br>
          {{$t('Minimum loan term {minMonth} month', {minMonth: minMonth})}}
        </div>
      </div>
    </div>
    <div class="loan-form-app">

      <form @submit.prevent="sendForm"
            class="nebeus-form nebeus-opean-acc__form nebeus-payment__form">
        <div class="row">

          <div class="col-lg-6 form-card">
            <div class="form-group form-card__number">
              <label class="d-flex justify-content-between">
                {{$t('Pledge Amount')}}
                <span class="font-weight-normal">
                    {{$t('Available')}}
                    <span class="font-weight-bold" v-text="getAvailable" />
                  </span>
              </label>
              <input type="number"
                     :min="minAmountCurrCurrency"
                     step="1e-6"
                     required
                     @input="setErrorPaymant(null)"
                     v-model.trim="amount"
                     class="form-control" />
            </div>
            <div class="form-group form-card__date">
              <label class="text-right"  v-text="$t('Pledge Currency')"/>
              <v-select :searchable="false"
                        @input="getRules"
                        v-model="currency"
                        :options="currencies" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="loan-form-app__item">
              <div class="monthly">
                <div class="monthly-label" v-text="$t('Loan Amount')"/>
                <div class="monthly-number monthly-number-big"
                     v-text="formatAmountUp(allPayment, toCurrency)" />
              </div>
              <div class="interest-rate">
                <div class="monthly-label">LTV</div>
                <div class="monthly-number mt-2">{{ currTemplate.GuarantyDiscountPercent }}%</div>
              </div>
            </div>
          </div>

          <div class="col-md-6" v-if="minMonth">
            <div class="form-group">
              <label class="label-lg font-weight-normal content-justify">
                {{ $t('Loan term') }}
                <b>{{selectedMonth}} {{$t('months')}}</b>
              </label>
              <vue-slider
                :min="minMonth"
                :height="8"
                :dotSize="26"
                :data="month"
                :max="maxMonth"
                v-model="selectedMonth" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="loan-form-app__item alignment-center justify-content-between">
              <div class="monthly">
                <div class="monthly-label" v-text="$t('Monthly payment')" />
                <div class="monthly-number" v-text="formatAmountUp(monthlyPayment, toCurrency)"/>
              </div>
              <div class="currency-form" v-text="toCurrency" />
            </div>
          </div>
        </div>
        <div class="row loan-form__action">
          <div class="col-md-6">
            <div class="form-group form-check">
              <input type="checkbox"
                     class="form-check-input"
                     required
                     id="open-acc-terms">
              <span class="form-check-label">
                <label for="open-acc-terms" class="d-inline">
                  {{$t('I agree with')}}
                   <a href="#"> {{$t('Terms of use')}}, </a>
                    <a href="#"> {{$t('Refund Policy')}}, </a>
                    <a href="#"> {{$t('Payment Conditions')}},</a>
                    {{$t('and')}}
                    <a href="#"> {{$t('Loan Agreement')}}</a>
                </label>
            </span>
            </div>
          </div>
          <div class="col-md-6 nebeus-form__action">
            <button type="submit"
                    class="btn btn-submit w-100"
                    :class="{loaded: load}"
                    v-text="$t('Confirm')"/>
          </div>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import vSelect from 'vue-select';
import VueSlider from 'vue-slider-component';
import $ from 'jquery';
import errors from '../../helpers/errors';

export default {
  name: 'LoanForm',
  components: {
    vSelect,
    VueSlider,
  },
  data: () => ({
    amount: 0,
    selectedMonth: null,
    currency: null,
    load: false,
    toCurrency: 'EUR',
    rate: 0,
    timerId: null,
    time: null,
  }),
  computed: {
    ...mapGetters(['formatAmountUp']),
    ...mapState({
      currencyAmount: ({ loanData }) => loanData.currencyAmount,
      templates: ({ loanData }) => loanData.templates,
      dataInterestRate: ({ dataInterestRate }) => dataInterestRate,
      ajaxUrl: ({ ajaxUrl }) => ajaxUrl,
    }),
    currencyTemplates() {
      return this.templates.filter((el) => el.PercentAnnual === this.dataInterestRate);
    },
    currRules() {
      return this.currencyTemplates[0].Rules;
    },
    currRulesTitle() {
      return this.currRules.map(({ CurrencyCode, MinimalGuarantyAmount }, i, arr) => {
        let rulesText = `${MinimalGuarantyAmount} ${CurrencyCode}`;
        rulesText += i === (arr.length - 1) ? '' : ` ${this.$t('or')} `;
        return rulesText;
      }).join(' ');
    },
    minAmount() {
      const minAmount = {};
      this.currRules.forEach(({ CurrencyCode, MinimalGuarantyAmount }) => { minAmount[CurrencyCode] = MinimalGuarantyAmount; });
      return minAmount;
    },
    currencies() {
      return this.currRules.map((el) => el.CurrencyCode);
    },
    month() {
      return this.currencyTemplates.map((el) => el.LengthMonth).sort((a, b) => a - b);
    },
    minMonth() {
      return Math.min.apply(null, this.month);
    },
    maxMonth() {
      return Math.max.apply(null, this.month);
    },
    currTemplate() {
      return this.currencyTemplates.find(({ LengthMonth }) => LengthMonth === this.selectedMonth);
    },
    getAvailable() {
      return this.currencyAmount[this.currency] ? this.formatAmountUp(this.currencyAmount[this.currency].Amount, this.currency) : null;
    },
    minAmountCurrCurrency() {
      return this.minAmount ? this.minAmount[this.currency] : 0;
    },
    monthRate() {
      return Number(this.dataInterestRate) / 12 / 100;
    },
    loanAmount() {
      let amount = this.amount;
      if (!amount) amount = 0;
      if (!this.rate) return amount;
      const amountInEur = this.rate * Number(amount);
      const pledgeToValue = this.currTemplate.GuarantyDiscountPercent / 100;
      return amountInEur * pledgeToValue;
    },
    getCoffAnnuteta() {
      const coffPow = (1 + this.monthRate) ** this.selectedMonth;
      return (this.monthRate * coffPow) / (coffPow - 1);
    },
    monthlyPayment() {
      return this.loanAmount * this.getCoffAnnuteta;
    },
    allPayment() {
      if (!this.selectedMonth) return 0;
      return (this.monthlyPayment * this.selectedMonth);
    },
  },
  methods: {
    ...mapMutations(['setErrorPaymant', 'setPanelPaymant']),
    destroiTimer() {
      clearTimeout(this.timerId);
    },
    startTimer() {
      if (this.timerId) this.destroiTimer();

      this.timerId = setInterval(() => {
        this.time -= 1;
      }, 1000);
    },
    getRate() {
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'getCurrencyRateAjax',
          fromCurrencyCode: this.currency,
          toCurrencyCode: this.toCurrency,
        },
        success: (res) => {
          if (!res) {
            this.setErrorPaymant(errors.errorSend);
            return;
          }
          this.rate = res;
          this.time = 300;
          this.startTimer();
        },
        error: () => {
          this.setErrorPaymant(errors.errorSend);
        },
      });
    },
    getRules() {
      this.getRate();
      this.amount = this.minAmountCurrCurrency;
      this.limitAmmountError();
    },
    limitAmmountError() {
      this.setErrorPaymant(null);
      if (!this.getAvailable) {
        this.setErrorPaymant(errors.errorSend);
        return false;
      }
      if (this.minAmountCurrCurrency > this.getAvailable || Number(this.amount) > Number(this.getAvailable)) {
        this.setErrorPaymant(errors.notEnoughFunds);
        return false;
      }
      return true;
    },
    sendForm() {
      if (!this.limitAmmountError() || this.load) return;
      this.load = true;
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'createLoan',
          GuarantyAmount: this.amount,
          GuarantyCurrencyCode: this.currency,
          LoanCurrencyCode: this.toCurrency,
          LoanTemplateId: this.currTemplate.Id,
        },
        success: ({ success, message }) => {
          if (!success) {
            this.setErrorPaymant(message || errors.errorSend);
            return;
          }
          this.setPanelPaymant('successPayement');
        },
        error: () => {
          this.setErrorPaymant(errors.errorSend);
        },
        complete: () => {
          this.load = false;
        },
      });
    },
  },
  watch: {
    time(val) {
      if (val <= 0) {
        this.destroiTimer();
        this.getRate();
      }
    },
  },
  mounted() {
    this.currency = this.currencies.includes('BTC') ? 'BTC' : this.currencies[0];
    this.amount = this.minAmountCurrCurrency;
    this.limitAmmountError();
    this.selectedMonth = this.minMonth;
    this.getRate();
  },
  destroyed() {
    this.destroiTimer();
  },
};
</script>
