<template>
  <form @submit.prevent="paymantForm"
        class="nebeus-form  nebeus-payment__form"
        :class="{loaded}">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="withdrawalPinCode" v-text="$t('Enter pin code')" />
          <the-mask mask="##-##"
                    id="withdrawalPinCode"
                    @input="errorPin = null"
                    required
                    :disabled="!pinId"
                    name="code"
                    v-model="pinCode"
                    class="form-control"/>
          <transition name="fade">
            <div class="error-msg error-msg--verify_pin" v-if="errorPin" v-text="errorPin"/>
          </transition>
        </div>
      </div>

      <div class="col-md-6 nebeus-form__action">
        <button type="submit"
                :disabled="!pinId || loaded"
                class="btn btn-submit w-100"
                v-text="$t('Confirm')"/>
      </div>
    </div>
  </form>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import $ from 'jquery';
import errors from '../../helpers/errors';

export default {
  name: 'PaymentFormPinCode',
  data: () => ({
    pinCode: '',
    errorPin: '',
    loaded: false,
  }),
  props: {
    formData: {
      type: String,
      default: '',
    },
    succsesText: {
      type: [String],
      default: '',
    },
  },
  computed: mapState({
    pinId: ({ formGetPin: { res } }) => res,
    ajaxUrl: ({ ajaxUrl }) => ajaxUrl,
  }),
  methods: {
    ...mapMutations(['setErrorPaymant', 'setPanelPaymant', 'setPaymatSuccsesText']),
    paymantForm({ target }) {
      this.setErrorPaymant();
      if (this.loaded || !this.validPin()) return;
      this.loaded = true;
      const self = this;
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: `${$(target).serialize()}&${this.formData}&code_id=${this.pinId}`,
        success({ status, message }) {
          if (!status || status !== 'success') {
            self.loaded = false;
            self.setErrorPaymant(message || errors.errorSend);
            return;
          }
          if (self.succsesText) {
            self.setPaymatSuccsesText(self.succsesText);
          }
          self.setPanelPaymant('successPayement');
        },
        error() {
          self.loaded = false;
          self.setErrorPaymant(errors.errorSend);
        },
      });
    },
    validPin() {
      this.errorPin = null;
      const replacePin = this.pinCode.replace(/\D/g, '');
      if (replacePin.length < 4) {
        this.errorPin = errors.minLengthPinCode;
        return false;
      }
      return true;
    },
  },
};
</script>
