<template>
  <div class="loan-form" v-if="interestRate">
    <div class="loan-form__header">
      <span class="loan-form__header-title" v-text="$t('Open Account')"/>
      <a href="#" class="loan-form__header-link" v-text="$t('Need a help?')"/>
    </div>
    <div class="loan-form__conditions loan-app__content">
      <div class="loan-app__content-info">
        <div class=" loan-app__content-title" v-text="$t('Conditions')"/>
        <div class="loan-app__content-deck">
          {{$t('The minimum pledge amount')}} {{currRulesTitle}}
           <br>
          {{$t('Minimum loan term {minMonth} month', {minMonth: minMonth})}}
        </div>
      </div>
      <div class="loan-app__content-numb">
        <radial-progress-bar
          class="ml-auto"
          :diameter="diameter"
          :totalSteps="totalSteps"
          :completedSteps="completedSteps"
          :strokeWidth="strokeWidth"
          startColor="#06C98C"
          :innerStrokeColor="innerStrokeColor"
          stopColor="#06C98C"/>
      </div>
    </div>
    <div class="loan-form-app">

      <form @submit.prevent="sendForm"
            class="nebeus-form nebeus-opean-acc__form nebeus-payment__form">
        <div class="row">

          <div class="col-lg-6 form-card">
            <div class="form-group form-card__number">
              <label class="d-flex justify-content-between">
                {{$t('Starting balance')}}
                <span class="font-weight-normal">
                    {{$t('Available')}}
                    <span class="font-weight-bold" v-text="getAvailable" />
                  </span>
              </label>
              <input type="number"
                     :min="minAmountCurrCurrency"
                     step="1e-6"
                     required
                     @input="setErrorPaymant(null)"
                     v-model="amount"
                     class="form-control" />
            </div>
            <div class="form-group form-card__date">
              <label class="text-right"  v-text="$t('Currency')"/>
              <v-select :searchable="false"
                        v-model="currency"
                        @input="getRules"
                        :options="currencies" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="loan-form-app__item">
              <div class="monthly">
                <div class="monthly-label" v-text="$t('End Balance')"/>
                <div class="monthly-number monthly-number-big"
                     v-text="formatAmountUp(endBalance, currency)" />
              </div>
              <div class="interest-rate">
                <div class="monthly-label" v-text="$t('Annual Interest Rate')" />
                <div class="monthly-number mt-2">{{ interestRate }}%</div>
              </div>
            </div>
          </div>

          <div class="col-md-6" v-if="minMonth">
            <div class="form-group">
              <label class="label-lg font-weight-normal content-justify">
                {{ $t('Time to grow') }}
                <b>{{selectedMonth}} {{$t('months')}}</b>
              </label>
              <vue-slider
                :min="minMonth"
                :height="8"
                :dotSize="26"
                :data="month"
                :max="maxMonth"
                v-model="selectedMonth" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="loan-form-app__item alignment-center justify-content-between">
              <div class="monthly">
                <div class="monthly-label" v-text="$t('Monthly return')" />
                <div class="monthly-number" v-text="formatAmountUp(monthlyReturn, currency)"/>
              </div>
              <div class="currency-form" v-text="currency" />
            </div>
          </div>
        </div>
        <div class="row loan-form__action">
          <div class="col-md-6">
            <div class="form-group form-check">
              <input type="checkbox"
                     class="form-check-input"
                     required
                     id="open-acc-terms">
              <span class="form-check-label">
                <label for="open-acc-terms" class="d-inline">
                  {{$t('I agree with')}}
                   <a href="#"> {{$t('Terms of use')}}, </a>
                    <a href="#"> {{$t('Refund Policy')}}, </a>
                    <a href="#"> {{$t('Payment Conditions')}},</a>
                    {{$t('and')}}
                    <a href="#"> {{$t('Loan Agreement')}}</a>
                </label>
            </span>
            </div>
          </div>
          <div class="col-md-6 nebeus-form__action">
            <button type="submit"
                    class="btn btn-submit w-100"
                    :class="{loaded: load}"
                    v-text="$t('Confirm')"/>
          </div>
        </div>
      </form>

    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress';
import { mapState, mapGetters, mapMutations } from 'vuex';
import vSelect from 'vue-select';
import VueSlider from 'vue-slider-component';
import $ from 'jquery';
import errors from '../../helpers/errors';

export default {
  name: 'SaveAccForm',
  components: {
    RadialProgressBar,
    vSelect,
    VueSlider,
  },
  data: () => ({
    diameter: 45,
    totalSteps: 100,
    strokeWidth: 5,
    innerStrokeColor: '#fff',
    amount: 0,
    selectedMonth: null,
    currency: null,
    load: false,
  }),
  computed: {
    ...mapGetters(['formatAmountUp']),
    ...mapState({
      currencyAmount: ({ savingAccData }) => savingAccData.currencyAmount,
      templatesActive: ({ savingAccData }) => savingAccData.templatesActive,
      interestRate: ({ dataInterestRate }) => dataInterestRate,
      ajaxUrl: ({ ajaxUrl }) => ajaxUrl,
    }),
    currTemplate() {
      return this.templatesActive.filter((el) => el.PercentAnnual === this.interestRate);
    },
    currRules() {
      return this.currTemplate[0].Rules;
    },
    minAmount() {
      const minAmount = {};
      this.currRules.forEach(({ CurrencyCode, MinimalDepositAmount }) => { minAmount[CurrencyCode] = MinimalDepositAmount; });
      return minAmount;
    },
    currRulesTitle() {
      return this.currRules.map(({ CurrencyCode, MinimalDepositAmount }, i, arr) => {
        let rulesText = `${MinimalDepositAmount} ${CurrencyCode}`;
        rulesText += i === (arr.length - 1) ? '' : ` ${this.$t('or')} `;
        return rulesText;
      }).join(' ');
    },
    currencies() {
      return this.currRules.map((el) => el.CurrencyCode);
    },
    month() {
      return this.currTemplate.map((el) => el.LengthMonths).sort((a, b) => a - b);
    },
    minMonth() {
      return Math.min.apply(null, this.month);
    },
    maxMonth() {
      return Math.max.apply(null, this.month);
    },
    templateId() {
      return this.currTemplate.find(({ LengthMonths }) => LengthMonths === this.selectedMonth).Id;
    },
    getAvailable() {
      return this.currencyAmount[this.currency] ? this.formatAmountUp(this.currencyAmount[this.currency].Amount, this.currency) : null;
    },
    minAmountCurrCurrency() {
      return this.minAmount[this.currency];
    },
    monthlyReturn() {
      let amount = this.amount;
      if (!Number(this.amount)) {
        amount = this.minAmount[this.currency];
      }
      if (!amount) return 0;
      return ((Number(amount) / 100) * Number(this.interestRate)) / 12;
    },
    endBalance() {
      if (!this.selectedMonth) return 0;
      return (this.monthlyReturn * this.selectedMonth) + Number(this.amount);
    },
    completedSteps() {
      if (!this.monthlyReturn) return 25;
      const allBalance = (this.endBalance - Number(this.amount));
      const percent = ((allBalance / this.endBalance) * 100) * 3;
      return percent <= 40 ? percent : 40;
    },
  },
  methods: {
    ...mapMutations(['setErrorPaymant', 'setPanelPaymant']),
    getRules() {
      this.amount = this.minAmountCurrCurrency;
      this.limitAmmountError();
    },
    limitAmmountError() {
      this.setErrorPaymant(null);
      if (!this.getAvailable) {
        this.setErrorPaymant(errors.errorSend);
        return false;
      }
      if (this.minAmountCurrCurrency > this.getAvailable || Number(this.amount) > Number(this.getAvailable)) {
        this.setErrorPaymant(errors.notEnoughFunds);
        return false;
      }
      return true;
    },
    sendForm() {
      if (!this.limitAmmountError() || this.load) return;
      this.load = true;
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'createDeposit',
          Amount: this.amount,
          CurrencyCode: this.currency,
          DepositTemplateId: this.templateId,
        },
        success: ({ success, message }) => {
          if (!success) {
            this.setErrorPaymant(message || errors.errorSend);
            return;
          }
          this.setPanelPaymant('successPayement');
        },
        error: () => {
          this.setErrorPaymant(errors.errorSend);
        },
        complete: () => {
          this.load = false;
        },
      });
    },
  },
  mounted() {
    this.currency = this.currencies.includes('BTC') ? 'BTC' : this.currencies[0];
    this.amount = this.minAmountCurrCurrency;
    this.limitAmmountError();
    this.selectedMonth = this.minMonth;
  },
};
</script>
