<template>
  <div class="nebeus-form nebeus-withdrawal__form nebeus-payment__form">
    <form @submit.prevent="sendCardForm"
          :class="{load}"
          class="pb-4 px-2 mb-2 paymant-from-first">
      <input type="hidden" value="sendToCard" name="nebeusAction">
      <input type="hidden" :value="currencyCode" name="currency">
      <div class="row">
        <div class="col-lg-6 form-card">
          <div class="form-group form-card__number">
            <field-card ref="card" />
          </div>
          <div class="form-group form-card__date">
            <field-card-expiry ref="cardExpi" />
          </div>
        </div>
        <div class="col-md-6">
          <field-percent-amount
            :min="getLimitForms('send_to_card')"
            :max="getLimitForms('send_to_card', true)"
            label="Fee"
            :percentage="2.8"
            symbol="&euro;"
          />
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label v-text="$t('Name')" />
            <input type="text" required class="form-control" name="first_name">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label v-text="$t('Surname')" />
            <input type="text" class="form-control" name="last_name">
          </div>
        </div>
        <action-paymant-form @resetTimer="startTimer = false" />
      </div>
    </form>

    <payment-form-pin-code
      :formData="formData"
      class="px-2" />

  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import $ from 'jquery';
import PaymentFormPinCode from './PaymentFormPinCode.vue';
import ActionPaymantForm from './content/ActionPaymantForm.vue';
import FieldCard from './fields/FieldCard.vue';
import FieldCardExpiry from './fields/FieldCardExpiry.vue';
import FieldPercentAmount from './fields/FieldPercentAmount.vue';

export default {
  name: 'SendToCardForm',
  components: {
    FieldPercentAmount,
    FieldCardExpiry,
    FieldCard,
    ActionPaymantForm,
    PaymentFormPinCode,
  },
  data: () => ({
    percentage: 2.8,
    percentAmount: '',
    startTimer: false,
    formData: '',
  }),
  computed: {
    ...mapState({
      operations: ({ cryptoCurrency: { formData } }) => formData.operations,
      currencyCode: ({ cryptoCurrency: { currCurrency } }) => currCurrency.CurrencyCode,
      load: ({ formGetPin: { load } }) => load,
    }),
    ...mapGetters(['getLimitForms']),
  },
  methods: {
    ...mapActions(['postPaymanGetPin']),
    sendCardForm({ target }) {
      const { card, cardExpi } = this.$refs;
      // eslint-disable-next-line no-bitwise
      if (!card.validate() | !cardExpi.validate() || this.startTimer) return;
      const formSerialize = $(target).serialize();
      this.postPaymanGetPin(formSerialize);
      this.formData = formSerialize;
    },
  },
};
</script>
