<template>
  <div class="nebeus-form nebeus-withdrawal__form nebeus-payment__form">
    <form @submit.prevent="sendPaymantCrypto"
          :class="{load}"
          class="pb-4 px-2 mb-2 paymant-from-first">
      <input type="hidden" value="transferBetweenUsers" name="nebeusAction">
      <input type="hidden" :value="account" name="account">
      <input type="hidden" :value="currencyCode" name="curr_code">
      <input type="hidden" :value="save" name="save">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label v-text="$t('Saved operations')"/>
            <v-select @input="setSelected"
                      :options="operations"
                      :disabled="!operations.length"
            />
          </div>
        </div>
        <div class="col-md-6">
          <field-percent-amount
            :min="getLimitForms('user_to_user')"
            :max="getLimitForms('user_to_user', true)"
            label="Trx Fee"
            :percentage="0.5"
            :step="1e-4"
            :decimals="7"
          />
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="d-flex justify-content-between align-items-end">
              @ {{$t('Email')}}
            </label>
            <input type="email"
                   required
                   v-model="recipient"
                   class="form-control"
                   name="recipient">
          </div>
        </div>

        <div class="col-md-6">
          <field-saved-template />
        </div>
        <action-paymant-form @resetTimer="startTimer = false" />
      </div>
    </form>

    <payment-form-pin-code
      :formData="formData"
      class="px-2" />

  </div>

</template>

<script>
import vSelect from 'vue-select';
import {
  mapActions, mapMutations, mapState, mapGetters,
} from 'vuex';
import $ from 'jquery';
import PaymentFormPinCode from './PaymentFormPinCode.vue';
import ActionPaymantForm from './content/ActionPaymantForm.vue';
import FieldPercentAmount from './fields/FieldPercentAmount.vue';
import FieldSavedTemplate from './fields/FieldSavedTemplate.vue';

export default {
  name: 'SendToUserForm',
  components: {
    FieldSavedTemplate,
    FieldPercentAmount,
    ActionPaymantForm,
    PaymentFormPinCode,
    vSelect,
  },
  data: () => ({
    recipient: '',
    startTimer: false,
    save: false,
    formData: '',
    operations: [],
  }),
  computed: {
    ...mapState({
      ajaxUrl: ({ ajaxUrl }) => ajaxUrl,
      account: ({ cryptoCurrency: { currCurrency } }) => currCurrency.Number,
      currencyCode: ({ cryptoCurrency: { currCurrency } }) => currCurrency.CurrencyCode,
      load: ({ formGetPin: { load } }) => load,
    }),
    ...mapGetters(['getLimitForms']),
  },
  methods: {
    ...mapMutations(['setActiveScaner']),
    ...mapActions(['postPaymanGetPin']),
    sendPaymantCrypto({ target }) {
      if (this.startTimer) return;
      const formSerialize = $(target).serialize();
      this.postPaymanGetPin(formSerialize);
      this.formData = formSerialize;
    },
    setSelected(val) {
      this.recipient = val.recipient;
    },
    getTemplates() {
      $.ajax({
        url: this.ajaxUrl,
        method: 'POST',
        data: {
          nebeusAction: 'getUserToUserTemplates',
          operation_code: `transfer_${this.currencyCode.toLowerCase()}`,
          currency: this.currencyCode,
        },
        success: (res) => {
          if (Array.isArray(res)) this.operations = res;
        },
      });
    },
  },
  mounted() {
    this.getTemplates();
  },
};
</script>
