<template>
  <div class="nebeus-form nebeus-withdrawal__form nebeus-payment__form">
    <form @submit.prevent="sendPaymantSepa"
          :class="{load}"
          class="pb-4 px-2 mb-2 paymant-from-first">
      <input type="hidden" value="fiatWithdrawal" name="nebeusAction">
      <input type="hidden" :value="currencyCode" name="currency">
      <input type="hidden" :value="save" name="save">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label v-text="$t('Saved operations')"/>
            <v-select @input="setSelected"
                      label="account_name"
                      :options="operations"
                      :disabled="!operations || !operations.length"
            />
          </div>
        </div>
        <div class="col-md-6">
          <field-percent-amount
            :min="getLimitForms('sepa')"
            :max="getLimitForms('sepa','max')"
            label="Fee"
            :percentage="2.8"
            symbol="&euro;"
          />
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label  v-text="$t('Account name')"/>
            <input type="text"
                   required
                   v-model="accountName"
                   class="form-control"
                   name="account_name">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>IBAN</label>
            <input type="tel" v-model="iban" required class="form-control" name="iban" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>SWIFT / BIC</label>
            <input type="tel"  v-model="swift" required class="form-control" name="swift" />
          </div>
        </div>

        <div class="col-md-6 d-flex align-items-end">
          <field-saved-template :is-description="false" />
        </div>
        <action-paymant-form @resetTimer="startTimer = false" />
      </div>
    </form>

    <payment-form-pin-code
      :formData="formData"
      class="px-2" />

  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import vSelect from 'vue-select';
import $ from 'jquery';
import PaymentFormPinCode from './PaymentFormPinCode.vue';
import ActionPaymantForm from './content/ActionPaymantForm.vue';
import FieldPercentAmount from './fields/FieldPercentAmount.vue';
import FieldSavedTemplate from './fields/FieldSavedTemplate.vue';

export default {
  name: 'SepaForm',
  components: {
    FieldSavedTemplate,
    FieldPercentAmount,
    ActionPaymantForm,
    PaymentFormPinCode,
    vSelect,
  },
  data: () => ({
    accountName: '',
    iban: '',
    swift: '',
    startTimer: false,
    save: false,
    formData: '',
  }),
  computed: {
    ...mapState({
      operations: ({ cryptoCurrency: { formData } }) => formData.operations,
      currencyCode: ({ cryptoCurrency: { currCurrency } }) => currCurrency.CurrencyCode,
      load: ({ formGetPin: { load } }) => load,
    }),
    ...mapGetters(['getLimitForms']),
  },
  methods: {
    ...mapActions(['postPaymanGetPin']),
    sendPaymantSepa({ target }) {
      if (this.startTimer) return;
      const formSerialize = $(target).serialize();
      this.postPaymanGetPin(formSerialize);
      this.formData = formSerialize;
    },
    setSelected(val) {
      this.accountName = val.account_name;
      this.iban = val.iban;
      this.swift = val.swift;
    },
  },
};
</script>
