<template>
  <div>
    <cold-amount-tollbar />
    <cold-send-tollbar />
    <cold-withdraw-tollbar />
    <history-list :pagination-url="`/cold/${this.currCode}/`" />
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex';
import HistoryList from '../../historyList/HistoryList.vue';
import ColdAmountTollbar from './ColdAmountTollbar.vue';
import ColdSendTollbar from './ColdSendTollbar.vue';
import ColdWithdrawTollbar from './ColdWithdrawTollbar.vue';

export default {
  name: 'ColdStorageContent',
  components: {
    ColdWithdrawTollbar, ColdSendTollbar, ColdAmountTollbar, HistoryList,
  },
  computed: {
    ...mapState(['filterHistory']),
    isHistoryList() {
      return Array.isArray(this.filterHistory) && this.filterHistory.length;
    },
    currCode() {
      return this.$route.params.coldId;
    },
  },
  methods: {
    ...mapMutations(['setColdStorageCurrCode']),
    ...mapActions(['getCurrensyHistory']),
  },
  mounted() {
    const currCode = this.currCode.toUpperCase();
    this.getCurrensyHistory({ currCode: currCode.slice(0, 3), nebeusAction: 'getColdStorageHistory' });
    this.setColdStorageCurrCode(currCode);
  },
  beforeRouteUpdate({ params }, from, next) {
    const currCode = params.coldId.toUpperCase();
    this.getCurrensyHistory({ currCode: currCode.slice(0, 3), nebeusAction: 'getColdStorageHistory' });
    this.setColdStorageCurrCode(currCode);
    next();
  },
};
</script>
