<template>
  <div class="crypto-data__item crypto-data__item--header crypto-data__item--vault dashbord-crypto__content-toolbar">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <div class="btn-icon">
            <span class="nebeus-icon nebeus-icon--vault">
               <main-icon name="coldVault"/>
            </span>
        </div>
      </div>
      <div class="crypto-data__heading-text" v-text="$t('Transfer to Vault')"/>
    </div>
    <div class="crypto-data__content">
      <div class="text-greey">
        {{$t('Transferring to a cold wallet occurs instantly.')}}
        <div>
          <a href="#" v-text="$t('Learn mone about Cold Storage')" />
        </div>
      </div>
      <div class="crypto-data__content-action">
        <button class="btn btn-submit not-index"
                data-index="coldSend"
                @click="updateActivePanel('coldSend')"
                v-text="$t('Send')" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'ColdSendTollbar',
  components: { MainIcon },
  methods: mapMutations(['updateActivePanel']),
};
</script>
