<template>
  <div v-if="getColdCurrentData"
    class="dashbord-crypto__content-toolbar row no-gutters">
    <div class="crypto-toolbar__item col-auto">
      <div class="crypto-toolbar__item-inner">
        <div class="crypto-current__value crypto-toolbar__item-col">
          <span class="crypto-numb"
                v-text="formatAmountUp(getColdCurrentData.amount, coldStorageCurrCode)"/>
          <span class="crypto-name"> {{coldStorageCurrCode}}</span>
        </div>
        <div class="crypto-default__value crypto-toolbar__item-col crypto-toolbar__item-info">
          <div class="crypto-toolbar__item-name" v-text="$t('Value')"/>
          <div class="crypto-toolbar__item-val">
            <span class="crypto-toolbar__item-val-numb"
                  v-text="formatAmountUp(getColdCurrentData.amountInDefaultCurrency, coldStorageCurrCode)"/>
            <span class="crypto-toolbar__item-val-symbol">
              &euro;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'ColdAmountTollbar',
  computed: {
    ...mapState(['coldStorageCurrCode']),
    ...mapGetters(['formatAmountUp', 'getColdCurrentData']),
  },
};
</script>
