<template>
  <div class="crypto-data__item crypto-data__item--header crypto-data__item--wallet dashbord-crypto__content-toolbar">
    <div class="crypto-data__heading">
      <div class="crypto-data__heading-icon">
        <div class="btn-icon">
            <span class="nebeus-icon nebeus-icon--vault">
              <main-icon name="coldVault"/>
            </span>
        </div>
      </div>
      <div class="crypto-data__heading-text" v-text="$t('Transfer to Main Wallet')" />
    </div>
    <div class="crypto-data__content">
      <div class="text-greey" v-text="$t('Withdrawing funds for security reasons takes up to 24 hours.')" />
      <div class="crypto-data__content-action">
        <button class="btn btn--grey not-index"
                data-index="coldWithdraw"
                @click="updateActivePanel('coldWithdraw')"
                v-text="$t('Withdraw')" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import MainIcon from '../../icon/MainIcon.vue';

export default {
  name: 'ColdWithdrawTollbar',
  components: { MainIcon },
  methods: mapMutations(['updateActivePanel']),
};
</script>
